@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Dosis:300,400);

body {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #fff;
    font-size: 16px;

}

.font-pt {
    font-family: 'Droid Sans', sans-serif;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-open {
    font-family: 'Open Sans', sans-serif;
}

body .container {
    font-family: 'PT Sans Narrow', sans-serif;
}

.form-signin {

    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.color-green{
    color:#1fa67a;
}
.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.navbar-header {
    min-width: 150px;
}

.navbar-nav.navbar-right>.userNav.open > a,
.navbar-nav.navbar-right>.userNav.open > a:hover ,
.navbar-nav.navbar-right>.userNav a:hover,
.navbar-nav.navbar-right>.userNav a:focus {
    background: #1fa67a;
    border:0;
}
.navbar-nav.navbar-right li > a {
    padding: 5px;
    /*border: 2px solid #000;*/
    margin: 15px 5px;

}

.navbar-inverse .navbar-nav.navbar-right > li > a:hover, .navbar-inverse .navbar-nav.navbar-right > li > a:focus {
    border: 0;
    background-color: #1fa67a;
    color: #fff;
    border-top: 3px solid transparent;
}

.form-signin input[type="email"] {

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.color-info {
    color: #fff;
    background-color: #2c2c2c;
    padding: 5px 4px;
    display: block;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    font-family:'Oswald', sans-serif;
}

.device-detail-top-list {
    padding-left: 0;
    margin: 15px 0 30px;
}

.device-detail-top-list li {
    text-align: center;
    background-color: transparent;
    font-size: 18px;
    color: #4d4d4d;
    line-height: 28px;
    border: 0;
    text-transform:capitalize;
}
.device-detail-top-list li em{
    font-style: normal;
}
.device-detail-top-list li:first-child .color-info{
    background:#1fa67a;
}
.device-detail-top-list li:first-child:hover .color-info{
    background:#1fa67a;
}
.device-detail-top-list li:hover .color-info{
    background:#2c2c2c;
    color:#fff;
}

.dashboard-toppanel{
    background: #f7f5fa;
}
.well.User_list_well {
    padding-top: 0;
    padding-bottom: 0;
    background: transparent;
    margin-bottom: 0;

}

.dashboard-csu .panel-footer {
    font-size: 15px;
    background:#f7f5fa;
    color:#444444;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.dashboard-csu .buyplan-dashboard{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
    display: block;
    z-index: 1;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.dashboard-csu .buyplan-dashboard span{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -65px;
    display: inline-block;
    border: 2px solid #444;
    color: #444;
    padding: 10px 20px;
    font-weight: 700;
}
.dashboard-csu .buyplan-dashboard span:hover{
    background: #000000;
    border-color:#000000;
    color:#fff;
}

.well.dashboard-csu-filter {
    padding: 0;
    margin-bottom: 20px;
}

/*** Image Gallery CSS ***/
.gallery-image-collage {
    padding-left: 0;
    overflow: hidden;
    padding: 40px 0;
    margin-top: -40px;
}

.gallery-image-collage li {
    float: left;
    list-style: none;
}

.gallery-image-collage li a {
    display: block;
    margin:1px;
    width:180px;
    height:180px;
    background: url('../img/icons/spinner.GIF') no-repeat;
    background-position: center center;
    border: 1px solid #eee;
}

.gallery-image-collage li {
    position: relative;
}

.gallery-image-collage li a img {
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    border: 0;
    background: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.gallery-image-collage li .gallery-image-select-btn {
    position: absolute;
    font-size: 15px;
    color: #fff;
    bottom: 0px;
    left: 0px;
    text-transform: uppercase;
    text-align: center;
    background-color: #5cb85c;
    padding: 2px;
    width: 100%;
    display: none;
    cursor: pointer;

}

#image_modal .modal-body img {
    width: 100%;
    height: auto;
}

.gallery-image-collage li a img:hover {

}

.dS_div {
    display: inline-block;
    padding: 4px 10px;
    margin: 6px 10px;
    color: #fff;
    margin-left:-5px;

}


.dS_active .dS_span1 {
   color:#5cb85c;
}
.dS_inactive .dS_span1 {
   color: #d9534f;
}
.dS_suspended .dS_span1 {
     color: #f0ad4e;
}
.dS_disabled .dS_span1 {
    color: #6C7A89;
}


.transition {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.dS_span1 {
    float:left;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    position: relative;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 10px;
    color:#fff;
}
.dS_span1:hover{
    color:#000;
}
.profile-image-uploader-overlay {
    display: block;
    height: 300px;
    width: 300px;
    background-color: #1fa67a;
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 22px;
    text-shadow: 4px 3px 0px #1d9d74, 9px 8px 0px rgba(0, 0, 0, 0.15);
    padding-top: 75px;
    z-index: 0;
}

.profile-image-uploader-block {
    position: relative;
    height: 200px;
    width: 200px;
}

.profile-image-uploader-block input[type="file"] {
    height: 300px;
    width: 300px;
    opacity: 0;
    position: absolute;

    z-index: 1;
    cursor: pointer;
}

/***********Bootstrap Override **********/
.form-group {
    overflow: hidden;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
#home .carousel {
    max-height: 500px;
    margin-bottom: 60px;

}

/* Since positioning the image, we need to help out the caption */
#home .carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
#home .carousel .item {
    max-height: 500px;
    background-color: #777;
}

#home .carousel-inner > .item > img {

    min-width: 100%;
    height: auto;
}

.navbar-brand {
    height: auto;
}

/*
 * Header
 */

.navbar-inverse {
    background-color: #f7f5fa;
    border: 0;
    margin-bottom: 0;
}

.navbar-nav > li > a {
    padding-top: 24px;
    padding-bottom: 23px;
    text-transform: uppercase;
    border-top: 3px solid #f7f5fa;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333;
    -webkit-box-sizing: border-box;
}

/*
.navbar-inverse .navbar-nav.navbar-right>li:first-child>a{
    border-top:3px solid #1fa67a;
    background-color:#1fa67a;
    color:#fff;
}
*/

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    border-top: 3px solid #1fa67a;
    color: #1fa67a;

}

.navbar-brand {
    padding: 2px 0;
}

.navbar-brand img {
    max-height: 63px;
}

.blog-masthead {
    background-color: #1fa67a;
    height: 50px;
}

.home_thumb .thumbnail {
    padding: 0;
}

.home_thumb .thumbnail h3 {
    text-align: center;

}

.home_thumb .thumbnail .caption p:last-child {
    text-align: center;
}

.home_thumb .thumbnail .caption .btn {
    border: 0;
    border-bottom: 1px dashed;
}

.home_thumb .thumbnail .caption {
    color: inherit;
}

.home_thumb .thumbnail:first-child {
    background-color: #428bca;
    color: #fff;
}

.home_thumb .home_thumbInfo_block {
    position: relative;
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 14px;
    font-weight: 500;
    color: #b0ddce;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #f7f5fa;
}

.blog-nav .active:before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-top: 5px solid;
    border-left: 5px solid transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-top: 3px solid #1fa67a;
    color: #1fa67a;
}

.homeBlock {
    text-align: center;
    background-color: #f4f5f7;
    padding: 25px;
    margin-bottom: 20px;
}

.main {
    padding: 30px 30px 100px 30px;
    min-height: 600px;

}

address {
    font-size: 18px;
}

.page-header {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    border: 0;
    padding: 10px 0;
    text-align: center;
}

.page-header h1 .fa {
    width: 44px;
}

.page-header h1 small {
    font-size: 20px;
    font-weight: 100;
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;

    text-indent: 52px;
    color: #b0ddce;
    text-shadow: none;
    display:none;
}
.device-detailsPage-header .page-header h1 small{
    display: block;
}
.tooltip{
    font-size:18px;
    text-transform: capitalize;
}

#accordion .panel-heading {
    padding: 0;
    background-color: transparent;
    border: 0;
    background: #f4f5f7;
    border-bottom: 0;
}
#accordion .panel-body{
    background: #f7f5fa;
}
.panel-group .panel {
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    border: 1px solid #ECECEC;
}

.panel .panel-body {
    font-size: 18px;
    line-height: 36px;

}
.pricingTable .panel-body h3{
    background:rgba(171, 172, 179, 0.1);
    color:#1fa67a;
    font-size: 4em;
    padding:20px 0;
}


#accordion .panel-heading a {
    display: block;
    padding: 0;
    font-size: 18px;
    background-color: #1fa67a;
    color: #fff;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#accordion .panel-heading a i{
    display: inline-block;
    background: #1fa67a;
    padding: 15px;
    color: #fff;
    margin-right: 10px;
}
#accordion .panel-heading a.collapsed {
    background-color: #f4f5f7;
    color: #000;
}

#accordion .panel-heading a:hover,
#accordion .panel-heading a:focus,
#accordion .panel-heading a:active {
    text-decoration: none;
    background-color: #1fa67a;
    color: #fff;
}
#accordion .panel-heading a:hover i{
    background:#2c2c2c;
}
#myLogin .modal-dialog {
    max-width: 330px;
}
#forgetPassPopup .modal-dialog
{
    max-width: 370px;
}
.modalStyle_One .close {
    color: #fff;
    opacity: 1;

}

#image_modal .modal-header {
    text-align: left;
    position: relative;
}

#image_modal .modal-header span {
    position: absolute;
    right: 10px;
    top: 5px;
}

#image_modal .modal-body {
    padding: 0;
}

.modalStyle_One .modal-body .form-control-feedback {
    color: #575760;
    font-size: 18px;
}

#myLogin .frgtPw {
    color: #fff;
}

.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.modalStyle_One .modal-body .form-control {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    color: #fff;
    min-height: 50px;
    box-shadow: none;
    -webikit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;

}
.modalStyle_One .modal-body .form-control.error{
    border-color:#e74c3c;
}
.modalStyle_One .modal-body {
    background-color: #2b2b36;
    color: #fff;
    padding-bottom: 40px;
}

.modal-header > span {
    cursor: pointer;
    color: #fff;
}

.modalStyle_One .modal-footer.FormError {
    background: #e74c3c;

}

.modalStyle_One .modal-footer {
    background-color: #1fa67a;
    color: #fff;
    text-align: center;
    margin-top: 0;
    padding: 0;
    border-top: 0;
}

.modalStyle_One .modal-footer a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.userLoginImage .fa-stack .fa-inverse {
    color: #ffffff;

}

.userLoginImage {
    text-align: center;
}

.userLoginImage .fa-stack {
    font-size: 60px;
    color: #1fa67a;

}

.modalStyle_One .modal-body > a {
    color: #fff;
}

#myLogin .modalHeader_type {
    text-align: right;
    color: #ea569a;
    font-size: 14px;
}

#myRegister .modalHeader_type {
    text-align: right;
    color: #f1c85f;
    font-size: 14px;
}

.modalHeader_type a {
    color: #fff;
    font-size: 14px;
    padding: 0;

}

.modalHeader_type {
    padding: 6px 12px;
    color: #fff;
    font-size: 14px;
}

#image_modal .modalHeader_type i {
    color: #6756ea
}

a:hover {
    text-decoration: none;
}

.deviceList_welcome {
    margin-top: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 35px;

}

.user_cn {
    padding: 15px 0;

}

.user_cn h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    text-align: center;
    font-weight: 300;
    background-color: #f7f5fa;
    padding:5px 0;

}

.user_cn h1 a {
    color: #1fa67a;
    font-weight: 400;
}

.deviceList_welcome span {
    color: #fff;
    display: inline-block;
    font-weight: 100;
}

.well {
    background-color: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border: 0;
    box-shadow: none;
}

.breadcrumb a {
    color: #1fa67a;
}

.breadcrumb {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    position:relative;
    margin-bottom: 20px;
}
.breadcrumb:before{
    content: '';
    z-index: -2;
    display: block;
    position: absolute;
    bottom: 0.75em;
    left: 0.18em;
    width: 40%;
    height: 20%;
    -webkit-box-shadow: 0px 13px 8px #979797;
    -moz-box-shadow: 0px 13px 8px #979797;
    box-shadow: 0px 13px 8px #979797;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.csu-panel .panel-body h2 {
    font-size: 18px;
}

.csu-panel {
    background-color: #eeeeee;
    color: #fff;
    box-shadow: 3px -5px 5px #cac8bd;
    -webkit-box-shadow: 3px -5px 5px #cac8bd;
    -moz-box-shadow: 3px -5px 5px #cac8bd;
    -o-box-shadow:3px -5px 5px #cac8bd;
    border:none;
    position: relative;
}
.csu-panel .panel-heading{
    background: #1fa67a;
}
#device-detailsPage .csu-panel .panel-body{
    border-bottom:1px solid #ddd;
}
.csu-panel .panel-body {
    padding-top: 0;
    background:#f7f5fa;
    padding-bottom: 0;
    color:#444444;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}
.csu-panel .panel-body .progress{
    background: #ddd;
}
.csu-dT {
    background-color: transparent;
    /* color: #fff; */
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.deviceName {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}

h2 {
    font-size: 24px;
}

.modalStyle_One .modal-footer li {
    list-style: none;
    float: left;
    width: 50%
}

.modalStyle_One .modal-footer li:first-child {
    background-color: rgba(52, 152, 219, 1.0);
}

.modalStyle_One .modal-footer li:last-child {
    background-color: rgba(192, 57, 43, 1.0);
}

.modalStyle_One .modal-footer ul {
    padding-left: 0;
}

.modalStyle_One .modal-footer li a {
    display: block;
}

.csu-panel .panel-heading a {
    color: inherit;
    float:left;
    padding: 2px;
    text-transform: uppercase;
    max-width:150px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.csu-panel .panel-heading a:hover{
    color:#000;
}
.panel-default > .panel-heading {
    font-size: 18px;
    position: relative;

}

.dashboard-csu .panel-default > .panel-heading {
    padding: 0;
    height: 45px;
    background: #1fa67a;
}

.btn {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;

}

.deviceDetail-top-actionBtn {
    text-align: right;
}

.homePage-slogan {
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    text-transform: capitalize;
}

.homePage-slogan span {
    background-color: #f16651;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

ul {
    padding-left: 0;
}

/*** Footer ***/
/* ---------------------------------------------------------------------- */
/*	Footer
/* ---------------------------------------------------------------------- */

#footer {
    background: #1fa67a;
    padding: 35px 0 30px;
    position: relative;
    border-top: 5px solid rgba(27, 37, 46, 0.4);

}

#footer, #footer a {
    color: #fff;
}

#footer-bottom, #footer-bottom a {
    color: #fff
}

#footer a:hover {
    color: #1B252E;
}

#footer-bottom a:hover {
    color: #1fa67a;
    background: #fff;
}

#footer h3 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #1B252E;
    font-size: 18px;
    border-bottom: 2px solid #1B252E;
    padding-bottom: 10px;
}

/* -------------------------------------------------- */
/*	Footer Navigation
/* -------------------------------------------------- */

.footer-nav {
    margin: 0 0 12px;
    padding: 0 0 12px;
    min-height:150px;
}

.footer-nav ul {
    margin: 0;
}

.footer-nav li {
    background: none;
    border: none;
    list-style: none;
    margin: 5px;
}

.ie7 .footer-nav li {
    display: inline;
}

.footer-nav li a {
    display: block;
}

.footer-nav li:first-child a {
    border-left: none;
}

.footer-nav li:last-child a {
    padding-right: 0;
}

/* -------------------------------------------------- */
/*	Contact Info
/* -------------------------------------------------- */

#footer .contact-info {
    overflow: hidden;
}

.contact-info {
    margin: 0;
}

.contact-info li {
    float: left;
    list-style: none;
    margin: 5px;
}

/* -------------------------------------------------- */
/*	Social Links
/* -------------------------------------------------- */

.social-links {
    margin: 5px
}

.social-links li {
    display: inline-block;
    list-style: none;
    margin: 0 0 10px 15px;
}

.ie7 .social-links li {
    display: inline;
    font-size: 0;
    text-indent: 0;
}

.social-links li:nth-child(6n+1) {
    margin-left: 0;
}

.social-links li:nth-child(6n) {
    margin-right: 15px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    display: block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    font-size: 20px;
    color: #D1342B;
}

/* ---------------------------------------------------------------------- */
/*	Footer Bottom
/* ---------------------------------------------------------------------- */

#footer-bottom {
    background: #1fa67a;
    font-size: 16px;
    line-height: 0;
}

#footer-bottom > div {
    background: rgba(27, 37, 46, 0.4);
}

#footer-bottom ul {
    margin: 0;
}

#footer-bottom li {
    float: left;
    list-style: none;
    margin: 0;
}

#footer-bottom li a {
    display: block;
    padding: 12px;
    background: #1fa67a;
    font-size: 24px;
    margin: 0;
    width: 50px;
    text-align: center;
}

#footer-bottom .social-links {
    display: inline-block;
}

@media all and (max-width: 992px) {
    #footer .contact-info {
        margin-bottom: 20px;
    }

    #footer .contact-info li {
        width: 100%;
        margin-left: 0;
    }
}

/********************/
.homeBlock_icon {
    font-size: 45px;
}

.homeBlock_icon .fa-circle {
    color: #1fa67a;
}

.pageHeader-text {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}

.featurette h1 {
    font-family: 'Open Sans', sans-serif;
}

.featurette h1 > em {
    display: block;
    font-style: normal;
    line-height: 36px;
    font-size: 16px;
    color: #000;
}

.featurette .lead {
    font-size: inherit;
}

#contactForm input, #contactForm textarea, .profileEdit_Form input, .profileEdit_Form textarea {
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    color: #000;
    padding: 5px 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    font-size: 18px;

}


#contactForm label {
    font-weight: 100;
}

#contactForm .form-group {
    padding-left: 0;
}

#contactForm input {
    height: 40px;
}

#contactForm textarea {
    height: 150px;

}

.teamMember .homeBlock {
    text-align: left;
    padding: 0;

}

.teamMember .homeBlock h2 {
    text-align: center;
    padding: 0px 20px 0 20px;

}

.teamMember .homeBlock p {
    padding: 0px 20px 20px 20px;
}

.teamMember .homeBlock img {
    width: 100%;
}

.teamMember .homeBlock .social-links {
    text-align: center;
    background-color: #1fa67a;
    margin:0;
}
.teamMember .homeBlock .social-links li{
    margin-bottom: 0;
}
.teamMember .homeBlock .social-links li a{
    color:#fff;
    font-size:24px;
    padding: 10px 5px;
}
.teamMember .homeBlock .social-links li a:hover{
    color:#000;
}
#works h2.page-title {
    margin-top: 0;
}

.navbar-inverse .navbar-toggle {
    background-color: #27ae60;
    border-color: #27ae60
}

.work_images .featurette-image {
    max-height: 300px;
}

.work_images {

    text-align: center;
}

.workFeature_container1 {
    background-color: #1fa67a;
    padding: 100px 0;
    color: white;
}

.workFeature_container2 {
    background-color: #fff;
    padding: 100px 0;
}

.workFeature_container3 {
    background-color: #1fa67a;
    padding: 100px 0;
    color: white;
}

.homepage_feature {
    background: url('../img/dummy-img/28.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.HomeSpecifics {
    padding: 50px 0;
    background: #f7f5fa;
    text-align: center;
}

.HomeSpecifics img {
    display: inline-block;
}

.homeCovImage {
    margin-top: 30px;
}

.homepage_feature .workFeature_container2 {
    background: transparent;
}

.homepage_feature .homeFeature-text {
    color: #fff;
    padding: 50px 0;
    text-align: center;
    overflow: hidden;
}

.homepage_feature .homeFeature-text h1 {
    margin: 0 auto 60px;
    text-transform: uppercase;
}

.homepage_feature .homeFeature-text h3 {
    text-shadow: 2px 2px 2px #444;
}

.homepage_feature .homeFeature-text p {
    text-shadow: 2px 2px 2px #444;
}

.homepage_feature .homeFeature-text p a {
    text-shadow: none;
}

.homepage_feature .homeFeature_icon .fa-circle {
    color: #1fa67a;

}

.homepage_feature .homeFeature_icon .fa-inverse {
    color: #ffffff;

}

.homepage_feature .homeFeature_icon {
    font-size: 40px
}

.legalSideBar_list ul li {
    list-style: none;
    border-bottom: 1px solid #eee;
}

.legalSideBar_list ul li:last-child {
    list-style: none;
    border-bottom: none;
}

.legalSideBar_list {
    padding: 0;
}

.legalSideBar_list ul li a {
    display: block;
    padding: 15px;
    color: #4d4d4d;
    font-size: 18px;

}

.legalSideBar ul {
    width: 300px;
    margin-top: 20px;
}

/* First level of nav */
.legalSideBar_list ul {
    background-color: #f7f5fa;
    border-radius: 5px;
}

.legalSideBar_list ul li:first-child, .legalSideBar_list ul li:first-child a:hover {
    background-color: #1B252E;
    text-transform: uppercase;
    color: #fff;
}

.legalSideBar_list ul li:first-child a {
    color: #fff;
}

/* All levels of nav */

.legalSideBar_list ul li > a:hover,
.legalSideBar_list ul li > a:focus {
    text-decoration: none;
    background-color: #e5e3e9;
}

.legalSideBar_list ul li.active > a,
.legalSideBar_list ul li.active:hover > a,
.legalSideBar_list ul li.active:focus > a {

    color: #fff;
    background-color: #1fa67a;
}

.form-control {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    font-size: 18px;
    height: 34px;
    padding: 4px 12px 6px 12px;
}

p {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 36px;
}

.loginNav_block {
    display: none;
}

.loginNav_block .form-control {
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    color: #8f8f8f;
}

.loginNav_block .btnClose {
    padding: 8px 0 0 15px;
    color: #fff;
    font-size: 23px;
    float: right;
}

.loginNav_block {
    overflow: hidden;
}

.page-top .jumbotron {
    padding: 0;
    background-color: #1fa67a;
    margin-bottom: 0;
}

.page-top .jumbotron h1 {
    color: #fff;
    text-shadow: 4px 3px 0px #1d9d74, 9px 8px 0px rgba(0, 0, 0, 0.15);
    font-size: 36px;
    text-transform: uppercase;
    margin: 10px;
}

.loginNav_block form {
    float: right;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

.storeBlock h1 {
    font-size: 90px;
    margin-top: 0;
    line-height: 0;
    color: #D1342B;
}

.additional_add i {
    font-size: 24px;
    margin-right: 10px;
    margin-top: 6px;
    color: #D1342B;
}

.additional_add span {
    display: inline-block;
}

.popover {
    background-color: #2b2b36;
    color: #fff;
}

.popover h3 {
    background-color: #23232e;
    color: #CECBC6;
    text-align: center;
    border: 0;

}

.popover.top > .arrow, .popover.top > .arrow:after {
    border-top-color: #2b2b36;
}

div.media.storeBlock {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px dashed;
}

.btnRed {
    background-color: #D1342B;
    border-color: #D1342B;
    color: #fff;
}

/******************** ADd new device ***************/

/*form styles*/
#msform {
    min-height: 700px;
    position: relative;
}

#msform fieldset {
    background: #E7E7E7;
    border: 0 none;
    border-color: #E7E7E7;
    border-radius: 3px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    color: #4d4d4d;
    /*stacking fieldsets above each other*/
    position: absolute;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input[type="text"], #msform textarea {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    color: #4d4d4d;
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    font-size: 16px;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/
#msform label {
    font-weight: normal;

}

#msform .permission_field label {
    background-color: #428bca;
    padding: 15px 10px;
    color: #fff;
}

#msform .radio-inline label {
    background-color: transparent;
    color: #4d4d4d;
}

#msform .permission_field .form-group {
    background-color: #fff;
}

#msform .permission_field .col-sm-6 {
    padding-left: 0;;
}

.fs-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
}
.fs-title .plan-icon {

    font-size: 100px;
    padding: 26px 40px;

}
.fs-title .plan-icon p{
    font-weight:600;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #4d4d4d;
    text-transform: uppercase;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    line-height: 30px;
    display: block;
    font-size: 18px;
    color: #fff;
    background: #4d4d4d;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 10px;
    background: #4d4d4d;
    position: absolute;
    left: -50%;
    top: 11px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #1fa67a;
    color: white;
}

.radio-inline input[type="radio"] {
    width: 15px;
    height: 15px;
}

#registerForm .form-group:last-child {
    margin-bottom: 0;
}

/************* Home slider **************/
#homeslider {
    background-color: #1fa67a;
    padding: 40px 0;
}

#homeslider .carousel-inner {
    max-width: 1170px;
    margin: 0 auto;
}

#homeslider .carousel-caption {
    left: 1%;
    top: 15px;
    right: 0;
    max-width: 50%;
    text-align: left;
    text-shadow: 0;
}

#homeslider .carousel-caption h1 {
    text-shadow: 4px 3px 0px #1d9d74, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.carousel-control .fa-angle-left {
    width: 30px;
    height: 30px;
    margin-top: -30px;
    margin-left: -30px;
    font-size: 30px;
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .fa-angle-right {
    width: 30px;
    height: 30px;
    margin-top: -30px;
    margin-left: -30px;
    font-size: 30px;
    right: 50%;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.btn-trailWhite {
    background: none;
    border: 1px solid #fff;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    color: #fff;
}

.btn-trailWhite:hover, .btn-trailWhite:focus {
    background: #fff;
    border: 1px solid #fff;
}

.btn-trailBlack {
    background: none;
    border: 1px solid #000;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    color: #000;
}

.btn-trailBlack:hover, .btn-trailBlack:focus {
    background: #000;
    color: #fff;
    border: 1px solid #000
}

.coverage_headImg {
    max-height: 450px;
    background: url('../img/dummy-img/23.jpg');
    background-size: cover;
    padding: 50px 0 100px 0;
    color: #fff;

}

.contact_headImg {
    max-height: 450px;
    background: url('../img/dummy-img/25.jpg');
    background-size: cover;
    padding: 50px 0 50px 0;
    color: #fff;

}

.contactAdress {
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
}

.contactAdress a {
    color: #fff;;
}
.contactPage-extra a{
    color: #000;
    font-size:18px;
}
.contactPage-extra a:hover {
    color: #1fa67a;
}

/*****mega menu **********/
.navbar-nav.navbar-right .w3_megamenu-fw ul li a {
    border: none;
    color: #000;
    margin: 0;
    padding: 10px;
    display: block;
    font-size: 16px;

}

.navbar-nav.navbar-right .w3_megamenu-fw ul li a:hover {
    background: #1fa67a;
    color: #fff;
}

.w3_megamenu .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.w3_megamenu .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.w3_megamenu .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.w3_megamenu .dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.w3_megamenu .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.w3_megamenu .nav,
.w3_megamenu .collapse,
.w3_megamenu .dropdown {
    position: static;
}

.w3_megamenu .container {
    position: relative;
}

.w3_megamenu .dropdown-menu {
    left: auto;
}

.w3_megamenu .nav.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}

.w3_megamenu .w3_megamenu-content {
    padding: 15px 25px;
    background: #f7f5fa;
}

.w3_megamenu .dropdown.w3_megamenu-fw .dropdown-menu {
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.w3_megamenu .title {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    margin-top: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
    color: #1fa67a;
}

.w3_megamenu ul {
    list-style: none;
    padding-left: 0px;
}

.purchaseDevice_info h1 {
    text-transform: uppercase;
}

.purchaseDevice_info h4 {
    line-height: 36px;
}

.purchaseDevice_info button {
    font-size: 24px;
}

.purchaseDevice_block {
    background: #f7f5fa;
    padding: 50px 0 100px 0;
}

.purchasePlan_block {
    padding: 100px 0;
    background: #f7f5fa;
}

.purchasePlan_block h1 {
    text-transform: uppercase;
}

.purchasePlan_block h4 {
    line-height: 36px;
}

.pricingTable h3 sup {
    vertical-align: super;
    font-size: 50%;
}

.pricingTable h3 sub {
    font-size: 35%;
    font-style: italic;
}

.pricingTable .panel {
    -webkit-transition-property: scale;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    padding: 0;
    box-shadow: 0 0 8px #b0b0b0;
    -webkit-box-shadow: 0 0 8px #b0b0b0;
    -moz-box-shadow: 0 0 8px #b0b0b0;
    -o-box-shadow: 0 0 8px #b0b0b0;
}

.pricingTable .panel-selected {
    background: #1fa67a;
    color: #fff;

}
.pricingTable .panel-selected .panel-body h3{
    color:#fff;
    background: transparent;
}
.pricingTable .panel-body{
    padding: 0;
}
.pricingTable .panel .list-group .list-group-item:last-child {
    /*color: #3498db;*/
}

.pricingTable .panel-selected .btn {
    background: none;
    border: 2px solid #fff;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    color: #fff;
}

.pricingTable .panel-selected .btn:hover {
    background: #fff;
    color: #000;
}

.pricingTable .panel, .pricingTable .panel-heading {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;

}

.pricingTable .panel-heading {
    background: none;

}

.pricingTable .panel-heading h2 {
    font-size:30px;
    margin: 10px;
    padding: 0;
    text-transform: uppercase;

}

.pricingTable .list-group li:nth-child(odd) {
}
.pricingTable ul{
    padding:20px 50px;
}
.pricingTable ul li {
    border: 0;
    background: none;
    text-transform: capitalize;
    border-bottom:1px solid #d4d4d4;
}

.btn {
    font-size: 16px;
}

.purchaseDevice_info dd {
    line-height: 32px;
}

.homeLog {

    background: #1fa67a;
}

.homeLog > div {
    padding: 10px 0px 8px;
    background: rgba(27, 37, 46, 0.4);
}

.homeLog .form-inline .form-control {
    width: 100%;
    height: 41px;
    background: rgba(0,0,0,.5);
    border: #000;
    color: #fff;
}

.homeLog #loginFormSubmit {
    margin-right: 20px;
}
.homeLog .form-inline a {
}

.titleBgImg {
    background: url(../img/dummy-img/maps-world-map-02.png);
    background-size: cover;
    min-height: 400px;
    width: 100%;
}

.homepageCoverage {
    padding: 50px;

}



.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 1170px;
    height: 400px;
}

@media all and (max-width: 1170px) {
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: auto;
        height: auto;
    }
}

.navbar-nav.navbar-right li > a{
    margin:18px 5px;
}
.cartBlock{
    background:#1fa67a;
    margin-left: 15px;
}
.navbar-nav .cartBlock .CartButton {
    font-size: 24px;
    width: 50px;
    border: 0;
    color: #fff;
}
.navbar-inverse .navbar-nav .cartBlock > .CartButton:hover,
.navbar-inverse .navbar-nav .cartBlock >.CartButton:focus,
.navbar-inverse .navbar-nav .cartBlock > .CartButton:active{
    background:transparent;
    color:#000;
    outline:none;
    border: 0;
}
.page-top .jumbotron{
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.5);
}
.cart-item-list{
    display:table;
    width:100%;
    border-bottom:2px solid #eee;
    margin-bottom: 30px;
}
.cart-item-list > li{
    display:table-row;
}
.cart-item-list > li:first-child > span{
    background: #1fa67a;;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 0;

}
.cart-item-list > li > span:last-child{
    width:70px;

}
.cart-item-list > li > span:last-child > i{
    cursor:pointer;
}
.cart-item-list > li > span:last-child > i:hover{

    color:#d9534f;
}
.cart-item-list > li > span{
    display:table-cell;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align:center;
    max-width: 200px;
}
#cartModal .modal-content{
    transition:all .2s ease;
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
}
#cartModal .modal-body{
    transition:all .2s ease;
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
}
.noitemincart{
    text-align: center;
}
#cartModal .modal-header {
    background-color:#1fa67a;
}
#cartModal .modal-header h1{
    font-size:24px;
    text-align:center;
    margin: 0;
    text-transform: uppercase;
}
#cartModal .modal-header .close{
    color:#000;
    font-size:35px;
}

#cartModal .modal-title{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size:24px;
    text-transform: uppercase;
}
#cartModal .modal-body{
    padding: 0;
    margin: 0;
    background-color: #fff;
    overflow:hidden;
    position: relative;
    z-index: 2;
    display: block;
}
#cartModal .cart-loader{
    text-align: center;
    margin-top: 50px;
    /* display: none; */
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    margin-left: -100px;
}
.cart-loader > img{
    display: inline-block;
}
#cartModal .modal-footer{
    color: #fff;
    background: #fff;
    padding: 15px;
    margin-top: 0;
    text-align:left;
    border: 0;
}
.cartquantity input {
    width: 30px;
    text-align: center;
    cursor: pointer;
    background: #eee;
    color: #000;
    border: 1px solid #ddd;

}
.cartquantity input:hover{
    text-decoration: underline;
}
.cartquantity p{
    font-size: 12px;
    margin-top: 5px;
    display: none;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom:0;
    padding: 0;
    /* margin: 0; */
    line-height: 15px;
}
.cartquantity span:hover{
    text-decoration: underline;
}


.cart-summary{
    display:table;
    width: 100%;
    border-bottom:2px solid #eee;
}
.cart-summary > li{
    display:table-row;
}
.cart-summary > li:first-child > span:first-child{

    font-weight: 400;

}
.cart-summary > li:first-child > span{
    background: #1fa67a;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    text-align:center;

}
.cart-summary > li > span{
    display:table-cell;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-align:center;
}
.cart-summary > li > span:first-child{
    text-align: right;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.cart-summary > li > span:last-child{
    text-align:left;
    font-family: 'Oswald', sans-serif;
}

.deviceBuyBtn_block {
    margin-top: 50px;
    clear: both;
}
.deviceBuyBtn_block .btn.disabled{
	cursor:not-allowed;
}
.morepurchase_block {
    padding: 50px 0;
}

.morepurchase_block .thumbnail {
    text-align: center;
    background: #1fa67a;
    border-color: #1fa67a;
    color: #fff;
    box-shadow: 0 0 8px #b0b0b0;
    -webkit-box-shadow: 0 0 8px #b0b0b0;
    -moz-box-shadow: 0 0 8px #b0b0b0;
    -o-box-shadow: 0 0 8px #b0b0b0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    position: relative;
}
.morepurchase_block .thumbnail .btn.disbaled{
	cursor:not-allowed;
}
.morepurchase_block .thumbnail:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -15px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid #1fa67a;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.morepurchase_block h1 {
    font-weight: 300;
    text-transform: uppercase;
    margin: 25px 0;
}

.morepurchase_block .thumbnail .caption h4 {
    color: #fff;
}
.morepurchase_block .thumbnail img{
    min-height:155px;
}
.morepurchase_block .thumbnail .caption p {
    margin-bottom: 0px;
    margin-top: 20px;
}

.panel, .panel .panel-heading {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.profileAdd_panel .panel .panel-body p {
    margin-bottom: 0;
}

label {
    font-weight: 300;
    font-size:18px;
}

#device-setup {
    background: transparent;
    font-size: 18px;
}

#device-setup .device-setup-step {
    padding: 0;
}
#device-setup .device-setup-step  ul{
    margin-bottom:0;

}
#device-setup .device-setup-step  ul > li+li{
    margin-left:0;
}
#device-setup .device-setup-content {
    background: #fff;
}

#device-setup .device-setup-step .nav-pills > li > a {
    border:0;
    padding:10px 80px;
    cursor: context-menu;
}

#device-setup .device-setup-step .nav-pills > li > a:hover {
    background:#f7f5fa;
    color:#000;
    cursor: context-menu;
}

#device-setup .device-setup-step .nav-pills > li.active > a {

    cursor: context-menu;
}
#device-setup .device-setup-step .nav-pills > li.active > a:hover{
    background-color: #1fa67a;
    border-color: #1fa67a;
    color:#fff;
}

#device-setup .device-setup-step .navbar {
    border: 0;
}

#device-setup .device-setup-content .dl-horizontal dt {
    width: 250px;
}

#device-setup .device-setup-content .tab-content > .tab-pane {

}

#device-setup .device-setup-content .pager li > a, .pager li > span {
    border: 1px solid #000;
    color: #000;
    border-radius: 0;
    cursor:pointer;
}
.nav-pills>li>a{
    border-radius:0;
}
#device-setup .device-setup-content .pager .disabled>a,
#device-setup .device-setup-content .pager .disabled>a:hover,
#device-setup .device-setup-content .pager .disabled>a:focus,
#device-setup .device-setup-content .pager .disabled>span{
    cursor:not-allowed;
}
#device-setup .device-setup-step .nav-pills > li > a:focus,
#device-setup .device-setup-step .nav-pills > li > a:active{

    outline:none;
}
#device-setup .device-setup-step .nav-pills > li.active > a:active,
#device-setup .device-setup-step .nav-pills > li.active > a:focus{

}
#device-setup .device-setup-step .nav-pills > li:first-child > a i{
    font-size:20px;
}
#device-setup .device-setup-content .tab-content > .tab-pane .form-group {
    overflow: visible;
    padding-bottom: 10px;

}
#device-setupForm .form-control{
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    height:40px;
}
#device-setup .device-setup-content .pager li > a:hover, .pager li > span:hover {
    background: #000;
    border-color: #000;
    color: #fff;
}

#device-setup .device-setup-content .pager li.disabled > a {
    border: 1px solid #000;
    color: #dddddd;
    background: transparent;
}

.devicelist-activebtn-list {
    padding-left: 0;
    overflow: hidden;
    float: right;
    margin: 5px 10px;
}

.devicelist-activebtn-list li {
    list-style: none;
    float: left;
}

/**********/
.csu-panel .panel-heading .devicelist-activebtn-list li a {
    padding: 5px;
    font-size: 20px;
}

.csu-panel .panel-heading .devicelist-activebtn-list li a:hover {
    color: #000;
}

.modal-header {
    color: #fff;
    background: #23232e;
    border-bottom: 0;
}

.modal-body {
    background: #2b2b36;
    color: #fff;
}

.modalStyle_One .modal-body  select.form-control {
    background: #2b2b36;
    color: #fff;
    border: 1px solid #ccc;
}

#dlist-SetMo label.control-label {
    margin-top: 15px;
}

.modal-body input.form-control {
    border: 0;
    border-bottom: 1px dashed #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    background: transparent;
    color: #fff;
}

#dlist-SetMo .modal-body {
    padding: 20px;
}

.bg-white2 {
    background: #f7f5fa;
    padding-bottom: 50px;
}

.no-permission-img {
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: shake;

    -moz-animation-timing-function: linear;
    -moz-animation-duration: 0.8s;
    -moz-transform-origin: 50% 50%;
    -moz-animation-iteration-count: infinite;

    -o-animation-timing-function: linear;
    -o-animation-duration: 0.8s;
    -o-transform-origin: 50% 50%;
    -o-animation-iteration-count: infinite;

    -ms-animation-timing-function: linear;
    -ms-animation-duration: 0.8s;
    -ms-transform-origin: 50% 50%;
    -ms-animation-iteration-count: infinite;

    animation-timing-function: linear;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-name: shake;
    z-index: 5;

}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
    }
}

@-moz-keyframes shake {
    0%, 100% {
        -moz-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -moz-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -moz-transform: translateX(10px);
    }
}

@-ms-keyframes shake {
    0%, 100% {
        -ms-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -ms-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -ms-transform: translateX(10px);
    }
}

@-o-keyframes shake {
    0%, 100% {
        -o-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -o-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -o-transform: translateX(10px);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.no-permission-block h1 {
    text-transform: uppercase;
    color: #ed1f24;
}

.trailTable thead tr th {
    background-color: #1fa67a;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
}

table.trailTable {
    text-align: center;
    font-size: 16px;
    padding: 20px 0;
}

.trailTable a {
    color: #1fa67a;
}

#order-details-table thead tr th {
    background-color: #1fa67a;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    border-bottom: 0;
}

table#order-details-table {
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    border-bottom: 2px solid #000;
    margin-top: 15px;
}

#order-details-table a {
    color: #1fa67a;
    text-transform: uppercase;
}

#order-details-table tr td {
    border: 1px solid #f4f5f7;
}
#order-details-table tfoot{
    border-top: 2px solid #000;
}
#order-details-table tfoot tr {

    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
#order-details-table tfoot tr td:first-child{
    text-align:right;
}
#order-details .pager a {
    color: #000;
    font-size: 18px;
}

#order-details .panel {
    font-size: 18px;
    background: #fcfcfc;
    border: 1px solid #eee;
}
#order-details .panel .panel-heading{
    background: transparent;
    border: 0;
    font-weight: 700;
    color: #000;
}

.print-header {
    display: none;
}

@media print {

    #order-details, #order-details .panel, #order-details-table tfoot tr, table#order-details-table, #order-details .panel address {
        font: 12px/1.55 Arial, Helvetica, sans-serif;
    }

    .print-header {
        display: block;
    }

    footer, .page-top, .pager {
        display: none;
    }

    #order-details-table tr td {

        border: 1px solid #ccc;

    }

    #order-details-table tfoot tr, #order-details-table thead tr th {
        font-family: 'PT Sans Narrow', sans-serif;
    }
}

.progress-bar {
    font-size: 16px;
}

.no-device-alert {
    display: none;
    text-align:center;
}
.no-device-alert .alert{
    display: inline-block;
    padding-right: 15px;
}

.dropdown-menu {
    font-size: 18px;
}
.add-device-alert{
    margin-top:50px;
    display:none;

}
.add-device-alert .alert{

}
.pro-bar{
    width: 600px;
    height:10px;
    margin:50px auto;
    background: -webkit-linear-gradient(left, #428bca 50%, #4d4d4d 50% );
    background: -moz-linear-gradient(left, #428bca 50%, #4d4d4d 50% );
    background: -o-linear-gradient(left, #428bca 50%, #4d4d4d 50% );
    background: -ms-linear-gradient(left, #428bca 50%, #4d4d4d 50% );
    background-position: 100% 20px;
    background-size: 200%;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.bar-half{
    background-position: 50% 0;
}
.bar-full{
    background-position:0;
}
.pro-bar ul li span{
    display: inline-block;
    padding:15px;
    background:#4d4d4d;
    position: relative;
    top:-10px;
    border-radius: 50%;
}
.pro-bar ul{
    padding-left:0;

}
.pro-bar ul li:nth-child(1){
    text-align: left;
}
.pro-bar ul li:first-child span{
    background: #428bca;

}
.pro-bar ul li:nth-child(2){
    text-align: center;
}
.pro-bar ul li:nth-child(3){
    text-align: right;
}
.spinner{
    background: url('../img/icons/spinner.GIF') no-repeat;
    background-position: right top;

}

.ds-status-group label{
    opacity: .3;
}
.ds-status-group label.active{
    opacity: 1;
}
ul li{
    list-style: none;
}
.pending-invoice-list a{
    color:#1fa67a;
    text-decoration: underline;
}
.response-alert{
    position: fixed;
    top:100px;
    left:50%;
    width: 400px;
    display:none;
    margin-left: -200px;
    text-align: center;
    z-index: 999999;
}
.response-alert .alert{
    display: inline-block;
    border: 0;
    color: #fff;
    background: #e74c3c;
    position: relative;
    padding-right: 15px;
}
.response-alert .alert:before{
    content: "\f129";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    padding: 15px 15px;
    background: #c0392b;
    color: #fff;
    margin-right: 10px;
}
.response-alert p{
    line-height:20px;
    min-width:60px;
    display:inline-block;
}
.time-input{
    display: none;
}

.bootstrap-timepicker {
    position: relative
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
    left: auto;
    right: 0
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
    left: auto;
    right: 12px
}

.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
    left: auto;
    right: 13px
}

.bootstrap-timepicker .add-on {
    cursor: pointer
}

.bootstrap-timepicker .add-on i {
    display: inline-block;
    width: 16px;
    height: 16px
}

.bootstrap-timepicker-widget.dropdown-menu {
    padding: 2px 3px 2px 2px
}

.bootstrap-timepicker-widget.dropdown-menu.open {
    display: inline-block;
    z-index: 999999;
}

.bootstrap-timepicker-widget.dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px
}

.bootstrap-timepicker-widget.dropdown-menu:after {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px
}
.bootstrap-timepicker-widget.dropdown-menu:after,.bootstrap-timepicker-widget.dropdown-menu:before{
    display: none;
}
.bootstrap-timepicker-widget.timepicker-orient-left:before {
    left: 6px
}

.bootstrap-timepicker-widget.timepicker-orient-left:after {
    left: 7px
}

.bootstrap-timepicker-widget.timepicker-orient-right:before {
    right: 6px
}

.bootstrap-timepicker-widget.timepicker-orient-right:after {
    right: 7px
}

.bootstrap-timepicker-widget.timepicker-orient-top:before {
    top: -7px
}

.bootstrap-timepicker-widget.timepicker-orient-top:after {
    top: -6px
}

.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
    bottom: -7px;
    border-bottom: 0;
    border-top: 7px solid #999
}

.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
    bottom: -6px;
    border-bottom: 0;
    border-top: 6px solid #fff
}

.bootstrap-timepicker-widget a.btn, .bootstrap-timepicker-widget input {
    border-radius: 4px
}

.bootstrap-timepicker-widget table {
    width: 100%;
    margin: 0
}

.bootstrap-timepicker-widget table td {
    text-align: center;
    height: 30px;
    margin: 0;
    padding: 2px
}

.bootstrap-timepicker-widget table td:not(.separator) {
    min-width: 30px
}

.bootstrap-timepicker-widget table td span {
    width: 100%
}

.bootstrap-timepicker-widget table td a{
    border: 1px transparent solid;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 8px 0;
    outline: 0;
    color: #333
}

.bootstrap-timepicker-widget table td a:hover{
    text-decoration: none;
    background-color: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #ddd
}

.bootstrap-timepicker-widget table td a i{
    margin-top: 2px;
    font-size: 18px;
    background: url("../img/glyphicons-halflings.png") no-repeat;
    display: inline-block;
    line-height: 14px;
    vertical-align: text-top;
    width:14px;
    height:14px;


}

.bootstrap-timepicker-widget table td input{
    width: 25px;
    margin: 0;
    text-align: center
}

.bootstrap-timepicker-widget .modal-content{
    padding: 4px
}

@media (min-width: 767px) {
    .bootstrap-timepicker-widget.modal{
        width: 200px;
        margin-left: -100px
    }
}

@media (max-width: 767px){
    .bootstrap-timepicker{
        width: 100%
    }

    .bootstrap-timepicker .dropdown-menu{
        width: 100%
    }
}
.bootstrap-timepicker-widget table td a i.icon-chevron-down{
    background-position:-313px -119px;
}
.bootstrap-timepicker-widget table td a i.icon-chevron-up{
    background-position: -288px -120px;
}
.dashboard-csu-filter > div button:hover{
    opacity:1 !important;
}
.dashboard-csu-filter > div button:focus{
    outline:none;
}
.videoBlock{
    margin-bottom:50px;
}
#hw-fp{
    background: #f7f5fa;
}
#hw-fp .homeFeature-text{
    color:#000;
}
#homeslider .carousel-inner ul{
    margin:30px 0;
}
#homeslider .carousel-inner p{
    color:#000;
    text-shadow: none;
    font-size:22px;
}
#homeslider .carousel-inner ul li{
    font-size:20px;
    text-align: left;
    margin-bottom:20px;
}
#homeslider .carousel-inner ul li:last-child{
    margin-bottom:0;
}
#wizard-nav li.previous.disabled{
    display:none;
}
.contact-response-salert,.contact-response-ealert{
    display: none;
    font-size:18px;
}
.contact-response-salert a,.contact-response-ealert a{
    color:inherit;
    border-bottom:1px dashed;
}

.info-mail:hover{
    color: #1fa67a;;
}
.link-underline{
    border-bottom: 1px dashed;
}
.editPage-savestatus{
    font-size:18px;
    display: none;
}
.csu-panel .progress-bar{
    text-align:center;
}
.csu-panel .progress-bar >span{
    color:#000;
    display:inline-block;
}
#image_modal .thumbnail{
    padding:0;
    margin:0;
    border:0;
    background: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;

}

#image_modal .carousel-control.left,#image_modal .carousel-control.right{
    background-image:none;
    margin-top:10%;
    width:5%;
}
#image_modal .modal-header{
    font-size:25px;
    height:40px;

}
#image_modal .modal-header .fa:hover{
    color:rgba(192, 57, 43, 1.0);
}
#image_modal .carousel-inner .item span{
    display: none !important;
}
#legal{
    padding-bottom: 200px;
}

.navbar-collapse{
    max-height: 100%;
}
.legalSideBar_list ul li:first-child.active > a,.legalSideBar_list ul li.active:active > a,.legalSideBar_list ul li.active:focus > a,.legalSideBar_list ul li:active > a,.legalSideBar_list ul li.focus > a{
background:#1B252E;
}
#device-setup .device-setup-content .tab-content > .tab-pane .form-group .tooltip-inner{
max-width:400px;
    width:400px;
}
/*******************************************/

.img-DelConfirm{
    display:none;
}
.modalStyle_One .modal-footer .img-DelConfirm-Op{
    padding-left:0;
}
.modalStyle_One .modal-footer .img-DelConfirm-Op li{
    display:inline-block;
}
.modalStyle_One .modal-footer .img-DelConfirm-Op li a{
    display: block;
    min-width:55px;
    padding:10px;
    color:#fff;
    font-size:14px;
    text-transform:capitalize;
}
.modalStyle_One .modal-footer .img-DelConfirm-Op li a.confirm-Yes{
    background:#1fa67a;
}
.modalStyle_One .modal-footer .img-DelConfirm-Op li a.confirm-No{
    background:#d2322d;
}
.modalStyle_One .modal-footer .popover-content{
    overflow:hidden;
}

/*** Browser Detect ***/

#jr_overlay {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 2147483646;
    position: absolute;
}

#jr_wrap {
    position: absolute;
    width: 100%;
    z-index: 2147483647;
    padding: 0;
    margin: 0;
}

#jr_inner {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 12px;
    background: #FFF;
    border: 1px solid #CCC;
    color: #4F4F4F;
    margin: 0 auto;
    height: auto;
    padding: 20px;
    position: relative;
    box-sizing: content-box;
}

#jr_header {
    display: block;
    color: #333;
    padding: 5px;
    padding-bottom: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

#jr_inner p {
    padding: 5px;
    margin: 0;
}

#jr_inner ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#jr_inner ul li {
    cursor: pointer;
    float: left;
    width: 120px;
    height: 122px;
    margin: 0 10px 10px 10px;
    padding: 0;
    text-align: center;
}

#jr_inner li a {
    color: #333;
    font-size: 0.8em;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#jr_inner li a:hover {
    text-decoration: underline;
}

#jr_inner .jr_icon {
    width: 100px;
    height: 100px;
    margin: 1px auto;
    padding: 0;
    background: transparent no-repeat scroll left top;
    cursor: pointer;
}

#jr_close {
    clear: both;
    padding: 0;
    margin: 0;
    visibility:hidden;
}

#jr_close a {
    color: #000;
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

#jr_close p {
    padding: 10px 0 0 0;
    margin: 0;
}
.checkout-process-block > div > div, .form-block {
    background: #fcfcfc;
    border: 1px solid #eee;
    min-height: 470px;
    padding: 20px;
    color: #000000;
    margin-bottom: 20px;
}
.checkout-process-block textarea.form-control{
    resize:none;
}
.checkoutnavi .active{
    color:#000;
}
.checkout-reviewAdd{
    background: #f7f5fa;
    border: 1px solid #eee;
    padding: 20px;
    color: #000000;
    margin-bottom: 20px;
}
.checkoutnavi .active{
    color:#000;
}
.checkout-review-listtable{
    margin-bottom:50px;
}
.checkout-DD{
    font-size:18px;
}
.checkout-DD dt{
    padding-bottom:10px;
}


#checkoutreview .cart-summary{
    display:table;
    width:100%;
    float:none;
    border-bottom:2px solid #000;
}
#checkoutreview .cartquantity input{
    background:#eee;
    color:#000;
}
#checkoutreview .cartquantity p{
    color:#000;
}
#checkoutreview .cart-item-list{
    border-color:#000;
}
#dataplan-page{

}
.dataplan-tabNavi {
    text-align: center;
    margin-bottom: 5px;
    margin-top:0;
}


.dataplan-tabNavi ul {
    display: inline-block;
    position:relative;
}
.dataplan-tabNavi ul:before,.dataplan-tabNavi ul:after {
    content: '';
    z-index: -2;
    display: block;
    position: absolute;
    bottom: 0.75em;
    left: 0.18em;
    width: 40%;
    height: 20%;
    -webkit-box-shadow: 0px 13px 8px #979797;
    -moz-box-shadow: 0px 13px 8px #979797;
    box-shadow: 0px 13px 8px #979797;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
.dataplan-tabNavi ul:after {
    right: 0.75em;
    left: auto;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}
.dataplan-tabNavi > ul > li > a{
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    padding: 10px 120px;
    background: #f7f5fa;
    border-color: #f7f5fa;

}
.dataplan-tabNavi > ul > li > a:hover{
    background-color: #2c2c2c;
    border-color: #2c2c2c;
    color:#fff;
}
.dataplan-tabNavi > ul > li > a:focus,
.dataplan-tabNavi > ul > li > a:active{
        color:#000;
        background:#f7f5fa;
        border-color:#f7f5fa;
        outline:none;
}
.dataplan-tabNavi > ul > li.active > a,
.dataplan-tabNavi > ul > li.active > a:hover,
.dataplan-tabNavi > ul > li.active > a:focus{
    background-color: #1fa67a;
    border-color: #1fa67a;

}
.plan-icon{
    border: 2px solid #1fa67a;
    display: inline-block;
    color: #1fa67a;
    font-size: 70px;
    padding: 30px 40px;
    border-radius: 50%;
}
.plan-icon i{
    width:80px;
    height:70px;
    text-align: center;
    text-shadow: 2px 2px 5px #ddd;
}

.plan-intro{
    padding-left:25px;
}
.plan-intro h1{
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #1fa67a;
}
.plan-intro p{

}


.plan-table{
    margin-top: 20px;
    margin-bottom: 20px;
}
.plan-table li{
    position:relative;
}
.plan-table li:after{
    content: "+";
    font-size: 50px;
    position: absolute;
    top: -2px;
    right: 0px;

}

.plan-table li:nth-child(3):after{
    content:""
}
.plan-table li span{
    display:block;
    padding: 5px 0;
    text-align: center;

}
.plan-table li span:first-child{
    background: #f7f5fa;
    color: #000;
    font-size: 36px;
    font-weight: 300;
    font-family: 'Dosis', sans-serif;
}


.plan-table li span:last-child{
    padding-top:5px;
    font-size:18px;
}
.plan-table li:last-child span:first-child{
    background: #1fa67a;
    color:#fff;
    font-weight:300;
    position:relative;

}
.plan-table li:last-child:after{
    content: "";
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid #fff;
}
.plan-table li:last-child:before{
    content: "";
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid #fff;
    border-left: 40px solid transparent;
    position: absolute;
    bottom: 35px;
    z-index:1;
    right: 0;
    border-right: 0px solid transparent;
}
.btn-buydataplan{
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 24px;
}


.dataplan-usuage-box{
    text-align:center;

}
.dataplan-usuage-box span{
    display: inline-block;
    border: 10px solid #1fa67a;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    color: #2c2c2c;
    font-weight: bold;
    padding-top: 10px;
    background: #fff;
}

.dataplan-usuage-box span.timebox{
    border-color:#1fa67a;
}
.dataplan-usuage-box span.imageBox{
    border-color: #d9534f;
}
.dataplan-usuage-box span.dataBox{
    border-color:#428bca;
}
.dataplan-usuage-box span.timebox i{
    color:#1fa67a;
}
.dataplan-usuage-box span.imageBox i{
    color: #d9534f;
}
.dataplan-usuage-box span.dataBox i{
    color: #428bca;
    font-size: 50px;
    position: relative;
    top: 4px;
}
.dataplan-usuage-box > p{
    /*font-weight:600;*/
}

.dataplan-usuage-deviceName{
    background-color: #f4f5f7;
    margin-bottom: 20px;
    margin-top: 40px;

}
.dataplan-usuage-deviceName i{
    display: inline-block;
    font-size: 18px;
    background-color: #1fa67a;
    color: #fff;
    padding: 15px;
    margin-right: 10px;
}
.dataplan-usuage-deviceName > span{
    display: inline-block;
    position: relative;
    top: 3px;
}
.dataplan-usuage-summaryRow:hover .dataplan-usuage-deviceName{
    background:#1fa67a;
    color:#fff;
}
.dataplan-usuage-summaryRow:hover .dataplan-usuage-deviceName i{
    background:#2c2c2c;
    color:#fff;
}
.dataplan-usuage-summaryRow h2{
    font-weight: 800;
    letter-spacing: .05em;
    color: #d9534f;
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 19px;
}
.dataplan-payBtn{
    /*text-transform:uppercase;*/
}
.dataplan-usuage-topDetails h3{
    margin-top:0;
    margin-bottom:15px;

}
.dataplan-usuage-topDetails h2,.profileEdit_Form > h1:nth-child(1){
    margin-top:0;
}
.dataplan-usuage-topDetails p{
    margin-bottom:0;
}
.alert{
    padding: 0;
    border-radius: 0;
    background-color: #fff;
    text-align:left;
}
.alert > i{
    padding: 15px;
    background:#f7f5fa;
    color: #000;
    margin-right: 10px;
}
.alert-danger{
    border-color: #e74c3c;
    color: #fff;
    background: #e74c3c;

}
.alert-danger > i{
    background: #c0392b;
    color:#fff;
}
.alert-success{
    border-color: #2ecc71;
    color: #fff;
    background: #2ecc71;
}
.alert-success > i{
    background:#1fa67a;
    color: #fff;
}
#CSU_filter_input{
    background-color: #F8F8F8;
    border: 1px solid #E8E8E8;
    color: #000;
    padding: 5px 10px;
    border-radius: 0px;
    font-size: 18px;
    height: 36px;
}
.filter-btnGroup .btn i{
    padding:10px;
    color:#fff;
    margin-right:5px;
}
.filter-btnGroup .btn{
    padding-left:10px;
    color:#fff;
    padding:0;
    border:0;
    padding-right: 10px;
}
.filter-btnGroup .btn:nth-child(1){

    background:#22A7F0;
}
.filter-btnGroup .btn:nth-child(2){

    background:#2cc36b;
    color:#fff;
}
.filter-btnGroup .btn:nth-child(3){
    background:#e74c3c;
    color: #fff;
}
.filter-btnGroup .btn:nth-child(4){
    background:#E67E22;
}
.filter-btnGroup .btn:nth-child(5){

    background:#95A5A6;
}

.filter-btnGroup .btn:nth-child(1) i{
    background:#3498DB;
}
.filter-btnGroup .btn:nth-child(2) i{
    background:#1fa67a;
    color:#fff;
}
.filter-btnGroup .btn:nth-child(3) i{
    background: #c0392b;
    color: #fff;
}
.filter-btnGroup .btn:nth-child(4) i{

    background:#D35400;
}
.filter-btnGroup .btn:nth-child(5) i{
    background:#6C7A89;
}
#payyourbill-page #accordion{
    margin-top:50px;
}
#cart-frame{
    padding:20px 0;
}
.bill-summary-view h3{
    margin: 0;
    text-align: center;
    border-bottom: 1px solid;
    /* text-transform: uppercase; */
    /* font-style: italic; */
    font-size: 19px;
    font-weight: 400;
    display: inline-block;
    letter-spacing: .05em;
}
.bill-summary-view ol{
    padding-left: 0;
}
.bill-summary-view ol > li{
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.bill-summary-view ol li > a{
    width: 20%;
}
.bill-summary-view ol li > p {
    width:80%;
}
.bill-summary-view ol li ul{
    display: inline-block;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 0;
    width: 30%;
}
.bill-summary-view ol li ul li{
    list-style: none;
}
.bill-summary-view ol li ul li a{

}
.offerbox{
    background: #f7f5fa;
    padding: 1px 20px 8px;
    margin-bottom: 20px;
}
.offerbox h2{
    font-family: 'Oswald', sans-serif;
    color:#fff;
    text-transform: uppercase;
    padding:10px;
    font-weight: 400;
    text-align: center;
    background: #1fa67a;
    font-size: 16px;
}
.offerbox p{
    text-align: center;
    color:#1fa67a;
}
.offerbox p a{
    color:#000;
}
.offerbox .input-group-addon{
    background: #fff;
    color: #000;
    cursor:pointer;
}
.offerbox .input-group-addon:hover{
    background: #000;
    color:#ffffff;
}
.devicestat_bill span:first-child{
    color: #d9534f;
}
.devicestat_bill span:last-child{
     color: #428bca;
}
.devicestat_bill span{
    font-size: 18px;
    margin-right: 18px;
    font-weight: bolder;
}
.devicestatusdisabled p{
    margin-top: 10px;
}
.devicestatusdisabled p a{
    color: #1fa67a;
}
.devicestatusinactive p{
    margin-top: 10px;
}
.devicestatusinactive p a{
    color: #1fa67a;
}
#paypalframe{
    overflow: hidden;
}
#paypalframe iframe{
    overflow: hidden;
    width: 100%;
    min-height:610px;
    border:0;
    margin: 0;
    padding: 0;
    display:block;
}
.checkout-reviewAdd address small{
    font-size: 100%;
    color: #1fa67a;
    margin-bottom: -20px;
    display: block;
    border-bottom: 1px solid;
}
.tooltip.top{
    z-index: 9999;
}
#dlist-SetMo .modal-body .form-control{
    min-height: inherit;
}
#dlist-SetMo .form-group{
    margin-bottom: 5px;
}
#modalCarousel .carousel-inner> li {
    background: url('../img/icons/spinner.GIF') no-repeat;
    background-position: center center;
}
#modalCarousel .carousel-inner>.active {

    display: block !important;
}
#device-detailsPage .navDisabled{
    opacity: .5;
}

.gallery_pagination_prev:hover,
.gallery_pagination_next:hover{
    color:inherit;
}
.gallery_pagination_prev:focus,
.gallery_pagination_next:focus{
    color:inherit;
}

.gallery_pagination_next,
.gallery_pagination_prev{
    color: #4d4d4d;
    font-size: 40px;
    display: inline-block;
}
.delete_device{
    background:transparent;
    color:#e74c3c;
    border-color:#e74c3c;
    margin-left: 4px;
}
.delete_device:hover{
    background:#e74c3c;
    color:#fff;
    border-color:#e74c3c;
}
.devicelist-activebtn-list .delete_device:hover{
    background: transparent;
    border:0;
}
a:focus{
    outline: none;
}
.dataplan-device-No
{
    background-color: #1fa67a;
    height: 50px;
    color: #fff;
    font-size: 18px;
    padding-top: 11px;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;

}
.forgetPW_modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-align: center;
    z-index:1051;
}
.forgetPW_modal > div{
    max-width: 400px;
    display: inline-block;
    margin-top: 50px;
    background-color: #2b2b36;
    color: #aaa;
    border-top: 30px solid #23232e;
}
.forgetPW_modal p{
    padding: 20px 40px;
    cursor: context-menu;
}
.forgetPW_modal p span{
    color:#ffffff;
    display: block;
    cursor: context-menu;
}
.forgetPW_modal .forgetPW_footer{
    background-color: #1fa67a;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.forgetPW_modal .btn{
    color: #fff;
    width: 50%;
    float: left;
    padding: 20px 0;
    border-right: 1px solid rgba(0, 0, 0,.1);
}

/*** new updates 06/21/2016 ***/
#registerFormSubmit{
    width: 100%;
    background: transparent;
    border: 0;
    padding: 15px 0;
}
.afterReg_modal{
     display: none;
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background: rgba(0,0,0,.5);
     color: #fff;
     text-align: center;
     z-index:1051;
 }
 .afterReg_modal p{

 }
 .afterReg_header{
     text-align: right;
     background: #23232e;
     padding: 10px;
     color: #fff;
     font-size: 18px;
 }
.afterReg_header span{
    cursor: pointer;
}

.afterReg_modal > div{
    max-width: 400px;
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    background-color: #2b2b36;
    color: #aaa;
}
.afterReg_modal p{
    padding: 20px 40px;
}
.afterReg_modal p span{
    color:#ffffff;
    display: block;

}
.afterReg_modal .afterReg_footer{
    background-color: #1fa67a;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.afterReg_modal .btn{
    color: #fff;
    width:50%;
    float: left;
    padding: 15px 0;
    border-right: 1px solid rgba(0, 0, 0,.1);
}
.afterReg_modal .afterReg_footer.checkout-afterreg-msge .btn{
    display: none;
}
.afterReg_modal .afterReg_footer.checkout-afterreg-msge .btn.refresh-page {
    display: block;
    width:100%;
}
/*** new css 07/04/-2016 ****/
.standalone-accessForm{
    background: #fcfcfc;
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 1px #ddd;
    -webkit-box-shadow: 0px 0px 10px 1px #ddd;
    -moz-box-shadow:0px 0px 10px 1px #ddd;
    -o-box-shadow: 0px 0px 10px 1px #ddd;
}
.standalone-accessForm h3{
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.standalone-accessForm #registerFormSubmit{
    border: 1px solid #000;
    padding: 6px 12px;
    width: inherit;
}
.standalone-accessForm #registerFormSubmit:focus{
    background: transparent;
    color:#000;
    border: 1px solid #000;
}
.standalone-accessForm #registerFormSubmit:hover{
    background: #000;
    border: 1px solid #000;
}
.standalone-accessForm .log-form-error{
    display: none;
    margin-top:15px;
}
.standalone-accessForm .log-form-error em{
    font-style: normal;
}
.standalone-accessForm .alert-info{
    background-color: #d9edf7;
    font-weight: bold;
    text-align: center;
}
.standalone-accessForm .alert-info > i{
    background-color: transparent;
    color:inherit;
    padding: 15px 10px;
    margin-right: 0;
}
.standalone-accessForm #loginForm{
    margin-bottom: 15px;
}

#plan-changed a {
    margin-bottom: 30px;
}
#plan-changed .list-group-item sub  {
    bottom:0;
}
#plan-changed .pricingTable1 > .panel {
    min-height: 560px;
}
#plan-changed .panel-heading h2 span {
    font-size: 51%;
    display: block;
    letter-spacing: .05em;
}
.nodevice-found {
    background-color: #d9edf7;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 15px auto;
    color: #31708f;
}
.nodevice-found span {
    display: block;
    font-size: 50px;
}
.nodevice-found p {

}
.nodevice-found p em{
     display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-style: normal;
}