/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {


}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .gallery-image-collage li a{
        width:195px;
        height:195px;
    }
    .csu-panel .panel-heading a{
        max-width: 90px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .gallery-image-collage li a{
        width:228px;
        height:228px;
    }
    .dataplan-tabNavi > ul > li > a {
        padding: 10px 70px;
    }
    .page-top .jumbotron h1{
        font-size:16px;
    }
    #device-setup .device-setup-step .nav-pills > li > a{
        padding: 10px 40px;
    }
    .csu-panel .panel-heading a{
        max-width: 135px;
    }
    .homeLog input {
        margin-bottom: 10px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #device-setup .device-setup-step .nav-pills > li > a {
        padding: 10px 25px;
    }
    .dataplan-tabNavi > ul > li > a {
        padding: 10px 40px;
    }



    #homeslider .carousel-caption p {
        display: none;
    }

    #homeslider .carousel-caption h1 {
        margin-top: 0;
    }

    .gallery-image-collage li a{
        /*width:324px;*/
        /*height:324px;*/
    }

    .well.dashboard-csu-filter button{
        margin-bottom:5px;
    }
	.footer-nav {
	min-height:100%;
	}
    .pro-bar{
        display:none;
    }
    .deviceDetail-top-actionBtn{
        /*margin-top: 20px;*/
        text-align: left;
    }
    .client-DashBoard-ActBtnRow a{
        display: block;
        margin-bottom: 10px;
    }
    #homeslider .carousel-caption h1{
        font-size:18px;
    }
    #homeslider .carousel-inner ul{
        margin: 15px 0;
    }
    #homeslider .carousel-inner ul li{
        font-size:14px;
        margin-bottom: 5px;
    }
    #homeslider .carousel-inner{
        height:270px;
    }
    #homeslider .carousel-caption{
        top:0;
        padding-top: 0;
    }
    #device-setup .device-setup-content{
        padding-bottom: 20px;
    }
    #device-setup .device-setup-content .tab-content > .tab-pane .form-group{
        padding:0;
    }
    #device-setup .device-setup-step ul li{
        float:left;
    }
    #device-setup .device-setup-step{
        padding-top: 5px;
    }
    #device-setup .device-setup-step .navbar{
        margin-bottom: 2px;
    }
	
	#order-details .nav-justified>li{
		display:block;
		margin-bottom:10px;
		text-align:center;
	}
	#order-details .nav-justified>li a.btn{
		display:inline-block;
		    max-width: 200px;
			width:100%;
	}
    .plan-table li:last-child:before{
        content:none;
    }
    .plan-table li:last-child:after{
        border-right: none;
    }
    .plan-table li:after{
        content:none;
    }
    .device-details-actBtn button,
    .device-details-actBtn a{
        display: block;
        margin-bottom: 10px;
        width:100%;
    }
    .device-details-actBtn .btn-group{
        width:100%;

    }
    .device-details-actBtn .btn-group button{
        width:80%;
    }
    .device-details-actBtn .btn-group .dropdown-toggle{
        width:20%
    }
    .device-detailsPage-header .page-header h1 small {
        display: block;
        font-size: 16px;
    }
    #cartModal .modal-footer{
        text-align: center;
    }
    #cartModal .modal-footer .text-right{
        text-align: center;
    }
    #cartModal .modal-footer .btn-trailBlack{
        width:100%;
        max-width: 200px;
        margin-bottom: 15px;
    }
    .cartBlock{
        margin: 5px 0;
    }
    .navbar-nav .cartBlock .CartButton{
        padding: 0;
        margin: 0;
        text-align: left;
    }
    .navbar-inverse .navbar-nav>li>a{
        padding: 5px 10px;
    }
    .navbar-nav.navbar-right li a{
        margin:0 10px !important;
    }
    .w3_megamenu .title{
        padding-bottom: 5px;
        margin:0;
        font-size:14px;
    }
    .navbar-nav.navbar-right .w3_megamenu-fw ul li a{
        padding: 5px;
        font-size:14px;

    }
    .bill-summary-view ol li > p {
        width:50%;
    }
    .bill-summary-view ol li > a {
        width:50%;
    }
    .bill-summary-view ol li ul {
        width: 100%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .bill-summary-view ol li > p {
        width:100%;
    }
    .bill-summary-view ol li > a {
        width:100%;
    }
    .gallery-image-collage li{
        float:none;
    }
    #device-setup .device-setup-step .nav-pills > li > a {
        padding: 10px 15px;
    }
    .device-details-actBtn .btn-group .dropdown-toggle{
        width:10%
    }
    .filter-btnGroup .btn{
        text-align: left;
    }
    .dataplan-tabNavi > ul > li > a {
        padding: 10px 25px;
        font-size:14px;
    }
    .gallery-image-collage li a{
        width:100%;
        max-height:400px;
    }
    .device-details-actBtn > .btn{
        display: block;
        float:none !important;
        margin-bottom: 10px;
        width: 100%;
    }
    .device-details-actBtn > .btn-group{
        width: 100%;
        margin-bottom: 10px;
    }
    .device-details-actBtn > .btn-group > .btn:first-child{
        width: 90%;
    }
    .device-details-actBtn > .btn-group > .btn:last-child{
        width: 90%;
    }
    .client-DashBoard-ActBtnRow .btn{
        display: block;
        float:none !important;
        margin-bottom: 10px;
    }
    .well.dashboard-csu-filter button{
        display: block;
        width: 100%;
    }
    #device-setup .device-setup-step ul li{
        float:none;
    }
    #CSU_filter_input{
        border-radius:0;
    }
    .csu-panel .panel-heading a{
        max-width:80%;
    }
    .devicelist-activebtn-list{
        display: none;
    }
    .well.dashboard-csu-filter{
     display: none;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    #device-setup .device-setup-step .nav-pills > li > a {
        padding: 10px 10px;
    }
}