.propcontainer{
	padding-top:2%; 
	padding-bottom:2%;
}
.propimagecontainer{
	margin: 1%; 
	padding-top: 1%; 
	padding-bottom: 1%; 
	line-height: 1.5em; 
	position:absolute; 
	height:100%;
}
.propimg{
	display: block !important; 
	max-width: 100%; 
	/* vertical-align: middle;  */
	height:120%;
}
.propwelcomemsg{
	font-weight: 700; 
	font-size:24px;
	text-transform: uppercase; 
	font-style:normal; 
	line-height:1.1;     
	margin: 10px 0 25px;
}
.propdescription{
	font-size: 15px; 
	line-height: 28px; 
	margin: 0; 
	padding-bottom: 20px;
}
.propbtn{
	margin-top: 10px; 
	text-transform: uppercase; 
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px; 
	background-color: #11E398 !important; 
	border-color: #385723 !important;
}
.propbtnsm{
    margin-top: 10px; 
    text-transform: uppercase; 
    padding: 5px 8px;
    font-size: 13px;
    line-height: 1.33;
    border-radius: 6px; 
    background-color: #11E398 !important; 
    border-color: #385723 !important;
}
.propbtnmm{
    margin-top: 10px; 
    text-transform: uppercase; 
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.33;
    border-radius: 6px; 
    background-color: #11E398 !important; 
    border-color: #385723 !important;
}
.form-control-p {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    /* vertical-align: middle; */
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
label {
	display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    font-weight: normal;
    font-size: 0.9em;
}
h3{
	text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    color: inherit;
}
p{
    margin: 0;
    padding-bottom: 20px;
    line-height: 1.5em;
}
.btnfdprop{
    z-index: 2;
    margin-left: -1px;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    outline: none;
    box-shadow: none !important;
    text-transform: uppercase;
    color: #fff;
    background-color: #11E398 !important; 
	border-color: #385723 !important;
	text-decoration: none;
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent !important;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
input:focus {
    border-color: #759e3a !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #385723 !important;
    border-color: #759e3a !important;
}
/*.tab{
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
}
.tab li {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
}
.tab li:active a{
    color: #555555;
    background-color: #fff !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.tab li a:hover{
    border-color: #eeeeee #eeeeee #ddd;
    text-decoration: none;
    background-color: #eeeeee;
}
.tab li a{
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    outline: 0;
    color: #385723;
    text-decoration: none;
    background: transparent;
}
.tab-pane{
    margin: 20px 0;
    display: none;
}
.tab-content:active{
    display: block;
    background-color: #fff !important;
}*/
/* Style tab links */
.tablink {
    /*background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;*/
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    outline: 0;
    color: #385723;
    text-decoration: none;
    background: transparent;
    display: inline-block;
    /* vertical-align: middle; */
}

.tablink:hover {
    color: #555555;
    background-color: #fff !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
    padding: 10px 15px;
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    /*margin: 20px 0;*/
    display: none;
    height: 100%;
    background-color: #fff !important;
    padding-top: 3%;
}
.tabcontent:active{
    display: block;
    background-color: #fff !important;
}
.switch {
    position: relative;
    display: block;
    /* vertical-align: top; */
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing:content-box;
}
.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing:content-box;
}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing:content-box;
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
    background: #32CD32;
}
.switch-input:checked ~ .switch-label {
    background: #E1B42B;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
    opacity: 1;
    background: #32CD32;
}
.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}
.switch-slide {
    padding: 0;
    margin: 15px 0 0;
    background: #FFF;
    border-radius: 0;
    background-image: none;
}
.switch-slide .switch-label {
    box-shadow: none;
    background: none;
    overflow: hidden;
}
.switch-slide .switch-label:after, .switch-slide .switch-label:before {
    width: 100%;
    height: 65%;
    top: 5px;
    left: 0;
    text-align: center;
    padding-top: 10%;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.switch-slide .switch-label:after {
    color: #FFFFFF;
    background: #87CEEB;
    left: -100px;
}
.switch-slide .switch-label:before {
    background: #eceeef;
}
.switch-slide .switch-handle {
    display: none;
}
.switch-slide .switch-input:checked ~ .switch-label {
    background: #FFF;
    border-color: #385723;
}
.switch-slide .switch-input:checked ~ .switch-label:before {
    left: 100px;
}
.switch-slide .switch-input:checked ~ .switch-label:after {
    left: 0;
}
.notes {
    margin-top: 2em;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    }

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}
.item-listing {
    border-bottom: 1px solid #ddd;
    margin: 40px 0;
}
.item-listing .item {
    border-top: 1px solid #ddd;
    clear: both;
}
.item-listing .item .item-content {
    float: left;
}
.item-listing .item h2 {
    margin: 30px 0px;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #E3E3E3;
    /*padding: 0 18px;
    background-color: white;*/
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.filters .range-option {
/*    .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}*/
    float: left;
    width: 43%;
}
.filters .form-group {
    min-height: 60px;
}
.form-group {
    margin-bottom: 15px;
}
.filters label {
    display: block;
    font-size: 13px;
}
.filters .separator {
    float: left;
    margin: 5px 8px;
    font-size: 13px;
}
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.clearfilter{
    margin-top: 0.5%;
    margin-left: 2%;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
.input-group-addon {
    padding: 9px 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    position: absolute;
    right: 0;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999999;
    border-radius: 10px;
}
.selection-message .badge.taggable-count {
    background-color: #759E3A;
}
.selection-message .badge {
    color: #fff;
}
.selection-message .badge.deletable-count {
    background-color: #B20000;
}
.profiles .profile-listing {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
.photo img {
    border-radius: 4px;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.profiles .label {
    font-size: 14px;
}
.label-watching {
    background-color: #759E3A;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.profiles .profile-detail .callout {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}
.profiles .profile-detail .callout section.first {
    border-width: 0;
    margin-top: 0;
    padding-top: 0;
}
.profiles .profile-detail .callout section {
    border-top: 1px solid #ddd;
    margin: 5px;
    padding: 5px 0;
}
.profiles .profile-detail .callout h4 {
    margin: 15px 0 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.checkbox {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    /* vertical-align: middle; */
}

div.gallery {
  border: 1px solid #ccc;
  display: inline-block !important;
  vertical-align: top;
  width: 20%;
  margin: 1%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 2%;
  text-align: justify;
}

* {
  box-sizing: border-box;
}

.responsive {
  /*padding: 0 6px;
   float: left; */
  width: 100%; /*24.99999*/
  margin-left: 2%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    /* margin: 6px 0; */
    margin-left: 2%;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
    margin-left: 2%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.camera .activity {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
}
.camera .activity i {
    float: left;
    font-size: 2em;
}
.camera .activity p {
    text-transform: uppercase;
    margin: 0 0 0 40px;
    color: #B0B0B0;
    font-size: 16px;
    padding-bottom: 0;
    line-height: 1.5em;
}

h2{
    font-weight: 700 !important;
}
.subtitle {
    margin: 5px 0 15px;
    text-transform: uppercase;
    color: #B0B0B0;
}
.camera .moons .activity {
    -webkit-transition: color 0.25s linear 0s;
    -moz-transition: color 0.25s linear 0s;
    transition: color 0.25s linear 0s;
}
.camera .moons .activity:hover {
    background-color: #385723;
    color: #fff;
}
.camera .tag {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 5px;
    -webkit-transition: color 0.25s linear 0s;
    -moz-transition: color 0.25s linear 0s;
    transition: color 0.25s linear 0s;
}
.camera .tag:hover {
    background-color: #385723;
    color: #fff;
}
.mr-10 {
    margin-left: 10px;
    font-size: 22px;
    color: #759E3A;
}
.icon-help{
    /* speak: none; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.page-title {
/*    background: #ffffff;
    padding-top: 60px;
    padding-bottom: 20px;*/
    margin-top: -3%;
    margin-bottom: -8%;
}

.page-title h1 {
    font-family: "jaf-facitweb",sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #2f261e;
    text-shadow: none;
    line-height: 36px;
    padding-bottom: .25em;
}
.page-header {
    padding-bottom: 9px;
    /*margin: 40px 0 20px;*/
    border-bottom: 3px solid #ffffff;
}
.page-title p {
    font-size: 18px;
    line-height: 1.25em;
}
.trial-signup {
    border: 1px solid #ccc;
    background-color: #edf1e5;
    margin: 30px 0 3em 0;
    padding: 20px;
}
.free-trial {
    font-family: 'lato', sans-serif;
    font-size: 15px;
    color: #2f261e;
    line-height: 24px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 5%;
}
.additional-features li, .free-trial li {
    line-height: 35px;
}
.free-trial h3 {
    color: #2f261e;
    font-weight: 700;
    font-size: 24px;
}
.additional-features .icon-checkmark, .free-trial .icon-checkmark {
    margin-right: 15px;
    margin-bottom: 10px;
}
.icon-checkmark{
    /* speak: none; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.free-trial .icon-checkmark {
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}
.green {
    color: #719938;
}
.btn-large {
    font-size: 18px;
    font-weight: 400;
    font-family: 'lato', sans-serif;
    margin-top: 20px;
    padding: 15px 20px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.desc {
    padding: 2%;
    text-align: justify;
}
dl.horizontal {
    margin: 0;
    clear: both;
}
dl.horizontal dt {
    float: left;
    clear: left;
    text-align: left;
    width: 100px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.7em;
    font-family: "jaf-facitweb",Lato, Helvetica, Arial, sans-serif;
}
dl.horizontal dd {
    margin-left: 0;
    font-size: 13px;
    line-height: 1.7em;
}
.overview {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.overview div{
    display: inline-block;
    vertical-align: middle;
}
.overview .temperature {
    height: 96px;
    font-size: 76px;
    font-weight: 400;
}
.overview .icon {
    float: left;
    margin: 10px 20px 0 0;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 30s linear infinite;
    -moz-animation: rotating 30s linear infinite;
    -ms-animation: rotating 30s linear infinite;
    -o-animation: rotating 30s linear infinite;
    animation: rotating 30s linear infinite;
  }
  #myProgress {
    width: 100%;
    background-color: #ddd;
  }
  #myBar {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
  }
  a.tip {
  position: relative;
}

a.tip span {
  display: none;
  position: absolute;
  top: 0px;
  left: 18%;
  width: 65%;
  padding: 5px;
  z-index: 100;
  background: #000;
  color: #fff;
  -moz-border-radius: 5px;
  /* this works only in camino/firefox */
  -webkit-border-radius: 5px;
  /* this is just for Safari */
}

a.tip span:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
  left: 40%;
  top: 100%;
}

a:hover.tip {
  font-size: 99%;
  /* this is just for IE */
}

a:hover.tip span {
  display: block;
}
/*.radio, .checkbox {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    vertical-align: middle;
}*/

/*.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}*/

.nopad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	margin-bottom: 0;
	outline: 0;
}
.image-checkbox input[type="checkbox"] {
	display: none;
}

.image-checkbox-checked {
	border-color: #4783B0;
}
.image-checkbox .fa {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}
.hidden{
    display: none;
}
.rc-anchor .rc-anchor-normal .rc-anchor-light {
    background-color: transparent !important;
    color: white !important;
    border: 1px !important;
 }

 .chk_container {
    /* display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #385723; */

    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #385723 !important;
    font-family: Poppins-Regular;
  }
  
  /* Hide the browser's default checkbox */
  .chk_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 30%;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .chk_container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .chk_container input:checked ~ .checkmark {
    background-color: #385723;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .chk_container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .chk_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.activation-bar {
    padding: 12px 0 2px 0;
    color: #2f261e;
    border-bottom: 1px solid #E7F1D2;
    background-color: #F1F6E4;
}
.text-right {
    text-align: right;
}

/* span.multiselect-native-select {
	position: relative
}
span.multiselect-native-select select {
	border: 0!important;
	clip: rect(0 0 0 0)!important;
	height: 1px!important;
	margin: -1px -1px -1px -3px!important;
	overflow: hidden!important;
	padding: 0!important;
	position: absolute!important;
	width: 1px!important;
	left: 50%;
	top: 30px
}
.multiselect-container {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0
}
.multiselect-container .input-group {
	margin: 5px
}
.multiselect-container>li {
	padding: 0
}
.multiselect-container>li>a.multiselect-all label {
	font-weight: 700
}
.multiselect-container>li.multiselect-group label {
	margin: 0;
	padding: 3px 20px 3px 20px;
	height: 100%;
	font-weight: 700
}
.multiselect-container>li.multiselect-group-clickable label {
	cursor: pointer
}
.multiselect-container>li>a {
	padding: 0
}
.multiselect-container>li>a>label {
	margin: 0;
	height: 100%;
	cursor: pointer;
	font-weight: 400;
	padding: 3px 0 3px 30px
}
.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
	margin: 0
}
.multiselect-container>li>a>label>input[type=checkbox] {
	margin-bottom: 5px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
	padding: 3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
	margin-left: -20px;
	margin-right: 0
} */


/* .multiselect-container {
    width: 100% !important;
} */


/* .dropdown-menu {
    border-radius: 0 !important;
}
.multiselect-native-select {
    position: relative !important;
}
.multiselect-native-select select {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px -1px -1px -3px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    left: 50% !important;
    top: 30px !important;
}
.multiselect-container {
    position: absolute !important;
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
.multiselect-container .input-group {
    margin: 5px !important;
}
.multiselect-container li {
    padding: 0 !important;
}
.multiselect-container li .multiselect-all label {
    font-weight: 700 !important;
}
.multiselect-container li a {
    padding: 0 !important;
}
.multiselect-container li a label {
    margin: 0 !important;
    height: 50% !important;  /*100
    cursor: pointer !important;
    font-weight: 400 !important;
    padding: 3px 20px 3px 40px !important;
}
.multiselect-container li a label input[type=checkbox] {
    margin-bottom: 5px !important;
}
.multiselect-container li a label.radio {
    margin: 0 !important;
}
.multiselect-container li a label.checkbox {
    margin: 0 !important;
}
.multiselect-container li.multiselect-group label {
    margin: 0 !important;
    padding: 3px 20px 3px 20px !important;
    height: 50% !important;  /*100
    font-weight: 700 !important;
}
.multiselect-container li.multiselect-group-clickable label {
    cursor: pointer !important;
}
.btn-group .btn-group .multiselect.btn {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.form-inline .multiselect-container label.checkbox {
    padding: 3px 20px 3px 40px !important;
}
.form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px !important;
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox] {
    margin-left: -20px !important;
    margin-right: 0 !important;
}
.form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px !important;
    margin-right: 0 !important;
} */
  