<div class="container">
	<h1 id="edt_prop_name" class="propwelcomemsg">New Album for </h1>
	<!-- <form> -->
		<div class="row">
			<div class="col-md-12"></div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="album_title">Title</label>
					<input class="form-control-p" type="text" name="album[title]" id="album_title">
					<div class="help-block">Album name will appear on public website.</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="album_subtitle">Subtitle</label>
					<input class="form-control-p" type="text" name="album[subtitle]" id="album_subtitle">
					<div class="help-block">Optional description of album.</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="album_tag_list">Tags</label>
					<select name="tags" id="album_tag_list" tabindex="-1" class="form-control-p selectize-with-empty range-option selectized" style="width: 100%;">
						<option value="any" selected="selected">Choose tags...</option>
					</select>
					<div class="help-block">All photos with these tags will automatically be included in this album.</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
				<input type="button" id="add_alb" name="add_alb" value="Create Album" class="btn btn-primary propbtnmm">
				<!-- <a class="btn btn-primary propbtnmm" href="#/albums">Create Album</a>
			</div> -->
		</div>
	<!-- </form> -->
</div>

<script type="text/javascript">
function setDefaultData(){
	if(localStorage.getItem('mtcs_cms_propname') != null && localStorage.getItem('mtcs_cms_propname') != ''){
		$('#edt_prop_name').text("New Album for " + localStorage.getItem('mtcs_cms_propname'));
	}
	getTags();
}

function getTags(){
		var address = 'apis/updatemedia.php?cmd=photos&prop_id=' + localStorage.getItem('mtcs_cms_propid');
		$.ajax({
	        url: address,
	        type : "GET", // type of action POST || GET
	        dataType: 'json',
	        success : function(result) {
				datas = result.paths;
				images = result.images; 
	        	if (datas.length > 0) {
					datas.sort(function compare(a, b) {
						var dateA = new Date(a.img_datetime);
						var dateB = new Date(b.img_datetime);
						return dateA - dateB;
					});

					var uniqueTags = [];
					var monthWithYear;

					for(var i = 0; i < datas.length; i++){
						var uniqueList=datas[i].img_tag.split(',').filter(function(item,i,allItems){
							return i==allItems.indexOf(item);
						}).join(',');
						
						var tag_list = datas[i].img_tag.split(',');
						for(var j = 0; j < tag_list.length; j++){
							uniqueTags.push(tag_list[j]);
						}
					}

					var sorted_uniqueTags = uniqueTags.slice().sort();
					var results = [];
					// for (var i = 0; i < sorted_uniqueTags.length - 1; i++) {
					// 	if (sorted_uniqueTags[i + 1] == uniqueTags[i]) {
					// 		if($.inArray(sorted_uniqueTags[i], results) === -1) results.push(sorted_uniqueTags[i]);
					// 	}
					// }

					for (var i = 0; i < sorted_uniqueTags.length; i++) {
						if ($.inArray(sorted_uniqueTags[i], uniqueTags) !== -1) {
							if($.inArray(sorted_uniqueTags[i], results) === -1) 
								results.push(sorted_uniqueTags[i]);
							//results.push(sorted_uniqueTags[i]);
						} else{
							if($.inArray(sorted_uniqueTags[i], results) === -1) 
								results.push(sorted_uniqueTags[i]);
						}
					}

					var occurance = 0;
					for(var k = 0; k < results.length; k++){
						if(results[k]!=""){
							$('#album_tag_list')
							.append($("<option></option>")
										.attr("value",results[k])
										.text(results[k]));
						}
					}
	        	}
	        	
	        },
	        error: function(xhr, resp, text) {
	            console.log(xhr, resp, text);
	        }
	    })
	}
$("#add_alb").on('click', function(){
	console.log($('#album_tag_list :selected').text());
	var jsndata = {
		user_id: localStorage.getItem("mtcs_cms_uid"),
		prop_id:localStorage.getItem('mtcs_cms_propid'),    
	    title: $("#album_title").val(),
	    subtitle: $("#album_subtitle").val(),
	    tags: $('#album_tag_list :selected').text()
	};
    $.ajax({
        url: 'apis/album.php',
        type : "POST", 
        data : JSON.stringify(jsndata),
        contentType: 'application/json',
		dataType: 'json',
        success : function(result) {
        	console.log(result);
        	localStorage.setItem('imgrec_cms_albumid',result.album_id);
            window.location= "#/albums"; 
        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
    })
});
setDefaultData();
</script>



<!-- 
<option value="any">animal</option>
						<option value="any">antler</option>
						<option value="any">bird</option>
						<option value="any">cell phone</option>
						<option value="any">deer</option>
						<option value="any">electronics</option>
						<option value="any">elk</option> -->