<div class="container">
	<div class="row">
		<div class="col-md-12 propcontainer">
			<!--<form>-->
				<h1 class="propwelcomemsg">ADD YOUR PROPERTY HERE</h1>
				<div class="row">
					<div class="col-md-6">
						<label class="control-label" for="property_name">Name</label>
						<input class="form-control-p" placeholder="(i.e BuckMaster Hunt Camp)" type="text" name="property[name]" id="property_name" />
						<span class="help-block">Used to organize groups of cameras &amp; photos.</span>
					</div>
					<div class="col-md-6">
						<label class="control-label" for="property_time_zone">Time Zone</label>
						<select class="form-control-p selectize selectized" name="property[time_zone]" id="property_time_zone" tabindex="-1">
								<option value="(GMT-05:00) Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
								<option value="(GMT-11:00) American Samoa">(GMT-11:00) American Samoa</option>
								<option value="(GMT-11:00) International Date Line West">(GMT-11:00) International Date Line West</option>
								<option value="(GMT-11:00) Midway Island">(GMT-11:00) Midway Island</option>
								<option value="(GMT-10:00) Hawaii">(GMT-10:00) Hawaii</option>
								<option value="(GMT-09:00) Alaska">(GMT-09:00) Alaska</option>
								<option value="(GMT-08:00) Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
								<option value="(GMT-08:00) Tijuana">(GMT-08:00) Tijuana</option>
								<option value="(GMT-07:00) Arizona">(GMT-07:00) Arizona</option>
								<option value="(GMT-07:00) Chihuahua">(GMT-07:00) Chihuahua</option>
								<option value="(GMT-07:00) Mazatlan">(GMT-07:00) Mazatlan</option>
								<option value="(GMT-07:00) Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
								<option value="(GMT-06:00) Central Time (US &amp; Canada)">(GMT-06:00) Central Time (US &amp; Canada)/option>
								<option value="(GMT-06:00) Guadalajara">(GMT-06:00) Guadalajara</option>
								<option value="(GMT-06:00) Mexico City">(GMT-06:00) Mexico City</option>
								<option value="(GMT-06:00) Monterrey">(GMT-06:00) Monterrey</option>
								<option value="(GMT-06:00) Saskatchewan">(GMT-06:00) Saskatchewan</option>
								<option value="(GMT-05:00) Bogota">(GMT-05:00) Bogota</option>
								<option value="(GMT-05:00) Indiana (East)">(GMT-05:00) Indiana (East)</option>
								<option value="(GMT-05:00) Lima">(GMT-05:00) Lima</option>
								<option value="(GMT-05:00) Quitoa">(GMT-05:00) Quitoa</option>
								<option value="(GMT-04:00) Atlantic Time (Canada)">(GMT-04:00) Atlantic Time (Canada)</option>
								<option value="(GMT-04:00) Caracas">(GMT-04:00) Caracas</option>
								<option value="">(GMT-04:00) Georgetown</option>
								<option value="">(GMT-04:00) La Paz</option>
								<option value="">(GMT-04:00) Santiago</option>
								<option value="">(GMT-03:30) Newfoundland</option>
								<option value="">(GMT-03:00) Brasilia</option>
								<option value="">(GMT-03:00) Buenos Aires</option>
								<option value="">(GMT-03:00) Greenland</option>
								<option value="">(GMT-03:00) Montevideo</option>
								<option value="">(GMT-02:00) Mid-Atlantic</option>
								<option value="">(GMT-01:00) Azores</option>
								<option value="">(GMT-01:00) Cape Verde Is.</option>
								<option value="">(GMT-01:00) Dublin</option>
								<option value="">(GMT+00:00) Edinburgh</option>
								<option value="">(GMT+00:00) Lisbon</option>
								<option value="">(GMT+00:00) London</option>
								<option value="">(GMT+00:00) Monrovia</option>
								<option value="">(GMT+00:00) UTC</option>
								<option value="">(GMT+01:00) Amsterdam</option>
								<option value="">(GMT+01:00) Belgrade</option>
								<option value="">(GMT+01:00) Berlin</option>
								<option value="">(GMT+01:00) Bern</option>
								<option value="">(GMT+01:00) Bratislava</option>
								<option value="">(GMT+01:00) Brussels</option>
								<option value="">(GMT+01:00) Budapest</option>
								<option value="">(GMT+01:00) Casablanca</option>
								<option value="">(GMT+01:00) Copenhagen</option>
								<option value="">(GMT+01:00) Ljubljana</option>
								<option value="">(GMT+01:00) Madrid</option>
								<option value="">(GMT+01:00) Paris</option>
								<option value="">(GMT+01:00) Prague</option>
								<option value="">(GMT+01:00) Rome</option>
								<option value="">(GMT+01:00) Sarajevo</option>
								<option value="">(GMT+01:00) Skopje</option>
								<option value="">(GMT+01:00) Stockholm</option>
								<option value="">(GMT+01:00) Vienna</option>
								<option value="">(GMT+01:00) Warsaw</option>
								<option value="">(GMT+01:00) West Central Africa</option>
								<option value="">(GMT+01:00) Zagreb</option>
								<option value="">(GMT+02:00) Athens</option>
								<option value="">(GMT+02:00) Bucharest</option>
								<option value="">(GMT+02:00) Cairo</option>
								<option value="">(GMT+02:00) Harare</option>
								<option value="">(GMT+02:00) Helsinki</option>
								<option value="">(GMT+02:00) Jerusalem</option>
								<option value="">(GMT+02:00) Kaliningrad</option>
								<option value="">(GMT+02:00) Kyiv</option>
								<option value="">(GMT+02:00) Pretoria</option>
								<option value="">(GMT+02:00) Riga</option>
								<option value="">(GMT+02:00) Sofia</option>
								<option value="">(GMT+02:00) Tallinn</option>
								<option value="">(GMT+02:00) Vilnius</option>
								<option value="">(GMT+03:00) Baghdad</option>
								<option value="">(GMT+03:00) Istanbul</option>
								<option value="">(GMT+03:00) Kuwait</option>
								<option value="">(GMT+03:00) Minsk</option>
								<option value="">(GMT+03:00) Moscow</option>
								<option value="">(GMT+03:00) Nairobi</option>
								<option value="">(GMT+03:00) Riyadh</option>
								<option value="">(GMT+03:00) St.Petersburg</option>
								<option value="">(GMT+03:30) Tehran</option>
								<option value="">(GMT+04:00) Abu Dhabi</option>
								<option value="">(GMT+04:00) Baku</option>
								<option value="">(GMT+04:00) Muscat</option>
								<option value="">(GMT+04:00) Samara</option>
								<option value="">(GMT+04:00) Tbilisi</option>
								<option value="">(GMT+04:00) Volgograd</option>
								<option value="">(GMT+04:00) Yerevan</option>
								<option value="">(GMT+04:30) Kabul</option>
								<option value="">(GMT+05:00) Ekaterinburg</option>
								<option value="">(GMT+05:00) Islamabad</option>
								<option value="">(GMT+05:00) Karachi</option>
								<option value="">(GMT+05:00) Tashkent</option>
								<option value="">(GMT+05:30) Chennai</option>
								<option value="">(GMT+05:30) Kolkata</option>
								<option value="">(GMT+05:30) Mumbai</option>
								<option value="">(GMT+05:30) New Delhi</option>
								<option value="">(GMT+05:30) Sri Jayawardenepura</option>
								<option value="">(GMT+05:45) Kathmandu</option>
								<option value="">(GMT+06:00) Almaty</option>
								<option value="">(GMT+06:00) Astana</option>
								<option value="">(GMT+06:00) Dhaka</option>
								<option value="">(GMT+06:00) Urumqi</option>
								<option value="">(GMT+06:30) Rangoon</option>
								<option value="">(GMT+07:00) Bangkok</option>
								<option value="">(GMT+07:00) Hanoi</option>
								<option value="">(GMT+07:00) Jakarta</option>
								<option value="">(GMT+07:00) Krasnoyarsk</option>
								<option value="">(GMT+07:00) Novosibirsk</option>
								<option value="">(GMT+08:00) Beijing</option>
								<option value="">(GMT+08:00) Chongqing</option>
								<option value="">(GMT+08:00) Hong Kong</option>
								<option value="">(GMT+08:00) Irkutsk</option>
								<option value="">(GMT+08:00) Kuala Lumpur</option>
								<option value=""  >(GMT+08:00) Perth</option>
								<option value=""  >(GMT+08:00) Singapore</option>
								<option value="" >(GMT+08:00) Taipei</option>
								<option value=""  >(GMT+08:00) Ulaanbaatar</option>
								<option value="">(GMT+09:00) Osaka</option>
								<option value=""  >(GMT+09:00) Sapporo</option>
								<option value=""  >(GMT+09:00) Seoul</option>
								<option value=""  >(GMT+09:00) Tokyo</option>
								<option value=""  >(GMT+09:00) Yakutsk</option>
								<option value=""  >(GMT+09:30) Adelaide</option>
								<option value=""  >(GMT+09:30) Darwin</option>
								<option value=""  >(GMT+10:00) Brisbane</option>
								<option value=""  >(GMT+10:00) Canberra</option>
								<option value=""  >(GMT+10:00) Guam</option>
								<option value=""  >(GMT+10:00) Hobart</option>
								<option value=""  >(GMT+10:00) Melbourne</option>
								<option value=""  >(GMT+10:00) Port Moresby</option>
								<option value=""  >(GMT+10:00) Sydney</option>
								<option value=""  >(GMT+10:00) Vladivostok</option>
								<option value=""  >(GMT+11:00) Magadan</option>
								<option value=""  >(GMT+11:00) New Caledonia</option>
								<option value=""  >(GMT+11:00) Solomon Is./option>
								<option value=""  >(GMT+11:00) Srednekolymsk</option>
								<option value=""  >(GMT+12:00) Fiji</option>
								<option value=""  >(GMT+12:00) Kamchatka</option>
								<option value=""  >(GMT+12:00) Marshall Is.</option>
								<option value=""  >(GMT+12:00) Wellington</option>
								<option value=""  >(GMT+12:45) Chatham Is.</option>
								<option value=""  >(GMT+13:00) Nuku'alofa</option>
								<option value=""  >(GMT+13:00) Samoa</option>
								<option value=""  >(GMT+13:00) Tokelau Is.</option>
						</select>
						<span class="help-block">Your property's time zone. The time zone cannot bechanged after you've uploaded photos.</span>
					</div>
				</div>
				<h3>Locate Your Property</h3>
				<p calss="propdescription">
					Find your property by submitting the city, state or zip. You can then
					zoom into the property as well as move the map by selecting and
					dragging. This view will be shown when adding cameras so be sure the
					entire property can be seen.
				</p>
				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<input class="form-control-p locate-field controls" id="prop_loc" placeholder="(i.e Pittsfield, IL)" type="text" autocomplete="off" style="width:88%; border-bottom-right-radius: 0px !important; border-top-right-radius: 0px !important;"/>
							<span class="input-group-btn">
								<button id="find_prop" class="btn btn-primary btnfdprop" type="button">Find Property</button>
							</span>
						</div>
					</div>
				</div>
				<div id="map" style="width:100%;height:555px;margin-top:2%"></div>
				<hr>
				<!-- <a href="#/newproperty" class="btn btn-primary btn-lg propbtn">Create Property</a> -->
				<p><input id="prop_create" type="button" name="commit" value="Create Property" class="btn btn-primary btn-lg propbtn"></p>     
			<!--</form>-->
		</div>
	</div>
</div>

<script>
	var map;
	var lat;
	var lng;
	var marker;
	var placeSearch, autocomplete;
	function initialize() 
	{
	  	geocoder = new google.maps.Geocoder();
	 	var latlng = new google.maps.LatLng(42.4817836, -71.1498009);
	  	var mapOptions = {
	    	zoom: 12,
	    	center: latlng,
	    	mapTypeId: google.maps.MapTypeId.HYBRID
	  	}
	  	map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var map_icon = {
            url: 'http://www.developerdrive.com/wp-content/uploads/2013/08/ddrive.png'
        };
	  	marker = new google.maps.Marker({
			position: latlng,
			draggable:true,
			icon: map_icon,
		});
		marker.setMap(map);
		google.maps.event.addListener(marker, 'dragend', function() {
			geocodePosition(marker.getPosition());
		});
		//initAutocomplete();
		autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('prop_loc')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
	}

	function geocodePosition(pos) 
	{
		geocoder = new google.maps.Geocoder();
		geocoder.geocode
			({
				latLng: pos
			}, 
				function(results, status) 
				{
					if (status == google.maps.GeocoderStatus.OK) {
						// $("#mapSearchInput").val(results[0].formatted_address);
						// $("#mapErrorMsg").hide(100);
						lat = results[0].geometry.location.lat();
						lng = results[0].geometry.location.lng();
						$("#prop_loc").val(results[0].formatted_address);
						console.log(results[0].formatted_address);
					} else {
						console.log(status);
						//$("#mapErrorMsg").html('Cannot determine address at this location.'+status).show(100);
					}
				}
			);
	}

	function codeAddress(address) 
	{
	  geocoder.geocode( {address:address}, function(results, status) 
	  {
	    if (status == google.maps.GeocoderStatus.OK) 
	    {
	      	map.setCenter(results[0].geometry.location);
	      	lat = results[0].geometry.location.lat();
	      	lng = results[0].geometry.location.lng();
			marker.setMap(null);
            var map_icon = {
                url: 'http://www.developerdrive.com/wp-content/uploads/2013/08/ddrive.png'
            };
		  	marker = new google.maps.Marker({
				position: results[0].geometry.location,
				draggable:true,
				icon: map_icon,
			});
			marker.setMap(map);
	    //   var marker = new google.maps.Marker(
	    //   {
	    //       map: map,
	    //       position: results[0].geometry.location
	    //   });
	    } else {
	      alert('Geocode was not successful for the following reason: ' + status);
	   }
	  });
	}
	$("#find_prop").on('click', function(){
    	var prop_loc = $("#prop_loc").val();
    	codeAddress(prop_loc);
    	
	});
	$("#prop_create").on('click', function(){
		var jsndata = {
			user_id: localStorage.getItem("mtcs_cms_uid"),     //document.getElementById().value
		    prop_name: $("#property_name").val(),//document.getElementById().value  
		    prop_tz: $('#property_time_zone :selected').text(),  //document.getElementById().value
		    prop_lat: lat,  //document.getElementById().value
		    prop_lng: lng
		};
		//console.log(jsndata.uid);
        // send ajax
        $.ajax({
            url: 'apis/addprop.php', // url where to submit the request
            type : "POST", // type of action POST || GET
            data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()
            contentType: 'application/json',
			dataType: 'json',
            success : function(result) {
                localStorage.setItem('mtcs_cms_propid', result.prop_id);
				localStorage.setItem('mtcs_cms_propname', result.prop_name);
				localStorage.setItem('mtcs_cms_proplat',lat);
				localStorage.setItem('mtcs_cms_proplng',lng);
                console.log(result);
                window.location= "#/newproperty"; 
            },
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
    });
	initialize();


	
    //   var componentForm = {
    //     street_number: 'short_name',
    //     route: 'long_name',
    //     locality: 'long_name',
    //     administrative_area_level_1: 'short_name',
    //     country: 'long_name',
    //     postal_code: 'short_name'
    //   };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('prop_loc')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
		var place = autocomplete.getPlace();
		console.log(place);

        // for (var component in componentForm) {
        //   document.getElementById(component).value = '';
        //   document.getElementById(component).disabled = false;
        // }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        // for (var i = 0; i < place.address_components.length; i++) {
        //   var addressType = place.address_components[i].types[0];
        //   if (componentForm[addressType]) {
        //     var val = place.address_components[i][componentForm[addressType]];
        //     document.getElementById(addressType).value = val;
        //   }
        // }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
    //   function geolocate() {
    //     if (navigator.geolocation) {
    //       navigator.geolocation.getCurrentPosition(function(position) {
    //         var geolocation = {
    //           lat: position.coords.latitude,
    //           lng: position.coords.longitude
    //         };
    //         var circle = new google.maps.Circle({
    //           center: geolocation,
    //           radius: position.coords.accuracy
    //         });
    //         autocomplete.setBounds(circle.getBounds());
    //       });
    //     }
    //   }
</script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzI-rWX4tC6R3JnmXMuCG5RGCyupNHqJM&callback=initialize"></script> -->

<!-- AIzaSyC8D1Cci54AtIYsNjHOXduLhbUT668vAWI -->


<!-- <div class="selectize-control form-control-p selectize single">
		<div class="selectize-input items full has-options has-items">
			<div data-value="Eastern Time (US &amp; Canada)" class="item">(GMT-05:00) Eastern Time (US &amp; Canada)
			</div>
			<input type="text" autocomplete="off" tabindex="" style="width: 0px;">
		</div>
		<div class="selectize-dropdown form-control-p selectize single" style="display: none;">
			<div class="selectize-dropdown-content"></div>
		</div>
	</div> -->
