<div class="container">
	<!-- <form> -->
		<div class="row">
			<div class="col-md-12">
				<h1 class="propwelcomemsg" id="prop_hedear">Add a New Camera Location for </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button id="defaultOpen" class="tablink" onclick="openPage('Home', this, 'white')" style="background-color: #fff;">Locate on Map</button>
				<button class="tablink" onclick="openPage('News', this, 'white')" style="margin-left: -8px;">Enter GPS Coordinates</button>
				<div id="Home" class="tabcontent" style="display:block;">
				    <p class="propdescription" style="padding-top:1%;">Drag the orange marker to your trail camera location on the map.
							If you need to zoom in or out use the + and - buttons at the bottom right.
							Once finished fill out the form below and select "Create Camera Location".</p>
					<p></p>
					<div id="map" style="width:100%;height:555px;margin-top:0.5%"></div>
				</div>
				<div id="News" class="tabcontent">
					 <p class="propdescription" style="padding-top:1%;">An alternative way to enter in your camera's location is to include the latitude and longitude coordinates. Depending on the location you might need to include a negative sign for the longitude. All numbers should be in a decimal format as degrees will not be accepted.</p>
					<div class="row">
						<div class="col-md-6 form-group">
							<label for="camera_lat">Latitude</label>
							<input class="lat form-control-p" placeholder="34.8444" type="text" name="camera[lat]" id="camera_lat">
						</div>
						<div class="col-md-6 form-group">
							<label for="camera_lng">Longitude</label>
							<input class="lng form-control-p" placeholder="-82.3856" type="text" name="camera[lng]" id="camera_lng">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 form-group">
				<label class="control-label" for="camera_name_loc">Name of Camera Location</label>
				<input class="form-control-p" placeholder="e.g NE Food Plot" type="text" name="camera[name]" id="camera_name_loc">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 form-group">
				<label class="control-label" for="camera_manufactures">Camera Manufacturer</label>
				<select class="form-control-p selectized" autocomplete="off" name="camera[manufacturer]" id="camera_manufactures" tabindex="-1">
					<option value="" selected="">Bushnell</option>
					<option value="" selected="">Big Game Treestands</option>
					<option value="" selected="">Browning</option>
					<option value="" selected="">BuckEye Cam</option>
					<option value="" selected="">Cabela's</option>
					<option value="" selected="">Covert</option>
					<option value="" selected="">Cuddeback</option>
					<option value="" selected="">Day 6 Outdoors</option>
					<option value="" selected="">Exodus</option>
					<option value="" selected="">Eyecon</option>
					<option value="" selected="">Haw</option>
					<option value="" selected="">Hunten Outdoors</option>
					<option value="" selected="">Kodiak</option>
					<option value="" selected="">Leupold</option>
					<option value="" selected="">Meyer</option>
					<option value="" selected="">Midland</option>
					<option value="" selected="">Minox</option>
					<option value="" selected="">Moultrie</option>
					<option value="" selected="">Muddy</option>
					<option value="" selected="">OldBoys Outdoors</option>
					<option value="" selected="">Reconyx</option>
					<option value="" selected="">Radix</option>
					<option value="" selected="">Rhino Outdoors</option>
					<option value="" selected="">Scoutguard</option>
					<option value="" selected="">Sniper</option>				
					<option value="" selected="">Simmons</option>
					<option value="" selected="">Spypoint</option>
					<option value="" selected="">Stealth Cam</option>
					<option value="" selected="">Tasco</option>
					<option value="" selected="">USA Trail Cams</option>
					<option value="" selected="">Uway Outdoor</option>
					<option value="" selected="">Wildgame Innovations</option>
					<option value="" selected="">Wildview</option>
				</select>
			</div>
			<div class="col-md-6 form-group">
				<label class="control-label" for="camera_model">Model Number</label>
				<input class="form-control-p" placeholder="e.g. Trophy Cam HD Wireless" type="text" name="camera[model]" id="camera_model">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label class="control-label">Camera Status</label>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<label class="switch switch-slide" style="margin-top: 0.3%;">
					<input class="switch-input" type="checkbox" id="cam_stat" checked />
					<span class="switch-label" data-on="On" data-off="Off"></span> 
					<span class="switch-handle"></span>
				</label>

				<p class="propdescription" style="margin-top: 1%;">The camera status is a helpful option when cameras are moved. If you are currently not using this location just turn it "OFF". myTrailcams will keep all the photos, stats, tags, etc. from the camera location, even if it's inactive. Be sure to select "Update Camera Location" to save your changes.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
				<input id="btn_addcam" type="button" name="commit" value="Create Camera Location" class="btn btn-primary btn-lg propbtn">
			</div>
		</div>
		<p></p>
	<!-- </form> -->
</div>

<script>
	var map;
	var lat = localStorage.getItem('mtcs_cms_proplat');
	var lng = localStorage.getItem('mtcs_cms_proplng');
	var stat;
	var center;
	var marker;
	function callApi(){
		$.ajax({
            url: 'apis/addprop.php?prop_id='+ localStorage.getItem('mtcs_cms_propid'),
            type : "get", // type of action POST || GET
            dataType: 'json',
            success : function(result) {
                $('#prop_hedear').text("Add a New Camera Location for "+ result.prop_name);
                localStorage.setItem('mtcs_cms_propname', result.prop_name);
                $('#camera_lat').text(result.prop_lat);
                $('#camera_lng').text(result.prop_lat);
                lat = result.prop_lat;
                lng = result.prop_lng;
                center = new google.maps.LatLng(lat,lng);
                updateMarker(center, map);
            },
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
	}
	function openPage(pageName,elmnt,color) {
	    var i, tabcontent, tablinks;
	    tabcontent = document.getElementsByClassName("tabcontent");
	    for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	    }
	    tablinks = document.getElementsByClassName("tablink");
	    for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].style.backgroundColor = "";
	    }
	    document.getElementById(pageName).style.display = "block";
	    elmnt.style.backgroundColor = color;

	}
	function myMap() {
		var lat, lng;
		if(localStorage.getItem('mtcs_cms_proplat') != null && localStorage.getItem('mtcs_cms_proplat') != ''){
			lat = localStorage.getItem('mtcs_cms_proplat');
		} else {
			lat = 42.4817836;
		}
		if(localStorage.getItem('mtcs_cms_proplng') != null && localStorage.getItem('mtcs_cms_proplng') != ''){
			lng = localStorage.getItem('mtcs_cms_proplng');
		} else {
			lng = -71.1498009;
		}
		center = new google.maps.LatLng(lat,lng);
		var mapProp= {
		    center:center,
		    zoom:21,
		    mapTypeId: google.maps.MapTypeId.HYBRID
		};
		map=new google.maps.Map(document.getElementById("map"),mapProp);

        var map_icon = {
            url: 'https://storage.googleapis.com/mytrailcams/marker.png'
        };

		marker = new google.maps.Marker({
			position: center,
			draggable:true,
			icon: map_icon,
		});
		marker.setMap(map);
		//setTimeout(callApi(), 60000);
		google.maps.event.addListener(marker, 'dragend', function(evt) {
			//geocodePosition(marker.getPosition());
			geocodePosition(evt.latLng);
		});

		// google.maps.event.addListener(markerobject, 'dragend', function(evt){
		// 	infoWindow.setOptions({
		// 		content: '<p>Marker dropped: Current Lat: ' + evt.latLng.lat().toFixed(3) + ' Current Lng: ' + evt.latLng.lng().toFixed(3) + '</p>'
		// 	});
		// 	infoWindow.open(map, markerobject);
		// });

		google.maps.event.addListener(marker, 'drag', function(evt){
			//console.log("marker is being dragged");
		});

	}
	function geocodePosition(pos) 
	{
		geocoder = new google.maps.Geocoder();
		geocoder.geocode
			({
				latLng: pos
			}, 
				function(results, status) 
				{
					if (status == google.maps.GeocoderStatus.OK) {
						// $("#mapSearchInput").val(results[0].formatted_address);
						// $("#mapErrorMsg").hide(100);
						$('#camera_lat').val(results[0].geometry.location.lat());
						$('#camera_lng').val(results[0].geometry.location.lng());
						
						console.log(results[0].formatted_address + results[0].geometry.location.lat() + results[0].geometry.location.lng());
					} else {
						console.log(status);
						//$("#mapErrorMsg").html('Cannot determine address at this location.'+status).show(100);
					}
				}
			);
	}

	function updateAddCamData(){
		$('#prop_hedear').text("Add a New Camera Location for "+ localStorage.getItem('mtcs_cms_propname'));
		$('#camera_lat').val(localStorage.getItem('mtcs_cms_proplat'));
		$('#camera_lng').val(localStorage.getItem('mtcs_cms_proplng'));
		$('#camera_manufactures :selected').text(localStorage.getItem('mtcs_cms_cammf'));
		myMap();
	}

	updateAddCamData();

	function updateMarker(location, map){
        var map_icon = {
            url: 'https://storage.googleapis.com/mytrailcams/marker.png'
        };
		var marker = new google.maps.Marker({
	        position: location,
			icon: map_icon,
	        map:map
    	});
	}
	$("#btn_addcam").on('click', function(){

		var cam_name = $("#camera_name_loc").val();
		var cam_manufacture = $('#camera_manufactures :selected').text();
		var cam_model = $("#camera_model").val();
		var cam_lat = $('#camera_lat').val();
		var cam_lng = $('#camera_lng').val()

		if(cam_name == undefined || cam_name == '' || cam_name.length == 0){
			alert("Please give a name to the newly created camera.");
			return;
		}

		if(cam_manufacture == undefined || cam_manufacture == '' || cam_manufacture.length == 0){
			alert("Please enter a manufacturer name for camera.");
			return;
		}

		if(cam_model == undefined || cam_model == '' || cam_model.length == 0){
			alert("Please enater model number of camera.");
			return;
		}

		if(cam_lat == undefined || cam_lat == '' || cam_lat.length == 0){
			alert("Please select a camera location in map.");
			return;
		}

		if(cam_lng == undefined || cam_lng == '' || cam_lng.length == 0){
			alert("Please select a camera location in map.");;
			return;
		}

		if($('#cam_stat').prop("checked") == true){
			stat = 1;
		} else if($('#cam_stat').prop("checked") == false){
			stat = 0;
		}
		var jsndata = {
			property_id: localStorage.getItem("mtcs_cms_propid"),
			camera_name: cam_name,
			camera_manufacturer: cam_manufacture,
			camera_modelno: cam_model,
			camera_latitude: cam_lat,
			camera_longitude: cam_lng,
			status:stat
		};
		$.ajax({
			url: 'apis/addcam.php',
			type : "POST",
			data : JSON.stringify(jsndata),
			contentType: 'application/json',
			dataType: 'json',
			success : function(result) {
				console.log(result);
				localStorage.setItem('mtcs_cms_camid', result.cam_id);
				localStorage.setItem('mtcs_cms_camname', $("#camera_name_loc").val());
				if(localStorage.getItem('mtcs_cms_camstat') != undefined && localStorage.getItem('mtcs_cms_camstat') != "" && localStorage.getItem('mtcs_cms_camstat') != null && localStorage.getItem('mtcs_cms_camstat').length > 0){
					window.location= "#/camera";
				} else{
					window.location= "#/uploadphotostocam";
				}

			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
    });
</script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzI-rWX4tC6R3JnmXMuCG5RGCyupNHqJM&callback=myMap"></script> -->

<!-- AIzaSyC8D1Cci54AtIYsNjHOXduLhbUT668vAWI -->
