<div class="container">
	<h1 id="add_prop_name" class="propwelcomemsg">New Profile for </h1>
	<form>
		<div class="row">
			<div class="col-md-12"></div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="profile_tag">Profile Tag to Track</label>
					<select name="tags" id="profile_tag" tabindex="-1" class="form-control-p selectize-with-empty range-option selectized" style="width: 92%;">
						<option value="any" selected="selected">-Choose a tag...</option>	
					</select>
					<div class="help-block">All photos using this tag will automatically be associated with this profile.</div>
				</div>
				<div class="form-group">
					<label for="profile_status">Status</label>
					<select name="tags" id="profile_status" tabindex="-1" class="form-control-p selectize-with-empty range-option selectized" style="width: 92%;">
						<option value="any" selected="selected">Watching</option>
						<option value="any">Hit List</option>
						<option value="any">Harvested</option>
					</select>
					<div class="help-block">Allows you to filter based on status.</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="profile_name">Display Name</label>
					<input class="form-control-p" type="text" name="profile[name]" id="profile_name">
					<div class="help-block">Optional. If blank, we will use the tag as the display name.</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
				<input id="saveprof" type="button" name="commit" value="Save Profile" class="btn btn-primary propbtnmm">
				<!-- <a class="btn btn-primary propbtnmm" href="#/profiles">Save Profile</a> -->
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
$("#saveprof").on('click', function(){
	var text = $('#profile_status :selected').text();
	var status;
	if (text=="Watching") {
		status = 1;
	}else if (text=="Hit List") {
		status = 2;
	} else if (text=="Harvested") {
		status = 3;
	}

	var sel_tag = $('#profile_tag :selected').text();
	console.log(sel_tag);
	if(sel_tag == null || sel_tag == undefined || sel_tag == "" || sel_tag.length == 0){
		alert("Please add a tag to the profile. Without tag no profile can be create.");
		return;
	}

	var jsndata = {
		user_id: localStorage.getItem("mtcs_cms_uid"), 
	    prop_id: localStorage.getItem("mtcs_cms_propid"),  
	    profile_tag: $('#profile_tag :selected').text(), 
	    display_name: $('#profile_name').val(),  
	    status: status
	};
    $.ajax({
        url: 'apis/profile.php', // url where to submit the request
        type : "POST", // type of action POST || GET
        data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()
        contentType: 'application/json',
		dataType: 'json',
        success : function(result) {
            localStorage.setItem('mtcs_cms_profid', result.prof_id);
            console.log(result);
            window.location= "#/profiles"; 
        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
    })
});
function setDefaultData(){
	if(localStorage.getItem('mtcs_cms_propname') != null && localStorage.getItem('mtcs_cms_propname') != ''){
		$('#add_prop_name').text("New Profile for " + localStorage.getItem('mtcs_cms_propname'));
	}
	getTags();
}
function getTags(){
	var address = 'apis/updatemedia.php?cmd=photos&prop_id=' + localStorage.getItem('mtcs_cms_propid');
	$.ajax({
		url: address,
		type : "GET", // type of action POST || GET
		dataType: 'json',
		success : function(result) {
			datas = result.paths;
			images = result.images; 
			if (datas.length > 0) {
				datas.sort(function compare(a, b) {
					var dateA = new Date(a.img_datetime);
					var dateB = new Date(b.img_datetime);
					return dateA - dateB;
				});

				var uniqueTags = [];
				var monthWithYear;

				for(var i = 0; i < datas.length; i++){
					var uniqueList=datas[i].img_tag.split(',').filter(function(item,i,allItems){
						return i==allItems.indexOf(item);
					}).join(',');
					
					var tag_list = datas[i].img_tag.split(',');
					for(var j = 0; j < tag_list.length; j++){
						uniqueTags.push(tag_list[j]);
					}
				}

				var sorted_uniqueTags = uniqueTags.slice().sort();
				var results = [];
				// for (var i = 0; i < sorted_uniqueTags.length - 1; i++) {
				// 	if (sorted_uniqueTags[i + 1] == uniqueTags[i]) {
				// 		if($.inArray(sorted_uniqueTags[i], results) === -1) results.push(sorted_uniqueTags[i]);
				// 	}
				// }

				for (var i = 0; i < sorted_uniqueTags.length; i++) {
					if ($.inArray(sorted_uniqueTags[i], uniqueTags) !== -1) {
						if($.inArray(sorted_uniqueTags[i], results) === -1) 
							results.push(sorted_uniqueTags[i]);
						//results.push(sorted_uniqueTags[i]);
					} else{
						if($.inArray(sorted_uniqueTags[i], results) === -1) 
							results.push(sorted_uniqueTags[i]);
					}
				}

				var occurance = 0;
				for(var k = 0; k < results.length; k++){
					if(results[k]!=""){
						$('#profile_tag')
						.append($("<option></option>")
									.attr("value",results[k])
									.text(results[k]));
					}
				}
			}
			
		},
		error: function(xhr, resp, text) {
			console.log(xhr, resp, text);
		}
	})
}
setDefaultData();
</script>


<!-- <option value="any">animal</option>
<option value="any">antler</option>
<option value="any">bird</option>
<option value="any">cell phone</option>
<option value="any">deer</option>
<option value="any">electronics</option>
<option value="any">elk</option> -->