<div class="container" style="margin-top:5%;">
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group header-btn-group pull-right hidden-xs">
				<a id="newprop" class="btn btn-primary propbtn" href="#/addnewproperty" style="display: none;">New Property</a>
			</div>
			<h1 class="propwelcomemsg">Your Properties</h1>
			<div id="propcontainer" class="item-listing">
				
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var props_data = null, paln_data, max_prop;
function checkPropertiesCount(){
	$.ajax({
        url: 'apis/getpropinfo.php?cmd=count&user_id='+ localStorage.getItem('mtcs_cms_uid'),
        type : "get", // type of action POST || GET
        dataType: 'json',
        success : function(result) {
        	if (result.total_props > 0) {
				validateAccordingToPlan();
				callApi();
        	} else{
				window.location= "user.html#/";
			}
            //console.log(result);
        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
    })
}
function validateAccordingToPlan(){
	$.ajax({
        url: 'apis/validateplan.php?uid='+ localStorage.getItem('mtcs_cms_uid'),
        type : "get", // type of action POST || GET
        dataType: 'json',
        success : function(result) {
            //console.log(result);
			paln_data = result;
			giveFunctionalityAccordingToPlanData();
        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
    })
}
function callApi(){
	$.ajax({
        url: 'apis/getpropinfo.php?cmd=props&user_id='+ localStorage.getItem('mtcs_cms_uid'),
        type : "get",
        dataType: 'json',
        success : function(result) {
        	if(props_data != null){
        		if(props_data.length > 0){
					props_data = null;
				}
			}
			props_data = result.props;
			if(props_data.length > 0){
				//console.log("Props length : " + props_data.length);
				if(props_data.length < max_prop){
					//console.log("Comes into if case.");
					$('#newprop').show();
				}
				for (var i = props_data.length - 1; i >= 0; i--) {
					var row = $('<div class="item"><div class="item-content"><h2>' + props_data[i].prop_name + 
							'<small><a class="routs" href="javascript:void(0);" name="' + i +'">Edit</a></small></h2></div><div class="item-side" style="float: right; margin: 15px 0px;">'
							+ '<a class="btn btn-default propbtnsm routs" href="javascript:void(0);" name="' + i +'">Cameras</a>'
							+ '<a class="btn btn-default propbtnsm routs" href="javascript:void(0);" name="' + i +'">Photos</a>'
							+ '<a class="btn btn-default propbtnsm routs" href="javascript:void(0);" name="' + i +'">Profiles</a>'
							+ '<a class="btn btn-default propbtnsm routs" href="javascript:void(0);" name="' + i +'">Albums</a>'
							+ '<a class="btn btn-default propbtnsm routs" href="javascript:void(0);" name="' + i +'">Tags</a></div></div>'); 
					$('#propcontainer').append(row);

				};
				//localStorage.setItem('imgrec_cms_props',camd);
				var row1 = $('<div class="clearfix"></div>');
				$('#propcontainer').append(row1);
				assignclick();
				
			} else{
				window.location= "user.html#/";
			}
        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
	})	
}

function getUserPreferance(){
	$.ajax({
        url: 'apis/usersettings.php?user_id='+ localStorage.getItem('mtcs_cms_uid'),
        type : "get",
        dataType: 'json',
        success : function(result) {
			usr_prefs = result.details;

			if(usr_prefs[0].temperature == 0){
				localStorage.setItem('usr_pref_tmp', "F");
			} else{
				localStorage.setItem('usr_pref_tmp', "C");
			}

			if(usr_prefs[0].wind_speed == 0){
				localStorage.setItem('usr_pref_speed', "MPH");
			} else{
				localStorage.setItem('usr_pref_speed', "KPH");
			}

			if(usr_prefs[0].barometric_pressure == 0){
				localStorage.setItem('usr_pref_pressure', "I");
			} else{
				localStorage.setItem('usr_pref_pressure', "M");
			}
        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
	})	
}

function assignclick(){
	$(document).on("click", "a.routs" , function() {
		var index = $(this).attr("name");
		var destination = $(this).text();

		localStorage.setItem('mtcs_cms_propid', props_data[index].id);
		localStorage.setItem('mtcs_cms_propname', props_data[index].prop_name);
		localStorage.setItem('mtcs_cms_proptz', props_data[index].prop_tz);
		localStorage.setItem('mtcs_cms_proplat', props_data[index].prop_lat);
		localStorage.setItem('mtcs_cms_proplng', props_data[index].prop_lng);

		if(destination == "Edit"){
			//window.location="#/editprop";
			startTimer();
		} else if(destination == "Cameras"){
			window.location="feature.html#/camera";
		} else if(destination == "Photos"){
			localStorage.setItem('mtcs_cms_routepath', "");
			window.location="feature.html#/photos";
		} else if(destination == "Profiles"){
			window.location="feature.html#/profiles";
		} else if(destination == "Albums"){
			window.location="feature.html#/albums";
		} else if(destination == "Tags"){
			window.location="feature.html#/tags";
		}

		// localStorage.setItem('mtcs_cms_propid['+index+']', props_data[index].id);
		// localStorage.setItem('mtcs_cms_propname['+index+']', props_data[index].prop_name);
		// localStorage.setItem('mtcs_cms_proptz['+index+']', props_data[index].prop_tz);
		// localStorage.setItem('mtcs_cms_proplat['+index+']', props_data[index].prop_lat);
		// localStorage.setItem('mtcs_cms_proplng['+index+']', props_data[index].prop_lng);
		// localStorage.setItem('mtcs_cms_propindex', index);
		
	});

	getUserPreferance();
	//validateAccordingToPlan();
}

function startTimer () {
	//timer.start();
	setTimeout(stopTimer,200);
}

function stopTimer () {
	window.location="#/editprop";

}
function giveFunctionalityAccordingToPlanData(){
	var currentEpochInSec = Math.round((new Date().getTime())/1000);
	if(paln_data.next_billing_at >= currentEpochInSec){
		console.log("Continue....");
	}

	max_prop = paln_data.allowed_properties;
	localStorage.setItem('mtcs_cms_maxprop', paln_data.allowed_properties);
	localStorage.setItem('mtcs_cms_maxcam', paln_data.allowed_cameras);
	localStorage.setItem('mtcs_cms_maxphotos', paln_data.allowed_photos);
	localStorage.setItem('mtcs_cms_pageid', paln_data.pageid);
	localStorage.setItem('mtcs_cms_customerid', paln_data.customerid);
	callApi();

}
callApi();
//validateAccordingToPlan();
</script>



<!--<div class="item">
	 <div class="item-content">
		<h2 id="prop_name"> <small><a href="#/editprop">Edit</a></small></h2>
	</div>
	<div class="item-side" style="float: right; margin: 15px 0px;">
		<a class="btn btn-default propbtnsm" href="feature.html#/camera">Cameras</a> 
		<a class="btn btn-default propbtnsm" href="feature.html#/photos">Photos</a> 
		<a class="btn btn-default propbtnsm" href="feature.html#/profile">Profiles</a> 
		<a class="btn btn-default propbtnsm" href="feature.html#/album">Albums</a> 
		<a class="btn btn-default propbtnsm" href="feature.html#/tags">Tags</a> 
	</div>
</div> 
<div class="clearfix"></div>-->