<div class="container">
	<div class="albums propcontainer">
		<div class="row">
			<div class="col-md-12">
				<div class="btn-group header-btn-group pull-right hidden-xs">
					<a class="btn btn-primary propbtnmm" href="#/addalbum">New Album</a>
				</div>
				<h1 id="album_header" class="propwelcomemsg">Albums for </h1>
				<p class="propdescription">Add, edit, and view this property's public photo albums.</p>
				<div class="clearfix"></div>
				<table class="table" id="albumdetails">
					<thead>
						<tr class="table-header">
							<th>Album</th>
							<th>Tags</th>
							<th class="visible-md visible-lg"></th>
						</tr>
					</thead>
					<tbody>
						<!-- <tr>
							<td>
								<p class="propdescription"><strong>ExpAlbum</strong> </p>
								<p class="propdescription"><a target="_blank" href="#">https://app.mytrailcams.com/a/8ya9k33h</a></p>
							</td>
							<td>animal</td>
							<td class="visible-md visible-lg">
								<div class="pull-right">
									<a class="btn btn-sm btn-default propbtnmm" href="#/editalbum">Edit</a> 
								</div>
							</td>
						</tr> -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var albumDetails;
function checkAlbumCount(){
	$.ajax({
        url: 'apis/album.php?cmd=count&user_id='+ localStorage.getItem('mtcs_cms_uid') + '&pid=' + localStorage.getItem('mtcs_cms_propid'),
        type : "get",
        dataType: 'json',
        success : function(result) {
             if(result.total_albums > 0){
				callApi();
			 } else{
				window.location= "#/album";
			 }
        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
    })
}
function callApi(){
	$.ajax({
        url: 'apis/album.php?cmd=albums&user_id='+ localStorage.getItem('mtcs_cms_uid') + '&pid=' + localStorage.getItem('mtcs_cms_propid'),
        type : "get",
        dataType: 'json',
        success : function(result) {
			albumDetails = result.albums;
			if(albumDetails.length > 0){
				$('#album_header').text("Albums for "+ localStorage.getItem('mtcs_cms_propname'));
				for (var i = albumDetails.length - 1; i >= 0; i--) {
						// localStorage.setItem('mtcs_cms_albumid['+i+']', albumDetails[i].id);
						// localStorage.setItem('mtcs_cms_albumtitle['+i+']', albumDetails[i].title);
						// localStorage.setItem('mtcs_cms_albumsubtitle['+i+']', albumDetails[i].subtitle);
						// localStorage.setItem('mtcs_cms_albumtags['+i+']', albumDetails[i].tags);
						var row = $('<tr><td><p class="propdescription"><strong>' + albumDetails[i].title + '</strong> </p></br><p class="propdescription"><a class="albroute" target="_blank" href="javascript:void(0);" name="' + i +'">'+
						albumDetails[i].albumlink +'</a></p></td>' + '<td>' + albumDetails[i].tags +'</td>' + '<td class="visible-md visible-lg"><div class="pull-right"><a class="btn btn-sm btn-default propbtnmm albroute" href="javascript:void(0);" name="'+ i +'">Edit</a></div></td></tr>'); 
						$('#albumdetails').append(row);
				};
				assignclick();
			} else{
				window.location= "#/album";
			}
             
        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
    })
}
function assignclick(){
	$(document).on("click", "a.albroute" , function() {
		var index = $(this).attr("name");
		localStorage.setItem('mtcs_album_curindex', index);
		var destination = $(this).text();
		if(destination == "Edit"){
			window.location="#/editalbum";
		} else{
			window.open('myalbum.html', '_blank');
		}

		localStorage.setItem('mtcs_cms_albumid', albumDetails[index].id);
		localStorage.setItem('mtcs_cms_albumtitle', albumDetails[index].title);
		localStorage.setItem('mtcs_cms_albumsubtitle', albumDetails[index].subtitle);
		localStorage.setItem('mtcs_cms_albumtags', albumDetails[index].tags);
		localStorage.setItem('mtcs_cms_albumlink', albumDetails[index].albumlink);
		
	});
}
callApi();
</script>

<!-- #/editalbum -->
