<div class="container">
	<div class="albums propcontainer">
		<div class="row">
			<div class="col-md-12">
				<h1 id="alb_header" class="propwelcomemsg">Albums for </h1>
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<p class="propimagecontainer">
							<img alt="Add a Property to Get Started" class="propimg hidden-xs" src="img/header.png">
						</p>
					</div>
					<div class="col-md-8 col-sm-8 welcome">
						<p class="propdescription">Albums makes it easy to share groups of photos with the public - without sharing important information such as the camera’s location. Just select the tags you want to be shown and myTrailcams will create an easy to use website you can share with your friends, hunting buddies or even outfitter clients.</p><p>Visitors will be able to scan through the large photo viewer and even see the weather data for particular photos from any computer, tablet or smart phone. Best of all the album will automatically update whenever you tag new photos in myTrailcams that match album settings.</p>
						<p style="margin-top: 20px;"></p>
						<div class="btn-group header-btn-group hidden-xs"></div>
						<a class="btn btn-primary btn-lg propbtnmm" href="#/addalbum">Add Your First Album</a>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
// function routes(){
// 	if (localStorage.getItem('imgrec_cms_albumid') != null && localStorage.getItem('imgrec_cms_albumid') != "") {
// 		window.location= "#/albums"; 
// 	}
// }

// routes();

function callApi(){
	if(localStorage.getItem('mtcs_cms_propname') != null && localStorage.getItem('mtcs_cms_propname') != ''){
		$('#alb_header').text("Albums for " + localStorage.getItem('mtcs_cms_propname'));
	}
	// $.ajax({
    //     url: 'apis/album.php?cmd=count&user_id='+ localStorage.getItem('mtcs_cms_uid'),
    //     type : "get",
    //     dataType: 'json',
    //     success : function(result) {
    //          if(result.total_albums > 0){
	// 			window.location= "#/albums";
	// 		 }
    //     },
    //     error: function(xhr, resp, text) {
    //         console.log(xhr, resp, text);
    //     }
    // })
}
callApi();

</script>