<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 id="prop_name" class="propwelcomemsg">Camera Locations for </h1>
			<p class="propdescription">Add, edit and view this property's trail camera locations. Once cameras are added you will have the option to toggle the camera status field to off if that location is not currently being used. This does not affect photos or data at that location.</p>
		</div>
	</div>
	<div class="row">
		<div id="map" style="width:100%;height:555px;margin-top:2%"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="cameras">
				<table class="table">
					<thead>
						<tr class="table-header">
							<th>
								<a data-remote="true" href="">Camera</a>
								<span class="sort-dir glyphicon glyphicon-chevron-up"></span>
							</th>
							<th>
								<a data-remote="true" href="">Make/Model</a>
							</th>
							<th class="text-center">
								<a data-remote="true" href="">Photos</a>
							</th>
							<th class="visible-md visible-lg text-center">
								<a data-remote="true" href="">Created</a>
							</th>
							<th class="visible-md visible-lg text-center">
								<a data-remote="true" href="">Status</a>
								<a data-toggle="modal" href="#camera-status-help" id="camera-status-help-icon">
									<span aria-hidden="true" class="icon-small icon-help mr-10"></span>
								</a>
							</th>
							<th class="visible-md visible-lg"></th>
						</tr>
					</thead>
					<tbody id="tbl_cam">
					</tbody>
				</table>
				<div aria-hidden="true" class="modal fade" id="camera-status-help" role="dialog" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
								<h3 class="modal-title">About Camera Statuses</h3>
							</div>
							<div class="modal-body">
								<p>Using camera statuses is a great way to stay organized, especially if you move cameras a lot, forget where you put them, or have a lot of cameras to keep track off (some mytTrailcams customers have over 100!). Most importantly, changing a camera's status from active (ON) to inactive (OFF) will not affect the historic data. myTrailcams will keep all the photos, stats, tags, etc. from that camera location, even if it's inactive.</p>
								<h4>How to Use</h4>
								<p>If you relocate a camera or stop using a camera just turn the location status to OFF by selecting the toggle. If you ever put a camera back in this location you can just turn it back on.</p>
								<p>When you change the status you'll also notice the icons on the satellite map change. Active cameras will be highlighted orange where inactive cameras will be grayed out. Hope this helps!</p>
							</div>
							<div class="modal-footer">
								<button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
							</div>
						</div>
					</div>
				</div>
				<div class="hidden-xs">
					<a id="addcam" class="btn btn-primary propbtnmm" href="#/addnewcam">Add a Camera</a> 
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	var camd;
	var tp;
	var map_cam;
	var marker;
	var max_cam, max_photo;
	function myMap() {
		var lat, lng;
		if(localStorage.getItem('mtcs_cms_proplat') != null && localStorage.getItem('mtcs_cms_proplat') != ''){
			lat = localStorage.getItem('mtcs_cms_proplat');
		} else {
			lat = 42.4817836;
		}
		if(localStorage.getItem('mtcs_cms_proplng') != null && localStorage.getItem('mtcs_cms_proplng') != ''){
			lng = localStorage.getItem('mtcs_cms_proplng');
		} else {
			lng = -71.1498009;
		}
		var myCenter = new google.maps.LatLng(lat,lng);
		var mapProp= {
		    center:myCenter,
		    zoom:18,
		    mapTypeId: google.maps.MapTypeId.SATELLITE
		};
		map_cam=new google.maps.Map(document.getElementById("map"),mapProp);

		max_cam = localStorage.getItem('mtcs_cms_maxcam');
		max_photo = localStorage.getItem('mtcs_cms_maxphotos');


		callApi();
		// var marker = new google.maps.Marker({
		// 	position: myCenter,
		// 	//animation:google.maps.Animation.BOUNCE
		// });
		// marker.setMap(map);
	}
	function addMarker(location, camtitle) {
        var map_icon = {
            url: 'https://storage.googleapis.com/mytrailcams/marker.png'
        };
		marker = new google.maps.Marker({
			position: location,
            zoom:21,
			title: camtitle,
			icon: map_icon,
			map:map_cam
		});
		//marker.setMap(map_cam);
	}
	function callApi(){
		$.ajax({
            url: 'apis/addcam.php?property_id='+ localStorage.getItem('mtcs_cms_propid'),
            type : "get", // type of action POST || GET
            dataType: 'json',
            success : function(result) {
				 camd = result.camdetails;
				 console.log(camd);
				 tp = result.total_photos;
				 var total = 0;
				 for (var i = 0; i < tp.length; i++) {
					total += tp[i] << 0;
				 }
				 if(camd.length > 0){
					if(camd.length>=max_cam){
						$('addcam').hide();
					}

					var name; 
					if(localStorage.getItem('mtcs_cms_propname') != null && localStorage.getItem('mtcs_cms_propname') != ''){
						name = localStorage.getItem('mtcs_cms_propname');
					} else{
						name = "NA"
					}
					$('#prop_name').text("Camera Locations for "+ name);
					
					var stat;
					var updStat;
					for(var i = camd.length - 1; i >= 0; i--){
						if(camd[i].status == 1){
							stat = 'checked';
							updStat = '';
						} else {
							stat = '';
							updStat = 'disabled';
						}

						if(total >= max_photo){
							updStat = 'disabled';
						}
						
						var row = $('<tr><td><a class="cam_rout" href="javascript:void(0);" name="' + i 
							+'">'+ camd[i].camera_name +'</a></td><td>' + camd[i].camera_modelno + '</td><td class="text-center">'
							+'<a class="cam_rout" href="javascript:void(0);" name="'+ i +'">' + tp[i] + '</a></td><td class="visible-md visible-lg text-center">' + camd[i].createdon
							+'</td><td class="visible-md visible-lg text-center"><form style="margin-left: 17%;">'
							+'<label class="switch switch-slide" style="margin-top: 0.3%;"><input class="switch-input" type="checkbox"'+ stat +' name="'
							+ i +'"/><span class="switch-label" data-on="On" data-off="Off"></span><span class="switch-handle"></span></label></form></td>'
							+ '<td class="visible-md visible-lg"><div class="pull-right">'
							+ '<a class="btn btn-sm btn-default propbtnsm cam_rout" href="javascript:void(0);" style="margin-top: 0px !important;" name="'+i+'"'+ updStat + ' >Upload</a>'
							+ '<a class="btn btn-sm btn-default propbtnsm cam_rout" href="javascript:void(0);" style="margin-top: 0px !important;" name="'+i+'">Edit</a>'
							+ '</div></td></tr>');
							
							$('#tbl_cam').append(row);
							console.log(camd[i].camera_latitude, camd[i].camera_longitude);
							//var latlng = new google.maps.LatLng(42.745334, 12.738430);
							//var latlng = new google.maps.LatLng(camd[i].camera_latitude,camd[i].camera_longitude);
							//addMarker(latlng, camd[i].camera_name);
							var latLng = new google.maps.LatLng(camd[i].camera_latitude, camd[i].camera_longitude);
							var map_icon = {
								url: 'https://storage.googleapis.com/mytrailcams/marker.png'
							};
							if(stat == 'checked'){
								var itemMarker = new google.maps.Marker({
									position: latLng,
                                    zoom:18,
									map: map_cam,
									icon: map_icon,
									animation: google.maps.Animation.DROP,
									title: camd[i].camera_name
								});
							} else{
								var itemMarker = new google.maps.Marker({
									position: latLng,
                                    zoom:18,
									map: map_cam,
									icon: map_icon,
									title: camd[i].camera_name,
									animation: google.maps.Animation.DROP,
									icon:{
										url: "http://labs.google.com/ridefinder/images/mm_20_gray.png"	
									}
								});
								// icon: {
									// 	url: "img/grayicon.png"  //http://maps.google.com/mapfiles/ms/icons/gray-dot.png
									// }
							}
							

							var contentString = '<h3>' + camd[i].camera_name + '</h3>';

							var infowindow = new google.maps.InfoWindow({
								content: contentString
							});

							itemMarker.addListener('click', function () {
								infowindow.open(map_cam, itemMarker);
							});
					};
					assignclick();
					//  $('#cam_name').text(camd[0].camera_name);
					//  $('#cam_model').text(camd[0].camera_modelno);
					//  $('#cam_photos').text(tp);
					//  $('#cam_created').text(camd[0].createdon);
					//  var stat = camd[0].status;
					//  if (stat == 1) {
					//  	$('#cam_stat').attr('checked', true);
					//  };
					//console.log(result);
				 } else{
					window.location="user.html#/newproperty";
				 }
            },
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
	}
	function assignclick(){
		$(document).on("click", "a.cam_rout" , function() {
			var index = $(this).attr("name");
			var destination = $(this).text();

			localStorage.setItem('mtcs_cms_camid', camd[index].id);
			localStorage.setItem('mtcs_cms_camname', camd[index].camera_name);
			localStorage.setItem('mtcs_cms_cammf', camd[index].camera_manufacturer);
			localStorage.setItem('mtcs_cms_cammn', camd[index].camera_modelno);
			localStorage.setItem('mtcs_cms_camstat', camd[index].status);
			localStorage.setItem('mtcs_cms_camlat', camd[index].camera_latitude);
			localStorage.setItem('mtcs_cms_camlng', camd[index].camera_longitude);
			

			if(destination == "Edit"){
				window.location="#/editcam";
			} else if(destination == "Upload"){
				if(camd[index].status == 1){
					window.location="#/uploadphotostocam";
				}
			} else if(destination == camd[index].camera_name){
				window.location="#/cameradesc";
			} else if(destination == tp[index]){
				localStorage.setItem('mtcs_cms_routepath', "camera");
				window.location="feature.html#/photos";
			}

			localStorage.setItem('mtcs_cms_camtph', tp[index]);
			// localStorage.setItem('mtcs_cms_camid['+index+']', camd[index].id);
			// localStorage.setItem('mtcs_cms_camname['+index+']', camd[index].camera_name);
			// localStorage.setItem('mtcs_cms_cammf['+index+']', camd[index].camera_manufacturer);
			// localStorage.setItem('mtcs_cms_cammn['+index+']', camd[index].camera_modelno);
			// localStorage.setItem('mtcs_cms_camstat['+index+']', camd[index].status);
			// localStorage.setItem('mtcs_cms_camlat['+index+']', camd[index].camera_latitude);
			// localStorage.setItem('mtcs_cms_camlng['+index+']', camd[index].camera_longitude);
			// localStorage.setItem('mtcs_cms_camtph['+index+']', tp[index]);
			// localStorage.setItem('mtcs_cms_camindex', index);
			
		});
	}
	myMap();
	//callApi();
</script>

<!-- <tr>
		<td>
			<a id="cam_name" href="">Patrapada</a>
		</td>
		<td id="cam_model">Kodiak xxx</td>
		<td class="text-center">
			<a id="cam_photos" href="">2</a>
		</td>
		<td id="cam_created" class="visible-md visible-lg text-center">Dec 08, 2018</td>
		<td class="visible-md visible-lg text-center">
			<form style="margin-left: 17%;">
				<label class="switch switch-slide" style="margin-top: 0.3%;">
					<input id="cam_stat" class="switch-input" type="checkbox" />
					<span class="switch-label" data-on="On" data-off="Off"></span> 
					<span class="switch-handle"></span>
				</label>
			</form>
		</td>
		<td class="visible-md visible-lg">
			<div class="pull-right">
				<a class="btn btn-sm btn-default propbtnsm" href="#/uploadphotostocam">Upload</a> 
				<a class="btn btn-sm btn-default propbtnsm" href="#/editcam">Edit</a>
			</div>
		</td>
	</tr> -->

	
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzI-rWX4tC6R3JnmXMuCG5RGCyupNHqJM&callback=myMap"></script> -->

<!-- AIzaSyC8D1Cci54AtIYsNjHOXduLhbUT668vAWI -->
