<div class="container">
	<div class="camera">
		<div class="row">
			<div class="col-md-12">
				<div class="btn-group header-btn-group pull-right hidden-xs">
					<a class="btn btn-primary propbtnmm" href="#/photos">View Photos</a>
					<a class="btn btn-primary propbtnmm" href="#/uploadphotostocam">Upload Photos</a>
				</div>
				<h1 id="cam_title" class="propwelcomemsg" class="with-subtitle" style="margin-bottom: 0%!important;">patrapada<small style="margin-left:1%;"><a href="#/editcam">Edit</a></small></h1>
				<p id="cam_subtitle" class="subtitle">Cabela's 789</p> 
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button id="defaultOpen" class="tablink" onclick="openPage('Activity', this, 'white')" style="background-color: #fff;">Activity</button>
				<button class="tablink" onclick="openPage('Tags', this, 'white')" style="margin-left: -8px;">Tags</button>
				<button class="tablink" onclick="openPage('Weather', this, 'white')" style="margin-left: -8px;">Weather</button>
				<div id="Activity" class="tabcontent" style="display:block;">
				    <div class="row">
						<div class="col-sm-10">
							<h2>Camera Activity Averages   
								<a data-toggle="modal" href="">
									<span aria-hidden="true" class="icon-small black icon-help mr-10"></span>
								</a> 
							</h2>
							<p id="cam_tphotos">Based on 1 sighting found in 
								<a id="cama_tphotos" href="#/photo">1 photo</a>
							</p>
						</div>
						<div class="col-sm-2 text-right" style="display:none;">
							<a class="btn btn-primary btn-filter propbtnmm" data-toggle="modal" href="#filter">Filter</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="activity">
								<i class="icon-wind-southwest"></i>
								<p>
									<strong id="act_dir">Southwest</strong>
									<br>
									<span>Wind Bearing</span>
								</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="activity">
								<i class="icon-waxing-crescent"></i>
								<p>
									<strong id="act_moon">Waxing Crescent</strong>
									<br>
									<span>Moon Phase</span>
								</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="activity">
								<i class="icon-time-3"></i>
								<p>
									<strong id="act_time">10AM to 2PM</strong>
									<br>
									<span>Time of Day</span>
								</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="activity">
								<i class="icon-pressure"></i>
								<p>
									<strong id="act_pressure"> 29.53 inHg</strong>
									<br>
									<span>Pressure</span>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h2>Moon Phases 
								<a data-toggle="modal" href="#moon-help">
									<span aria-hidden="true" class="icon-small black icon-help mr-10"></span>
								</a>
							</h2>
						</div>
					</div>
					<div class="row moons">
						<div class="col-md-3 col-sm-6">
							<a href="#/photo">
								<div class="activity">
									<i class="icon-new-moon"></i>
									<p>
										<strong id="moon_new">0%</strong>
										<br>
										<span>New</span>
									</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6">
							<a href="#/photo">
								<div class="activity">
									<i class="icon-waxing-crescent"></i>
									<p>
										<strong id="moon_wxc">100%</strong>
										<br>
										<span>Waxing Crescent</span>
									</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6">
							<a href="#/photo">
								<div class="activity">
									<i class="icon-first-quarter"></i>
									<p>
										<strong id="moon_fq">0%</strong>
										<br>
										<span>First Quarter</span>
									</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6">
							<a href="#/photo">
								<div class="activity">
									<i class="icon-waxing-gibbous"></i>
									<p>
										<strong id="moon_wxg">0%</strong>
										<br>
										<span>Waxing Gibbous</span>
									</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6">
							<a href="#/photo">
								<div class="activity">
									<i class="icon-full-moon"></i>
									<p>
										<strong id="moon_ful">0%</strong>
										<br>
										<span>Full</span>
									</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6">
							<a href="#/photo">
								<div class="activity">
									<i class="icon-waning-gibbous"></i>
									<p>
										<strong id="moon_wag">0%</strong>
										<br>
										<span>Waning Gibbous</span>
									</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6">
							<a href="#/photo">
								<div class="activity">
									<i class="icon-last-quarter"></i>
									<p>
										<strong id="moon_lq">0%</strong>
										<br>
										<span>Last Quarter</span>
									</p>
								</div>
							</a>
						</div>
						<div class="col-md-3 col-sm-6">
							<a href="#/photo">
								<div class="activity">
									<i class="icon-waning-crescent"></i>
									<p>
										<strong id="moon_wac">0%</strong>
										<br>
										<span>Waning Crescent</span>
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div id="Tags" class="tabcontent">
					<div class="row">
						<div class="col-md-12">
							<h2 style="margin-bottom: 1%;">Tagged Photos 
								<a data-toggle="modal" href="#tag-help">
									<span aria-hidden="true" class="icon-small black icon-help mr-10"></span>
								</a>
							</h2>
							<div class="row" id="tag_container">
								
							</div>
						</div>
					</div>
				</div>
				<div id="Weather" class="tabcontent">
					<div class="row">
						<div class="col-md-12">
							<h2>Current Forecast for Camera 
								<a data-toggle="modal" href="#weather-help">
									<span aria-hidden="true" class="icon-small black icon-help mr-10"></span>
								</a>
							</h2>
							<iframe frameborder="0" height="245" id="forecast_embed" src="" type="text/html" width="90%"></iframe>
						</div>
					</div> 
				</div>
			</div>			
		</div>
	</div>
</div>

<script>
	var datas, images, weather, mPhase;
	var results = [];
	var wind_data = [];
	var pressure_data = [];
	var sightingCountByTime0To4 = 0, sightingCountByTime4To8 = 0, sightingCountByTime8To12 = 0, 
			sightingCountByTime12To16 = 0, sightingCountByTime16To20 = 0, sightingCountByTime20To24 = 0, 
			totalSightingCountByTime = 0;
	var sightingByNewmoon = 0, sightingBywaxingCrescentMoon = 0, sightingCountByQuarterMoon = 0, 
			sightingCountByWaxingGibbousMoon = 0, sightingCountByFullMoon = 0, sightingCountByWaningGibbousMoon = 0, 
			sightingCountByLastQuarterMoon = 0, sightingCountByWaningCrescentMoon = 0;

	function openPage(pageName,elmnt,color) {
	    var i, tabcontent, tablinks;
	    tabcontent = document.getElementsByClassName("tabcontent");
	    for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	    }
	    tablinks = document.getElementsByClassName("tablink");
	    for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].style.backgroundColor = "";
	    }
	    document.getElementById(pageName).style.display = "block";
	    elmnt.style.backgroundColor = color;

	}
	function updateDatainCamdesc(){
		var lat = localStorage.getItem("mtcs_cms_camlat");
		var lon = localStorage.getItem("mtcs_cms_camlng");
		var name = localStorage.getItem('mtcs_cms_camname');
		$('#cam_title').text(name);
		$('#cam_subtitle').text(localStorage.getItem('mtcs_cms_cammf'));
		$('#cam_tphotos').text('Based on '+localStorage.getItem('mtcs_cms_camtph')+' sighting found in');
		$('#cama_tphotos').text('' + localStorage.getItem('mtcs_cms_camtph'));

		var url;
		if(localStorage.getItem('usr_pref_tmp') == "F"){
			url = "https://forecast.io/embed/#lat=" + lat + "&lon=" + lon + "&name=" + name + "&color=#385723&units=us";
		} else{
			url = "https://forecast.io/embed/#lat=" + lat + "&lon=" + lon + "&name=" + name + "&color=#385723";
		}

		
		console.log(url);
		$('#forecast_embed').attr('src', url)
		localStorage.setItem('mtcs_cms_routepath', "cameradesc");
		getTags();
	}

	function getTags(){
		var address = 'apis/updatemedia.php?cmd=camdesc&prop_id=' + localStorage.getItem('mtcs_cms_propid') + '&camid=' + localStorage.getItem("mtcs_cms_camid");
		$.ajax({
	        url: address,
	        type : "GET", // type of action POST || GET
	        dataType: 'json',
	        success : function(result) {
				datas = result.paths;
				weather = result.weather;
				console.log(result); 
	        	if (datas.length > 0) {
					datas.sort(function compare(a, b) {
						var dateA = new Date(a.img_datetime);
						var dateB = new Date(b.img_datetime);
						return dateA - dateB;
					});

					var uniqueTags = [];
					var monthWithYear;

					var date, hr;

					for(var i = 0; i < datas.length; i++){
						var uniqueList=datas[i].img_tag.split(',').filter(function(item,i,allItems){
							return i==allItems.indexOf(item);
						}).join(',');
						
						var tag_list = datas[i].img_tag.split(',');
						for(var j = 0; j < tag_list.length; j++){
							uniqueTags.push(tag_list[j]);
						}
						date = new Date(datas[i].img_datetime);
						hr = date.getHours();
						if(hr > 0 && hr <= 4){
							sightingCountByTime0To4++;
						} else if(hr > 4 && hr <= 8){
							sightingCountByTime4To8++;
						} else if(hr > 8 && hr <= 12){
							sightingCountByTime8To12++;
						} else if(hr > 12 && hr <= 16){
							sightingCountByTime12To16++;
						} else if(hr > 16 && hr <= 20){
							sightingCountByTime16To20++;
						} else if(hr > 20 && hr <= 24){
							sightingCountByTime20To24++;
						}
					}

					var sorted_uniqueTags = uniqueTags.slice().sort();
					
					for (var i = 0; i < sorted_uniqueTags.length; i++) {
						if ($.inArray(sorted_uniqueTags[i], uniqueTags) !== -1) {
							if($.inArray(sorted_uniqueTags[i], results) === -1) 
								results.push(sorted_uniqueTags[i]);
							//results.push(sorted_uniqueTags[i]);
						} else{
							if($.inArray(sorted_uniqueTags[i], results) === -1) 
								results.push(sorted_uniqueTags[i]);
						}
					}

					//console.log(results);
					var occurance = 0;
					for(var k = 0; k < results.length; k++){
						if(results[k]!=""){
							for(var l = 0; l< datas.length; l++){
								if(datas[l].img_tag.indexOf(results[k]) !== -1){
									occurance++;
								}
							}
							
							var row = $('<div class="col-md-4 col-sm-6"><a href="javascript:void(0);"><div class="tag"><div class="pull-right label label-default">'+ occurance
								 		+'</div>'+ results[k] + '</div></a></div>');

							$('#tag_container').append(row);
							occurance = 0;
						}
					}

					var sum = 0;
					for(var m = 0; m < weather.length; m++){
						mPhase = weather[m].moonphase;
						var wind_dir = weather[m].winddirection;
						var pressure = weather[m].pressure;
						wind_data.push(wind_dir);
						sum += parseInt(pressure, 10 );
						//pressure_data.push(pressure);

						if(mPhase == 'new-moon'){
							sightingByNewmoon++;
						} else if(mPhase == 'waxing-crescent-moon'){
							sightingBywaxingCrescentMoon++;
						} else if(mPhase == 'quarter-moon'){
							sightingCountByQuarterMoon++;
						} else if(mPhase == 'waxing-gibbous-moon'){
							sightingCountByWaxingGibbousMoon++;
						} else if(mPhase == 'full-moon'){
							sightingCountByFullMoon++;
						} else if(mPhase == 'waning-gibbous-moon'){
							sightingCountByWaningGibbousMoon++;
						} else if(mPhase == 'last-quarter-moon'){
							sightingCountByLastQuarterMoon++;
						} else if(mPhase == 'waning-crescent-moon'){
							sightingCountByWaningCrescentMoon++;
						}
					}

					var wd = getMostOccuredElement(wind_data);

					if(wd == "N"){
						$("#act_dir").text("NORTH");
					} else if(wd == "NNE"){
						$("#act_dir").text("NORTH-NOERTH-EAST");
					} else if(wd == "NE"){
						$("#act_dir").text("NORTH-EAST");
					} else if(wd == "ENE"){
						$("#act_dir").text("EAST-NOERTH-EAST");
					} else if(wd == "E"){
						$("#act_dir").text("EAST");
					} else if(wd == "ESE"){
						$("#act_dir").text("EAST-SOUTH-EAST");
					} else if(wd == "SE"){
						$("#act_dir").text("SOUTH-EAST");
					} else if(wd == "SSE"){
						$("#act_dir").text("SOUTH-SOUTH-EAST");
					} else if(wd == "S"){
						$("#act_dir").text("SOUTH");
					} else if(wd == "SSW"){
						$("#act_dir").text("SOUTH-SOUTH-WEST");
					} else if(wd == "SW"){
						$("#act_dir").text("SOUTH-WEST");
					} else if(wd == "WSW"){
						$("#act_dir").text("WEST-SOUTH-WEST");
					} else if(wd == "W"){
						$("#act_dir").text("WEST");
					} else if(wd== "WNW"){
						$("#act_dir").text("WEST-NORTH-WEST");
					} else if(wd == "NW"){
						$("#act_dir").text("NORTH-WEST");
					} else if(wd == "NNW"){
						$("#act_dir").text("NORTH-NORTH-WEST");
					}

					var avg = sum/weather.length;
					var f_pressur = avg / 100;

					if(localStorage.getItem('usr_pref_pressure') == "I"){
						var pressureInIPM = f_pressur * 0.02953;
						$("#act_pressure").text((pressureInIPM.toFixed(2)).toString() + " inIPM");
					} else{
						$("#act_pressure").text((f_pressur.toFixed(2)).toString() + " inHG");
						// $("#phpressure").hide();
						// $(".phpressure").hide();
					}

					// $("#act_pressure").text(f_pressur + " inHG");

					var totalMoonPhase = sightingByNewmoon + sightingBywaxingCrescentMoon + 
											sightingCountByQuarterMoon + sightingCountByWaxingGibbousMoon + sightingCountByFullMoon + 
											sightingCountByWaningGibbousMoon + sightingCountByLastQuarterMoon + sightingCountByWaningCrescentMoon;
																		
					sightingByNewmoon = ((sightingByNewmoon * 100) / totalMoonPhase);
					sightingBywaxingCrescentMoon = ((sightingBywaxingCrescentMoon * 100) / totalMoonPhase);
					sightingCountByQuarterMoon = ((sightingCountByQuarterMoon * 100) / totalMoonPhase);
					sightingCountByWaxingGibbousMoon = ((sightingCountByWaxingGibbousMoon * 100) / totalMoonPhase);
					sightingCountByFullMoon = ((sightingCountByFullMoon * 100) / totalMoonPhase);
					sightingCountByWaningGibbousMoon = ((sightingCountByWaningGibbousMoon * 100) / totalMoonPhase);
					sightingCountByLastQuarterMoon = ((sightingCountByLastQuarterMoon * 100) / totalMoonPhase);
					sightingCountByWaningCrescentMoon = ((sightingCountByTime20To24 * 100) / totalMoonPhase);

					$("#moon_new").text(sightingByNewmoon.toString() + "%");
					$("#moon_wxc").text(sightingBywaxingCrescentMoon.toString() + "%");
					$("#moon_fq").text(sightingCountByQuarterMoon.toString() + "%");
					$("#moon_wxg").text(sightingCountByWaxingGibbousMoon.toString() + "%");
					$("#moon_ful").text(sightingCountByFullMoon.toString() + "%");
					$("#moon_wac").text(sightingCountByWaningGibbousMoon.toString() + "%");
					$("#moon_lq").text(sightingCountByLastQuarterMoon.toString() + "%");
					$("#moon_wag").text(sightingCountByWaningCrescentMoon.toString() + "%");

					var _array = [sightingByNewmoon, sightingBywaxingCrescentMoon, sightingCountByQuarterMoon, sightingCountByWaxingGibbousMoon,
							sightingCountByFullMoon, sightingCountByWaningGibbousMoon, sightingCountByLastQuarterMoon, sightingCountByWaningCrescentMoon]
					var activeMoonPhase = Math.max.apply(Math,_array);
					if(activeMoonPhase == sightingByNewmoon){
						$('#act_moon').text("new-moon");
					} else if(activeMoonPhase == sightingBywaxingCrescentMoon){
						$('#act_moon').text("waxing-crescent-moon");
					} else if(activeMoonPhase == sightingCountByQuarterMoon){
						$('#act_moon').text("quarter-moon");
					} else if(activeMoonPhase == sightingCountByWaxingGibbousMoon){
						$('#act_moon').text("waxing-gibbous-moon");
					} else if(activeMoonPhase == sightingCountByFullMoon){
						$('#act_moon').text("full-moon");
					} else if(activeMoonPhase == sightingCountByWaningGibbousMoon){
						$('#act_moon').text("waning-gibbous-moon");
					} else if(activeMoonPhase == sightingCountByLastQuarterMoon){
						$('#act_moon').text("last-quarter-moon");
					} else if(activeMoonPhase == sightingCountByWaningCrescentMoon){
						$('#act_moon').text("waning-crescent-moon");
					}

					var _array1 = [sightingCountByTime0To4, sightingCountByTime4To8, sightingCountByTime8To12, sightingCountByTime12To16,
									sightingCountByTime16To20, sightingCountByTime20To24]
					var activeSighting = Math.max.apply(Math,_array1);
					if(activeSighting == sightingCountByTime0To4){
						$('#act_time').text("12AM TO 4AM");
					} else if(activeSighting == sightingCountByTime4To8){
						$('#act_time').text("4AM TO 8AM");
					} else if(activeSighting == sightingCountByTime8To12){
						$('#act_time').text("8AM TO 12PM");
					} else if(activeSighting == sightingCountByTime12To16){
						$('#act_time').text("12PM TO 4PM");
					} else if(activeSighting == sightingCountByTime16To20){
						$('#act_time').text("4PM TO 8PM");
					} else if(activeSighting == sightingCountByTime20To24){
						$('#act_time').text("8PM TO 12AM");
					} 
				}
				
				//callApi();
	        	
	        },
	        error: function(xhr, resp, text) {
	            console.log(xhr, resp, text);
	        }
	    })
	}

	function getMostOccuredElement(array)
	{
		if(array.length == 0)
			return null;

		var modeMap = {};
		var maxEl = array[0], maxCount = 1;
		for(var i = 0; i < array.length; i++)
		{
			var el = array[i];
			if(modeMap[el] == null)
				modeMap[el] = 1;
			else
				modeMap[el]++;  
			if(modeMap[el] > maxCount)
			{
				maxEl = el;
				maxCount = modeMap[el];
			}
		}
		return maxEl;
	}
	
	updateDatainCamdesc();
</script>

