<div class="container">
	<h1 class="propwelcomemsg">Canceling Your Account</h1>
	<div class="row cancel-account">
		<div class="col-md-9">
			<p>We hate goodbyes. If there is anything we can do to help, 
				<a href="mailto:">please let us know</a>.
			</p>
			<form>
				<div class="form-group">
					<label for="cancelation_reason_id">Please let us know why you've decided to cancel:</label>
					<div class="radio" style="margin-left: 2%;">
						<label>
							<input type="radio" name="cancelation_reason_id" id="cancelation_reason_id_1" value="1" class="cancel-reason" data-question="Could you elaborate on the features we are missing?" style="float: left;margin-left: -20px;">It lacks features that I need
						</label>
					</div>
					<div class="radio" style="margin-left: 2%;">
						<label>
							<input type="radio" name="cancelation_reason_id" id="cancelation_reason_id_2" value="2" class="cancel-reason" data-question="Is there anything we could do to make myTrailcams more useful to you?" style="float: left;margin-left: -20px;">I don't use it enough
						</label>
					</div>
					<div class="radio" style="margin-left: 2%;">
						<label>
							<input type="radio" name="cancelation_reason_id" id="cancelation_reason_id_3" value="3" class="cancel-reason" data-question="null" style="float: left;margin-left: -20px;">It costs too much
						</label>
					</div>
					<div class="radio" style="margin-left: 2%;"> 
						<label>
							<input type="radio" name="cancelation_reason_id" id="cancelation_reason_id_4" value="4" class="cancel-reason" data-question="What is the name of the other app?" style="float: left;margin-left: -20px;">I found another app I like better
						</label>
					</div>
					<div class="radio" style="margin-left: 2%;">
						<label>
							<input type="radio" name="cancelation_reason_id" id="cancelation_reason_id_5" value="5" class="cancel-reason" data-question="null" style="float: left;margin-left: -20px;">I just want to close my account
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="cancel-reason" for="cancelation_note">Anything else you'd like us to know?</label>
					<textarea name="cancelation_note" id="cancelation_note" class="form-control-p"></textarea>
				</div>
				<div class="form-group">
					<label for="password">Verify your password:</label>
					<input type="password" name="password" id="password" value="" class="form-control-p">
				</div>
				<div class="text-danger">
					<p>By canceling your account, all properties, cameras, uploaded photos and photo data will be deleted. Your subscription will be canceled immediately and you will no longer be charged.
					</p>
					<p><strong>This action cannot be undone.</strong></p>
				</div>
				<div class="buttons">
					<input id="cancel_usr"  type="button" name="commit" value="Permanently Cancel My Account" class="btn btn-primary btn-danger propbtn" data-confirm="Are you sure you want to permanently delete your account?<br><br><strong>This cannot be undone</strong>." style="background-color: #B20000 !important; border-color:#B20000 !important;">
				</div>
				</br>
			</form>
		</div>
	</div>
</div>

<script>
	$("#cancel_usr").on('click', function(){
		var cancell_tag = "";
		if($('#cancelation_reason_id_1').is(':checked')) 
		{
			cancell_tag = cancell_tag + $('#cancelation_reason_id_1').text();
		}
		if($('#cancelation_reason_id_2').is(':checked')) 
		{
			cancell_tag = cancell_tag + $('#cancelation_reason_id_2').text();
		}
		if($('#cancelation_reason_id_3').is(':checked')) 
		{
			cancell_tag = cancell_tag + $('#cancelation_reason_id_3').text();
		}
		if($('#cancelation_reason_id_4').is(':checked')) 
		{
			cancell_tag = cancell_tag + $('#cancelation_reason_id_4').text();
		}
		if($('#cancelation_reason_id_5').is(':checked')) 
		{
			cancell_tag = cancell_tag + $('#cancelation_reason_id_5').text();
		}
		var note = $('#cancelation_note').val();
		if(note!= undefined && note != null && note.length > 0) 
		{
			cancell_tag = cancell_tag + note;
		}
		var pw = $("#password").val();
		if(pw == undefined || pw == null || pw.length <= 0 || pw == ''){
			alert("Please enter password.");
			return;
		}
		

		var jsndata = {
        	user_id:localStorage.getItem('mtcs_cms_uid'), 
			password: pw,     //document.getElementById().value
			cancel_tag: cancell_tag
        };
		console.log(jsndata);
		$.ajax({
			url: 'apis/userinfo.php', // url whsere to submit the request
			type : "DELETE", // type of action POST || GET
			data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
			contentType: 'application/json',
			success : function(result) {
				//alert(result.msg);
				//console.log(result);
				//window.location="index.html";
				cancelPlan();
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
		
	});
	function cancelPlan(){
		$.ajax({
			url: 'apis/subscription.php?customer_id='+ localStorage.getItem('mtcs_cms_customerid'),
			type : "PUT",
			dataType: 'json',
			success : function(result) {
				// initiatePortal();
				window.location="index.html";
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
	}
</script>