<div class="container">
	<h1 class="propwelcomemsg">Editing Album: ExpAlbum</h1>
	<!-- <form> -->
		<div class="row">
			<div class="col-md-12"></div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="edt_album_title">Title</label>
					<input class="form-control-p" type="text" value="ExpAlbum" name="album_title" id="edt_album_title">
					<div class="help-block">Album name will appear on public website.</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="edt_album_subtitle">Subtitle</label>
					<input class="form-control-p" type="text" value="Exp" name="album_subtitle" id="edt_album_subtitle">
					<div class="help-block">Optional description of album.</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="album_tag_list">Tags</label>
					<select name="tags" id="edt_album_tag_list" tabindex="-1" class="form-control-p selectize-with-empty range-option selectized" style="width: 100%;">
						<option value="any" selected="selected">Choose tags...</option>
					</select>
					<div class="help-block">All photos with these tags will automatically be included in this album.</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
				<p class="pull-right">
					<!-- <input id="btn_del_album" type="button" name="btn_del_album" value="Delete Album..." class="btn btn-primary propbtnmm"> -->
					<a class="btn btn-delete-hover propbtnmm" data-toggle="modal" href="javascript:void(0);" data-target="#modal_album">Delete Album...</a>
				</p>
				<input id="btn_upd_album" type="button" name="commit" value="Update Album" class="btn btn-primary propbtnmm">
				<!-- <a class="btn btn-primary propbtnmm" href="#/albums">Update Album</a> -->
			</div>
		</div>
	<!-- </form> -->
</div>

<div class="container">
		<div class="modal fade" id="modal_album" role="dialog">
			<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete this album?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="propbtnmm" data-dismiss="modal">KEEP ALBUM</button>
					<button id="btn_del_album" type="button" class="propbtnmm" data-dismiss="modal">DELETE ALBUM</button>
				</div>
			</div>
			</div>
		</div>
	</div>


<script>
	var index;
	function getTags(){
		var address = 'apis/updatemedia.php?cmd=photos&prop_id=' + localStorage.getItem('mtcs_cms_propid');
		$.ajax({
	        url: address,
	        type : "GET", // type of action POST || GET
	        dataType: 'json',
	        success : function(result) {
				datas = result.paths;
				images = result.images; 
	        	if (datas.length > 0) {
					datas.sort(function compare(a, b) {
						var dateA = new Date(a.img_datetime);
						var dateB = new Date(b.img_datetime);
						return dateA - dateB;
					});

					var uniqueTags = [];
					var monthWithYear;

					for(var i = 0; i < datas.length; i++){
						var uniqueList=datas[i].img_tag.split(',').filter(function(item,i,allItems){
							return i==allItems.indexOf(item);
						}).join(',');
						
						var tag_list = datas[i].img_tag.split(',');
						for(var j = 0; j < tag_list.length; j++){
							uniqueTags.push(tag_list[j]);
						}
					}

					var sorted_uniqueTags = uniqueTags.slice().sort();
					var results = [];
					for (var i = 0; i < sorted_uniqueTags.length - 1; i++) {
						if (sorted_uniqueTags[i + 1] == uniqueTags[i]) {
							if($.inArray(sorted_uniqueTags[i], results) === -1) results.push(sorted_uniqueTags[i]);
						}
					}

					var occurance = 0;
					for(var k = 0; k < results.length; k++){
						if(results[k]!=""){
							$('#edt_album_tag_list')
							.append($("<option></option>")
										.attr("value",results[k])
										.text(results[k]));
						}
					}

					updateAlbumDate();
	        	}
	        	
	        },
	        error: function(xhr, resp, text) {
	            console.log(xhr, resp, text);
	        }
	    })
	}

	function updateAlbumDate(){
		//index = localStorage.getItem('mtcs_album_curindex');
		// $('#edt_album_title').val(localStorage.getItem('mtcs_cms_albumtitle['+index+']'));
		// $('#edt_album_subtitle').val(localStorage.getItem('mtcs_cms_albumsubtitle['+index+']'));
		// $('#edt_album_tag_list :selected').text(localStorage.getItem('mtcs_cms_albumtags['+index+']'));
		$('#edt_album_title').val(localStorage.getItem('mtcs_cms_albumtitle'));
		$('#edt_album_subtitle').val(localStorage.getItem('mtcs_cms_albumsubtitle'));
		$('#edt_album_tag_list :selected').text(localStorage.getItem('mtcs_cms_albumtags'));
	}
	
	$("#btn_upd_album").on('click', function(){
	var jsndata = {
		album_id:localStorage.getItem('mtcs_cms_albumid'),
		album_title: $('#edt_album_title').val(),
		album_subtitle: $('#edt_album_subtitle').val()
	};
	// send ajax
	$.ajax({
		url: 'apis/album.php',
		type : "PUT", // type of action POST || GET
		data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
		contentType: 'application/json',
		success : function(result) {
			console.log(result);
			window.location= "#/albums"; 
		},
		error: function(xhr, resp, text) {
			console.log(xhr, resp, text);
		}
	})
});
$("#btn_del_album").on('click', function(){
	var jsndata = {
		album_id:localStorage.getItem('mtcs_cms_albumid')
	};
	// send ajax
	$.ajax({
		url: 'apis/album.php',
		type : "DELETE", // type of action POST || GET
		data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
		contentType: 'application/json',
		success : function(result) {
			console.log(result);
			window.location= "#/albums"; 
		},
		error: function(xhr, resp, text) {
			console.log(xhr, resp, text);
		}
	})
});

getTags();
</script>



<!-- <option value="any">animal</option>
<option value="any">antler</option>
<option value="any">bird</option>
<option value="any">cell phone</option>
<option value="any">deer</option>
<option value="any">electronics</option>
<option value="any">elk</option> -->