<div class="container">
	<!--<form>-->
		<div class="row">
			<div class="col-md-12">
				<h1 class="propwelcomemsg">Edit Property</h1>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-md-6">
					<label class="control-label" for="property_name">Name</label>
					<input class="form-control-p" placeholder="(i.e BuckMaster Hunt Camp)" type="text" value="" name="property[name]" id="property_name">
					<span class="help-block">Used to organize groups of cameras &amp; photos.</span>
				</div>
				<div class="col-md-6">
					<label class="control-label" for="property_time_zone">Time Zone</label>
					<p id="prop_timezone" class="form-control-static">US Central</p>
					<span class="help-block">Your property's time zone. The time zone cannot bechanged after you've uploaded photos.</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
				<p class="pull-right">
					<!-- <input id="del_prop" type="button" class="btn btn-delete-hover propbtnmm" value="Delete Property..." name="del_prop">  id="del_prop"-->
					<a class="btn btn-delete-hover propbtnmm" data-toggle="modal" href="javascript:void(0);" data-target="#modal_property">Delete Property...</a>
				</p>
				<p>
					<input id="upd_prop" type="button" name="commit" value="Update Property" class="btn btn-primary propbtnmm">
					<!-- <a class="btn btn-delete-hover propbtnmm" data-toggle="modal" href="#/afteraddedprop">Update Property</a> -->
				</p>
			</div>
		</div>
	<!--</form>-->
</div>
<div class="container">
	<div class="modal fade" id="modal_property" role="dialog">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<p>If you delete this property <strong>you will lose all photos and data associated with it.</strong> Are you sure you want to delete this property?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="propbtnmm" data-dismiss="modal">KEEP PROPERTY</button>
				<button id="del_prop" type="button" class="propbtnmm" data-dismiss="modal">DELETE PROPERTY</button>
			</div>
		</div>
		</div>
	</div>
</div>

<script type="text/javascript">
// if (localStorage.getItem('mtcs_cms_propname') != null && localStorage.getItem('mtcs_cms_propname') !="") {
// 	$('#property_name').text(localStorage.getItem('mtcs_cms_propname'));
// };
// var isupd = false;
// var isdel = false;
// // window.onhashchange = function() {
// // 	if(isupd == false && isdel == false){
// // 		window.location= "#/editprop"; 
// // 	}
// // }

function updatePropDate(){
	//var index = localStorage.getItem('mtcs_cms_propindex');
	//console.log(localStorage.getItem('mtcs_cms_propname['+index+']'));
	// $('#property_name').val(localStorage.getItem('mtcs_cms_propname['+index+']'));
	// $('#prop_timezone').text(localStorage.getItem('mtcs_cms_proptz['+index+']'));

	$('#property_name').val(localStorage.getItem('mtcs_cms_propname'));
	$('#prop_timezone').text(localStorage.getItem('mtcs_cms_proptz'));
}

// bajb_backdetect.OnBack = function()
// {
// 	window.location= "#/afteraddedprop"; 
// }

updatePropDate();
$("#upd_prop").on('click', function(){
	var jsndata = {
		prop_id:localStorage.getItem('mtcs_cms_propid'), 
		prop_name: $("#property_name").val()
	};
	// send ajax
	$.ajax({
		url: 'apis/addprop.php',
		type : "PUT", // type of action POST || GET
		data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
		contentType: 'application/json',
		success : function(result) {
			console.log(result);
			//isupd = true;
			window.location= "#/afteraddedprop"; 
		},
		error: function(xhr, resp, text) {
			console.log(xhr, resp, text);
		}
	})
});
$("#del_prop").on('click', function(){
	var jsndata = {
		prop_id:localStorage.getItem('mtcs_cms_propid')
	};
	// send ajax
	$.ajax({
		url: 'apis/addprop.php',
		type : "DELETE",
		data : JSON.stringify(jsndata),
		contentType: 'application/json',
		success : function(result) {
			console.log(result);
			//isdel = true;
			window.location= "#/afteraddedprop"; 
		},
		error: function(xhr, resp, text) {
			console.log(xhr, resp, text);
		}
	})
});
</script>
