<div class="container">
	<h1 id="edt_profile_header" class="propwelcomemsg">Editing Profile: ExpProp</h1>
	<!-- <form> -->
		<div class="row">
			<div class="col-md-12"></div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="profile_status">Status</label>
					<select class="selectize form-control-p selectized" name="profile[status]" id="edt_profile_status" tabindex="-1">
						<option value="" selected="selected">Watching</option>
						<option value="">Hit List</option>
						<option value="">Harvested</option>
					</select>
					<div class="help-block">Allows you to filter based on status.</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="profile_name">Display Name</label>
					<input class="form-control-p" type="text" value="ExpProp" name="profile[name]" id="edt_profile_name">
					<div class="help-block">Optional. If blank, we will use the tag as the display name.</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
				<p class="pull-right">
					<input id="del_profile" type="button" name="del_profile" value="Delete Profile..." class="btn btn-primary propbtnmm">
					<!-- <a class="btn btn-delete-hover propbtnmm" data-confirm="Are you sure you want to delete this profile?" rel="nofollow" data-method="delete" href="">Delete Profile...</a> -->
				</p>
				<input id="upd_profile" type="button" name="commit" value="Save Profile" class="btn btn-primary propbtnmm">
			</div>
		</div>
	</form>
</div>


<script type="text/javascript">
	// if (localStorage.getItem('mtcs_cms_propname') != null && localStorage.getItem('mtcs_cms_propname') !="") {
	// 	$('#property_name').text(localStorage.getItem('mtcs_cms_propname'));
	// };
	var index;
	function updatePropDate(){
		index = localStorage.getItem('mtcs_prof_curindex');
		$('#edt_profile_header').text("Editing Profile: " + localStorage.getItem('mtcs_cms_profname['+index+']'));
		$('#edt_profile_name').val(localStorage.getItem('mtcs_cms_profname['+index+']'));
		$('#edt_profile_status :selected').text(localStorage.getItem('mtcs_cms_profstat['+index+']'));
	}
	
	updatePropDate();

	$("#upd_profile").on('click', function(){
		var text = $('#edt_profile_status :selected').text();
		var status;
		if (text=="Watching") {
			status = 1;
		}else if (text=="Hit List") {
			status = 2;
		} else if (text=="Harvested") {
			status = 3;
		}
		var jsndata = {
			prof_id:localStorage.getItem('mtcs_cms_profid['+index+']'), 
			prof_name: $("#edt_profile_name").val(),
			prof_stat:status
		};
		// send ajax
		$.ajax({
			url: 'apis/profile.php',
			type : "PUT", // type of action POST || GET
			data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
			contentType: 'application/json',
			success : function(result) {
				console.log(result);
				window.location= "#/profiles"; 
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
	});
	$("#del_profile").on('click', function(){
		var jsndata = {
			prof_id:localStorage.getItem('mtcs_cms_profid['+index+']')
		};
		// send ajax
		$.ajax({
			url: 'apis/profile.php',
			type : "DELETE", // type of action POST || GET
			data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
			contentType: 'application/json',
			success : function(result) {
				console.log(result);
				window.location= "#/profiles"; 
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
	});
	</script>
	