<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 id="edt_prop_name" class="propwelcomemsg">Editing Patrapada</h1>
			<h3>About Trail Camera</h3>
			<div class="row">
				<div class="col-md-12 form-group">
					<label class="control-label" for="camera_name">Name of Camera Location</label>
					<input class="form-control-p" placeholder="e.g NE Food Plot" type="text" value="Patrapada" name="camera_name" id="camera_name">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 form-group">
					<label class="control-label" for="camera_manufacturer">Camera Manufacturer</label>
					<select class="form-control-p selectized" autocomplete="off" name="camera[manufacturer]" id="camera_manufacturer" tabindex="-1">
							<option value="" selected="">Bushnell</option>
							<option value="" selected="">Big Game Treestands</option>
							<option value="" selected="">Browning</option>
							<option value="" selected="">BuckEye Cam</option>
							<option value="" selected="">Cabela's</option>
							<option value="" selected="">Covert</option>
							<option value="" selected="">Cuddeback</option>
							<option value="" selected="">Day 6 Outdoors</option>
							<option value="" selected="">Exodus</option>
							<option value="" selected="">Eyecon</option>
							<option value="" selected="">Haw</option>
							<option value="" selected="">Hunten Outdoors</option>
							<option value="" selected="">Kodiak</option>
							<option value="" selected="">Leupold</option>
							<option value="" selected="">Meyer</option>
							<option value="" selected="">Midland</option>
							<option value="" selected="">Minox</option>
							<option value="" selected="">Moultrie</option>
							<option value="" selected="">Muddy</option>
							<option value="" selected="">OldBoys Outdoors</option>
							<option value="" selected="">Reconyx</option>
							<option value="" selected="">Radix</option>
							<option value="" selected="">Rhino Outdoors</option>
							<option value="" selected="">Scoutguard</option>
							<option value="" selected="">Sniper</option>				
							<option value="" selected="">Simmons</option>
							<option value="" selected="">Spypoint</option>
							<option value="" selected="">Stealth Cam</option>
							<option value="" selected="">Tasco</option>
							<option value="" selected="">USA Trail Cams</option>
							<option value="" selected="">Uway Outdoor</option>
							<option value="" selected="">Wildgame Innovations</option>
							<option value="" selected="">Wildview</option>
					</select>
				</div>
				<div class="col-md-6 form-group">
					<label class="control-label" for="camera_model">Model Number</label>
					<input class="form-control-p" placeholder="e.g. Trophy Cam HD Wireless" type="text" value="xxx" name="camera[model]" id="camera_model">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label class="control-label" for="camera_active">Camera Status</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label class="switch switch-slide" style="margin-top: 0.3%;">
						<input class="switch-input" type="checkbox" id="camera_stat" />
						<span class="switch-label" data-on="On" data-off="Off"></span> 
						<span class="switch-handle"></span>
					</label>
					<p>The camera status is a helpful option when cameras are moved. If you are currently not using this location just turn it "OFF". myTrailCams will keep all the photos, stats, tags, etc. from the camera location, even if it's inactive. Be sure to select "Update Camera Location" to save your changes.</p>
				</div>
			</div>
			<hr>
			<p class="pull-right">
				<!-- <input id="del_cam" type="button" name="del_cam" value="Delete Camera..." class="btn btn-primary propbtnmm"> -->
				<a class="btn btn-delete-hover propbtnmm" data-toggle="modal" href="javascript:void(0);" data-target="#modal_cam_rm">Delete Camera...</a>
			</p>
			<p>
				<input id="upd_cam" type="button" name="commit" value="Update Camera" class="btn btn-primary propbtnmm">
				<!-- <a class="btn btn-delete-hover propbtnmm" data-toggle="modal" href="#/camera">Update Camera</a> -->
			</p>
			<p></p>
			<div class="container">
				<div class="modal fade" id="modal_cam_rm" role="dialog">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					  </div>
					  <div class="modal-body">
							<p>If you delete this trail camera <strong>you will lose all photos and data associated with it.</strong> Are you sure you want to delete this camera?</p>
					  </div>
					  <div class="modal-footer">
						  <button type="button" class="propbtnmm" data-dismiss="modal">KEEP CAMERA</button>
						  <button id="del_cam" type="button" class="propbtnmm" data-dismiss="modal">DELETE CAMERA</button>
					  </div>
					</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var isupd = false;
	var isdel = false;
	// window.onhashchange = function() {
	// 	if(isupd == false && isdel == false){
	// 		window.location= "#/editcam"; 
	// 	}
	// }
	function updateData(){
		//var index = localStorage.getItem('mtcs_cms_camindex');
		//console.log(localStorage.getItem('mtcs_cms_camname['+index+']'));
		$('#edt_prop_name').text("Editing "+ localStorage.getItem('mtcs_cms_propname'));
		$('#camera_name').val(localStorage.getItem('mtcs_cms_camname'));
		$('#camera_model').val(localStorage.getItem('mtcs_cms_cammn'));
		$('#camera_manufacturer :selected').text(localStorage.getItem('mtcs_cms_cammf'));
		var stat = localStorage.getItem('mtcs_cms_camstat');
		if (stat == 1) {
			$('#camera_stat').attr('checked', true);
		};
	}
	// bajb_backdetect.OnBack = function(){
	// 	window.location= "#/camera"; 
	// }
	$("#upd_cam").on('click', function(){
		var stat;
		if($('#camera_stat').prop("checked") == true){
			stat = 1;
		} else if($('#camera_stat').prop("checked") == false){
			stat = 0;
		}
        var jsndata = {
        	cam_id:localStorage.getItem('mtcs_cms_camid'), 
			cam_name: $("#camera_name").val(),     //document.getElementById().value
			cam_model: $("#camera_model").val(),
			cam_mf:$('#camera_manufacturer :selected').text(),
			cam_stat: stat
        };

        console.log(jsndata);
	      // send ajax
	      $.ajax({
	          url: 'apis/addcam.php', // url whsere to submit the request
	          type : "PUT", // type of action POST || GET
	          data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
	          contentType: 'application/json',
	          success : function(result) {
				  console.log(result);
				  isupd = true;
	              window.location= "#/camera"; 
	          },
	          error: function(xhr, resp, text) {
	              console.log(xhr, resp, text);
	          }
	      })
	});
	$("#del_cam").on('click', function(){
        var jsndata = {
        	cam_id:localStorage.getItem('mtcs_cms_camid')
        };

        console.log(jsndata);
	      // send ajax
	      $.ajax({
	          url: 'apis/addcam.php', // url whsere to submit the request
	          type : "DELETE", // type of action POST || GET
	          data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
	          contentType: 'application/json',
	          success : function(result) {
				  console.log(result);
				  isdel = true; 
	              window.location= "#/camera"; 
	          },
	          error: function(xhr, resp, text) {
	              console.log(xhr, resp, text);
	          }
	      })
	});
	updateData();
</script>