<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-pull-7">
        <div class="footer-logo">
          <!--<div class="footer-logo-text">myTrailcams</div>-->
        </div>
        <div class="footer-copyright">Copyright © 2018 myTrailcams
        </div>                 
        <!-- <div class="footer-credits">Sirius - by  <a href="https://www.lyrathemes.com">LyraThemes</a></div>
        <a href="">myTrailcams</a>
      </div> -->
      </div>
      <div class="col-md-7 col-md-push-5">
        <ul id="menu-footer" class="footer-menu">
          <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item menu-item-48"><a class="nav-link js-scroll-trigger" href="">HOME</a>
          </li>
          <li id="menu-item-49" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49"><a class="nav-link js-scroll-trigger" href="blogs.html">BLOG</a></li>
          <li id="menu-item-50" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a href="legal.html">LEGAL</a></li>  <!-- <i class="fa fa-facebook" aria-hidden="true"></i> -->
          <li id="menu-item-51" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51"><a href="faq.html">FAQ</a></li>   <!-- <i class="fa fa-twitter" aria-hidden="true"></i> -->
        </ul>       
      </div>
    </div>
  </div>
</footer>