<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<p class="propimagecontainer">
				<img alt="Add a Camera to Get Started" class="propimg hidden-xs" src="img/header.png">
			</p>
		</div>
		<div class="col-md-8 col-sm-8 welcome">
			<h1  id="prop_head" class="propwelcomemsg">Add a Camera to </h1>
			<p class="propdescription">
				Before you can upload photos you will need to add a trail
				camera to this property.
			</p>
			<p style="margin-top: 20px;"></p>
			<div class="btn-group header-btn-group hidden-xs" style="margin-top: 10px;"></div>
			<a href="#/addnewcam" class="btn btn-primary btn-lg propbtn">Add a Trail Camera</a>
			<p></p>
		</div>
	</div>
</div>

<script type="text/javascript">
if (localStorage.getItem('mtcs_cms_propname') != null && localStorage.getItem('mtcs_cms_propname') != "") {
	$('#prop_head').text("Add a Camera to " + localStorage.getItem('mtcs_cms_propname'));
};
</script>