<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right header-btn-group">
                <a class="btn btn-primary propbtnmm" href="#/photos">All Photos</a>
                <a class="btn btn-primary propbtnmm" href="#/uploadphotostocam">Upload Photos</a>
            </div>
            <h1 id="phwelcomenote">Photo from </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="photo">
                <a class="fancybox" href="">
                    <img id="photodesc" src="" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="photo-detail">
                <div class="overview">
                    <!-- <div class="rotating"style="margin-top: 6%;">
                        <i class='fas fa-sun' style='font-size:48px;'></i>
                    </div>  -->
                    <!-- <canvas class="icon" height="82" id="weather_icon" width="82"></canvas> -->
                    <div class="description">
                        <div id="phtemp" class="temperature">53 °F</div>
                        <div class="summary"></div>
                    </div>
                </div>
                <dl class="horizontal">
                    <dt>Time:</dt>
                    <dd id="phtime"></dd>
                    <dt>Date:</dt>
                    <dd id="phdate">Tue, Dec 12, 2017 
                        <a class="btn btn-primary propbtnsm btn-xs edit-photo pull-right" data-toggle="modal" href="javascript:void(0);" data-target="#modal_phdesc_uts" style="margin-top: -2%;">Edit</a>
                    </dd>
                    <dt class="phwindspeed">Wind:</dt>
                    <dd id="phwindspeed"></dd>
                    <dt class="phpressure">Pressure:</dt>
                    <dd id="phpressure">29.74 inHg, Rising</dd>
                    <dt class="phhumidity">Humidity:</dt>
                    <dd id="phhumidity">38%</dd>
                    <dt class="phsunrise">Sunrise:</dt>
                    <dd id="phsunrise"></dd>
                    <dt class="phsunset">Sunset:</dt>
                    <dd id="phsunset"></dd>
                    <dt>Moon:</dt>
                    <dd id="phmoon"></dd>
                </dl>
                <!-- <h2></h2> -->
                <label class="control-label" for="ph_tags" style="display: block !important;">Tags for Photo</label>
                <!-- <input class="desc" type="text" value="Exp" name="ph_tags" id="ph_tags" readonly>   -->
                <div class="desc" id="ph_tags"></div>
                <!-- form-control-p <form>  margin-top: 30%;

                    <dt>Visibility:</dt>
                    <dd id="phvisibility"></dd>
                
                -->
                    <!-- <select multiple="multiple" class="tag-editor selectized" name="photo[tag_list][]" id="photo_tag_list" tabindex="-1">
                        <option value="animal" selected="selected">animal</option>
                        <option value="automobile" selected="selected">automobile</option>
                        <option value="car" selected="selected">car</option>
                        <option value="deer" selected="selected">deer</option>
                        <option value="elk" selected="selected">elk</option>
                        <option value="mammal" selected="selected">mammal</option>
                        <option value="wildlife" selected="selected">wildlife</option>
                    </select> -->
                    <!-- <div class="selectize-control tag-editor multi">
                        <div class="selectize-input items not-full has-options has-items">
                            <div data-value="animal" class="item">animal</div>
                            <div data-value="automobile" class="item">automobile</div>
                            <div data-value="car" class="item">car</div>
                            <div data-value="deer" class="item">deer</div>
                            <div data-value="elk" class="item">elk</div>
                            <div data-value="mammal" class="item">mammal</div>
                            <div data-value="wildlife" class="item">wildlife</div>
                            <input type="text" autocomplete="off" tabindex="" style="width: 4px;">
                        </div>
                        <div class="selectize-dropdown tag-editor multi" style="display: none;">
                            <div class="selectize-dropdown-content"></div>
                        </div>
                    </div> -->
                <!-- </form> -->
                <div class="tag-error text-error"></div>
            </div>
            <div class="edit-photo-form hide" style="display:none;">
                <!-- <form> -->
                    <div class="form-group">
                        <label for="photo_taken_at">Photo Taken (EST)</label>
                        <div class="datetime-control">
                            <select id="photo_taken_at_1i" name="photo[taken_at(1i)]" class="selectize selectized" tabindex="-1" style="display: none;">
                                <option value="2017" selected="selected"></option>
                            </select>
                            <div class="selectize-control selectize single">
                                <div class="selectize-input items full has-options has-items">
                                    <div data-value="2017" class="item">2017</div>
                                    <input type="text" autocomplete="off" tabindex="" style="width: 4px;">
                                </div>
                                <div class="selectize-dropdown selectize single" style="display: none;">
                                    <div class="selectize-dropdown-content"></div>
                                </div>
                            </div>
                            <select id="photo_taken_at_2i" name="photo[taken_at(2i)]" class="selectize selectized" tabindex="-1" style="display: none;">
                                <option value="12" selected="selected"></option>
                            </select>
                            <div class="selectize-control selectize single">
                                <div class="selectize-input items full has-options has-items">
                                    <div data-value="12" class="item">December</div>
                                    <input type="text" autocomplete="off" tabindex="" style="width: 4px;">
                                </div>
                                <div class="selectize-dropdown selectize single" style="display: none;">
                                    <div class="selectize-dropdown-content"></div>
                                </div>
                            </div>
                            <select id="photo_taken_at_3i" name="photo[taken_at(3i)]" class="selectize selectized" tabindex="-1" style="display: none;">
                                <option value="12" selected="selected"></option>
                            </select>
                            <div class="selectize-control selectize single">
                                <div class="selectize-input items full has-options has-items">
                                    <div data-value="12" class="item">12</div>
                                    <input type="text" autocomplete="off" tabindex="" style="width: 4px;">
                                </div>
                                <div class="selectize-dropdown selectize single" style="display: none;">
                                    <div class="selectize-dropdown-content"></div>
                                </div>
                            </div>
                            <select id="photo_taken_at_4i" name="photo[taken_at(4i)]" class="selectize selectized" tabindex="-1" style="display: none;">
                                <option value="15" selected="selected"></option>
                            </select>
                            <div class="selectize-control selectize single">
                                <div class="selectize-input items full has-options has-items">
                                    <div data-value="15" class="item">03 PM</div>
                                    <input type="text" autocomplete="off" tabindex="" style="width: 4px;">
                                </div>
                                <div class="selectize-dropdown selectize single" style="display: none;">
                                    <div class="selectize-dropdown-content"></div>
                                </div>
                            </div>
                            <select id="photo_taken_at_5i" name="photo[taken_at(5i)]" class="selectize selectized" tabindex="-1" style="display: none;">
                                <option value="28" selected="selected"></option>
                            </select>
                            <div class="selectize-control selectize single">
                                <div class="selectize-input items full has-options has-items">
                                    <div data-value="28" class="item">28</div>
                                    <input type="text" autocomplete="off" tabindex="" style="width: 4px;">
                                </div>
                                <div class="selectize-dropdown selectize single" style="display: none;">
                                    <div class="selectize-dropdown-content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Update</button> or 
                    <a class="cancel-photo-edit" href="#">Cancel</a> 
                    <img class="loading" style="display: none;" src="" alt="Loading">
                <!-- </form> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
            <div class="pull-left">
                <ul class="list-inline">
                    <li><a class="btn btn-default propbtnmm" rel="nofollow" data-method="patch" href="">Auto-tag Photo</a></li> 
                    <!-- <li><a data-toggle="modal" href="#auto-tag-modal"><view>Auto-Tag Results</view></a> </li>
                    <li><a data-toggle="modal" href="#exif_modal">View Exif Data</a> </li> -->
                </ul>
            </div>
            <div class="pull-right">
                <ul class="list-inline">
                    <li>
                        <!--<input id="del_photo" type="button" name="del_photo" value="Delete Photo" class="btn btn-primary propbtnmm">-->
                        <a class="btn btn-delete-hover propbtnmm"  href="javascript:void(0);" data-target="#myModal">Delete Photo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
                <p>If you delete this photo <strong>you will lose all weather data and tags associated with it.</strong> Are you sure you want to delete this photo?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="propbtnmm" data-dismiss="modal">CANCEL</button>
              <button id="del_photo" type="button" class="propbtnmm" data-dismiss="modal">DELETE</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal_phdesc_uts" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                  <!-- <p>If you delete these photos <strong>you will lose all weather data and tags associated with it.</strong> Are you sure you want to delete these photos?</p> -->
                  <input id="upd_ph1_time" type="datetime-local" name="upd_ph_time" value="" class="form-control-p range-option">
            </div>
            <div class="modal-footer">
                <button type="button" class="propbtnmm" data-dismiss="modal">CANCEL</button>
                <button id="btn_upd" type="button" class="propbtnmm" data-dismiss="modal">UPDATE</button>
            </div>
          </div>
        </div>
    </div>
</div>

<script>
    var script;
    var head;
    var w_id, phototime;
    var directionarr = ["N","NNE","NE","ENE","E","ESE", "SE", "SSE","S","SSW","SW","WSW","W","WNW","NW","NNW"];
    const monthNames = ["JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE",
						"JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER"];
    function updateDataToPlaceHolders(){
        const monthNames = ["JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE",
                "JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER"];
        const dayNames = ["SUNDAY", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY"];

        var date = new Date(localStorage.getItem('mtcs_cms_curphtime'));
        var dates = date.getDate();
        var day = dayNames[date.getDay()];
        var month = monthNames[date.getMonth()];
        var year =  date.getFullYear();
        var monthWithYear = day + " " + month +" " + dates +  " " + year;
        var mPhase = Moon.phase(year.toString(), date.getMonth().toString(), dates.toString());
        var hr = date.getHours();
        var mm = date.getMinutes();
        var times = hr + ":" + mm + " EST";
        var tags = localStorage.getItem('mtcs_cms_curphtag')
        var uniqueList=tags.split(',').filter(function(item,i,allItems){
            return i==allItems.indexOf(item);
        }).join(',');
        //var element = $('<button class="btn btn-primary propbtnsm btn-xs edit-photo pull-right" style="margin-top: -2%;">Edit</button>');
        var element = $('<a class="btn btn-primary propbtnsm btn-xs edit-photo pull-right" data-toggle="modal" href="javascript:void(0);" data-target="#modal_phdesc_uts" style="margin-top: -2%;">Edit</a>');
        
        $("#phwelcomenote").text("Photo from " + localStorage.getItem('mtcs_cms_propname'));
        $('#ph_tags').text(uniqueList);
        $("#photodesc").attr("src", localStorage.getItem('mtcs_cms_curphpath'));
        $("#phtime").text(times);
        $("#phdate").text(monthWithYear);
        $("#phdate").append(element);
        
        if(localStorage.getItem('mtcs_cms_curphsunrise') != localStorage.getItem('mtcs_cms_curphsunset')){
            var tz = localStorage.getItem('mtcs_cms_proptz');
            var date = new Date(localStorage.getItem('mtcs_cms_curphsunrise'));

            $("#phsunrise").text(localStorage.getItem('mtcs_cms_curphsunrise'));
            $("#phsunset").text(localStorage.getItem('mtcs_cms_curphsunset'));
        } else{
            $("#phsunrise").hide();
            $(".phsunrise").hide();
            $("#phsunset").hide();
            $(".phsunset").hide();
        }
        
        $("#phmoon").text(mPhase);

        var curHum = parseInt(localStorage.getItem('mtcs_cms_curphhumidity'));
        if(curHum > 0){
            $("#phhumidity").text(curHum.toString() + "%");
        } else{
            $("#phhumidity").hide();
            $(".phhumidity").hide();
        }

        var curTmp =  parseInt(localStorage.getItem('mtcs_cms_curphtemperature'));

        if(curTmp != 0){
            if(localStorage.getItem('usr_pref_tmp') == "F"){
                $("#phtemp").text(curTmp.toString());
                $("#phtemp").append(" " +'&#8457;');
            } else{
                var tmp = parseInt(curTmp.toString());
                var tmpincelcius = ((tmp - 32) * 5) / 9;
                $("#phtemp").text((tmpincelcius.toFixed(2)).toString());  //String.fromCharCode(&#8451;)
                $("#phtemp").append(" " +'&#8451;');  
            }
        } else{
            $("#phtemp").hide();
            
        }

        

        var wind;
        var curwindspeed = parseFloat(localStorage.getItem('mtcs_cms_curphwindspeed'));
        if(curwindspeed != 0){
            if(localStorage.getItem('usr_pref_speed') == "MPH"){
                var curwindspeedinmiles = curwindspeed * 0.621371; 
                wind = (curwindspeedinmiles.toFixed(4)).toString() + " mph " + localStorage.getItem('mtcs_cms_curphwinddirection'); 
            } else{
                wind = curwindspeed.toString() + " kph " + localStorage.getItem('mtcs_cms_curphwinddirection'); 
            }
            $("#phwindspeed").text(wind);
        } else{
            $("#phwindspeed").hide();
            $(".phwindspeed").hide();
        }
        
        var Pressure = parseFloat(localStorage.getItem('mtcs_cms_curphpressure'));
        if(Pressure != 0){
            if(localStorage.getItem('usr_pref_pressure') == "I"){
                var pressureInIPM = Pressure * 0.02953;
                $("#phpressure").text((pressureInIPM.toFixed(2)).toString() + " in ipm");
            } else{
                $("#phpressure").text((Pressure.toFixed(2)).toString() + " in Hg");
                // $("#phpressure").hide();
                // $(".phpressure").hide();
            }
        } else{
            $("#phpressure").hide();
            $(".phpressure").hide();
        }
        
        localStorage.setItem('mtcs_cms_routepath', "");
    
    }
    $("#del_photo").on('click', function(){
        var arr = [];
        arr.push(localStorage.getItem('mtcs_cms_curphid'));
		var jsndata = {
			ph_id:arr
		};
		// send ajax
		$.ajax({
			url: 'apis/updatemedia.php',
			type : "DELETE", // type of action POST || GET
			data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
			contentType: 'application/json',
			success : function(result) {
				//console.log(result);
				window.location= "#/photos"; 
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
    });
    
    $("#btn_upd").on('click', function(){
		// if(selectedPhotos.length <= 0){
		// 	alert("Please select a photo to update timestamp.");
		// 	return;
        // }

        var strTime = $('#upd_ph1_time').val();
        if(strTime == null || strTime == undefined || strTime == "" || strTime.length == 0){
            alert("Please select a time to update.");
            return;
        }  
		//console.log(strTime);
		// var array = strTime.split("T");
		// console.log(array);
		// var z = array[0].replace(":","-");
		// var actualdates = z + " " + array[1];
		// var arr_date = array[0].split(":");
		// var arr_time = array[1].split(":");
		// var phDate = new Date(arr_date[0], arr_date[1], arr_date[2], arr_time[0], arr_time[1], 0);
		var phDate = new Date(strTime);
		phototime = Math.round((phDate.getTime())/1000);
		head = document.head || document.getElementsByTagName('head')[0] || document.documentElement;
		getLocation();
		
    });
    
    function callback(data) {
        head.removeChild(script);
        updateWeatherData(data);
    }
    function getLocation() {
        script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://api.darksky.net/forecast/026e2dd15d28adde50c86b2bc3629678/'+ localStorage.getItem('mtcs_cms_proplat') + ',' + localStorage.getItem('mtcs_cms_proplng') + ',' + phototime +'?callback=callback';  //+ ',' + photoTime[weatherTimeCount]  
        head.appendChild(script);
    }	
    function updateWeatherData(response){
		var wind_bearing = response.currently.windBearing;
		var val = Math.round((wind_bearing/22.5)+.5);
		var wind_direction = directionarr[(val % 16)];

		var w_speed, w_pressure, w_temprature, w_humidity, w_sunrise, w_sunset, w_summery, w_moonp, w_icon;
		if(response.currently.windSpeed != null && response.currently.windSpeed != undefined){
			w_speed = response.currently.windSpeed;
		} else{
			w_speed = 0.0;
			wind_direction = '';
		}
		if(response.currently.pressure != null && response.currently.pressure != undefined){
			w_pressure = response.currently.pressure;
		} else{
			w_pressure = 0;
		} 
		if(response.currently.temperature != null && response.currently.temperature != undefined){
			w_temprature = response.currently.temperature;
		} else{
			w_temprature = 0;
		} 
		if(response.currently.humidity != null && response.currently.humidity != undefined){
			w_humidity = response.currently.humidity;
		} else{
			w_humidity = 0;
		}
		if(response.daily != undefined) {
			if(response.daily.data[0] != undefined){
				if(response.daily.data[0].sunriseTime != null && response.daily.data[0].sunriseTime != undefined){
					w_sunrise = response.daily.data[0].sunriseTime;
				} else {
					w_sunrise = 0;
				}
				if(response.daily.data[0].sunsetTime != null && response.daily.data[0].sunsetTime != undefined){
					w_sunset = response.daily.data[0].sunsetTime;
				} else {
					w_sunset = 0;
				}
				if(response.daily.data[0].moonPhase != null && response.daily.data[0].moonPhase != undefined){
					w_moonp = response.daily.data[0].moonPhase;
				} else {
					w_moonp = 0;
				}
			} else {
				w_sunrise = 0;
				w_sunset = 0;
				w_moonp = 0;
			}
		}
		

		if(response.currently.summary != null && response.currently.summary != undefined){
			w_summery = response.currently.summary;
		} else{
			w_summery = "";
        } 
        
        if(response.currently.icon != null && response.currently.icon != undefined){
			w_icon = response.currently.icon;
		} else{
			w_icon = "";
		}
		

		var date = new Date(0);
		date.setUTCSeconds(phototime);
		var month = monthNames[date.getMonth()];
		var year =  date.getFullYear();
		var curDate = date.getDate();
		var mPhase = Moon.phase(year.toString(), date.getMonth().toString(), curDate.toString());
		console.log(mPhase);
		
		//console.log(w_speed, wind_direction, w_pressure, w_temprature, w_humidity, w_sunrise, w_sunset);


        var jsndata = {
			windspeed:w_speed,     
		    winddirection: wind_direction,  
		    pressure: w_pressure,  
		    temperature: w_temprature,  
			humidity: w_humidity,
			sunrise: w_sunrise,
			sunset: w_sunset,
			summery: w_summery,
			icons:w_icon,
			moonphase:mPhase,
			user_id: localStorage.getItem("mtcs_cms_uid"),
			prop_id: localStorage.getItem('mtcs_cms_propid'), //Added on 130319
  			cam_id: localStorage.getItem('mtcs_cms_camid')   //Added on 130319
		};
        
        $.ajax({
            url: 'apis/updateweather.php',
            type : "POST", 
            data : JSON.stringify(jsndata), 
            contentType: 'application/json',
			dataType: 'json',
            success : function(result) {
								//w_id.push(result.w_id);
								w_id = result.w_id;
								callUpdateMedia();
                //console.log(result); 
            },
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
	}	
    function callUpdateMedia(){
        var selectedPhotos = [];
        selectedPhotos.push(localStorage.getItem('mtcs_cms_curphid'));
        var jsndata = {
                msg:"time",
                phids:selectedPhotos,
                phtime:phototime,
                wid:w_id
            };
            // send ajax
            $.ajax({
                url: 'apis/updatemedia.php',
                type : "PUT", // type of action POST || GET
                data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
                contentType: 'application/json',
                success : function(result) {
                    //console.log(result);
                    selectedPhotos = [];
                    isDeleteSelected = false;
                    isUpdateTimestampSelected = false;
                    //location.reload();
                    window.location= "#/photos";
                },
                error: function(xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            })
    }
    updateDataToPlaceHolders();
</script>

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>