<div class="container" style="margin-top: 3%;">
	<div class="thumb-view">
		<div class="row">
			<div class="col-md-12">
				<div class="btn-group header-btn-group pull-right hidden-xs">
					<a class="btn btn-default propbtnmm" href="#/camera">Upload Photos...</a>
				</div>
				<h1 id="prop_name" class="propwelcomemsg"> Photos</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="well actions">
					<div class="action-bar">
						<div class="pull-right hidden-xs">
							<button class="btn btn-default btn-tag btn-photo-action propbtnsm accordion" onclick="openPage(this, 'tagging')">
								Tag Photos
							</button> 
							<button class="btn btn-default btn-delete btn-photo-action propbtnsm accordion" onclick="openPage(this, 'deleting')">
								Delete...
							</button> 
						</div>
						<button class="btn btn-default btn-filter btn-photo-action propbtnsm accordion" onclick="openPage(this, 'filtering')">
							Filter Photos
						</button>
						<button class="btn btn-default btn-filter btn-photo-action propbtnsm accordion" onclick="openPage(this, 'timestampcorrection')">
								Correct Timestamps
							</button> 
					</div>
					<div class="filters panel" id="filtering" style="display:none;">
						<!-- <form> -->
							<div class="row">
								<div class="col-md-4 col-sm-6 form-group range">
									<label for="df">Date Taken</label>
									<input type="date" name="df" id="df" class="form-control-p range-option">
									<span class="separator">to</span>
									<input type="date" name="dt" id="dt" class="form-control-p range-option">
								</div>
								<div class="col-md-4 col-sm-6 form-group">
									<label for="ta">Time Taken</label>
									<select name="ta" id="ta" class="form-control-p selectize-with-empty range-option selectized" tabindex="-1">
										<option value="" selected="selected">-- Earliest --</option>
										<option value="0">12:00am</option>
										<option value="1">01:00am</option>
										<option value="2">02:00am</option>
										<option value="3">03:00am</option>
										<option value="4">04:00am</option>
										<option value="5">05:00am</option>
										<option value="6">06:00am</option>
										<option value="7">07:00am</option>
										<option value="8">08:00am</option>
										<option value="9">09:00am</option>
										<option value="10">10:00am</option>
										<option value="11">11:00am</option>
										<option value="12">12:00pm</option>
										<option value="13">13:00pm</option>
										<option value="14">14:00pm</option>
										<option value="15">15:00pm</option>
										<option value="16">16:00pm</option>
										<option value="17">17:00pm</option>
										<option value="18">18:00pm</option>
										<option value="19">19:00pm</option>
										<option value="20">20:00pm</option>
										<option value="21">21:00pm</option>
										<option value="22">22:00pm</option>
										<option value="23">23:00pm</option>
									</select>
									<span class="separator">to</span>
									<select name="tb" id="tb" class="form-control-p selectize-with-empty range-option selectized" tabindex="-1">
										<option value="" selected="selected">-- Latest --</option>
										<option value="0">12:00am</option>
										<option value="1">01:00am</option>
										<option value="2">02:00am</option>
										<option value="3">03:00am</option>
										<option value="4">04:00am</option>
										<option value="5">05:00am</option>
										<option value="6">06:00am</option>
										<option value="7">07:00am</option>
										<option value="8">08:00am</option>
										<option value="9">09:00am</option>
										<option value="10">10:00am</option>
										<option value="11">11:00am</option>
										<option value="12">12:00pm</option>
										<option value="13">13:00pm</option>
										<option value="14">14:00pm</option>
										<option value="15">15:00pm</option>
										<option value="16">16:00pm</option>
										<option value="17">17:00pm</option>
										<option value="18">18:00pm</option>
										<option value="19">19:00pm</option>
										<option value="20">20:00pm</option>
										<option value="21">21:00pm</option>
										<option value="22">22:00pm</option>
										<option value="23">23:00pm</option>
									</select>
								</div>
								<div class="col-md-4 col-sm-6 form-group">
									<label for="status">Processing Status</label>
									<select name="status" id="status" class="form-control-p selectize-with-empty range-option selectized" tabindex="-1" style="width: 87%;">
										<option value="Completed">Completed (Time Stamp Found)</option>
										<option value="Incomplete">Incomplete (Time Stamp Missing)</option>
										<option value="Inprocess">In Process</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-6 form-group">
									<label for="camera_id">Cameras from this Property</label>
									<select name="camera_id" id="camera_id" class="form-control-p selectize-with-empty range-option selectized" tabindex="-1" style="width: 95%;">
										<option value="">-- Any Camera --</option>
									</select>
								</div>
								<div class="col-md-2 col-sm-2 form-group">
									<label for="tagopt">Tag Options</label>
									<select name="tagopt" id="tagopt" tabindex="-1" class="form-control-p selectize-with-empty range-option selectized" style="width: 100%;">
										<option value="any" selected="selected">Match Any</option>
										<option value="except">Match Any Except</option>
										<option value="untagged">Match Untagged</option>
									</select>
								</div>
								<div class="col-md-6 col-sm-4 form-group">
									<label for="tags">Tags</label>
									<select name="tags" id="tags" tabindex="-1" class="form-control-p selectize-with-empty range-option selectized" style="width: 92%;">
										<option value="" selected="selected">-- Any Tags --</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 col-sm-6 form-group">
									<label for="w_condition">Weather Conditions</label>
									<select name="w_condition" id="w_condition" class="form-control-p selectize-with-empty range-option selectized" tabindex="-1" style="width: 83%;">
										<option value="" selected="selected">-- Any Conditions --</option>
										<option value="breezy">Breezy</option>
										<option value="breezy&dry">Breezy & Dry</option>
										<option value="breezy&foggy">Breezy & Foggy</option>
									</select>
								</div>
								<div class="col-md-3 col-sm-6 form-group">
									<label for="w_mphase">Moon Phase</label>
									<select name="w_mphase" id="w_mphase" class="form-control-p selectize-with-empty range-option selectized" tabindex="-1" style="width: 83%;">
										<option value="" selected="selected">-- Any Phase --</option>
										<option value="new-moon">New Moon</option>
										<option value="waxing-crescent-moon">Waxing Crescent</option>
										<option value="quarter-moon">First Quarter</option>
										<option value="waxing-gibbous-moon">Waxing Gibbous</option>
										<option value="full-moon">Full Moon</option>
										<option value="waning-gibbous-moon">Waning Gibbous</option>
										<option value="last-quarter-moon">Last Quarter</option>
										<option value="waning-crescent-moon">Waning Crescent</option>
									</select>
								</div>
								<div class="col-md-3 col-sm-6 form-group">
									<label for="w_pressure">Pressure</label>
									<select name="w_pressure" id="w_pressure" class="form-control-p selectize-with-empty range-option selectized" tabindex="-1" style="width: 83%;">
										<option value="" selected="selected">-- Any Pressure --</option>
										<option value="1">Falling very rapidly</option>
										<option value="2">Falling quickly</option>
										<option value="3">Falling</option>
										<option value="4">Falling slowly</option>
										<option value="5">Steady</option>
										<option value="6">Rising slowly</option>
										<option value="7">Rising</option>
										<option value="8">Rising quickly</option>
										<option value="9">Rising very rapidly</option>
									</select>
								</div>
								<div class="col-md-3 col-sm-6 form-group">
									<label for="w_wb">Wind Bearing (Coming From)</label>
									<select name="w_wb" id="w_wb" class="form-control-p selectize-with-empty range-option selectized" tabindex="-1" style="width: 83%;">
										<option value="" selected="selected">-- Any Bearing --</option>
										<option value="N">North</option>
										<option value="NE">Northeast</option>
										<option value="E">East</option>
										<option value="SE">southeast</option>
										<option value="S">South</option>
										<option value="SW">southwest</option>
										<option value="W">West</option>
										<option value="NW">Northwest</option>
									</select>
								</div>
								<div class="col-md-4 col-sm-6 form-group">
									<label for="w_stemp">Temperature</label>
									<div class="input-group range-option">
										<input type="text" name="w_stemp" id="w_stemp" class="form-control-p" maxlength="3">
										<!-- <span class="input-group-addon unit_t">°F</span> -->
										<span class="input-group-addon unit_t"></span>
									</div>
									<span class="separator">to</span>
									<div class="input-group range-option">
										<input type="text" name="w_etemp" id="w_etemp" class="form-control-p" maxlength="3">
										<!-- <span class="input-group-addon unit_t">°F</span> -->
										<span class="input-group-addon unit_t"></span>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 form-group">
									<label for="w_shum">Humidity</label>
									<div class="input-group range-option">
										<input type="text" name="w_shum" id="w_shum" class="form-control-p" maxlength="3">
										<span class="input-group-addon">%</span>
									</div>
									<span class="separator">to</span>
									<div class="input-group range-option">
										<input type="text" name="w_ehum" id="w_ehum" class="form-control-p" maxlength="3">
										<span class="input-group-addon">%</span>
									</div>
								</div>
								<div class="col-md-4 col-sm-6 form-group">
									<label for="w_sws">Wind Speed</label>
									<div class="input-group range-option">
										<input type="text" name="w_sws" id="w_sws" class="form-control-p" maxlength="3">
										<span class="input-group-addon unit_ws">mph</span>
									</div>
									<span class="separator">to</span>
									<div class="input-group range-option">
										<input type="text" name="w_ews" id="w_ews" class="form-control-p" maxlength="3">
										<span class="input-group-addon unit_ws">mph</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 buttons">
									<input type="submit" name="commit" value="Apply Filter" class="btn btn-primary propbtnmm" id="apply_filter"> 
									<small class="clearfilter"><a class="routing" href="javascript:void(0);" name="clearfilter">Clear Filter</a></small>
								</div>
								</br>
							</div>
							</br>
						<!-- </form> -->
					</div>
					<div class="taggings panel" id="tagging" style="display:none;">
						<p class="propdescription">While myTrailcams automatically tags photos with our <a href="">Auto-Tagging feature</a>, 
						   you can also add additional names or "tags" to any photo you
						   want. This is helpful if you are wanting to profile specific
						   animals like a particular buck. 
						</p>
						<p class="propdescription">Start by selecting the check mark on desired photos you want
						   to tag. After selecting all the desired photos add one or more
						   names to the form below. After typing tag select enter and then
						   the "Add Tag(s)" button to save.</p>
					    <form>
					    	<div class="row">
						    	<div class="col-md-6 col-sm-4 form-group">
									<select name="tags_for_selected" id="tags_for_selected" tabindex="-1" class="form-control-p selectize-with-empty range-option selectized" style="width: 205%;">
										<option value="" selected="selected">Name one or more tags, selecting enter/return after each name</option>
									</select>
								</div>
					    	</div>
					    	<p class="pull-right" style="visibility: hidden;">
					    		<small><a href="" style="font-size: 12px;">Manage Active Tags</a></small> | 
					    		<small><a href="" style="font-size: 12px;">Edit Auto-Tag Rules</a></small> 
					    	</p>
					    	<p class="selection-message">You've selected 
					    		<span class="badge taggable-count" id="tag_count">0</span> photo(s) for tagging. 
					    		<small style="margin-left: 3%;">
					    			<button id="btn_tag_sel_all" class="select-all" style="font-size: 12px;">Select All</button> | 
					    			<button id="btn_tag_clr_all" class="clear-all" style="font-size: 12px;">Clear All</button>
					    		</small>
					    	</p>
					    	<div class="buttons">
					    		<button class="btn btn-success propbtnmm" id="add_tags" name="tag_action" type="submit" value="add">Add Tag(s)
					    		</button>
					    		<button class="btn btn-danger propbtnmm" id="remove_tags" name="tag_action" type="submit" value="remove">Remove Tag(s)
					    		</button>
					    		<img class="loading hide" src="" alt="Loading" style="display:none;">
					    		<span class="text-danger error-msg"></span>
					    	</div>
					    	</br>
					    </form>
					</div>
					<div class="deletions panel" id="deleting" style="display:none;">
						<p class="propdescription">Highlight the X on one or more photos you would like to delete and select the "Delete Selected Photos" button.</p>
						<!-- <form> -->
							<p class="selection-message">You've selected 
								<span class="badge deletable-count" id="del_count">0</span> photo(s) for deletion. 
								<small>
									<button id="btn_sel_all" class="select-all" style="font-size: 12px;">Select All</button> | 
									<button id="btn_clr_all" class="clear-all" style="font-size: 12px;">Clear All</button>
								</small>
							</p>
							<div class="buttons">
									<a class="btn btn-danger propbtnmm" data-toggle="modal" href="javascript:void(0);" data-target="#myModal" style="background-color: #B20000 !important;border-color: #B20000 !important;">Delete Selected Photos</a>
									
								<!-- <button id="btn_del_all" class="btn btn-danger propbtnmm" type="submit" style="background-color: #B20000 !important;border-color: #B20000 !important;">Delete Selected Photos</button> -->
								<img class="loading hide" src="" alt="Loading" style="display:none;">
								<span class="text-danger error-msg" style="display:none;"></span>
							</div>
							</br>
						<!-- </form> -->
					</div>
					<div class="timestampcorrection panel" id="timestampcorrection" style="display:none;">
							<p class="propdescription">Select on one or more photos you would like to update timestamp and select the "Correct Selected Photos" button.</p>
							<!-- <form> -->
								<p class="selection-message">You've selected 
									<span class="badge taggable-count" id="updts_count">0</span> photo(s) for timestamp update. 
									<small>
										<button id="btn_updts_sel_all" class="select-all" style="font-size: 12px;">Select All</button> | 
										<button id="btn_updts_clr_all" class="clear-all" style="font-size: 12px;">Clear All</button>
									</small>
								</p>
								<div class="buttons">
										<a class="btn btn-default propbtnmm" data-toggle="modal" href="javascript:void(0);" data-target="#modal_uts">Correct Selected Photos</a>
										<!-- <a class="btn btn-default propbtnmm routing" name="cts" href="javascript:void(0);">Correct Timestamps</a> -->
									<!-- <button id="btn_del_all" class="btn btn-danger propbtnmm" type="submit" style="background-color: #B20000 !important;border-color: #B20000 !important;">Delete Selected Photos</button> -->
									<img class="loading hide" src="" alt="Loading" style="display:none;">
									<span class="text-danger error-msg" style="display:none;"></span>
								</div>
								</br>
							<!-- </form> -->
					</div>
				</div>
				<div aria-hidden="true" class="modal fade" id="timestamp-help" role="dialog" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
								<h3 class="modal-title"> Photos and Timestamps</h3>
							</div>
							<div class="modal-body">
								<p>myTrailCams uses the time stamp stored within each photo to sync weather data and calculate trending stats.Photos without time stamps are automatically filtered and their data is removed from your stats.
								</p>
								<h4>Where are the photos without a time stamp placed?</h4>
								<p>myTrailCams automatically filters these photos so they won't show up in the camera's main photo gallery.To view select the "Processing Status" drop-down within the filter area. Then select "Incomplete
								(Time Stamp Missing)" and apply the filter.
								</p>
								<p>
									<img class="modal-photo" src="" alt="Processing photo">
								</p>
								<h4>How Do I Delete the Affected Photos?</h4>
								<p>Unless there are photos you desire to keep we recommend deleting them by selecting the "Delete" button.</p>
								<h4>How do you Manually Add Time Stamps?</h4>
								<p>If you want to add the correct time stamp this option, like seen below, will be available after
									selecting the "View Photo &amp; Weather Details" button.
								</p>
								<p><img class="modal-photo" src="" alt="Add time stamp"></p>
								<p>Once corrected and submitted the photo will move into your main photo gallery for that camera.</p>
								<h4>A note about corrupted photos</h4>
								<p>If we detect that a photo is corrupt we will automatically delete it right after it has been uploaded.
								</p>
								<h4>Why are Time Stamps Missing?</h4>
								<p>If you take your SD card straight from your trail camera to your computer you shouldn't have any issues.If a SD card is read by a different device it sometimes can cause an issue. See our
									<a href="" target="_blank">help article for reasons why this might happen</a>.
								</p>
								<p>If you have questions or need help please let us know by emailing help@mytrailcams.com.</p>
							</div>
							<div class="modal-footer">
								<button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
							</div>
						</div>
					</div>
				</div>
				<div id="nophotos" class="thumbs" style="display:none;">
					<div class="alert alert-info">No photos found.</div>
				</div>
				<div id="photos" class="thumbs" style="display:none;">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade" id="modal_uts" role="dialog">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<input id="upd_ph_time" type="datetime-local" name="upd_ph_time" value="" class="form-control-p range-option">
			</div>
			<div class="modal-footer">
				<button type="button" class="propbtnmm" data-dismiss="modal">CANCEL</button>
				<button id="btn_upd_all" type="button" class="propbtnmm" data-dismiss="modal">UPDATE</button>
			</div>
		</div>
		</div>
	</div>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<p>If you delete these photos <strong>you will lose all weather data and tags associated with it.</strong> Are you sure you want to delete these photos?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="propbtnmm" data-dismiss="modal">CANCEL</button>
					<button id="btn_del_all" type="button" class="propbtnmm" data-dismiss="modal">DELETE</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <div class="container">
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<p>If you delete these photos <strong>you will lose all weather data and tags associated with it.</strong> Are you sure you want to delete these photos?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="propbtnmm" data-dismiss="modal">CANCEL</button>
				<button id="btn_del_all" type="button" class="propbtnmm" data-dismiss="modal">DELETE</button>
			</div>
		</div>
		</div>
	</div>
</div> -->


<script>
var	datas, images;
var objWatcher = {
		isDeleteSelected:false,
		isUpdateTimestampSelected:false,
		isTagSelected : false,
		selectedPhotos: []
};
var isDeleteSelected = false;
var isUpdateTimestampSelected = false;
var selectedPhotos = [];
var script;
var head;
var w_id, phototime;
var directionarr = ["N","NNE","NE","ENE","E","ESE", "SE", "SSE","S","SSW","SW","WSW","W","WNW","NW","NNW"];
const monthNames = ["JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE",
						"JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER"];
function openPage(elmnt, pageName) {
	var i, accordion, panels;
		if(pageName == "deleting"){
			objWatcher.isDeleteSelected = true;
		} else{
			objWatcher.isDeleteSelected = false; 
		}
		if(pageName == "tagging"){
			objWatcher.isTagSelected = true;
		} else{
			objWatcher.isTagSelected = false; 
		}
		if(pageName == "timestampcorrection"){
			objWatcher.isUpdateTimestampSelected = true;
		} else{
			objWatcher.isUpdateTimestampSelected = false; 
		}
		accordion = document.getElementsByClassName("accordion");
		for (i = 0; i < accordion.length; i++) {
			if(accordion[i] == elmnt){
				if (accordion[i].classList.contains("active")){
					accordion[i].classList.remove("active");
					if(pageName == "deleting"){
						objWatcher.isDeleteSelected = false;
					}	else if(pageName == "tagging"){
						objWatcher.isTagSelected = false;
					} else if(pageName == "timestampcorrection"){
						objWatcher.isUpdateTimestampSelected = false;
					}
				} else{
					elmnt.classList.toggle("active");
				}
			} else {
					accordion[i].classList.remove("active");
			}
		}
    // if(!elmnt.classList.contains("active")){
    // 	elmnt.classList.toggle("active");
    // }
    panels = document.getElementsByClassName("panel");
    for (i = 0; i < panels.length; i++) {
    	if(panels[i].id == pageName){
    		panels[i].style.display="block";
    		if (panels[i].style.maxHeight){
    			panels[i].style.display="none";
  				panels[i].style.maxHeight = null;
    		} else{
    			panels[i].style.maxHeight = panels[i].scrollHeight + "px";
    		}
    	} else {
    		panels[i].style.display="none";
     		panels[i].style.maxHeight = null;
    	} 
		}
		
		if(objWatcher.selectedPhotos.length > 0){
				objWatcher.selectedPhotos = [];
				$("#del_count").text(objWatcher.selectedPhotos.length);
				$("#tag_count").text(objWatcher.selectedPhotos.length);
				$("#updts_count").text(objWatcher.selectedPhotos.length);
				$(".image-checkbox").removeClass('image-checkbox-checked');
		}

}

function showImg(){
	if (localStorage.getItem("mtcs_cms_curphotopath") == null && localStorage.getItem("mtcs_cms_curphotopath") == "") 
	{
		$("#nophotos").show("slow");
		// $("#photos").show("slow");
		// $('.file-upload-image').attr('src', localStorage.getItem("mtcs_cms_curphotopath"));
	} else{
		//$("#nophotos").show("slow");
		$("#photos").show("slow");
		//console.log(localStorage.getItem("mtcs_cms_curphotopath"));
		$('#uploadedimg').attr('src', localStorage.getItem("mtcs_cms_curphotopath"));
	}
}

function updateWeatherData(){
		
		$.ajax({
            url: 'apis/updateweather.php?user_id='+ localStorage.getItem('mtcs_cms_uid'),
            type : "get", // type of action POST || GET
            dataType: 'json',
            success : function(result) {
								 weather_data = result.weather;
				 //initMoonPhaseChart();
				 $("#prop_name").text(localStorage.getItem('mtcs_cms_propname') + " Photos");
                 updatePhotos();
            },
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
		
	}
function updatePhotos(){
	var address; 
	objWatcher.isDeleteSelected = false;
	objWatcher.isUpdateTimestampSelected = false;
	objWatcher.isTagSelected = false;

	if(localStorage.getItem('usr_pref_tmp') == "F"){
		$(".unit_t").append(" " +'&#8457;');
	} else{
		$(".unit_t").append(" " +'&#8451;');  
	}

	if(localStorage.getItem('usr_pref_speed') == "MPH"){
		$(".unit_ws").text("mph");
	} else{
		$(".unit_ws").text("kph");
	}

	if(localStorage.getItem('mtcs_cms_routepath') != ""){
		address = 'apis/getcaminfo.php?cmd=camphotos&property_id='+ localStorage.getItem('mtcs_cms_propid') + '&cam_id=' + localStorage.getItem('mtcs_cms_camid');
	} else{
		address = 'apis/updatemedia.php?cmd=photos&prop_id=' + localStorage.getItem('mtcs_cms_propid');
	}
	console.log(address);
	$.ajax({
	url: address,
	type : "GET", // type of action POST || GET
	dataType: 'json',
	success : function(result) {
		console.log(result);
		var year, month, date; 
		const monthNames = ["JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE",
		"JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER"];
		
		datas = result.paths;
		weather_data = result.weather;
		//console.log(weather_data);
		//images = result.images; 
		if (datas.length > 0) {
			datas.sort(function compare(a, b) {
				var dateA = new Date(a.img_datetime);
				var dateB = new Date(b.img_datetime);
				return dateA - dateB;
			});

			var uniqueDates = [];
			var monthWithYear;
			$.each(datas, function(i, el){
				if(datas[i].status == "Completed"){
					date = new Date(datas[i].img_datetime);
					month = monthNames[date.getMonth()];
					year =  date.getFullYear();
					monthWithYear = month + " " + year; 
					if($.inArray(monthWithYear, uniqueDates) === -1) uniqueDates.push(monthWithYear);
				}
			});

			//console.log(uniqueDates);

			//$('.prof_img').attr("src",datas[0]);
			$("#photos").show("slow");
			//var row;
			var startRowDiv = '<div class="row">';
			var endRowDiv = '</div>';
			var startResponsiveDiv;
			var endResponsiveDiv = '</div>';
			//var rowString;
			var startGallaryDiv, tagGalleryDiv;
			monthWithYear = '';
			var filepath = '';
			var c_im = 0;
		
			for(var j = uniqueDates.length - 1; j >= 0; j--){
				startResponsiveDiv = '<div class="responsive"><h2 style="margin-left: 1%;">'+ uniqueDates[j] +'</h2></br>';
				var rowString = startRowDiv + startResponsiveDiv;
				for (var i = datas.length - 1; i >= 0; i--) {
					date = new Date(datas[i].img_datetime);
					month = monthNames[date.getMonth()];
					year =  date.getFullYear();
					monthWithYear = month + " " + year;
					var uniqueList=datas[i].img_tag.split(',').filter(function(item,i,allItems){
						return i==allItems.indexOf(item);
					}).join(',');
					if(monthWithYear ==  uniqueDates[j]){			
						startGallaryDiv = '<div class="gallery"><label class="image-checkbox"><a class="routing tip" href="javascript:void(0);" name="' + i + '">' + '<img src="'+ datas[i].filepath +'"><span>' + datas[i].img_datetime + '</span>' +
											'<input type="checkbox" id="chk_'+ i +'" value="" /><i class="fa fa-check hidden"></i></a></label><div class="desc">' + uniqueList + '</div></div>';
						var tags = uniqueList.split(',');
						for(var a = 0; a < tags.length; a++){

						}
						rowString = rowString + startGallaryDiv;
					}   
					
				}

				rowString = rowString + endResponsiveDiv + endRowDiv + '</br>';
				var row = $(rowString);
				$('#photos').append(row);
			};

			startResponsiveDiv = '<div class="responsive"><h2 style="margin-left: 1%;">Incompleted Photos</h2></br>';
			var rowString = startRowDiv + startResponsiveDiv;
			for (var i = datas.length - 1; i >= 0; i--) {
				var uniqueList=datas[i].img_tag.split(',').filter(function(item,i,allItems){
					return i==allItems.indexOf(item);
				}).join(',');
				if(datas[i].status == "Incomplete"){			
					startGallaryDiv = '<div class="gallery"><label class="image-checkbox"><a class="routing tip" href="javascript:void(0);" name="' + i + '">' + '<img src="'+ datas[i].filepath +'"><span>No Timestamp Found</span>' +
										'<input type="checkbox" id="chk_'+ i +'" value="" /><i class="fa fa-check hidden"></i></a></label><div class="desc">' + uniqueList + '</div></div>';

					var tagsToDisplay =  uniqueList.split(',');
					for(var a = 0; a < tagsToDisplay.length; a++){
						tagGalleryDiv = '';
					}
					rowString = rowString + startGallaryDiv;
				}
				
			}

			rowString = rowString + endResponsiveDiv + endRowDiv + '</br>';
			var row = $(rowString);
			$('#photos').append(row);

			assignclick();
		} else{
			$("#nophotos").show();   //"slow"
		}
		 
	},
	error: function(xhr, resp, text) {
		console.log(xhr, resp, text);
	}
	})
}

updatePhotos();
function assignclick(){
	$(document).on("click", "a.routing" , function() {
		var index = $(this).attr("name");
		if(index == "clearfilter"){
			//console.log("Come to if case");
			removeSelection();
		} 
		else{
			//console.log("Come to else");
			if(!objWatcher.isDeleteSelected && !objWatcher.isUpdateTimestampSelected && !objWatcher.isTagSelected){
				//console.log("Come to else - if");
				//$("#chk_" + index).removeClass('image-checkbox-checked');
				localStorage.setItem('mtcs_cms_curphpath', datas[index].filepath);
				localStorage.setItem('mtcs_cms_curphtime', datas[index].img_datetime);
				localStorage.setItem('mtcs_cms_curphtag', datas[index].img_tag);
				localStorage.setItem('mtcs_cms_curphid', datas[index].id);
				var w_index = -1;
				//w_index = index;
				for(var i = 0; i < weather_data.length; i++){
					if(weather_data[i].id == datas[index].weather_id){
						w_index = i;
						break;
					}
				}
				if(w_index != -1){
					localStorage.setItem('mtcs_cms_curphwindspeed', weather_data[w_index].windspeed);
					localStorage.setItem('mtcs_cms_curphwinddirection', weather_data[w_index].winddirection);
					localStorage.setItem('mtcs_cms_curphpressure', weather_data[w_index].pressure);
					localStorage.setItem('mtcs_cms_curphtemperature', weather_data[w_index].temperature);
					localStorage.setItem('mtcs_cms_curphhumidity', weather_data[w_index].humidity);
					localStorage.setItem('mtcs_cms_curphsunrise', weather_data[w_index].sunrise);
					localStorage.setItem('mtcs_cms_curphsunset', weather_data[w_index].sunset);
					localStorage.setItem('mtcs_cms_curphsummery', weather_data[w_index].subtitle);
					window.location="#/photodesc";
				} else{
					//$("#chk_" + index).prop("checked", false);
					alert("No weather data found.");
				}
		} else{
			var checked = $("#chk_" + index).prop("checked");
			if(checked == true){
				if(!containsObject(datas[index].id, objWatcher.selectedPhotos)){
					objWatcher.selectedPhotos.push(datas[index].id);
				}
			} else{
				for( var i = 0; i < objWatcher.selectedPhotos.length; i++){ 
					if (objWatcher.selectedPhotos[i] === datas[index].id) {
						objWatcher.selectedPhotos.splice(i, 1); 
					}
				}
			}
			if(objWatcher.isDeleteSelected){
				$("#del_count").text(objWatcher.selectedPhotos.length);
			} else if(objWatcher.isTagSelected){
				$("#tag_count").text(objWatcher.selectedPhotos.length);
			} else if(objWatcher.isUpdateTimestampSelected){
				$("#updts_count").text(objWatcher.selectedPhotos.length);
			}
			
			
		}
		}
		
	});

	$(".image-checkbox").each(function () {
		if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
				$(this).addClass('image-checkbox-checked');
		}
		else {
			$(this).removeClass('image-checkbox-checked');
		}
	});

	// sync the state to the input
	$(".image-checkbox").on("click", function (e) {
			if(objWatcher.isDeleteSelected || objWatcher.isUpdateTimestampSelected || objWatcher.isTagSelected){
				$(this).toggleClass('image-checkbox-checked');
				var $checkbox = $(this).find('input[type="checkbox"]');
				$checkbox.prop("checked",!$checkbox.prop("checked"))
				e.preventDefault();
			}	
	});

	$("#btn_del_all").on('click', function(){
		if(objWatcher.selectedPhotos.length <= 0){
			alert("Please select a photo to delete.");
			return;
		}
		var jsndata = {
			ph_id:objWatcher.selectedPhotos
		};
		// send ajax
		$.ajax({
			url: 'apis/updatemedia.php',
			type : "DELETE", // type of action POST || GET
			data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
			contentType: 'application/json',
			success : function(result) {
				//console.log(result);
				objWatcher.isDeleteSelected = false;
				objWatcher.isUpdateTimestampSelected = false;
				objWatcher.isTagSelected = false;
				if(objWatcher.selectedPhotos.length > 0){
					objWatcher.selectedPhotos = [];
				}
				location.reload();
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
	});

	$("#btn_upd_all").on('click', function(){
		if(objWatcher.selectedPhotos.length <= 0){
			alert("Please select a photo to update timestamp.");
			return;
		}

		var strTime = $('#upd_ph_time').val();
		//console.log(strTime);
		// var array = strTime.split("T");
		// console.log(array);
		// var z = array[0].replace(":","-");
		// var actualdates = z + " " + array[1];
		// var arr_date = array[0].split(":");
		// var arr_time = array[1].split(":");
		// var phDate = new Date(arr_date[0], arr_date[1], arr_date[2], arr_time[0], arr_time[1], 0);
		var phDate = new Date(strTime);
		phototime = Math.round((phDate.getTime())/1000);
		head = document.head || document.getElementsByTagName('head')[0] || document.documentElement;
		getLocation();
		
	});

	$("#btn_sel_all").on('click', function(){
		for(var i = 0; i < datas.length; i++){
			//$("#chk_" + i).prop('checked', true);
			$(".image-checkbox").addClass('image-checkbox-checked');
			var $checkbox = $("#chk_" + i).find('input[type="checkbox"]');
			$checkbox.prop("checked",!$checkbox.prop("checked"));
			if(!containsObject(datas[i].id, objWatcher.selectedPhotos)){
				objWatcher.selectedPhotos.push(datas[i].id);
			}
		}

		$("#del_count").text(objWatcher.selectedPhotos.length);
		
	});

	$("#btn_clr_all").on('click', function(){
		for(var i = 0; i < datas.length; i++){
			//$("#chk_" + i).prop('checked', false);
			$(".image-checkbox").removeClass('image-checkbox-checked');
			var $checkbox = $("#chk_" + i).find('input[type="checkbox"]');
			$checkbox.prop("checked",!$checkbox.prop("checked"))
			objWatcher.selectedPhotos.pop(datas[i].id);
		}

		$("#del_count").text(objWatcher.selectedPhotos.length);
	});

	$("#btn_tag_sel_all").on('click', function(){
		for(var i = 0; i < datas.length; i++){
			//$("#chk_" + i).prop('checked', true);
			$(".image-checkbox").addClass('image-checkbox-checked');
			var $checkbox = $("#chk_" + i).find('input[type="checkbox"]');
			$checkbox.prop("checked",!$checkbox.prop("checked"))
			if(!containsObject(datas[i].id, objWatcher.selectedPhotos)){
				objWatcher.selectedPhotos.push(datas[i].id);
			}
		}

		$("#tag_count").text(objWatcher.selectedPhotos.length);
		
	});

	$("#btn_tag_clr_all").on('click', function(){
		for(var i = 0; i < datas.length; i++){
			//$("#chk_" + i).prop('checked', false);
			$(".image-checkbox").removeClass('image-checkbox-checked');
			var $checkbox = $("#chk_" + i).find('input[type="checkbox"]');
			$checkbox.prop("checked",!$checkbox.prop("checked"))
			objWatcher.selectedPhotos.pop(datas[i].id);
		}

		$("#tag_count").text(objWatcher.selectedPhotos.length);
	});
	
	$("#btn_updts_sel_all").on('click', function(){
		for(var i = 0; i < datas.length; i++){
			//$("#chk_" + i).prop('checked', true);
			$(".image-checkbox").addClass('image-checkbox-checked');
			var $checkbox = $("#chk_" + i).find('input[type="checkbox"]');
			$checkbox.prop("checked",!$checkbox.prop("checked"))
			if(!containsObject(datas[i].id, objWatcher.selectedPhotos)){
				objWatcher.selectedPhotos.push(datas[i].id);
			}
		}

		$("#updts_count").text(objWatcher.selectedPhotos.length);
		
	});

	$("#btn_updts_clr_all").on('click', function(){
		for(var i = 0; i < datas.length; i++){
			//$("#chk_" + i).prop('checked', false);
			$(".image-checkbox").removeClass('image-checkbox-checked');
			var $checkbox = $("#chk_" + i).find('input[type="checkbox"]');
			$checkbox.prop("checked",!$checkbox.prop("checked"))
			objWatcher.selectedPhotos.pop(datas[i].id);
		}

		$("#updts_count").text(objWatcher.selectedPhotos.length);
	});

	$("#add_tags").on('click', function(){
		var tags = [];
		var tag = $('#tags_for_selected :selected').val();
		if(tag == ""){
			alert("Please select a tag for remove.");
			return;
		}

		if(objWatcher.selectedPhotos.length == 0){
			alert("Please select a photo for update.");
			return;
		}

		tags.push(tag);
        var jsndata = {
			msg:"patags",
			tag:tags,
			photos:objWatcher.selectedPhotos,
			prop_id:localStorage.getItem('mtcs_cms_propid')
		};
		//console.log(jsndata);
		$.ajax({
			url: 'apis/updatemedia.php', // url whsere to submit the request
			type : "PUT", // type of action POST || GET
			data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
			contentType: 'application/json',
			success : function(result) {
				//alert(result.msg);
				//console.log(result);
				objWatcher.isDeleteSelected = false;
				objWatcher.isUpdateTimestampSelected = false;
				objWatcher.isTagSelected = false;
				if(objWatcher.selectedPhotos.length > 0){
					objWatcher.selectedPhotos = [];
				}
				location.reload(); 
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
	});

	$("#remove_tags").on('click', function(){
		var tags = [];
		var tag = $('#tags_for_selected :selected').val();
		if(tag == ""){
			alert("Please select a tag for remove.");
			return;
		}

		if(objWatcher.selectedPhotos.length == 0){
			alert("Please select a photo for update.");
			return;
		}

		tags.push(tag);
        var jsndata = {
			msg:"prtags",
			tag:tags,
			photos:objWatcher.selectedPhotos,
			prop_id:localStorage.getItem('mtcs_cms_propid')
		};
		//console.log(jsndata);
		$.ajax({
			url: 'apis/updatemedia.php', // url whsere to submit the request
			type : "PUT", // type of action POST || GET
			data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
			contentType: 'application/json',
			success : function(result) {
				//alert(result.msg);
				//console.log(result);
				objWatcher.isDeleteSelected = false;
				objWatcher.isUpdateTimestampSelected = false;
				objWatcher.isTagSelected = false;
				if(objWatcher.selectedPhotos.length > 0){
					objWatcher.selectedPhotos = [];
				}
				location.reload(); 
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
	});

	$("#apply_filter").on('click', function(){
		var startDate, endDate, startTime, endTime, processStatus, cam, tagOpt, tags, weatherCondition, moonPhase, pressure, windBearing, 
				startTemp, endTemp, startHumidity, endHumidity, startWindSpeed, endWindSpeed;
		var columns = [];
		var constMediaColumns = ["img_datetime", "status", "cam_id", "img_tag"];
		var constWeatherColumns = ["subtitle", "moonphase", "pressure", "winddirection", "temperature", "humidity", "windspeed"]; 
		var objTimeStamp = {
			msg:"filter",
			prop_id:localStorage.getItem('mtcs_cms_propid'),
			startDate:0,
			endDate:0,
			startTime:0,
			endTime:0,
			processStatus:"",
			cam:"",
			tagOpt:"",
			tags:"",
			weatherCondition:"",
			moonPhase:"",
			pressure:"",
			windBearing:"",
			startTemp:0,
			endTemp:0,
			startHumidity:0,
			endHumidity:0,
			startWindSpeed:0,
			endWindSpeed:0
		};

		startDate =  $('#df').val();
		endDate =  $('#dt').val();

		startTime = $('#ta :selected').val();
		endTime =  $('#tb :selected').val();

		processStatus = $('#status :selected').val();
		cam = $('#camera_id :selected').val();
		tagOpt = $('#tagopt :selected').text();
		tags = $('#tags :selected').val();

		
		if(startDate != undefined && startDate !=null && startDate.length > 0){
			//columns.add(constMediaColumns[0]);
			var phDate = new Date(startDate);
			objTimeStamp.startDate = Math.round((phDate.getTime())/1000);
		}

		if(endDate != undefined && endDate !=null && endDate.length > 0){
			//columns.add(constMediaColumns[0]);
			if(objTimeStamp.startDate == 0){
				alert("Please select a start date.");
				return;
			}
			var phDate = new Date(endDate);
			objTimeStamp.endDate = Math.round((phDate.getTime())/1000);
		}

		if(startTime != ""){
			objTimeStamp.startTime = parseInt(startTime);
		}

		if(endTime != ""){
			objTimeStamp.endTime = parseInt(endTime);
		}

		if(processStatus != undefined && processStatus != null && processStatus.length > 0){
			objTimeStamp.processStatus = processStatus;
		}

		if(cam != ""){
			objTimeStamp.cam = cam;
		}

		if(tagOpt != ""){
			objTimeStamp.tagOpt = tagOpt;
		}

		if(tags != ""){
			objTimeStamp.tags = tags;
		}

		weatherCondition = $('#w_condition :selected').val();
		moonPhase = $('#w_mphase :selected').val();
		pressure = $('#w_pressure :selected').val();
		windBearing = $('#w_wb :selected').val();
		//pressure = $('#w_pressure :selected').text();
		startTemp = $('#w_stemp').val();
		endTemp = $('#w_etemp').val();
		startHumidity = $('#w_shum').val();
		endHumidity = $('#w_ehum').val();
		startWindSpeed = $('#w_sws').val();
		endWindSpeed = $('#w_ews').val();

		if(weatherCondition != ""){
			objTimeStamp.weatherCondition = weatherCondition;
		}

		if(moonPhase != ""){
			objTimeStamp.moonPhase = moonPhase;
		}

		if(pressure != ""){
			objTimeStamp.pressure = pressure;
		}

		if(windBearing != ""){
			objTimeStamp.windBearing = windBearing;
		}

		if(startTemp != undefined && startTemp !=null && startTemp.length > 0){
			//objTimeStamp.startTemp = parseInt(startTemp);
			var curTmp =  parseInt(startTemp);
			if(localStorage.getItem('usr_pref_tmp') == "F"){
				objTimeStamp.startTemp = curTmp;
			} else{
				var tmpincelcius = Math.round((curTmp * 9)/5) + 32;
				objTimeStamp.startTemp = tmpincelcius;
			}
			console.log(objTimeStamp.startTemp);
		}

		if(endTemp != undefined && endTemp !=null && endTemp.length > 0){
			//columns.add(constMediaColumns[0]);
			if(objTimeStamp.startTemp == 0){
				alert("Please select start range for temprature.");
				return;
			}
			//objTimeStamp.endTemp = parseInt(endTemp);
			var curTmp =  parseInt(endTemp);
			if(localStorage.getItem('usr_pref_tmp') == "F"){
				objTimeStamp.endTemp = curTmp;
			} else{
				var tmpincelcius = Math.round((curTmp * 9)/5) + 32;
				objTimeStamp.endTemp = tmpincelcius;
			}
			console.log(objTimeStamp.endTemp);
			
		}

		if(startHumidity != undefined && startHumidity !=null && startHumidity.length > 0){
			objTimeStamp.startHumidity = parseInt(startHumidity);
		}

		if(endHumidity != undefined && endHumidity !=null && endHumidity.length > 0){
			//columns.add(constMediaColumns[0]);
			if(objTimeStamp.startHumidity == 0){
				alert("Please select start range for humidity.");
				return;
			}
			objTimeStamp.endHumidity = parseInt(endHumidity);
		}

	
		if(startWindSpeed != undefined && startWindSpeed !=null && startWindSpeed.length > 0){
			// objTimeStamp.startWindSpeed = parseFloat(startWindSpeed);

			var wind;
			var curwindspeed = parseFloat(startWindSpeed);
			if(localStorage.getItem('usr_pref_speed') == "MPH"){
				var curwindspeedinmiles = curwindspeed / 0.621371; 
				wind = curwindspeedinmiles.toFixed(4);
			} else{
				wind = curwindspeed;
			}
			objTimeStamp.startWindSpeed = wind;
			console.log(objTimeStamp.startWindSpeed);
		}

		if(endWindSpeed != undefined && endWindSpeed !=null && endWindSpeed.length > 0){
			//columns.add(constMediaColumns[0]);
			if(objTimeStamp.startWindSpeed < 0){
				alert("Please select start range for windspeed.");
				return;
			}
			// objTimeStamp.endWindSpeed = parseFloat(endWindSpeed);
			// console.log(objTimeStamp.endWindSpeed);
			var wind;
			var curwindspeed = parseFloat(endWindSpeed);
			if(localStorage.getItem('usr_pref_speed') == "MPH"){
				var curwindspeedinmiles = curwindspeed / 0.621371; 
				wind = curwindspeedinmiles.toFixed(4);
			} else{
				wind = curwindspeed;
			}
			objTimeStamp.endWindSpeed = wind;
			console.log(objTimeStamp.endWindSpeed);
		}

		// send ajax
		$.ajax({
			url: 'apis/updatemedia.php',
			type : "PUT", // type of action POST || GET
			data : JSON.stringify(objTimeStamp), // post data || get data   $("#form").serialize()  dataType: 'json',
			contentType: 'application/json',
			dataType: 'json',
			success : function(results) {
				var year, month, date; 
				const monthNames = ["JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE",
				"JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER"];

				$("#photos").html("");

				//console.log(results.paths);
				datas = results.paths;
				weather_data = results.weather;
				//console.log(datas);
				//console.log(weather_data);
				//images = result.images; 
				if (datas.length > 0) {
					datas.sort(function compare(a, b) {
						var dateA = new Date(a.img_datetime);
						var dateB = new Date(b.img_datetime);
						return dateA - dateB;
					});

					var uniqueDates = [];
					var monthWithYear;
					$.each(datas, function(i, el){
						if(datas[i].status == "Completed"){
							date = new Date(datas[i].img_datetime);
							month = monthNames[date.getMonth()];
							year =  date.getFullYear();
							monthWithYear = month + " " + year; 
							if($.inArray(monthWithYear, uniqueDates) === -1) uniqueDates.push(monthWithYear);
						}
					});

					//console.log(uniqueDates);

					//$('.prof_img').attr("src",datas[0]);
					//$("#photos").show("slow");
					//var row;
					var startRowDiv = '<div class="row">';
					var endRowDiv = '</div>';
					var startResponsiveDiv;
					var endResponsiveDiv = '</div>';
					//var rowString;
					var startGallaryDiv;
					monthWithYear = '';
					var filepath = '';
					var c_im = 0;
				
					for(var j = uniqueDates.length - 1; j >= 0; j--){
						startResponsiveDiv = '<div class="responsive"><h2 style="margin-left: 1%;">'+ uniqueDates[j] +'</h2></br>';
						var rowString = startRowDiv + startResponsiveDiv;
						for (var i = datas.length - 1; i >= 0; i--) {
							date = new Date(datas[i].img_datetime);
							month = monthNames[date.getMonth()];
							year =  date.getFullYear();
							monthWithYear = month + " " + year;
							var uniqueList=datas[i].img_tag.split(',').filter(function(item,i,allItems){
								return i==allItems.indexOf(item);
							}).join(',');
							if(monthWithYear ==  uniqueDates[j]){			
								startGallaryDiv = '<div class="gallery"><label class="image-checkbox"><a class="routing tip" href="javascript:void(0);" name="' + i + '">' + '<img src="'+ datas[i].filepath +'"><span>' + datas[i].img_datetime + '</span>' +
													'<input type="checkbox" id="chk_'+ i +'" value="" /><i class="fa fa-check hidden"></i></a></label><div class="desc">' + uniqueList + '</div></div>';
								rowString = rowString + startGallaryDiv;
							}   
							
						}

						rowString = rowString + endResponsiveDiv + endRowDiv + '</br>';
						var row = $(rowString);
						$('#photos').append(row);
					};

					startResponsiveDiv = '<div class="responsive"><h2 style="margin-left: 1%;">Incompleted Photos</h2></br>';
					var rowString = startRowDiv + startResponsiveDiv;
					for (var i = datas.length - 1; i >= 0; i--) {
						var uniqueList=datas[i].img_tag.split(',').filter(function(item,i,allItems){
							return i==allItems.indexOf(item);
						}).join(',');
						if(datas[i].status == "Incomplete"){			
							startGallaryDiv = '<div class="gallery"><label class="image-checkbox"><a class="routing tip" href="javascript:void(0);" name="' + i + '">' + '<img src="'+ datas[i].filepath +'"><span>No Timestamp Found</span>' +
												'<input type="checkbox" id="chk_'+ i +'" value="" /><i class="fa fa-check hidden"></i></a></label><div class="desc">' + uniqueList + '</div></div>';
							rowString = rowString + startGallaryDiv;
						}   
						
					}

					rowString = rowString + endResponsiveDiv + endRowDiv + '</br>';
					var row = $(rowString);
					$('#photos').append(row);
				}

				//location.reload();
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
				
				
	});

	// window.addEventListener( "pageshow", function ( event ) {
	// 	var historyTraversal = event.persisted || 
	// 							( typeof window.performance != "undefined" && 
	// 								window.performance.navigation.type === 2 );
	// 	//if ( historyTraversal ) {
	// 		// Handle page restore.
	// 		window.location.reload();
	// 	//}
	// });
	getTags();
}

function callback(data) {
		head.removeChild(script);
		updateWeatherData(data);
}
function getLocation() {
		//for(var i = 0; i < photoTime.length; i++){
			script = document.createElement('script');
			script.type = 'text/javascript';
			script.src = 'https://api.darksky.net/forecast/026e2dd15d28adde50c86b2bc3629678/'+ localStorage.getItem('mtcs_cms_proplat') + ',' + localStorage.getItem('mtcs_cms_proplng') + ',' + phototime +'?callback=callback';  //+ ',' + photoTime[weatherTimeCount]  
			//console.log(script.src);
			head.appendChild(script);
		//}
		
}	
function updateWeatherData(response){
		var wind_bearing = response.currently.windBearing;
		var val = Math.round((wind_bearing/22.5)+.5);
		var wind_direction = directionarr[(val % 16)];

		var w_speed, w_pressure, w_temprature, w_humidity, w_sunrise, w_sunset, w_summery, w_moonp, w_icon;
		if(response.currently.windSpeed != null && response.currently.windSpeed != undefined){
			w_speed = response.currently.windSpeed;
		} else{
			w_speed = 0.0;
			wind_direction = '';
		}
		if(response.currently.pressure != null && response.currently.pressure != undefined){
			w_pressure = response.currently.pressure;
		} else{
			w_pressure = 0;
		} 
		if(response.currently.temperature != null && response.currently.temperature != undefined){
			w_temprature = response.currently.temperature;
		} else{
			w_temprature = 0;
		} 
		if(response.currently.humidity != null && response.currently.humidity != undefined){
			w_humidity = response.currently.humidity;
		} else{
			w_humidity = 0;
		}
		if(response.daily != undefined) {
			if(response.daily.data[0] != undefined){
				if(response.daily.data[0].sunriseTime != null && response.daily.data[0].sunriseTime != undefined){
					w_sunrise = response.daily.data[0].sunriseTime;
				} else {
					w_sunrise = 0;
				}
				if(response.daily.data[0].sunsetTime != null && response.daily.data[0].sunsetTime != undefined){
					w_sunset = response.daily.data[0].sunsetTime;
				} else {
					w_sunset = 0;
				}
				if(response.daily.data[0].moonPhase != null && response.daily.data[0].moonPhase != undefined){
					w_moonp = response.daily.data[0].moonPhase;
				} else {
					w_moonp = 0;
				}
			} else {
				w_sunrise = 0;
				w_sunset = 0;
				w_moonp = 0;
			}
		}
		

		if(response.currently.summary != null && response.currently.summary != undefined){
			w_summery = response.currently.summary;
		} else{
			w_summery = "";
		} 

		if(response.currently.icon != null && response.currently.icon != undefined){
			w_icon = response.currently.icon;
		} else{
			w_icon = "";
		}
		

		var date = new Date(0);
		date.setUTCSeconds(phototime);
		var month = monthNames[date.getMonth()];
		var year =  date.getFullYear();
		var curDate = date.getDate();
		var mPhase = Moon.phase(year.toString(), date.getMonth().toString(), curDate.toString());
		console.log(mPhase);
		//console.log(w_speed, wind_direction, w_pressure, w_temprature, w_humidity, w_sunrise, w_sunset);


		var jsndata = {
			windspeed:w_speed,     
		    winddirection: wind_direction,  
		    pressure: w_pressure,  
		    temperature: w_temprature,  
			humidity: w_humidity,
			sunrise: w_sunrise,
			sunset: w_sunset,
			summery: w_summery,
			icons:w_icon,
			moonphase:mPhase,
			user_id: localStorage.getItem("mtcs_cms_uid"),
			prop_id: localStorage.getItem('mtcs_cms_propid'), //Added on 130319
  			cam_id: localStorage.getItem('mtcs_cms_camid')   //Added on 130319
		};

        $.ajax({
            url: 'apis/updateweather.php',
            type : "POST", 
            data : JSON.stringify(jsndata), 
            contentType: 'application/json',
			dataType: 'json',
            success : function(result) {
								//w_id.push(result.w_id);
								w_id = result.w_id;
								callUpdateMedia();
                //console.log(result); 
            },
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
	}
	
function callUpdateMedia(){
	// console.log(selectedPhotos);
	// console.log(phototime);
	// console.log(w_id);
	var jsndata = {
			msg:"time",
			phids:objWatcher.selectedPhotos,
			phtime:phototime,
			wid:w_id
		};
		// send ajax
		$.ajax({
			url: 'apis/updatemedia.php',
			type : "PUT", // type of action POST || GET
			data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
			contentType: 'application/json',
			success : function(result) {
				//console.log(result);
				objWatcher.isDeleteSelected = false;
				objWatcher.isUpdateTimestampSelected = false;
				objWatcher.isTagSelected = false;
				if(objWatcher.selectedPhotos.length > 0){
					objWatcher.selectedPhotos = [];
				}
				location.reload();
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
} 

function getCams(){
		$.ajax({
				url: 'apis/addcam.php?property_id='+ localStorage.getItem('mtcs_cms_propid'),
				type : "get", // type of action POST || GET
				dataType: 'json',
				success : function(result) {
				 camd = result.camdetails;
				 console.log(camd);
				 tp = result.total_photos;
				 var total = 0;
				 for (var i = 0; i < tp.length; i++) {
					total += tp[i] << 0;
				 }
				 if(camd.length > 0){
					for(var i = camd.length - 1; i >= 0; i--){
						$('#camera_id')
							.append($("<option></option>")
										.attr("value",camd[i].id)
										.text(camd[i].camera_name));
						}
					};
					},
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
	}

function getTags(){
		var address = 'apis/updatemedia.php?cmd=photos&prop_id=' + localStorage.getItem('mtcs_cms_propid');
		$.ajax({
	        url: address,
	        type : "GET", // type of action POST || GET
	        dataType: 'json',
	        success : function(result) {
				datas = result.paths;
				images = result.images; 
				if (datas.length > 0) {
					datas.sort(function compare(a, b) {
						var dateA = new Date(a.img_datetime);
						var dateB = new Date(b.img_datetime);
						return dateA - dateB;
					});

					var uniqueTags = [];
					var monthWithYear;

					for(var i = 0; i < datas.length; i++){
						var uniqueList=datas[i].img_tag.split(',').filter(function(item,i,allItems){
							return i==allItems.indexOf(item);
						}).join(',');
						
						var tag_list = datas[i].img_tag.split(',');
						for(var j = 0; j < tag_list.length; j++){
							uniqueTags.push(tag_list[j]);
						}
					}

					var sorted_uniqueTags = uniqueTags.slice().sort();
					var results = [];
					// for (var i = 0; i < sorted_uniqueTags.length - 1; i++) {
					// 	if (sorted_uniqueTags[i + 1] == uniqueTags[i]) {
					// 		if($.inArray(sorted_uniqueTags[i], results) === -1) results.push(sorted_uniqueTags[i]);
					// 	}
					// }

					for (var i = 0; i < sorted_uniqueTags.length; i++) {
						if ($.inArray(sorted_uniqueTags[i], uniqueTags) !== -1) {
							if($.inArray(sorted_uniqueTags[i], results) === -1) 
								results.push(sorted_uniqueTags[i]);
							//results.push(sorted_uniqueTags[i]);
						} else{
							if($.inArray(sorted_uniqueTags[i], results) === -1) 
								results.push(sorted_uniqueTags[i]);
						}
					}

					var occurance = 0;
					for(var k = 0; k < results.length; k++){
						if(results[k]!=""){
							$('#tags')
							.append($("<option></option>")
										.attr("value",results[k])
										.text(results[k]));

							$('#tags_for_selected')
							.append($("<option></option>")
										.attr("value",results[k])
										.text(results[k]));
										
						}
					}
				}
				getCams();
	        	
	        },
	        error: function(xhr, resp, text) {
	            console.log(xhr, resp, text);
	        }
	    })
	}

function removeSelection(){
	$('#df').val('');
	$('#dt').val('');
	$('#ta :selected').text("-- Earliest --");
	$('#tb :selected').text("-- Latest --");
	$('#status :selected').text("Completed (Time Stamp Found)");
	$('#camera_id :selected').text("-- Any Camera --");
	$('#to :selected').text("Match Any");
	$('#w :selected').text("-- Any Tags --");
	$('#m :selected').text("-- Any Phases --");
	$('#p :selected').text("-- Any Pressure --");
	$('#wd :selected').text("-- Any Bearing --");
	$('#tf').val('');
	$('#tt').val('');
	$('#hf').val('');
	$('#ht').val('');
	$('#wsf').val('');
	$('#wst').val('');
	//updatePhotos();
	location.reload();
}
function containsObject(obj, list) {
    var i;
    for (i = 0; i < list.length; i++) {
        if (list[i] === obj) {
            return true;
        }
    }

    return false;
}
</script>