<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<!-- Plugin CSS -->
<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/creative.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="css/bootstrap-select.css" rel="stylesheet">
<link href="css/creative.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/user.css" rel="stylesheet">

<div class="container">
	<div class="row">
			<div class="col-md-12">
				<button id="defaultOpen" class="tablink" onclick="openPage('Home', this, 'white')" style="background-color: #fff;">MONTH-TO-MONTH PLANS</button>
				<button class="tablink" onclick="openPage('News', this, 'white')" style="margin-left: -8px;">ANNUAL PLANS</button>
				<div id="Home" class="tabcontent" style="display:block;">
				    <div class="row" style="text-align:center;">
			            <div class="col-lg-3 col-md-6 text-center" style="margin-left: 10%;">
				            <div class="service-box mt-5 mx-auto">
				               	<i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
				              	<h3 class="mb-3">BEST VALUE</h3>
				              	<p class="text-muted mb-0" style="color:#385723!important;font-weight: bold;">Monthly</p>
				              	<p class="text-muted mb-0">$5.00</p>
				              	<p class="text-muted mb-0">Property - 2</p>
				              	<p class="text-muted mb-0">Cameras - 25</p>
								<p class="text-muted mb-0">Photos - 10,000</p>
								<!-- <label class="chk_container text-muted mb-0">SUBSCRIBE
									<input type="checkbox" id="best-value-monthly">
									<span class="checkmark"></span>
								</label> -->
								<a href="javascript:void(0)" class="btn btn-success btn-lg propbtnsm basep" data-cb-type="checkout" data-cb-plan-id="best-value-monthly" name="best-value-monthly" id="best-value-monthly">BUY</a>
				            </div>
			            </div>
			            <div class="col-lg-3 col-md-6 text-center">
				            <div class="service-box mt-5 mx-auto">
					            <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
					            <h3 class="mb-3">BASIC VALUE</h3>
					            <p class="text-muted mb-0" style="color:#385723!important;font-weight: bold;">Monthly</p>
					            <p class="text-muted mb-0">$10.00</p>
					            <p class="text-muted mb-0">Property - 10</p>
					            <p class="text-muted mb-0">Cameras - 50</p>
								<p class="text-muted mb-0">Photos - 100000</p>
								<!-- <label class="chk_container text-muted mb-0">SUBSCRIBE
									<input type="checkbox" id="basic-value-monthly" >
									<span class="checkmark"></span>
								</label> -->
								<a href="javascript:void(0)" class="btn btn-success btn-lg propbtnsm basep" data-cb-type="checkout" data-cb-plan-id="basic-value-monthly" name="basic-value-monthly" id="basic-value-monthly">BUY</a>
				            </div>
			            </div>
			            <div class="col-lg-3 col-md-6 text-center">
				            <div class="service-box mt-5 mx-auto">
				                <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
				              	<h3 class="mb-3">UNLIMITED VALUE</h3>
				              	<p class="text-muted mb-0" style="color:#385723!important;font-weight: bold;">Monthly</p>
				              	<p class="text-muted mb-0">$20.00</p>
				              	<p class="text-muted mb-0">Property - Unlimited</p>
				              	<p class="text-muted mb-0">Cameras - Unlimited</p>
								<p class="text-muted mb-0">Photos - 500000</p>
								<!-- <label class="chk_container text-muted mb-0">SUBSCRIBE
									<input type="checkbox" id="unlimited-value-monthly" >
									<span class="checkmark"></span>
								</label> -->
								<a href="javascript:void(0)" class="btn btn-success btn-lg propbtnsm basep" data-cb-type="checkout" data-cb-plan-id="unlimited-value-monthly" name="unlimited-value-monthly" id="unlimited-value-monthly">BUY</a>
				            </div>
			            </div>
        			</div>
				</div>
				<div id="News" class="tabcontent">
					<div class="row" style="text-align:center;" >
			            <div class="col-lg-3 col-md-6 text-center" style="margin-left: 10%;">
				            <div class="service-box mt-5 mx-auto">
				               	<i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
				              	<h3 class="mb-3">BEST VALUE</h3>
				              	<p class="text-muted mb-0" style="color:#385723!important;font-weight: bold;">Yearly</p>
				              	<p class="text-muted mb-0">$50.00</p>
				              	<p class="text-muted mb-0">Property - 2</p>
				              	<p class="text-muted mb-0">Cameras - 25</p>
								<p class="text-muted mb-0">Photos - 10,000</p>
								<!-- <label class="chk_container text-muted mb-0">SUBSCRIBE
									<input type="checkbox" id="best-value-yearly">
									<span class="checkmark"></span>
								</label> -->
								<a href="javascript:void(0)" class="btn btn-success btn-lg propbtnsm basep" data-cb-type="checkout" data-cb-plan-id="best-value-yearly" name="best-value-yearly" id="best-value-yearly">BUY</a>
				            </div>
			            </div>
			            <div class="col-lg-3 col-md-6 text-center">
				            <div class="service-box mt-5 mx-auto">
					            <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
					            <h3 class="mb-3">BASIC VALUE</h3>
					            <p class="text-muted mb-0" style="color:#385723!important;font-weight: bold;">Yearly</p>
					            <p class="text-muted mb-0">$100.00</p>
					            <p class="text-muted mb-0">Property - 10</p>
					            <p class="text-muted mb-0">Cameras - 50</p>
								<p class="text-muted mb-0">Photos - 100000</p>
								<!-- <label class="chk_container text-muted mb-0">SUBSCRIBE
									<input type="checkbox" id="basic-value-yearly">
									<span class="checkmark"></span>
								</label> -->
								<a href="javascript:void(0)" class="btn btn-success btn-lg propbtnsm basep" data-cb-type="checkout" data-cb-plan-id="basic-value-yearly" name="basic-value-yearly" id="basic-value-yearly">BUY</a>
				            </div>
			            </div>
			            <div class="col-lg-3 col-md-6 text-center">
				            <div class="service-box mt-5 mx-auto">
				                <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
				              	<h3 class="mb-3">UNLIMITED VALUE</h3>
				              	<p class="text-muted mb-0" style="color:#385723!important;font-weight: bold;">Yearly</p>
				              	<p class="text-muted mb-0">$200.00</p>
				              	<p class="text-muted mb-0">Property - Unlimited</p>
				              	<p class="text-muted mb-0">Cameras - Unlimited</p>
								<p class="text-muted mb-0">Photos - 500000</p>
								<!-- <label class="chk_container text-muted mb-0">SUBSCRIBE
									<input type="checkbox" id="unlimited-value-yearly" >
									<span class="checkmark"></span>
								</label> -->
								<a href="javascript:void(0)" class="btn btn-success btn-lg propbtnsm basep" data-cb-type="checkout" data-cb-plan-id="unlimited-value-yearly" name="unlimited-value-yearly" id="unlimited-value-yearly">BUY</a>
				            </div>
			            </div>
        			</div>
				</div>
				<!-- <div style="background-color: #fff;">
					<label class="chk_container">subscribe
						<input type="checkbox" >
						<span class="checkmark"></span>
					</label>
				</div> -->

			</div>
		</div>
		<div class="modal fade" id="modal_recurring" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<label class="chk_container text-muted mb-0"> Do you want to enable auto-recurring? Please check to enabble auto-recurring.
							<input type="checkbox" id="isrecuring" >
							<span class="checkmark" style="left: 0 !important;"></span>
						</label>
						<div id="validation-message"></div>
					</div>
					<div class="modal-footer">
						<button id="btn_proceedforportal" type="button" class="login100-form-btn" data-dismiss="modal">Submit</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal_downgrade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<p>You have added more Properties/Cameras/Photos  then allowed in selected Plan.</p>
						<p>	Downgrade to selected Plan you have to delete objects from below table:
							Allowed: Properties: 2 Cameras: 10 Photos: 10,000</p>
						<h3 style="color:red !important">Note: Deleted information can’t recover .</h3>
						<table class="table">
							<thead>
								<tr class="table-header">
									<th class="text-center">
										<a data-remote="true" href="javascript:void(0);">Property</a>
									</th>
									<th class="text-center">
										<a data-remote="true" href="javascript:void(0);">Camera Count</a>
									</th>
									<th class="visible-md visible-lg text-center">
										<a data-remote="true" href="javascript:void(0);">Photo Count</a>
									</th>
									<th class="visible-md visible-lg text-center">
										<a data-remote="true" href="javascript:void(0);"></a>
									</th>
								</tr>
							</thead>
							<tbody id="tbl_dg_props">
							</tbody>
						</table>
						<div id="validation-message"></div>
					</div>
					<div class="modal-footer">
						<button id="fp_pwd" type="button" class="login100-form-btn" data-dismiss="modal">Submit</button>
					</div>
				</div>
			</div>
		</div>
</div>
<script type="text/javascript">
	var hpageid, selectedPlan, action, isSubscribe;
	var uFName, uLName, UEmail;
	var plans = ["best-value-monthly", "basic-value-monthly", "unlimited-value-monthly", "best-value-yearly", "basic-value-yearly", "unlimited-value-yearly"];
	var arr_props = [2, 10, 10000, 2, 10, 10000]; //-1, -1
	var arr_cams = [25, 50, 10000, 25, 50, 10000]; // -1, -1
	var arr_photos = [10000, 100000, 500000, 10000, 100000, 500000];
	var arr_allprops, arr_allcams, arr_allphotos;
	var total_props = 0, total_cams = 0, total_photos = 0;

	function openPage(pageName,elmnt,color) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablink");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].style.backgroundColor = "";
		}
		document.getElementById(pageName).style.display = "block";
		elmnt.style.backgroundColor = color;
	}

	function assignClick(){
		$(document).on("click", "a.basep" , function() {
			selectedPlan = $(this).attr("name");
			var index = plans.indexOf(selectedPlan);
			action = $(this).text();

			//console.log(arr_allprops);
			total_props = arr_allprops.length;

			for (var i = 0; i < arr_allcams.length; i++) {
				total_cams += arr_allcams[i];
			}

			for (var i = 0; i < arr_allphotos.length; i++) {
				total_photos += arr_allphotos[i];
			}

			if(action=="DOWNGRADE"){
				if(total_props > arr_props[index] || total_cams > arr_cams[index] || total_photos > arr_photos[index]){
					$('#modal_downgrade').modal('show');
				} else{
					$('#modal_recurring').modal('show');
				}
			} else{
				$('#modal_recurring').modal('show');
			}

    	});

		$("#btn_proceedforportal").on('click', function(){
			proceedForPortal();
		});
	}

	function proceedForPortal(){
		isSubscribe = $("#isrecuring").prop('checked'); //selectedPlan	
		//console.log(localStorage.getItem('mtcs_cms_customerid'));
		if(localStorage.getItem('mtcs_cms_customerid') != undefined && localStorage.getItem('mtcs_cms_customerid') != null && localStorage.getItem('mtcs_cms_customerid').length > 0){
			//cancelPlan();
			upgradePlan();
		} else{
			initiatePortal();
		}
	}

	function cancelPlan(){
		var jsndata = {
			customer_id:localStorage.getItem('mtcs_cms_customerid'), 
			prop_name: $("#property_name").val()
		};
		$.ajax({
			url: 'apis/subscription.php?customer_id='+ localStorage.getItem('mtcs_cms_customerid') +"&plan_id=" + selectedPlan,
			type : "PUT",
			data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
			contentType: 'application/json',
			dataType: 'json',
			success : function(result) {
				console.log(result);
				console.log(result.url);
				//initiatePortal();
				upgradePlan(result.url);
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
	}

	function initiatePortal(){
		var cbInstance = Chargebee.getInstance();
		Chargebee.registerAgain();
		var cart = cbInstance.getCart();
		var customer = {first_name: uFName, last_name: uLName, email:UEmail, billing_address:{first_name: uFName, last_name: uLName, company: "", phone: "", email:UEmail, line1: "", line2: ""}};
		customer["cf_custom_field1"] = "Custume Details";
		cart.setCustomer(customer);
		var shippingAddress = {first_name: uFName, last_name: uLName, company: "", phone: "", email:UEmail, line1: "", line2: ""};
		cart.setShippingAddress(shippingAddress);
		let product = cbInstance.initializeProduct(selectedPlan);
		cart.replaceProduct(product);
		cbInstance.setCheckoutCallbacks(function(cart) {
			return {
				loaded: function() {
				},
				close: function() {
				},
				success: function(hostedPage) {
					//console.log(hostedPage);
					hpageid = hostedPage;
					updateRecord(hostedPage);
				},
				step: function(value) {
				}
			}
		});

		cart.proceedToCheckout();
	} 

    //old logic

	// function upgradePlan(){ //address
	// 	var jsndata = {
	// 		customer_id:localStorage.getItem('mtcs_cms_customerid'), 
	// 		prop_name: $("#property_name").val()
	// 	};
	// 	var cbInstance = Chargebee.getInstance();
	// 	event.preventDefault();
	// 	cbInstance.openCheckout({
	// 		hostedPage: function() {
	// 		return $.ajax({
	// 				url: 'apis/subscription.php?customer_id='+ localStorage.getItem('mtcs_cms_customerid') +"&plan_id=" + selectedPlan,
	// 				type : "PUT",	
	// 			})
	// 		},
	// 		loaded: function() {
	// 			console.log("checkout opened");
	// 		},
	// 		error: function() {
	// 			console.log('error hgappened.');
	// 		},
	// 		close: function() {
	// 			console.log("checkout closed");
	// 		},
	// 		success: function(hostedPageId) {
	// 			console.log(hostedPageId);
	// 			updateRecord(hostedPageId);
	// 		},
	// 		step: function(value) {
	// 			//console.log(value);
	// 		}
	// 	});
	// }

	// new logic by chargebee
	function upgradePlan() { //selectedPlan
		var cbInstance = Chargebee.getInstance();
		event.preventDefault();

		var jsndata = {
			planId: selectedPlan
		};
		cbInstance.openCheckout({
			hostedPage: function () {
			return $.ajax({
				url: 'apis/subscription.php?customer_id=' + localStorage.getItem('mtcs_cms_customerid') + "&plan_id=" + selectedPlan,
				type: "PUT",
				data: JSON.stringify(jsndata),
				contentType: 'application/json',
				dataType: 'json',
			})
			},
			loaded: function () {
			console.log("checkout opened");
			},
			error: function () {
			console.log('error hgappened.');
			},
			close: function () {
			console.log("checkout closed");
			},
			success: function (hostedPageId) {
			console.log(hostedPageId);
			updateRecord(hostedPageId);
			},
			step: function (value) {
			//console.log(value);
			}
		});
	}

	function updateRecord(pageid){
		$.ajax({
			url: 'apis/subscription.php?pageid='+ pageid + '&uid=' + localStorage.getItem('mtcs_cms_uid') + '&subscription=' + isSubscribe,
			type : "POST",
			dataType: 'json',
			success : function(result) {
				//console.log(result);
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})	
	}

	function getUserDetails(){
		$.ajax({
	        url: 'apis/userinfo.php?user_id=' + localStorage.getItem('mtcs_cms_uid'),
	        type : "GET", // type of action POST || GET
	        dataType: 'json',
	        success : function(result) {
	        	//console.log(result);
				var data= result.userdata;
				uFName = data[0].first_name;
				uLName = data[0].last_name;
				UEmail = data[0].user_name;
				assignClick();
	        },
	        error: function(xhr, resp, text) {
	            console.log(xhr, resp, text);
	        }
	    })
	}

	function callApi(){
		$.ajax({
	        url: 'apis/subscription.php?uid=' + localStorage.getItem('mtcs_cms_uid'),
	        type : "GET", // type of action POST || GET
	        dataType: 'json',
	        success : function(result) {
				//console.log(result);
				if(result.user_id != null){
					var data = result.inv_data;
					var plan_id = data.plan_id;
					arr_allprops = result.total_props;
					arr_allcams = result.total_cams;
					arr_allphotos = result.total_photos;
					localStorage.setItem('mtcs_cms_maxprop', data.allowed_properties);
					localStorage.setItem('mtcs_cms_maxcam', data.allowed_cameras);
					localStorage.setItem('mtcs_cms_maxphotos', data.allowed_photos);
					localStorage.setItem('mtcs_cms_pageid', data.pageid);
					localStorage.setItem('mtcs_cms_customerid', data.customerid);
					console.log(plan_id.toString());
					switch (plan_id.toString()) {
						case plans[0]:
							$("#" + plans[0]).text("PAID");
							$("#" + plans[1]).text("UPGRADE");
							$("#" + plans[2]).text("UPGRADE");
							$("#" + plans[3]).text("UPGRADE");
							$("#" + plans[4]).text("UPGRADE");
							$("#" + plans[5]).text("UPGRADE");
							break;
						case plans[1]:
							$("#" + plans[0]).text("DOWNGRADE");
							$("#" + plans[1]).text("PAID");
							$("#" + plans[2]).text("UPGRADE");
							$("#" + plans[3]).text("UPGRADE");
							$("#" + plans[4]).text("UPGRADE");
							$("#" + plans[5]).text("UPGRADE");
							break;
						case plans[2]:
							$("#" + plans[0]).text("DOWNGRADE");
							$("#" + plans[1]).text("DOWNGRADE");
							$("#" + plans[2]).text("PAID");
							$("#" + plans[3]).text("UPGRADE");
							$("#" + plans[4]).text("UPGRADE");
							$("#" + plans[5]).text("UPGRADE");
							break;
						case plans[3]:
							$("#" + plans[0]).text("DOWNGRADE");
							$("#" + plans[1]).text("DOWNGRADE");
							$("#" + plans[2]).text("DOWNGRADE");
							$("#" + plans[3]).text("PAID");
							$("#" + plans[4]).text("UPGRADE");
							$("#" + plans[5]).text("UPGRADE");
							break;
						case plans[4]:
							$("#" + plans[0]).text("DOWNGRADE");
							$("#" + plans[1]).text("DOWNGRADE");
							$("#" + plans[2]).text("DOWNGRADE");
							$("#" + plans[3]).text("DOWNGRADE");
							$("#" + plans[4]).text("PAID");
							$("#" + plans[5]).text("UPGRADE");
							break;
						case plans[5]:
							$("#" + plans[0]).text("DOWNGRADE");
							$("#" + plans[1]).text("DOWNGRADE");
							$("#" + plans[2]).text("DOWNGRADE");
							$("#" + plans[3]).text("DOWNGRADE");
							$("#" + plans[4]).text("DOWNGRADE");
							$("#" + plans[5]).text("PAID");
							break;
					}
				} else{
					$(plans[0]).text("subscribe");
					$(plans[1]).text("subscribe");
					$(plans[2]).text("subscribe");
					$(plans[3]).text("subscribe");
					$(plans[4]).text("subscribe");
					$(plans[5]).text("subscribe");
				}
				for(var i = 0; i < arr_allprops.length; i++){
					var row = $('<tr><td><a class="cam_rout" href="javascript:void(0);" name="' + arr_allprops[i].id 
						+'">'+ arr_allprops[i].prop_name +'</a></td><td>' + arr_allcams[i] + '</td><td class="text-center">'
						+'<a class="cam_rout" href="javascript:void(0);">' + arr_allphotos[i] + '</a></td><td class="visible-md visible-lg text-center">'
						+'<i class="fa fa-trash" aria-hidden="true" style="color:green;"></i></td></tr>');
						
						
					$('#tbl_dg_props').append(row);
				}
				getUserDetails();
	        },
	        error: function(xhr, resp, text) {
	            console.log(xhr, resp, text);
	        }
	    })
	}

	callApi();
</script>




<!--// To add addons   ,  


hostedPage: function() {
						// required
						// This function should return a promise, that will resolve a hosted page object
						// If the library that you use for making ajax calls, can return a promise,
						// you can directly return that.
						return new Promise(function(resolve, reject){
						// This sampe response should be fetched as a result of an ajax call
						var sampleResponse = {
							"id": "8ajOxcuyG692GDy9yjnZ2hNM1ATugOFQl",
							"type": "checkout_new",
							"url": "https://mytrailcams-test.chargebee.com/pages/v3/8ajOxcuyG692GDy9yjnZ2hNM1ATugOFQl/",
							"state": "created",
							"embed": true,
							"created_at": 1515494821,
							"expires_at": 1515498421
						}
						resolve(sampleResponse);
						});
					},



// Get the element with the corresponding plan and addons
	// var chargebeeInstance = Chargebee.init({
  // 	site: "site-name", // your test site
  // 	domain: "https://mybilling.acme.com" // this is an optional parameter.
  // // Use this, if custom domain is enabled for your site
  // })
//   var planElement = document.querySelector("[data-cb-plan-id='base-plan']");
//   var product = cbInstance.getProduct(planElement);
//   console.log(product);
//   //product.addons.push({id: "extra-comic-book", quantity: 2});
//   // to add coupon
//   //product.addCoupon("cbdemo_earlybird");
//   // adding subscription custom fields
//   //product.data["cf_sub_test"] = "subscription custom field";
//   // To add coupons and customer related information with custom fields
//   var cart = cbInstance.getCart();
//   // Date should be in YYYY-MM-DD
//   cart.setCustomer({email: "amrutash.mishrsa35@gmail.com", cf_test: "customer custom field", cf_date: "2018-01-16"});

//   cbInstance.setCheckoutCallbacks(function(cart) {
//     // You can get the plan name for which the checkout happened like below
//     var product = cart.products[0];
//     console.log(product.planId);
//     //console.log(product.addons);
//     return {
//         loaded: function() {
//             console.log("checkout opened");
//         },
//         close: function() {
//             console.log("checkout closed");
//         },
//         success: function(hostedPageId) {
//           console.log(hostedPageId);
//           // Hosted page id will be unique token for the checkout that happened
//           // You can pass this hosted page id to your backend 
//           // and then call our retrieve hosted page api to get subscription details
//           // https://apidocs.chargebee.com/docs/api/hosted_pages#retrieve_a_hosted_page
//         },
//         step: function(value) {
//             // value -> which step in checkout
//             console.log(value);
//         }
//     }
//   });

//   cbInstance.openCheckout({
// 	hostedPage: function() {
// 		// required
// 		// This function should return a promise, that will resolve a hosted page object
// 		// If the library that you use for making ajax calls, can return a promise,
// 		// you can directly return that.
// 		return new Promise(function(resolve, reject){
// 		// This sampe response should be fetched as a result of an ajax call
// 		var sampleResponse = {
// 			"id": "test_eSGBj8VSK3CvHnvDcdIsiSN2WKP7esBNi",
// 			"type": "checkout_new",
// 			"url": "https://mytralcams-test.chargebee.com/pages/v3/test_eSGBj8VSK3CvHnvDcdIsiSN2WKP7esBNi/",
// 			"state": "created",
// 			"embed": true,
// 			"created_at": 1515494821,
// 			"expires_at": 1515498421
// 		}
// 		resolve(sampleResponse);
// 		});
// 	},
// 	loaded: function() {
// 		// Optional
// 		// will be called once checkout page is loaded
// 		//cbInstance.createChargebeePortal();
// 	},
// 	error: function(error) {
// 		console.log(error);
// 		// Optional
// 		// will be called if the promise passed causes an error
// 	},
// 	step: function(step) {
// 		console.log(step);
// 		// Optional
// 		// will be called for each step involved in the checkout process
// 	},
// 	success: function(hostedPageId) {
// 		console.log(hostedPageId);
// 		// Optional
// 		// will be called when a successful checkout happens.
// 	},
// 	close: function() {
// 		// Optional
// 		// will be called when the user closes the checkout modal box
// 	}
// 	})-->
