<div class="container">
	<div class="row">
		<div class="col-md-12"></div>
	</div>
	<div class="content">
		<div class="profiles propcontainer">
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group header-btn-group pull-right hidden-xs">
						<a class="btn btn-primary propbtnmm" href="#/addprofile">New Profile</a>
						<a class="btn btn-primary propbtnmm" href="#/photos">Tag More Photos</a>
					</div>
					<h1 id="prof_header" class="prof_name" class="propwelcomemsg"></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button id="defaultOpen" class="tablink" onclick="openPage('Overview', this, 'white')" style="background-color: #fff;">Overview</button>
					<button class="tablink" onclick="openPage('Wind', this, 'white')" style="margin-left: -8px;">Wind</button>
					<button id="defaultOpen" class="tablink" onclick="openPage('Moon', this, 'white')" style="margin-left: -8px;">Moon</button>
					<button class="tablink" onclick="openPage('Heatmap', this, 'white')" style="margin-left: -8px;">Heat Map</button>
					<button id="defaultOpen" class="tablink" onclick="openPage('media', this, 'white')" style="margin-left: -8px;">Photos</button>
					<div id="Overview" class="tabcontent" style="display:block;">
						<div class="row">
							<div class="col-md-12">
								<div class="profile-detail">
									<div class="row">
										<div class="col-md-4 col-sm-4">
											<div class="callout">
												<div class="photo">
													<img class="prof_img" src="" alt="">
												</div>
												<section class="first">
													<h3 class="prof_name">ExpProp</h3>
													<p class="prof_tagname">Tagged as "animal"</p>
													<p><span class="prof_stat label label-watching">WATCHING</span></p>
													<p class="prof_tagged">
														<a class="prof_sighting" data-toggle="modal" href="#sighting-help" aria-hidden="true">0 Sightings </a>/ 0 Tagged Photos
													</p>
												</section>
												<section>
													<h4>Last Seen</h4>
													<p class="prof_seen">Unknown</p>
												</section>
												<section>
													<h4>Time Most Active</h4>
													<p class="prof_act">Unknown</p>
												</section>
												<section>
													<h4>Most Active Camera</h4>
													<p class="prof_cam">Unknown</p>
												</section>
												<section>
													<h4>Cameras with Activity</h4>
													<p class="prof_cam_act"></p>
												</section>
												<section>
													<h4>Most Active Moon Phase</h4>
													<p class="prof_moonphase">Unknown</p>
												</section>
											</div>
										</div>
										<div class="col-md-8 col-sm-8">
											<div class="row">
												<div class="col-sm-10">
													<h2>Sightings by Time of Day for All Cameras 
														<a data-toggle="modal" href="#sighting-help"><span aria-hidden="true" class="icon-small black icon-help mr-10"></span></a>
													</h2>
												</div>
												<div class="col-sm-2 text-right" style="right: 5%; display:none;">
													<a class="btn btn-primary btn-filter propbtnmm" data-toggle="modal" href="#filter">Filter</a>
												</div>
											</div>
											<hr>
											<div id="sightingbytime" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
											<div class="alert alert-danger" style="display:none;">No Data Found</div>
											<h2>Sightings by Camera 
												<a data-toggle="modal" href="#sighting-help">
													<span aria-hidden="true" class="icon-small black icon-help mr-10"></span>
												</a>
											</h2>
											<hr>
											<div id="sightingbycam" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
											<div class="alert alert-danger" style="display:none;">No Data Found</div>
											<div aria-hidden="true" class="modal fade" id="filter" role="dialog" tabindex="-1">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
															<h3 class="modal-title">Filter</h3>
														</div>
														<div class="modal-body">
															<form class="filter form-horizontal" action="/profiles/11912" accept-charset="UTF-8" method="get">
																<input name="utf8" type="hidden" value="✓">
																<div class="form-group">
																	<label class="col-sm-3 control-label" for="df">Date Range:</label>
																	<div class="col-sm-9">
																		<input type="text" name="df" id="df" class="form-control-p datepicker inline"><span class="separator">to</span>
																		<input type="text" name="dt" id="dt" class="form-control-p datepicker inline">
																	</div>
																</div>
																<div class="form-group">
																	<label class="col-sm-3 control-label" for="camera_id">Camera:</label>
																	<div class="col-sm-9">
																		<select name="camera_id" id="camera_id" class="form-control-p selectize-with-empty selectized" tabindex="-1" style="display: none;">
																			<option value="" selected="selected"></option>
																		</select>
																		<div class="selectize-control form-control-p selectize-with-empty single">
																			<div class="selectize-input items full has-options has-items">
																				<div data-value="" class="item">-- Any Camera --</div>
																				<input type="text" autocomplete="off" tabindex="" style="width: 4px;">
																			</div>
																			<div class="selectize-dropdown form-control-p selectize-with-empty single" style="display: none;">
																				<div class="selectize-dropdown-content"></div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="form-group">
																	<div class="col-sm-offset-3 col-sm-9">
																		<input type="submit" name="commit" value="Apply Filter" class="btn btn-primary" id="apply_filter">
																		<a href="/profiles/11912">Clear Filter</a>
																	</div>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
											<div aria-hidden="true" class="modal fade" id="sighting-help" role="dialog" tabindex="-1">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
															<h3 class="modal-title">About Sightings</h3>
														</div>
														<div class="modal-body">
															<p>To accurately predict patterns myTrailCams automatically groups trail camera photos for profiled animals in 15 minute segments. If counting each and every photo the stats would lean heavily (and incorrectly) on cameras that take more photos in a short period of time (like over a food plot compared to a path or trail).
															</p>
															<p>
																<a href="">Learn more about this on our blog and view some examples why this matters</a>.
															</p>
														</div>
														<div class="modal-footer">
															<button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="Wind" class="tabcontent" style="width: 102% !important;">
						<div class="row">
							<div class="col-md-12">
								<div class="profile-detail">
									<div class="row">
										<div class="col-md-4 col-sm-4">
											<div class="callout">
												<div class="photo">
													<img class="prof_img" src="" alt="">
												</div>
												<section class="first">
													<h3 class="prof_name">ExpProp</h3>
													<p class="prof_tagname">Tagged as "animal"</p>
													<p><span class="prof_stat label label-watching">WATCHING</span></p>
													<p class="prof_tagged">
														<a class="prof_sighting" data-toggle="modal" href="#sighting-help" aria-hidden="true">0 Sightings </a>/ 0 Tagged Photos
													</p>
												</section>
												<section>
													<h4>Last Seen</h4>
													<p class="prof_seen">Unknown</p>
												</section>
												<section>
													<h4>Time Most Active</h4>
													<p class="prof_act">Unknown</p>
												</section>
												<section>
													<h4>Most Active Camera</h4>
													<p class="prof_cam">Unknown</p>
												</section>
												<section>
													<h4>Cameras with Activity</h4>
													<p class="prof_cam_act"></p>   <!-- number="" sightings="" of="" -->
												</section>
												<section>
													<h4>Most Active Moon Phase</h4>
													<p class="prof_moonphase">Unknown</p>
												</section>
											</div>
										</div>
										<div class="col-md-8 col-sm-8">
											<div class="row">
												<div class="col-sm-10">
													<h2>Movement by Wind Direction &amp; Speed for All Cameras 
														<a data-toggle="modal" href="#winds"><span aria-hidden="true" class="icon-small black icon-help mr-10"></span></a>
													</h2>
												</div>
												<div class="col-sm-2 text-right" style="right:5%; display:none;">
													<a class="btn btn-primary btn-filter propbtnmm" data-toggle="modal" href="#filter">Filter</a>
												</div>
											</div>
											<hr>
											<div id="windchart" style="min-width: 420px; max-width: 600px; height: 400px; margin: 0 auto"></div>
											<div style="display:none">
											  <!-- Source: http://or.water.usgs.gov/cgi-bin/grapher/graph_windrose.pl -->
											  <table id="freq" border="0" cellspacing="0" cellpadding="0">
											    <tr nowrap bgcolor="#CCCCFF">
											      <th colspan="9" class="hdr">Table of Frequencies (percent)</th>
											    </tr>
											    <tr nowrap bgcolor="#CCCCFF">
											      <th class="freq">Direction</th>
											      <th class="freq">&lt; 1 mph</th>
											      <th class="freq">1-4 mph</th>
											      <th class="freq">4-8 mph</th>
											      <th class="freq">8-12 mph</th>
											      <th class="freq">12-16 mph</th>
											      <th class="freq">16-20 mph</th>
											      <th class="freq">&gt; 20 mph</th>
											      <th class="freq">Total</th>
											    </tr>
											    <tr id="N" nowrap>
													<td class="dir">N</td>
												</tr>
												<tr id="NNE" nowrap>
													<td class="dir">NNE</td>
												</tr>
												<tr id="NE" nowrap>
													<td class="dir">NE</td>
												</tr>
												<tr id="ENE" nowrap>
													<td class="dir">ENE</td>
												</tr>
												<tr id="E" nowrap>
													<td class="dir">E</td>
												</tr>
												<tr id="ESE" nowrap>
													<td class="dir">ESE</td>
												</tr>
												<tr id="SE" nowrap>
													<td class="dir">SE</td>
												</tr>
												<tr id="SSE" nowrap>
													<td class="dir">SSE</td>
												</tr>
												<tr id="S" nowrap>
													<td class="dir">S</td>
												</tr>
												<tr id="SSW" nowrap>
													<td class="dir">SSW</td>
												</tr>
												<tr id="SW" nowrap>
													<td class="dir">SW</td>
												</tr>
												<tr id="WSW" nowrap>
													<td class="dir">WSW</td>
												</tr>
												<tr id="W" nowrap>
													<td class="dir">W</td>
												</tr>
												<tr id="WNW" nowrap>
													<td class="dir">WNW</td>
												</tr>
												<tr id="NW" nowrap>
													<td class="dir">NW</td>
												</tr>
												<tr id="NNW" nowrap>
													<td class="dir">NNW</td>
												</tr>
												<tr id="tval" nowrap>
													<td class="totals">Total</td>
												</tr>
											  </table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="Moon" class="tabcontent">
						<div class="row">
							<div class="col-md-12">
								<div class="profile-detail">
									<div class="row">
										<div class="col-md-4 col-sm-4">
											<div class="callout">
												<div class="photo">
													<img class="prof_img" src="" alt="">
												</div>
												<section class="first">
													<h3 class="prof_name">ExpProp</h3>
													<p class="prof_tagname">Tagged as "animal"</p>
													<p><span class="prof_stat label label-watching">WATCHING</span></p>
													<p class="prof_tagged">
														<a class="prof_sighting" data-toggle="modal" href="#sighting-help" aria-hidden="true">0 Sightings </a>/ 0 Tagged Photos
													</p>
												</section>
												<section>
													<h4>Last Seen</h4>
													<p class="prof_seen">Unknown</p>
												</section>
												<section>
													<h4>Time Most Active</h4>
													<p class="prof_act">Unknown</p>
												</section>
												<section>
													<h4>Most Active Camera</h4>
													<p class="prof_cam">Unknown</p>
												</section>
												<section>
													<h4>Cameras with Activity</h4>
													<p class="prof_cam_act"></p>
												</section>
												<section>
													<h4>Most Active Moon Phase</h4>
													<p class="prof_moonphase">Unknown</p>
												</section>
											</div>
										</div>
										<div class="col-md-8 col-sm-8">
											<div class="row">
												<div class="col-sm-10">
													<h2>Moon Phases for All Cameras 
														<a data-toggle="modal" href="#moon"><span aria-hidden="true" class="icon-small black icon-help mr-10"></span>
														</a>
													</h2>
												</div>
												<div class="col-sm-2 text-right" style="right:5%; display:none;">
													<a class="btn btn-primary btn-filter propbtnmm" data-toggle="modal" href="#filter">Filter</a>
												</div>
											</div>
											<hr>
											<div id="moonphasechart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="Heatmap" class="tabcontent">
						<div class="row">
							<div class="col-sm-10">
								<h2>Sightings by Camera Location</h2>
							</div>
							<div class="col-sm-2 text-right" style="display:none;">
								<a class="btn btn-primary btn-filter propbtnmm" data-toggle="modal" href="#filter">Filter</a>
							</div>
						</div>
						<div class="row">
							<div id="map" style="width:97.5%;height:555px;margin-top:2%;margin-left:1.3%;"></div>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label><input checked="" id="toggle_camera_layer" type="checkbox">Show Camera Locations on Map</label>
							</div>
						</div>
						<table id="cam_details" class="table table-striped">
							<tbody>
								<tr>
									<th>Camera</th>
									<th class="text-center">Total Sightings</th>
									<th class="text-center">Total Photos</th>
								</tr>
								<!-- <tr>
									<td><a id="cam_name" href="#/cameradesc">patrapada</a></td>
									<td id="cam_sighting" class="text-center">1</td>
									<td id="cam_photos" class="text-center">1</td>
								</tr> -->
							</tbody>
						</table>
					</div>
					<div id="media" class="tabcontent">
						<div id="nophotos" class="thumbs" style="display:none;">
							<div class="alert alert-info">No photos found.</div>
						</div>
						<div id="photos" class="thumbs" style="display:none;">
						</div>
				</div>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">
	var totalcams = 1;
	var weather_data, cams_data; 
	var datas;
	var index;
	var tp;
	var map_heatmap, heatmap;
	var sightingCountByTime0To4 = 0, sightingCountByTime4To8 = 0, sightingCountByTime8To12 = 0, 
			sightingCountByTime12To16 = 0, sightingCountByTime16To20 = 0, sightingCountByTime20To24 = 0, 
			totalSightingCountByTime = 0;
	var sightingByNewmoon = 0, sightingBywaxingCrescentMoon = 0, sightingCountByQuarterMoon = 0, 
			sightingCountByWaxingGibbousMoon = 0, sightingCountByFullMoon = 0, sightingCountByWaningGibbousMoon = 0, 
			sightingCountByLastQuarterMoon = 0, sightingCountByWaningCrescentMoon = 0;
	var sightingDataByTime = [];
	var sightingDataByCam = [];
	var sightingByMoonPhase = [];
	var tmpMoonphase = [];
	var tmpCamIdInfos = [];
	var wind_data = [];
	var wind_data_speed = [];
	var lat, lng; 
	//var dataForSightingByCamera = [];
	function openPage(pageName,elmnt,color) {
	    var i, tabcontent, tablinks;
	    tabcontent = document.getElementsByClassName("tabcontent");
	    for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	    }
	    tablinks = document.getElementsByClassName("tablink");
	    for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].style.backgroundColor = "";
	    }
	    document.getElementById(pageName).style.display = "block";
	    elmnt.style.backgroundColor = color;
	    if (pageName=="media") {
	    	//updatePhotos();
	    }

	}
	function myMap() {
		if(localStorage.getItem('mtcs_cms_proplat') != null && localStorage.getItem('mtcs_cms_proplat') != ''){
			lat = localStorage.getItem('mtcs_cms_proplat');
		} else {
			lat = 42.4817836;
		}
		if(localStorage.getItem('mtcs_cms_proplng') != null && localStorage.getItem('mtcs_cms_proplng') != ''){
			lng = localStorage.getItem('mtcs_cms_proplng');
		} else {
			lng = -71.1498009;
		}
        var map_icon = {
            url: 'https://storage.googleapis.com/mytrailcams/marker.png'
        };
		var myCenter = new google.maps.LatLng(lat,lng);
		var mapProp= {
		    center:myCenter,
		    zoom:10,
			icon:map_icon,
		    mapTypeId: google.maps.MapTypeId.HYBRID
		};
		map_heatmap = new google.maps.Map(document.getElementById("map"),mapProp);
		// var marker = new google.maps.Marker({
		// 	position: myCenter,
		// 	//animation:google.maps.Animation.BOUNCE
		// });
		// marker.setMap(map);
	}
	function getPoints() {
		return [new google.maps.LatLng(lat,lng)]
	}
	var pieColors = (function () {
	  var colors = [],
		base = Highcharts.getOptions().colors[0],
			//base = '#4D6827',
	    i;
		for (i = 0; i < 10; i += 1) {
			// Start out with a darkened base color (negative brighten), and end
			// up with a much brighter color
			colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
		}
		return colors;
	}());
	function updateData(){
		index = localStorage.getItem('mtcs_prof_curindex');
		var row = $('<small style="margin-left: 1%;"><a href="#/editprofile">Edit</a></small>');
		$('.prof_name').text(localStorage.getItem('mtcs_cms_profname['+index+']'));
		$('#prof_header').append(row);
		$('.prof_tagname').text(localStorage.getItem('mtcs_cms_proftag['+index+']'));
		$('.prof_stat').text(localStorage.getItem('mtcs_cms_profstat['+index+']'));
		$('.prof_seen').text(localStorage.getItem('mtcs_cms_profcreated['+index+']'));
		$('.prof_act').text(localStorage.getItem('mtcs_cms_profcreated['+index+']'));
		$('.prof_img').attr("src", localStorage.getItem('mtcs_cms_profimg['+index+']'));
		myMap();
		callApi();
	}
	function callApi(){
		$.ajax({
            url: 'apis/addcam.php?property_id='+ localStorage.getItem('mtcs_cms_propid'),
            type : "get", // type of action POST || GET
            dataType: 'json',
            success : function(result) {
                 $('#prop_name').text("Camera Locations for "+ localStorage.getItem('mtcs_cms_propname'));
								 cams_data = result.camdetails;
                 tp = result.total_photos;
								 //updateWeatherData();
								 updateCameraData();
            },
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
	}
	function updateWeatherData(){
		$.ajax({
				url: 'apis/updateweather.php?prop_id='+ localStorage.getItem('mtcs_cms_propid'),
				type : "get", // type of action POST || GET
				dataType: 'json',
				success : function(result) {
							weather_data = result.weather;
							//updateCameraData();
							updatePhotos();
				},
				error: function(xhr, resp, text) {
						console.log(xhr, resp, text);
				}
		})	
	}
	function updateCameraData(){
		$.ajax({
				url: 'apis/getcaminfo.php?cmd=allcam&property_id='+ localStorage.getItem('mtcs_cms_propid'),
				type : "get", // type of action POST || GET
				dataType: 'json',
				success : function(result) {
							cams_data = result.camdetails;
							updatePhotos();
				},
				error: function(xhr, resp, text) {
						console.log(xhr, resp, text);
				}
		})	
	}
	function updatePhotos(){
		$.ajax({
	        url: 'apis/updatemedia.php?cmd=profphotos&prop_id=' + localStorage.getItem('mtcs_cms_propid'),
	        type : "GET", // type of action POST || GET
	        dataType: 'json',
	        success : function(result) {
						console.log(result);
						var year, month, date, hr, mm;
						const monthNames = ["JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE",
						"JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER"];
						datas = result.paths;
						weather_data = result.weather;
						if (datas.length > 0) {
									datas.sort(function compare(a, b) {
										var dateA = new Date(a.img_datetime);
										var dateB = new Date(b.img_datetime);
										return dateA - dateB;
									});

									var uniqueDates = [];
									var monthWithYear;
									$.each(datas, function(i, el){
										date = new Date(datas[i].img_datetime);
										month = monthNames[date.getMonth()];
										year =  date.getFullYear();
										monthWithYear = month + " " + year; 
										if($.inArray(monthWithYear, uniqueDates) === -1) uniqueDates.push(monthWithYear);
									});

									console.log(uniqueDates);

											//$('.prof_img').attr("src",datas[0]);
									$("#photos").show();   //"slow"
									//var row;
									var startRowDiv = '<div class="row">';
									var endRowDiv = '</div>';
									var startResponsiveDiv;
									var endResponsiveDiv = '</div>';
									//var rowString;
									var startGallaryDiv = '';
									monthWithYear = '';
									var tagname = localStorage.getItem('mtcs_cms_proftag['+index+']');
									var mPhase = '';
								
									for(var j = uniqueDates.length - 1; j >= 0; j--){
										startResponsiveDiv = '<div class="responsive"><h2 style="margin-left: 1%;">'+ uniqueDates[j] +'</h2></br>';
										var rowString = startRowDiv + startResponsiveDiv;
										for (var i = datas.length - 1; i >= 0; i--) {	
											date = new Date(datas[i].img_datetime);
											month = monthNames[date.getMonth()];
											year =  date.getFullYear();
											monthWithYear = month + " " + year;
											hr = date.getHours();
											curDate = date.getDate();
											var uniqueList=datas[i].img_tag.split(',').filter(function(item,i,allItems){
												return i==allItems.indexOf(item);
											}).join(',');
											if(monthWithYear ==  uniqueDates[j]){
												if (uniqueList.toLowerCase().indexOf(tagname.toLowerCase()) != -1) {
														startGallaryDiv = '<div class="gallery"><a class="routing tip" href="javascript:void(0);" name="' + i + '">' + '<img src="'+ datas[i].filepath +'"><span>'+ datas[i].img_datetime +'</span></a></div>';
														rowString = rowString + startGallaryDiv;
														tmpCamIdInfos.push(datas[i].cam_id);

														var w_index = -1;
														//w_index = index;
														for(var k = 0; k < weather_data.length; k++){
															if(weather_data[k].id == datas[i].weather_id){
																w_index = k;
																break;
															}
														}

													//	mPhase = Moon.phase(year.toString(), date.getMonth().toString(), curDate.toString());
														mPhase = weather_data[w_index].moonphase;
														console.log(mPhase);
														if(mPhase == 'new-moon'){
															sightingByNewmoon++;
														} else if(mPhase == 'waxing-crescent-moon'){
															sightingBywaxingCrescentMoon++;
															console.log(sightingBywaxingCrescentMoon);
														} else if(mPhase == 'quarter-moon'){
															sightingCountByQuarterMoon++;
															console.log(sightingCountByQuarterMoon);
														} else if(mPhase == 'waxing-gibbous-moon'){
															sightingCountByWaxingGibbousMoon++;
															console.log(sightingCountByWaxingGibbousMoon);
														} else if(mPhase == 'full-moon'){
															sightingCountByFullMoon++;
															console.log(sightingCountByFullMoon);
														} else if(mPhase == 'waning-gibbous-moon'){
															sightingCountByWaningGibbousMoon++;
															console.log(sightingCountByWaningGibbousMoon);
														} else if(mPhase == 'last-quarter-moon'){
															sightingCountByLastQuarterMoon++;
															console.log(sightingCountByLastQuarterMoon);
														} else if(mPhase == 'waning-crescent-moon'){
															sightingCountByWaningCrescentMoon++;
															console.log(sightingCountByWaningCrescentMoon);
														}
														if(hr > 0 && hr <= 4){
															sightingCountByTime0To4++;
														} else if(hr > 4 && hr <= 8){
															sightingCountByTime4To8++;
														} else if(hr > 8 && hr <= 12){
															sightingCountByTime8To12++;
														} else if(hr > 12 && hr <= 16){
															sightingCountByTime12To16++;
														} else if(hr > 16 && hr <= 20){
															sightingCountByTime16To20++;
														} else if(hr > 20 && hr <= 24){
															sightingCountByTime20To24++;
														}
														var wind_dir = weather_data[w_index].winddirection;
														var wind_speed = weather_data[w_index].windspeed;
														wind_data_speed.push(wind_speed);
														//var obj = {"dir":wind_dir, "speed":wind_speed};
														wind_data.push(wind_dir);
												} 			
											} 
										}
										
										if(startGallaryDiv != ''){
											rowString = rowString + endResponsiveDiv + endRowDiv + '</br>';
											var row = $(rowString);
											$('#photos').append(row);
										}
										
									};
									assignclick();
						} else{
									$("#nophotos").show();   //"slow"
						}
	        	
	        },
	        error: function(xhr, resp, text) {
	            console.log(xhr, resp, text);
	        }
	    })
	}
	function initSightingBytime(){
		Highcharts.chart('sightingbytime', {
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
			},
			exporting: { enabled: false },
			title: {
				text: ''
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					colors: pieColors,
					dataLabels: {
						enabled: true,
						format: '<b>{point.name}</b><br>{point.percentage:.1f} %',
						distance: -50,
						filter: {
							property: 'percentage',
							operator: '>',
							value: 4
						}
					}
				}
			},
			series: [{
				name: 'Share',
				data: sightingDataByTime
			}],
			credits: {
				enabled: false
			}
		});
	}
	function initSightingByCam(){
		Highcharts.chart('sightingbycam', {
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
			},
			exporting: { enabled: false },
			title: {
				text: ''
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					colors: pieColors,
					dataLabels: {
						enabled: true,
						format: '<b>{point.name}</b><br>{point.percentage:.1f} %',
						distance: -50,
						filter: {
							property: 'percentage',
							operator: '>',
							value: 4
						}
					}
				}
			},
			series: [{
				name: 'Share',
				data: sightingDataByCam
			}],
			credits: {
				enabled: false
			}
		});
	}
	function initMoonPhaseChart(){
		Highcharts.chart('moonphasechart', {
		  chart: {
		    type: 'column'
		  },
		  exporting: { enabled: false },
		  title: {
		    text: ''
		  },
		  subtitle: {
		    text: ''
		  },
		  xAxis: {
		    categories: [
		      'new-moon',
		      'waxing-crescent',
		      'first-quarter',
		      'waxing-gibbous',
		      'full-moon',
		      'waning-gibbous',
		      'last-quarter',
		      'waning-crescent'
		    ],
		    //crosshair: true,
		    labels: {
		        useHTML: true,
		        formatter: function () {
		            return {
		                'new-moon': '<img src="img/new-moon.png" alt="new-moon" style="margin-left:-50%;">',
										'waxing-crescent': '<img src="img/waxing-crescent.png" alt="waxing-crescent" style="margin-left:-50%;">',
										'first-quarter': '<img src="img/first-quarter.png" alt="first-quarter" style="margin-left:-50%;">',
										'waxing-gibbous': '<img src="img/waxing-gibbous.png" alt="waxing-gibbous" style="margin-left:-50%;">',
										'full-moon': '<img src="img/full-moon.png" alt="full-moon" style="margin-left:-50%;">',
										'waning-gibbous': '<img src="img/waning-gibbous.png" alt="waning-gibbous" style="margin-left:-50%;">',
										'last-quarter': '<img src="img/last-quarter.png" alt="last-quarter" style="margin-left:-50%;">',
										'waning-crescent': '<img src="img/waning-crescent.png" alt="waning-crescent"style="margin-left:-50%;">'
		            }[this.value]; 
		        }
	    	}
		  },
		  yAxis: {
		    min: 0,
		    title: {
		      text: 'Total Sightings'
		    }
		  },
		  tooltip: {
		    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
		    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
		      '<td style="padding:0"><b>sightings : {point.y:.1f}</b></td></tr>',
		    footerFormat: '</table>',
		    shared: true,
		    useHTML: true
		  },
		  plotOptions: {
		    column: {
		      pointPadding: 0.2,
		      borderWidth: 0
				},
				series: {
            dataLabels: {
                enabled: true,
                formatter:function() {
                    return this.point.t;
                }
            }
        }
		  },
			series: sightingByMoonPhase,
			credits: {
				enabled: false
			}
		});
	}
	function initWindRoseChart(){
		Highcharts.chart('windchart', {
			data: {
				table: 'freq',
				startRow: 1,
				endRow: 17,
				endColumn: 7
			},

			exporting: { enabled: false },

			chart: {
				polar: true,
				type: 'column'
			},

			title: {
				text: ''
			},

			subtitle: {
				text: ''
			},

			pane: {
				size: '85%'
			},

			legend: {
				align: 'right',
				verticalAlign: 'top',
				y: 100,
				layout: 'vertical'
			},

			xAxis: {
				tickmarkPlacement: 'on'
			},

			yAxis: {
				min: 0,
				endOnTick: false,
				showLastLabel: true,
				title: {
				text: 'Frequency (%)'
				},
				labels: {
				formatter: function () {
					return this.value + ' mph';
				}
				},
				reversedStacks: false
			},

			tooltip: {
				valueSuffix: ' mph'
			},

			plotOptions: {
				series: {
				stacking: 'normal',
				shadow: false,
				groupPadding: 0,
				pointPlacement: 'on'
				}
			},
			credits: {
				enabled: false
			}
		});
	}
	function addArrayElement(a, b){
		return a + b;
	}
	function insertZeroIntoArray(arr){
		if(arr.length < 8){
			var remain = 8 - arr.length;
			for(var i = 0; i < remain; i++){
				arr.push(0);
			}
		}
		return arr;
	}
	function assignclick(){
		$(document).on("click", "a.routing" , function() {
			var index = $(this).attr("name");
			localStorage.setItem('mtcs_cms_curphpath', datas[index].filepath);
			localStorage.setItem('mtcs_cms_curphtime', datas[index].img_datetime);
			localStorage.setItem('mtcs_cms_curphtag', datas[index].img_tag);
			localStorage.setItem('mtcs_cms_curphid', datas[index].id);
			localStorage.setItem('mtcs_cms_curphwindspeed', weather_data[index].windspeed);
			localStorage.setItem('mtcs_cms_curphwinddirection', weather_data[index].winddirection);
			localStorage.setItem('mtcs_cms_curphpressure', weather_data[index].pressure);
			localStorage.setItem('mtcs_cms_curphtemperature', weather_data[index].temperature);
			localStorage.setItem('mtcs_cms_curphhumidity', weather_data[index].humidity);
			window.location="#/photodesc";
			
		});
		localStorage.setItem('mtcs_cms_routepath', "");
		totalSightingCountByTime = sightingCountByTime0To4 + sightingCountByTime4To8 + 
															 sightingCountByTime8To12 + sightingCountByTime12To16 + 
															 sightingCountByTime16To20 + sightingCountByTime20To24;
		sightingCountByTime0To4 = ((sightingCountByTime0To4 * 100) / totalSightingCountByTime);
		sightingCountByTime4To8 = ((sightingCountByTime4To8 * 100) / totalSightingCountByTime);
		sightingCountByTime8To12 = ((sightingCountByTime8To12 * 100) / totalSightingCountByTime);
		sightingCountByTime12To16 = ((sightingCountByTime12To16 * 100) / totalSightingCountByTime);
		sightingCountByTime16To20 = ((sightingCountByTime16To20 * 100) / totalSightingCountByTime);
		sightingCountByTime20To24 = ((sightingCountByTime20To24 * 100) / totalSightingCountByTime);

		if(sightingCountByTime0To4 > 0){
			var obj = {name: '00:00 - 04:00', y: sightingCountByTime0To4};
			sightingDataByTime.push(obj);
		}
		if(sightingCountByTime4To8 > 0){
			var obj = {name: '04:00 - 08:00', y: sightingCountByTime4To8};
			sightingDataByTime.push(obj);
		}
		if(sightingCountByTime8To12 > 0){
			var obj = {name: '08:00 - 12:00', y: sightingCountByTime8To12};
			sightingDataByTime.push(obj);
		}
		if(sightingCountByTime12To16 > 0){
			var obj = {name: '12:00 - 16:00', y: sightingCountByTime12To16};
			sightingDataByTime.push(obj);
		}
		if(sightingCountByTime16To20 > 0){
			var obj = {name: '16:00 - 20:00', y: sightingCountByTime16To20};
			sightingDataByTime.push(obj);
		}
		if(sightingCountByTime20To24 > 0){
			var obj = {name: '20:00 - 24:00', y: sightingCountByTime20To24};
			sightingDataByTime.push(obj);
		}

		var count = 0;
		var pcount = 0;
		var camlatlng = [];
		for(var i = 0; i < cams_data.length; i++){
			count = 0;
			for(var j = 0; j < tmpCamIdInfos.length; j++){ 
				if(tmpCamIdInfos[j] == cams_data[i].id){
					count++;
				}
			}
			if(count > 0){
				pcount = ((count * 100) / tmpCamIdInfos.length);
				var obj = { name: cams_data[i].camera_name, y: pcount };
				sightingDataByCam.push(obj);
			}
			var row = $('<tr><td><a href="#/cameradesc">' +cams_data[i].camera_name+ '</a></td>' + '<td id="cam_sighting" class="text-center">' + count +'</td>' + '<td id="cam_photos" class="text-center">' + tp[i] + '</td>' + '</tr>');
			$('#cam_details').append(row); 
			var latLng = new google.maps.LatLng(cams_data[i].camera_latitude, cams_data[i].camera_longitude);
			if(cams_data[i].status == 1){
				camlatlng.push(latLng);
			}
			// if(cams_data[i].status == 1){
			// 	var itemMarker = new google.maps.Marker({
			// 		position: latLng,
			// 		map: map_heatmap,
			// 		animation: google.maps.Animation.DROP,
			// 		title: cams_data[i].camera_name
			// 	});
			// } else{
			// 	var itemMarker = new google.maps.Marker({
			// 		position: latLng,
			// 		map: map_heatmap,
			// 		title: cams_data[i].camera_name,
			// 		animation: google.maps.Animation.DROP,
			// 		icon:{
			// 			url: "http://labs.google.com/ridefinder/images/mm_20_gray.png"	
			// 		}
			// 	});
			// 	// icon: {
			// 		// 	url: "img/grayicon.png"  //http://maps.google.com/mapfiles/ms/icons/gray-dot.png
			// 		// }
			// } 
		}
        var map_icon = {
            url: 'https://storage.googleapis.com/mytrailcams/marker.png'
        };
		for(var o = 0; o < camlatlng.length; o++){
			var itemMarker = new google.maps.Marker({
				position: camlatlng[o],
				map: map_heatmap,
				animation: google.maps.Animation.DROP,
				icon: map_icon
				//title: cams_data[i].camera_name
			});
		}
		
		heatmap = new google.maps.visualization.HeatmapLayer({
          data: camlatlng,
          map: map_heatmap,
            icon: map_icon
		});
		
		var totalspeed = wind_data_speed.reduce(addArrayElement);
		var arr_1 = [], arr_2 = [], arr_3 = [], arr_4 = [], arr_5 = [], arr_6 = [], arr_7 = [], arr_8 = [],
			arr_9 = [], arr_10 = [], arr_11 = [], arr_12 = [], arr_13 = [], arr_14 = [], arr_15 = [], arr_16 = [];            

		for(var i = 0; i < wind_data.length; i++){
			if(wind_data[i] == "N"){
				arr_1.push(wind_data_speed[i]);
			} else if(wind_data[i] == "NNE"){
				arr_2.push(wind_data_speed[i]);
			} else if(wind_data[i] == "NE"){
				arr_3.push(wind_data_speed[i]);
			} else if(wind_data[i] == "ENE"){
				arr_4.push(wind_data_speed[i]);
			} else if(wind_data[i] == "E"){
				arr_5.push(wind_data_speed[i]);
			} else if(wind_data[i] == "ESE"){
				arr_6.push(wind_data_speed[i]);
			} else if(wind_data[i] == "SE"){
				arr_7.push(wind_data_speed[i]);
			} else if(wind_data[i] == "SSE"){
				arr_8.push(wind_data_speed[i]);
			} else if(wind_data[i] == "S"){
				arr_9.push(wind_data_speed[i]);
			} else if(wind_data[i] == "SSW"){
				arr_10.push(wind_data_speed[i]);
			} else if(wind_data[i] == "SW"){
				arr_11.push(wind_data_speed[i]);
			} else if(wind_data[i] == "WSW"){
				arr_12.push(wind_data_speed[i]);
			} else if(wind_data[i] == "W"){
				arr_13.push(wind_data_speed[i]);
			} else if(wind_data[i] == "WNW"){
				arr_14.push(wind_data_speed[i]);
			} else if(wind_data[i] == "NW"){
				arr_15.push(wind_data_speed[i]);
			} else if(wind_data[i] == "NNW"){
				arr_16.push(wind_data_speed[i]);
			}
		}
		arr_1 = insertZeroIntoArray(arr_1);
		arr_2 = insertZeroIntoArray(arr_2);
		arr_3 = insertZeroIntoArray(arr_3);
		arr_4 = insertZeroIntoArray(arr_4);
		arr_5 = insertZeroIntoArray(arr_5);
		arr_6 = insertZeroIntoArray(arr_7);
		arr_8 = insertZeroIntoArray(arr_8);
		arr_9 = insertZeroIntoArray(arr_9);
		arr_10 = insertZeroIntoArray(arr_10);
		arr_11 = insertZeroIntoArray(arr_11);
		arr_12 = insertZeroIntoArray(arr_12);
		arr_13 = insertZeroIntoArray(arr_13);
		arr_14 = insertZeroIntoArray(arr_14);
		arr_15 = insertZeroIntoArray(arr_15);
		arr_16 = insertZeroIntoArray(arr_16);

		for(var i = 0; i < 8; i++){
			var rows1 = $('<td class="data">' + arr_1[i] + '</td>');
			var rows2 = $('<td class="data">' + arr_2[i] + '</td>');
			var rows3 = $('<td class="data">' + arr_3[i] + '</td>');
			var rows4 = $('<td class="data">' + arr_4[i] + '</td>');
			var rows5 = $('<td class="data">' + arr_5[i] + '</td>');
			var rows6 = $('<td class="data">' + arr_6[i] + '</td>');
			var rows7 = $('<td class="data">' + arr_7[i] + '</td>');
			var rows8 = $('<td class="data">' + arr_8[i] + '</td>');
			var rows9 = $('<td class="data">' + arr_9[i] + '</td>');
			var rows10 = $('<td class="data">' + arr_10[i] + '</td>');
			var rows11 = $('<td class="data">' + arr_11[i] + '</td>');
			var rows12 = $('<td class="data">' + arr_12[i] + '</td>');
			var rows13 = $('<td class="data">' + arr_13[i] + '</td>');
			var rows14 = $('<td class="data">' + arr_14[i] + '</td>');
			var rows15 = $('<td class="data">' + arr_15[i] + '</td>');
			var rows16 = $('<td class="data">' + arr_16[i] + '</td>');
			var row17 = $('<td class="totals">' + totalspeed + '</td>');

			$('#N').append(rows1);
			$('#NNE').append(rows2);
			$('#NE').append(rows3);
			$('#ENE').append(rows4);
			$('#E').append(rows5);
			$('#ESE').append(rows6);
			$('#SE').append(rows7);
			$('#SSE').append(rows8);
			$('#S').append(rows9);
			$('#SSW').append(rows10);
			$('#SW').append(rows11);
			$('#WSW').append(rows12);
			$('#W').append(rows13);
			$('#WNW').append(rows14);
			$('#NW').append(rows15);
			$('#NNW').append(rows16);
			$('tval').append(row17);
		}

		
		
		//var activeCamera = Math.max.apply(Math,tmpCamIdInfos);
		var uniqs = {};

		for(var i = 0; i < tmpCamIdInfos.length; i++) {
			uniqs[tmpCamIdInfos[i]] = (uniqs[tmpCamIdInfos[i]] || 0) + 1;
		}

		var max = { val: tmpCamIdInfos[0], count: 1 };
		for(var u in uniqs) {
			if(max.count < uniqs[u]) { max = { val: u, count: uniqs[u] }; }
		}
		var activeCamera = max.val;
		for(var k = 0; k < cams_data.length; k++){ 
			if(activeCamera == cams_data[k].id){
				$('.prof_cam').text(cams_data[k].camera_name);
				break;
			}
		}

		var tmpdatas = [{
				showInLegend: false,  
		    name: '',
				data: [{y:sightingByNewmoon, t:sightingByNewmoon.toString()}, {y:sightingBywaxingCrescentMoon, t:sightingBywaxingCrescentMoon.toString()}, {y:sightingCountByQuarterMoon,t:sightingCountByQuarterMoon.toString()}, 
							{y:sightingCountByWaxingGibbousMoon, t:sightingCountByWaxingGibbousMoon.toString()}, {y:sightingCountByFullMoon, t:sightingCountByFullMoon.toString()}, {y:sightingCountByWaningGibbousMoon, t:sightingCountByWaningGibbousMoon.toString()}, 
							{y:sightingCountByLastQuarterMoon, t:sightingCountByLastQuarterMoon.toString()}, {y:sightingCountByWaningCrescentMoon, t:sightingCountByWaningCrescentMoon.toString()}]

		}];

		$('.prof_tagged').text("" + tmpCamIdInfos.length + " Tagged Photos");
		$('.prof_sighting').text("" + tmpCamIdInfos.length + " Sightings");
		$('.prof_cam_act').text("number= " + cams_data.length + " sightings= " + cams_data.length +" of= " + cams_data.length);
		var _array = [sightingByNewmoon, sightingBywaxingCrescentMoon, sightingCountByQuarterMoon, sightingCountByWaxingGibbousMoon,
							sightingCountByFullMoon, sightingCountByWaningGibbousMoon, sightingCountByLastQuarterMoon, sightingCountByWaningCrescentMoon]
		var activeMoonPhase = Math.max.apply(Math,_array);
		if(activeMoonPhase == sightingByNewmoon){
			$('.prof_moonphase').text("new-moon");
		} else if(activeMoonPhase == sightingBywaxingCrescentMoon){
			$('.prof_moonphase').text("waxing-crescent-moon");
		} else if(activeMoonPhase == sightingCountByQuarterMoon){
			$('.prof_moonphase').text("quarter-moon");
		} else if(activeMoonPhase == sightingCountByWaxingGibbousMoon){
			$('.prof_moonphase').text("waxing-gibbous-moon");
		} else if(activeMoonPhase == sightingCountByFullMoon){
			$('.prof_moonphase').text("full-moon");
		} else if(activeMoonPhase == sightingCountByWaningGibbousMoon){
			$('.prof_moonphase').text("waning-gibbous-moon");
		} else if(activeMoonPhase == sightingCountByLastQuarterMoon){
			$('.prof_moonphase').text("last-quarter-moon");
		} else if(activeMoonPhase == sightingCountByWaningCrescentMoon){
			$('.prof_moonphase').text("waning-crescent-moon");
		}
		sightingByMoonPhase = tmpdatas;
		heatmap.set('radius', heatmap.get('radius') ? null : 70);

		initSightingBytime();
		initSightingByCam();
		initMoonPhaseChart();
		initWindRoseChart();

	}
	updateData();
</script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzI-rWX4tC6R3JnmXMuCG5RGCyupNHqJM&callback=myMap"></script> -->

<!--   AIzaSyC8D1Cci54AtIYsNjHOXduLhbUT668vAWI<tr nowrap>
	<td class="dir">N</td>
	<td class="data">1.81</td>
	<td class="data">1.78</td>
	<td class="data">0.16</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">3.75</td>
</tr>    
<tr nowrap bgcolor="#DDDDDD">
	<td class="dir">NNE</td>
	<td class="data">0.62</td>
	<td class="data">1.09</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">1.71</td>
</tr>
<tr nowrap>
	<td class="dir">NE</td>
	<td class="data">0.82</td>
	<td class="data">0.82</td>
	<td class="data">0.07</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">1.71</td>
</tr>
<tr nowrap bgcolor="#DDDDDD">
	<td class="dir">ENE</td>
	<td class="data">0.59</td>
	<td class="data">1.22</td>
	<td class="data">0.07</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">1.88</td>
</tr>
<tr nowrap>
	<td class="dir">E</td>
	<td class="data">0.62</td>
	<td class="data">2.20</td>
	<td class="data">0.49</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">3.32</td>
</tr>
<tr nowrap bgcolor="#DDDDDD">
	<td class="dir">ESE</td>
	<td class="data">1.22</td>
	<td class="data">2.01</td>
	<td class="data">1.55</td>
	<td class="data">0.30</td>
	<td class="data">0.13</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">5.20</td>
</tr>
<tr nowrap>
	<td class="dir">SE</td>
	<td class="data">1.61</td>
	<td class="data">3.06</td>
	<td class="data">2.37</td>
	<td class="data">2.14</td>
	<td class="data">1.74</td>
	<td class="data">0.39</td>
	<td class="data">0.13</td>
	<td class="data">11.45</td>
</tr>
<tr nowrap bgcolor="#DDDDDD">
	<td class="dir">SSE</td>
	<td class="data">2.04</td>
	<td class="data">3.42</td>
	<td class="data">1.97</td>
	<td class="data">0.86</td>
	<td class="data">0.53</td>
	<td class="data">0.49</td>
	<td class="data">0.00</td>
	<td class="data">9.31</td>
</tr>
<tr nowrap>
	<td class="dir">S</td>
	<td class="data">2.66</td>
	<td class="data">4.74</td>
	<td class="data">0.43</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">7.83</td>
</tr>
<tr nowrap bgcolor="#DDDDDD">
	<td class="dir">SSW</td>
	<td class="data">2.96</td>
	<td class="data">4.14</td>
	<td class="data">0.26</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">7.37</td>
</tr>
<tr nowrap>
	<td class="dir">SW</td>
	<td class="data">2.53</td>
	<td class="data">4.01</td>
	<td class="data">1.22</td>
	<td class="data">0.49</td>
	<td class="data">0.13</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">8.39</td>
</tr>
<tr nowrap bgcolor="#DDDDDD">
	<td class="dir">WSW</td>
	<td class="data">1.97</td>
	<td class="data">2.66</td>
	<td class="data">1.97</td>
	<td class="data">0.79</td>
	<td class="data">0.30</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">7.70</td>
</tr>
<tr nowrap>
	<td class="dir">W</td>
	<td class="data">1.64</td>
	<td class="data">1.71</td>
	<td class="data">0.92</td>
	<td class="data">1.45</td>
	<td class="data">0.26</td>
	<td class="data">0.10</td>
	<td class="data">0.00</td>
	<td class="data">6.09</td>
</tr>
<tr nowrap bgcolor="#DDDDDD">
	<td class="dir">WNW</td>
	<td class="data">1.32</td>
	<td class="data">2.40</td>
	<td class="data">0.99</td>
	<td class="data">1.61</td>
	<td class="data">0.33</td>
	<td class="data">0.00</td>
	<td class="data">0.00</td>
	<td class="data">6.64</td>
</tr>
<tr nowrap>
	<td class="dir">NW</td>
	<td class="data">1.58</td>
	<td class="data">4.28</td>
	<td class="data">1.28</td>
	<td class="data">0.76</td>
	<td class="data">0.66</td>
	<td class="data">0.69</td>
	<td class="data">0.03</td>
	<td class="data">9.28</td>
</tr>    
<tr nowrap bgcolor="#DDDDDD">
	<td class="dir">NNW</td>
	<td class="data">1.51</td>
	<td class="data">5.00</td>
	<td class="data">1.32</td>
	<td class="data">0.13</td>
	<td class="data">0.23</td>
	<td class="data">0.13</td>
	<td class="data">0.07</td>
	<td class="data">8.39</td>
</tr>
<tr nowrap>
	<td class="totals">Total</td>
	<td class="totals">25.53</td>
	<td class="totals">44.54</td>
	<td class="totals">15.07</td>
	<td class="totals">8.52</td>
	<td class="totals">4.31</td>
	<td class="totals">1.81</td>
	<td class="totals">0.23</td>
	<td class="totals">&nbsp;</td>
</tr>-->