<div class="container">
	<div class="profiles propcontainer">
		<div class="row">
			<div class="col-md-12">
				<h1 id="prof_header" class="propwelcomemsg">Profiles for </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<p class="propimagecontainer">
					<img alt="Add a Property to Get Started" class="propimg hidden-xs" src="img/header.png">
				</p>
			</div>
			<div class="col-md-8 col-sm-8 welcome">
				<p class="propdescription">Learn how particular animals move on your property by creating a profile. myTrailcams automatically tracks the activity of tagged photos and gives you powerful data to help you hunt smarter.</p>
				<p style="margin-top: 20px;"></p>
				<div class="btn-group header-btn-group hidden-xs"></div>
				<a class="btn btn-primary btn-lg propbtnmm" href="#/addprofile">Add Your First Profile</a>
				</br>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	// if (localStorage.getItem('mtcs_cms_profid') != null && localStorage.getItem('mtcs_cms_profid') != "") {
	// 	window.location= "#/profiles";
	// }
	function callApi(){
		if(localStorage.getItem('mtcs_cms_propname') != null && localStorage.getItem('mtcs_cms_propname') != ''){
			$('#prof_header').text("Profiles for " + localStorage.getItem('mtcs_cms_propname'));
		}
		// $.ajax({
	    //     url: 'apis/profile.php?prop_id='+ localStorage.getItem('mtcs_cms_propid'),
	    //     type : "get", // type of action POST || GET
	    //     dataType: 'json',
	    //     success : function(result) {
	    //     	var profiles = result.profiles;
	    //     	// if (profiles[0].id != null && profiles[0].profile_tag != "") {
	    //     	// 	localStorage.setItem('mtcs_cms_profid', profiles[0].id);
	    //         //  	localStorage.setItem('mtcs_cms_profname', profiles[0].profile_tag);
	    //         //  	window.location= "#/profiles";
		// 		// }
		// 		if(profiles.length > 0){
		// 			window.location= "#/profiles";
		// 		}
	    //         //console.log(result);
	    //     },
	    //     error: function(xhr, resp, text) {
	    //         console.log(xhr, resp, text);
	    //     }
	    // })
	}
	callApi();
</script>