<div class="container">
	<div class="row">
		<div class="col-md-12"></div>
	</div>
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="row propcontainer">
					<div class="col-md-4 col-sm-4">
						<p class="propimagecontainer">
							<img alt="Add a Property to Get Started" class="propimg hidden-xs" src="img/header.png">
						</p>
					</div>
					<div class="col-md-8 col-sm-8 welcome">
						<h1 calss="propwelcomemsg">Welcome to myTrailCam!</h1>
						<p class="propdescription">We're excited you're trying us out and can't wait to show you how myTarilCam can help you hunt smarter. Not only will you have an easier time managing photos you'll be amazed at how simple it is to pattern deer (or other game you're after).</p>
						<p class="propdescription">Let's get going! Just select the button below to add your hunting property.</p>
						<p style="margin-top: 20px;"></p>
						<div class="btn-group header-btn-group hidden-xs" style="margin-top: 10px;"></div>    
						<a href="#/addnewproperty" class="btn btn-primary btn-lg propbtn">Add Your First Property</a>
						<p></p>
						<!-- <p class="margin-20-t visible-xs"><em>Please note you will need to be on a desktop or tablet browser to add your first property. Once added you will then be able to view properties, trail cameras and photos from your phone.</em></p>
						<p class="visible-xs"><em>If you need help <a href="http://deerlab.com/support/contact">please contact us</a> or <a href="http://deerlab.com/support">check out our help section</a>. Our help section by can be accessed by selecting the question mark on the top right of each page.</em></p>  -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
// function callApi(){
// 	$.ajax({
//         url: 'apis/getpropinfo.php?cmd=count&user_id='+ localStorage.getItem('mtcs_cms_uid'),
//         type : "get", // type of action POST || GET
//         dataType: 'json',
//         success : function(result) {
//         	if (result.total_props > 0) {
//              	window.location= "#/afteraddedprop";
//         	}
//             console.log(result);
//         },
//         error: function(xhr, resp, text) {
//             console.log(xhr, resp, text);
//         }
//     })
// }
	//callApi();
</script>