<div class="container">
	<div class="profiles propcontainer">
		<div class="row">
			<div class="col-md-12">
				<div class="btn-group header-btn-group pull-right hidden-xs">
					<a class="btn btn-primary propbtnmm" href="#/addprofile">New Profile</a>
				</div>
				<h1 id="prop_name" class="propwelcomemsg">Profiles for </h1>
			</div>
		</div>
		<div id="profcontaner" class="row"></div>
		<div class="row">
			<div class="col-md-12"></div>
		</div>
	</div>
</div>

<script>
	var prof_datas;
	var image_datas;
	function checkProfileCount(){
		$.ajax({
	        url: 'apis/profile.php?prop_id='+ localStorage.getItem('mtcs_cms_propid'),
	        type : "get", // type of action POST || GET
	        dataType: 'json',
	        success : function(result) {
	        	var profiles = result.profiles;
				if(profiles.length > 0){
					callApi();
				} else{
					window.location= "#/profile";
				}
	        },
	        error: function(xhr, resp, text) {
	            console.log(xhr, resp, text);
	        }
	    })
	}
	function callApi(){
		$.ajax({
            url: 'apis/profile.php?prop_id='+ localStorage.getItem('mtcs_cms_propid'),
            type : "get", // type of action POST || GET mtcs_cms_uid
            dataType: 'json',
            success : function(result) {
				//console.log(result);
				prof_datas = result.profiles;
				if(prof_datas.length > 0){
					$('#prop_name').text("Profiles for "+ localStorage.getItem('mtcs_cms_propname'));
                	updatePhotos();
				} else{
					window.location= "#/profile";
				}
                
            },
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
	}
	function updatePhotos(){
		$.ajax({
	        url: 'apis/updatemedia.php?cmd=photos&prop_id=' + localStorage.getItem('mtcs_cms_propid'),
	        type : "GET", // type of action POST || GET
	        dataType: 'json',
	        success : function(result) {
				image_datas = result.paths;
				var display_name;
				var stat;
				var img_path = "";
				for (var i = prof_datas.length - 1; i >= 0; i--) {
					if (prof_datas[i].display_name=="") {
						display_name = prof_datas[i].profile_tag;
                		localStorage.setItem('mtcs_cms_profname['+i+']', prof_datas[i].profile_tag);
					}else{
						display_name = prof_datas[i].display_name;
                		localStorage.setItem('mtcs_cms_profname['+i+']', prof_datas[i].display_name);
					}
					if (prof_datas[i].status==1) {
						stat = "Watching";
					}else if (prof_datas[i].status==2) {
						stat = "Hit List";
					} else if (prof_datas[i].status==3) {
						stat = "Harvested";
					}
					localStorage.setItem('mtcs_cms_profid['+i+']', prof_datas[i].id);
					localStorage.setItem('mtcs_cms_proftag['+i+']', prof_datas[i].profile_tag);
					localStorage.setItem('mtcs_cms_profcreated['+i+']', prof_datas[i].createdon);
					localStorage.setItem('mtcs_cms_profstat['+i+']', stat);
					
					for(var j = 0; j < image_datas.length; j++){
						var uniqueList=image_datas[j].img_tag.split(',').filter(function(item,i,allItems){
							return i==allItems.indexOf(item);
						}).join(',');
						if (uniqueList.toLowerCase().indexOf(prof_datas[i].profile_tag.toLowerCase()) != -1) {
							img_path = 	image_datas[j].filepath;
							break;						
						}
					}
					console.log(img_path);
					localStorage.setItem('mtcs_cms_profimg['+i+']', img_path);
					var row = $('<div class="col-md-4 col-sm-6"><div class="profile-listing"><div class="photo"><a class="routes" href="javascript:void(0);" name="' + i + '"><img id="img_prof" src="' + 
						img_path + '"></a></div><h2><a class="routes" href="javascript:void(0);"name="' + i + '">' + display_name + '</a></h2><p class="propdescription">' + prof_datas[i].createdon +
						'</p><p class="propdescription"><span class="label label-watching">' + stat + '</span></p></div></div>'); 
					$('#profcontaner').append(row);
				 };
				 assignclick();
	        },
	        error: function(xhr, resp, text) {
	            console.log(xhr, resp, text);
	        }
	    })
	}
	function assignclick(){
		$(document).on("click", "a.routes" , function() {
			var index = $(this).attr("name");
			localStorage.setItem('mtcs_prof_curindex', index);
			window.location="#/profiledesc";
		});
	}
	callApi();
</script>


<!--  #/profiledesc <div class="row">
	<div class="col-md-4 col-sm-6">
		<div class="profile-listing">
			<div class="photo">
				<a href="#/profiledesc">
				
				</a>
			</div>
			<h2>
				<a id="prof_name" href="#/profiledesc">ExpProp</a>
			</h2>
			<p id="prof_desc" class="propdescription">Last Seen Unknown</p>
			<p class="propdescription">
				<span id="prof_stat" class="label label-watching">WATCHING</span>
			</p>
		</div>
	</div>
</div>
 -->