<div class="container">
    <div class="row">
        <div id="media">
            <div id="nophotos" class="thumbs" style="display:none;">
                <div class="alert alert-info">No photos found.</div>
            </div>
            <div id="photos" class="thumbs" style="display:none;">
            </div>
        </div>
    </div>
</div>

<script>
    function callApi(){
        // var url = window.location.toString();
        // window.location = url.replace(url, localStorage.getItem('mtcs_cms_albumlink'));
    
        $.ajax({
            url: 'apis/album.php?cmd=photos&user_id='+ localStorage.getItem('mtcs_cms_uid') + '&pid=' + localStorage.getItem('mtcs_cms_propid') + '&alb=' + localStorage.getItem('mtcs_cms_albumid'),
            type : "get",
            dataType: 'json',
            success : function(result) {
                var albumDetails = result.albums;
                console.log(albumDetails);
                if(albumDetails.length > 0){
                    $("#photos").show();  
                    for (var i = albumDetails.length - 1; i >= 0; i--) {
                        var startGallaryDiv = '<div class="gallery"><a class="routing tip" href="javascript:void(0);" name="' + i + '">' + '<img src="'+ albumDetails[i].filepath +'"><span>' + albumDetails[i].img_datetime + '</span>' +
											'</a></div>';
                        $('#photos').append(startGallaryDiv);
                    };
                    window.history.pushState("", "", localStorage.getItem('mtcs_cms_albumlink'));
                } else{
                    $("#nophotos").show();
                }
                
            },
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
    }
    callApi();
</script>