<div class="container">
	<div class="row">
		<div class="col-md-12"></div>
	</div>
	<div class="container">
		<h1 class="propwelcomemsg">Your Account</h1>
		<div class="row account">
			<div class="col-md-6">
				<div class="well well-lg">
					<h3><a href="#/usrprofile">Update User Information</a></h3>
					<p>Edit your email address and password</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well well-lg">
					<h3><a href="#/plans">Change Plan</a></h3>
					<p>Upgrade or downgrade your subscription</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="well well-lg">
					<h3><a href="#/usrsettings">Settings</a></h3>
					<p>Change your application settings</p>
				</div>
			</div>
			<!-- <div class="col-md-6">
				<div class="well well-lg">
					<h3><a class="squatchpop" href="#">Earn Free Credit</a></h3>
					<p>Save up to 100% off your monthly bill</p>
				</div>
			</div> -->
			<div class="col-md-6">
				<div class="well well-lg">
					<h3><a href="#/cancelaccount">Cancel Account</a></h3>
					<p>Delete photos, data and stop billing</p>
				</div>
			</div>
		</div>
	</div>
</div>