
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 id="tag_header" class="propwelcomemsg">Manage Tags for</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<button id="defaultOpen" class="tablink" onclick="openPage('Home', this, 'white')" style="background-color: #fff;">Active Tags Tab</button>
			<button class="tablink" onclick="openPage('News', this, 'white')" style="margin-left: -8px;">Auto-Tag Settings</button>
			<div id="Home" class="tabcontent" style="display:block;">
			    <div class="row">
					<div class="col-sm-12">
						<div class="col-md-12">
						<p class="propdescription">
							Each of the following tags are applied to one or more photos
							on this property. If you would like to remove a tag from all
							of your photos, as well as remove them from future photo uploads when the
							Auto-Tag Feature is enabled, click the check box next to the tag
							and click the “Remove Tags…” button on the right.
						</p>
						</div>
					</div>
				</div>
				<!-- <form> -->
					<div class="row">
						<div class="col-sm-9">
							<table class="table tag-table">
								<tbody id="tbl_tag">
									<tr>
										<th></th>
										<th>Tag</th>
										<th>Tagged Photos</th>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-sm-3">
							<a name="commit" class="btn btn-primary propbtnmm" style="width: 100%" data-toggle="modal" href="javascript:void(0);" data-target="#modal_tag_rm">Remove Tags…</a>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="modal fade" id="modal_tag_rm" role="dialog">
					  <div class="modal-dialog">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						  </div>
						  <div class="modal-body">
								<p>This will remove the selected tags from all tagged photos and add the tags to your ignored tag list so they won't be included in future auto-tag results.<br><br>This cannot be undone. Are you sure you wish to continue?</p>
						  </div>
						  <div class="modal-footer">
							  <button type="button" class="propbtnmm" data-dismiss="modal">KEEP TAGS</button>
							  <button id="del_tags" type="button" class="propbtnmm" data-dismiss="modal">DELETE TAGS</button>
						  </div>
						</div>
					  </div>
					</div>
				</div>
			</div>
		<!-- </form> -->
			<div id="News" class="tabcontent">
				<!-- <form> -->
					<div class="row">
						<div class="col-md-12"></div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
						<div class="col-md-12">
							<h2 class="propwelcomemsg">Enable Auto-Tagging</h2>
							<hr>
						</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-2 col-md-1">
							<label class="switch switch-slide" style="width: 100%; margin-left: 20%;">
								<input class="switch-input" type="checkbox" id="ckh_tag" />
								<span class="switch-label" data-on="On" data-off="Off"></span>
								<span class="switch-handle"></span>
							</label>
						</div>
						<div class="col-sm-10 col-md-11">
							<p class="propdescription">While you will always be able to create your own tags, myTrailcams's
								Auto-Tagging uses image recognition to detect objects within
								your photos. This can significantly save time finding and
								organizing specific photos as well as telling you what photos
								aren’t needed.
								<a href="" target="_blank">Learn more about this feature</a>.
							</p>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<div class="col-md-12">
								<h3>Tag Filtering</h3>
								<hr>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<div class="col-md-12">
								<p class="propdescription"> Some auto-tags are more relevant than others. Fine tune what tags myTrailcams shows and hides using these lists.
								</p>
							</div>
						</div>
					</div>
					<div class="row form-group">
                        <div class="col-md-12">
							<div class="col-md-12">
							<label class="control-label">Priority Tags</label>
							</div>
							<div class="col-md-12">
								<div class="container" style="width:400px;">
									<select id="framework" name="framework[]" multiple class="form-control" >
										<option value="Codeigniter">animal</option>
										<option value="CakePHP">mammal</option>
										<option value="Laravel">Deer</option>
										<option value="YII">Bear</option>
									</select>
								</div>
								<!--<select name="defaultTag" id="default_tags" tabindex="-1" multiple="multiple" class="multiselect-ui"> &lt;!&ndash;size="5"  class="form-control-p selectize selectized"    data-style="btn-default" class="selectpicker form-control" multiple data-max-options="5"&ndash;&gt;-->
									<!--<option value="animal">animal</option>-->
									<!--<option value="antler">antler</option>-->
									<!--<option value="bird">bird</option>-->
								<!--</select>-->
							</div>

                        </div>
						
					</div>
					<!--<div class="row form-group">-->
						<!--<div class="col-md-12">-->
						<!--<div class="col-md-12">-->
							<!--<label class="control-label" for="ignored_tags">Ignored Tags</label>-->
						<!--</div>-->
						<!--</div>-->
						<!--<div class="col-md-12">-->
						<!--<div class="col-md-12">-->
							<!--<select name="ignoredTag" id="ignored_tags" tabindex="-1" multiple="multiple" class="multiselect-ui"> &lt;!&ndash;size="5"  class="form-control-p selectize selectized"  class="form-control-p selectize selectized"  data-style="btn-default" class="selectpicker form-control" multiple data-max-options="5"&ndash;&gt;-->
								<!--<option value="accessories">accessories</option>-->
								<!--<option value="adorable">adorable</option>-->
								<!--<option value="afro hairstyle">afro hairstyle</option>-->
								<!--<option value="agaric">agaric</option>-->
								<!--<option value="alpaca">alpaca</option>-->
								<!--<option value="gazelle">gazelle</option>-->
								<!--<option value="geranium">geranium</option>-->
								<!--<option value="llama">llama</option>-->
								<!--<option value="logo">logo</option>-->
								<!--<option value="map">map</option>-->
								<!--<option value="maple">maple</option>-->
								<!--<option value="maple leaf">maple leaf</option>-->
								<!--<option value="marsh">marsh</option>-->
								<!--<option value="x-ray">x-ray</option>-->
								<!--<option value="yard">yard</option>-->
								<!--<option value="yew">yew</option>-->
								<!--<option value="zoo">zoo</option>-->
								<!--<option value="grass">grass</option>-->
							<!--</select>-->
						<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<div class="row form-group">
						<div class="col-md-6">
						<div class="col-md-8">
							<label class="control-label" for="property_max_auto_tags">Maximum Auto-Tags</label>
							<input class="form-control-p" placeholder="5" type="text" value="5" name="property[max_auto_tags]" id="max_auto_tags"><span class="help-block">This limits the number of auto-tags that will be
								applied to a photo. This number can be adjusted at anytime for
								future photos.
							</span>
						</div>
						</div>
						<div class="col-md-6">
						<div class="col-md-8">
							<label class="control-label" for="property_min_confidence">Minimum Confidence Factor</label>
							<input class="form-control-p" placeholder="60" type="text" value="60" name="property[min_confidence]" id="min_confidence"><span class="help-block">Each tag has a confidence score from 0-100%.
								myTrailCams will return tags that are above the set minimum confidence
								score. This can be adjusted at any time for future photos.
							</span>
						</div>
						</div>
					</div>
					<div class="row form-group"></div>
					<div class="col-md-12">
						<hr>
						<p><input type="button" id="btn_updatetag" name="commit" value="Update Tag Settings" class="btn btn-primary propbtnmm"></p>
					</div>
				<!-- </form> -->
			</div>
		</div>
	</div>

<script type="text/javascript">
	var results = [];
	// $(document).ready(function() {
	// 	$('#default_tags').multiselect({
	// 		buttonWidth : '100%',
	// 		includeSelectAllOption : true
	// 		//nonSelectedText: 'Select an Option'
	// 	});
	// 	$('#ignored_tags').multiselect({
	// 		buttonWidth : '100%',
	// 		includeSelectAllOption : true
	// 		//onSelectedText: 'Select an Option'
	// 	});
	// });
	function openPage(pageName,elmnt,color) {
	    var i, tabcontent, tablinks;
	    tabcontent = document.getElementsByClassName("tabcontent");
	    for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	    }
	    tablinks = document.getElementsByClassName("tablink");
	    for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].style.backgroundColor = "";
	    }
	    document.getElementById(pageName).style.display = "block";
	    elmnt.style.backgroundColor = color;
	}
	function setDefaultData(){
		if(localStorage.getItem('mtcs_cms_propname') != null && localStorage.getItem('mtcs_cms_propname') != ''){
			$('#tag_header').text("Manage Tags for " + localStorage.getItem('mtcs_cms_propname'));
			getTags();
		}
		$('.multiselect-ui').multiselect({
			buttonWidth : '100%',
			includeSelectAllOption : true
		});
		// $('#default_tags').multiselect({
		// 	buttonWidth : '100%',
		// 	includeSelectAllOption : true
		// 		//nonSelectedText: 'Select an Option'
		// });
		// $('#ignored_tags').multiselect({
		// 	buttonWidth : '100%',
		// 	includeSelectAllOption : true
		// 	//nonSelectedText: 'Select an Option'
		// });
	}
	function getTags(){
		var address = 'apis/updatemedia.php?cmd=photos&prop_id=' + localStorage.getItem('mtcs_cms_propid');
		$.ajax({
	        url: address,
	        type : "GET", // type of action POST || GET
	        dataType: 'json',
	        success : function(result) {
				datas = result.paths;
				//images = result.images; 
	        	if (datas.length > 0) {
					datas.sort(function compare(a, b) {
						var dateA = new Date(a.img_datetime);
						var dateB = new Date(b.img_datetime);
						return dateA - dateB;
					});

					var uniqueTags = [];
					var monthWithYear;

					for(var i = 0; i < datas.length; i++){
						var uniqueList=datas[i].img_tag.split(',').filter(function(item,i,allItems){
							return i==allItems.indexOf(item);
						}).join(',');
						
						var tag_list = datas[i].img_tag.split(',');
						for(var j = 0; j < tag_list.length; j++){
							uniqueTags.push(tag_list[j]);
						}
					}

					var sorted_uniqueTags = uniqueTags.slice().sort();
					
					for (var i = 0; i < sorted_uniqueTags.length; i++) {
						if ($.inArray(sorted_uniqueTags[i], uniqueTags) !== -1) {  //sorted_uniqueTags[i + 1] == uniqueTags[i] 
							if($.inArray(sorted_uniqueTags[i], results) === -1) 
								results.push(sorted_uniqueTags[i]);
								
						} else{
							if($.inArray(sorted_uniqueTags[i], results) === -1) 
								results.push(sorted_uniqueTags[i]);
						}
					}

					console.log(results);
					var occurance = 0;
					for(var k = 0; k < results.length; k++){
						if(results[k]!=""){
							for(var l = 0; l< datas.length; l++){
								if(datas[l].img_tag.indexOf(results[k]) !== -1){
									occurance++;
								}
							}
							
							var row = $('<tr class="selectable-tag"><td><input type="checkbox" name="tags" id="'+ k +'" checked></td>'+
							'<td class="selectable-area">' + results[k] + '</td><td class="selectable-area">'+ occurance + '</td></tr>');

							$('#tbl_tag').append(row);
							occurance = 0;
						}
					}
				}
				
				callApi();
	        	
	        },
	        error: function(xhr, resp, text) {
	            console.log(xhr, resp, text);
	        }
	    })
	}

	function callApi(){
		$.ajax({
        url: 'apis/tagsetting.php?user_id='+ localStorage.getItem('mtcs_cms_uid'),
        type : "get",
        dataType: 'json',
        success : function(result) {
			console.log(result);
			inv_data = result.inv_data;
			if(inv_data != null && inv_data != undefined && inv_data != ""){
				var stat = inv_data.enableAutoTagging;
				if (stat == 1) {
					$('#chk_tag').attr('checked', true);
				};
				$('#tag_priority :selected').text(inv_data.tag_priority);
				$('#tag_priority :selected').text(inv_data.tag_ignored);
				$('#max_autotag').val(inv_data.max_autotag);
				$('#min_cf').val(inv_data.min_cf);
				
				
			} else{
				$('#chk_tag').attr('checked', true);
				$('#tag_priority :selected').text();
				$('#tag_priority :selected').text();
				$('#max_autotag').val("5");
				$('#min_cf').val("60");
			}
        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
	})
	}
	setDefaultData();
	$("#del_tags").on('click', function(){
		var tags = [];
		$.each($("input[name='tags']:checked"), function(){
			var index = $(this).attr("id");            
			tags.push(results[index]);
		});
        var jsndata = {
			msg:"tags",
			tag:tags,
			prop_id:localStorage.getItem('mtcs_cms_propid')
		};
		console.log(jsndata);
		$.ajax({
			url: 'apis/updatemedia.php', // url whsere to submit the request
			type : "PUT", // type of action POST || GET
			data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
			contentType: 'application/json',
			success : function(result) {
				//alert(result.msg);
				//console.log(result);
				location.reload(); 
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
	});

	$("#btn_updatetag").on('click', function(){
		if($('#chk_tag').prop("checked") == true){
			stat = 1;
		} else if($('#chk_tag').prop("checked") == false){
			stat = 0;
		}
		var jsndata = {
			user_id: localStorage.getItem("mtcs_cms_uid"),     //document.getElementById().value
		    enableAutoTagging: stat,//document.getElementById().value  
		    tag_priority: $('#default_tags :selected').text(),  //document.getElementById().value
		    tag_ignored: $('#ignored_tags :selected').text(),  //document.getElementById().value
			max_autotag: $('#max_auto_tags').val(),
			min_cf: $('#min_confidence').val()
		};
		//console.log(jsndata.uid);
        // send ajax
        $.ajax({
            url: 'apis/tagsetting.php', // url where to submit the request
            type : "POST", // type of action POST || GET
            data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()
            contentType: 'application/json',
			dataType: 'json',
            success : function(result) {
                 
            },
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
	});

</script>


<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css">
<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>





<!--
	<input value="" class="tag-list form-control-p selectized" type="text" name="property[white_tag_list]" id="property_white_tag_list" tabindex="-1" style="display: none;">
	<div class="selectize-control tag-list form-control-p multi">
		<div class="selectize-input items not-full">
			<input type="text" autocomplete="off" tabindex="" style="width: 4px;">
		</div>
		<div class="selectize-dropdown tag-list form-control-p multi" style="display: none;">
			<div class="selectize-dropdown-content"></div>
		</div>
	</div>
	
	<span class="help-block">
	<p class="propdescription">If a priority tag is found for a photo it will be added
		regardless of the confidence factor or the count limits.
		To add, just type your term and select enter or tab. Be
		sure to select "Update Tag Settings" below. We also have <a data-toggle="collapse" href="#default-white-list">default priority tags</a> that most hunters are interested in. 
	</p>
	<div class="collapse" id="default-white-list">
		<div class="row">
			<div class="col-md-2">
				<p class="propdescription">Default Priority Tags:</p>
			</div>
			<div class="col-md-10">
				<div class="tags">
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
					<span class="tag"></span> 
				</div>
			</div>
		</div>
	</div>
</span> -->

