<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="propwelcomemsg" id="propwelcomemsg_upld"></h1>
		</div>
	</div>
	<div class="row">
		<p class="propdescription" id="propdescriptionmsg_upld" style="margin-left: 2%;">To upload photos to the camera you can either drag and drop the desired photos on your computer to the dashed area below or select the "Choose Photos" button. Once added your photos will automatically start uploading and a message will appear when complete.</p>
	</div>
	<div class="row">
		<div class="col-md-8" style="margin-top: 3%;">
			<table class="table">
				<tbody>
					<tr>
						<th>Total Photos Uploaded</th>
						<td>
							<span id="tphotos" class="total-photo-count">0</span> 
							<!-- / <span class="photo-limit">50</span>  -->
						</td>
					</tr>
					<tr>
						<th>Photos from this Camera</th>
						<td><span id="tphotoscam" class="camera-photo-count">0</span></td>
					</tr>
				</tbody>
			</table>
			<form action="accept-file.php" method="post" enctype="multipart/form-data">
		        <div class="file-upload">
		          <button style="display:none;" class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Upload an Image</button>
		            <div class="image-upload-wrap">
		              <input class="file-upload-input" name="images" type='file' id="file"  onchange="readURL(this);" accept="image/jpg, image/jpeg" multiple />
		              <div class="drag-text">
		                <h3>Drag and drop or select an Image</h3>
		              </div>
		            </div>
		            <div class="file-upload-content">
					  <img class="file-upload-image" src="#" alt="your image" />
					  <div id="myProgress">
						<div id="myBar"></div>
					  </div>
					  <!-- <div class="loader"></div>  -->
					  <!-- <div class="circlechart" data-percentage="0">Script</div> -->
		              <div class="image-title-wrap">
				   	  <!-- <p id="response"></p>
				   	  <p id="weather"></p> -->
		              </div>
		              <!-- <div class="loader"></div> -->
		            </div>
		        </div>
    		</form>
    		<div class="row" style="display:none;">
				<div class="col-md-12">
					<hr>
					<a href="#/afteraddedprop" class="btn btn-primary btn-lg propbtn">Go To Properties</a>
				</div>
			</div>
			<p></p>
		</div>
		<div class="col-md-4">
			<div class="well notes">
				<h3>Uploading Tips</h3>
				<p class="propdescription">
					Photos void of time stamps will not receive weather automatically so try to pull them directly from a SD card.</p><p class="propdescription">Using a modern browser like <a style="color:#32CD32;" href="http://google.com/chrome">Chrome</a>, <a style="color:#32CD32;" href="http://firefox.com">Firefox</a> or <a style="color:#32CD32;" href="http://apple.com/safari">Safari</a> allows drop and drag functionality which can save a lot of time!</p><p class="propdescription">Please note video files are not supported.</p>.
				</p>
				<!--<p class="propdescription">Need additional help? Check out our <a style="color:#32CD32;" href="#">video on uploading photos</a> or <a style="color:#32CD32;" href="#">contact us</a>-->
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade" id="modal_confirmation" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<h2 style="color: #385723; font-size: 16px; font-weight: bold; text-align: center;">UPLOAD COMPLETED!</h2>
					<button id="btn_uploadmore" class="btn_cnf">UPLOAD MORE PHOTOS</button>
					<button id="btn_viewphotos" class="btn_cnf">VIEW UPLOADED PHOTOS</button>
				</div>
				<div class="modal-footer">
					<!--<button type="button" class="propbtnmm" data-dismiss="modal">CANCEL</button>-->
					<!--<button id="btn_upd_all" type="button" class="propbtnmm" data-dismiss="modal">UPDATE</button>-->
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js"></script>
<script>
    var file;
    var defaultData = null;
	var isWeatherDataReceived = false;
	var script;
	var head;
	var res_mediaupload;
    var result_imgupd;
    var w_id = [];
    var filepath;
	var createDate=[];
	var photoTime=[];
	var arr_obj = [];
	var weatherTimeCount = 0;
	var id_interval = null;
	var directionarr = ["N","NNE","NE","ENE","E","ESE", "SE", "SSE","S","SSW","SW","WSW","W","WNW","NW","NNW"];
	const monthNames = ["JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE",
						"JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER"];

	function callApi(){
		$.ajax({
			url: 'apis/updatemedia.php?cmd=count&prop_id=' + localStorage.getItem('mtcs_cms_propid') + '&cam_id=' + localStorage.getItem('mtcs_cms_camid'),
			type : "GET", // type of action POST || GET
			dataType: 'json',
			success : function(result) {
				defaultData = result;
				var text_desc = 'To upload photos to the ' + localStorage.getItem('mtcs_cms_camname') + ' camera you can either drag and drop the desired photos on your computer to the dashed area below or select the "Choose Photos" button. Once added your photos will automatically start uploading and a message will appear when complete.'
				var row = $('<small style="margin-left: 1%;">'+localStorage.getItem('mtcs_cms_propname')+'</small>');
				$('#propwelcomemsg_upld').text("Upload Photos to Camera " +  localStorage.getItem("mtcs_cms_camname"));
				$('#propwelcomemsg_upld').append(row);
				$('#propdescriptionmsg_upld').text(text_desc);
				$('#tphotos').text(result.total_photos);
				$('#tphotoscam').text(result.total_photos);
				if (localStorage.getItem('mtcs_cms_camid') == null || localStorage.getItem('mtcs_cms_camid') == "") {
					upadateCamDetails();
				} else{
					if (localStorage.getItem('mtcs_cms_camname') != null && localStorage.getItem('mtcs_cms_camname') != "") {
						// var element = $('<small>'+ localStorage.getItem('mtcs_cms_camname') +'</small>');
						// $('#propwelcomemsg_upld').append(element);
					} else{
						$.ajax({
							url: 'apis/getcaminfo.php?cmd=camname&property_id='+ localStorage.getItem('mtcs_cms_propid') + '&cam_id=' + localStorage.getItem('mtcs_cms_camid'),
							type : "get", // type of action POST || GET
							dataType: 'json',
							success : function(result) {
								//$('#prop_name').text("Camera Locations for "+ localStorage.getItem('mtcs_cms_propname'));
								console.log(result);
								var camname = result.camname;
								console.log(camname);
								localStorage.setItem('mtcs_cms_camname', camname);
								// var element = $('<small>'+ camname +'</small>');
								// $('#propwelcomemsg_upld').append(element);
								localStorage.setItem('mtcs_cms_routepath', "uploadphotostocam");

							},
							error: function(xhr, resp, text) {
								console.log(xhr, resp, text);
							}
						})
					}
				}
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
	}
    function readURL(input) {	    
        if (input.files && input.files[0]) {
			var fd = new FormData();
            var file_data = input.files;  //files[0]
			var phDate;
			if (file_data.length > 15){
				alert("You can only upload maximum of 15 files at a time.");
				return;
			}
			for(var i = 0;i<file_data.length;i++){
				var files = file_data[i];
				var objFile = {
					fd:files,
					name:files.name,
					phTime: -1,
					wid : -1
				};
				arr_obj.push(objFile);
				//console.log(files.name);
				//console.log(i);
				fd.append("image_"+i, file_data[i]);
				startTimer();
				//sleep(300);
			}
			//console.log(arr_obj);
			head = document.head || document.getElementsByTagName('head')[0] || document.documentElement;
			getLocation();
			fd.append('uid', localStorage.getItem('mtcs_cms_uid'));
			fd.append('pid', localStorage.getItem('mtcs_cms_propid'));
			fd.append('tp', file_data.length);
            $.ajax({
                url:'accept-file.php',
                type:'post',
                data:fd,
                contentType: false,
                processData: false,
                dataType: 'json',
                success:function(response){
                    if(response != 0){    
					   console.log(isWeatherDataReceived);
					   if(isWeatherDataReceived){
						updateMediaData(response);
					   } else{
						res_mediaupload = response;
					   } 
                    }else{
                        alert('File not uploaded');
                    }
                }
            });
          	var reader = new FileReader();
          	reader.onload = function(e) {
                $('.image-upload-wrap').hide();
                //$('.file-upload-image').attr('src', e.target.result);
				$('.file-upload-image').hide();
                $('.file-upload-content').show();
				move();
            };
            reader.readAsDataURL(input.files[0]);

        } else {
         // removeUpload();
        }
	}

	function getFileCreationTime(files){
		var weatherRecCount = 0;
		EXIF.getData(files, function() {
			var actualdates;
			var tmp_dates = EXIF.getTag(this, "DateTimeOriginal");
			// console.log(tmp_dates);
			// console.log("index : " + i);
			
			if(tmp_dates == NaN || tmp_dates == undefined || tmp_dates == ''){
				phDate = new Date();
				actualdates = files.lastModifiedDate;
				photoTime.push(-1);
				createDate.push(-1);
				console.log(i);
				console.log(arr_obj[i]);
				arr_obj[i].phTime = -1;
				
			} else {
				var array = tmp_dates.split(" ");
				var z = array[0].replace(":","-"); 
				actualdates = z + " " + array[1];
				var arr_date = array[0].split(":");
				var arr_time = array[1].split(":");
				phDate = new Date(arr_date[0], arr_date[1] - 1, arr_date[2], arr_time[0], arr_time[1], arr_time[2]);
				var timeInEpoch = Math.round((phDate.getTime())/1000);
				photoTime.push(timeInEpoch);
				createDate.push(actualdates);
				console.log(i);
				console.log(arr_obj[i]);
				arr_obj[i].phTime = timeInEpoch;
				//console.log("index at vals : " + i);
				startTimer();
			}
			weatherRecCount++;
			if(weatherRecCount == file_data.length){
				console.log(photoTime);
				//w_id = new Array(photoTime.length);
				head = document.head || document.getElementsByTagName('head')[0] || document.documentElement;
				//console.log(weatherTimeCount);
				if(photoTime[weatherTimeCount] != -1){
					getLocation();	
				} else{
					//console.log(weatherTimeCount);
					while(photoTime[weatherTimeCount] == -1){
						w_id.push(-1);
						//w_id[weatherTimeCount] = -1;
						weatherTimeCount++;
						// console.log(weatherTimeCount);
						// console.log(-1);
					}
					if(weatherTimeCount<photoTime.length){
						getLocation();
					} else{
						if(res_mediaupload != null){
							var tmpdata = res_mediaupload;
							updateMediaData(tmpdata);
						} else{
							isWeatherDataReceived = true;	
						}
					}
				}
				//getLocation();
			}
		});
	}

	function startTimer () {
		//timer.start();
		setTimeout(stopTimer,100);
	}

	function stopTimer () {
		console.log("stopTimer Triggered")
		//timer.stop;
	}
	function callback(data) {
		//updateWeatherData(data);

		/*** Experiment Code ***/
		//console.log(data);
		updateWeatherData(data);
		// startTimer();
		// head.removeChild(script);
		// weatherTimeCount++;
		
		// if(weatherTimeCount<arr_obj.length){
		// 	if(photoTime[weatherTimeCount] != -1){
		// 		getLocation();	
		// 	} else{
		// 		while(photoTime[weatherTimeCount] == -1){
		// 			//w_id[weatherTimeCount] = -1;
		// 			w_id.push(-1);
		// 			weatherTimeCount++;
		// 			//console.log(weatherTimeCount);
		// 			//console.log(-1);
		// 		}
		// 		if(weatherTimeCount<photoTime.length){
		// 			getLocation();
		// 		} else{
		// 			if(res_mediaupload != null){
		// 				var tmpdata = res_mediaupload;
		// 				updateMediaData(tmpdata);
		// 			} else{
		// 				isWeatherDataReceived = true;	
		// 			}
		// 		}
		// 	}
		// } else{
		// 	if(res_mediaupload != null){
		// 		var tmpdata = res_mediaupload;
		// 		updateMediaData(tmpdata);
		// 	} else{
		// 		isWeatherDataReceived = true;	
		// 	}
		// }
	}
	function getLocation() {
		if(weatherTimeCount<arr_obj.length){
		var files  =  arr_obj[weatherTimeCount].fd;
		EXIF.getData(files, function() {
			var actualdates;
			var tmp_dates = EXIF.getTag(this, "DateTimeOriginal");
			startTimer();
			// console.log(tmp_dates);
			// console.log("index : " + i);
			
			if(tmp_dates == NaN || tmp_dates == undefined || tmp_dates == ''){
				phDate = new Date();
				actualdates = files.lastModifiedDate;
				photoTime.push(-1);
				createDate.push(-1);
				console.log(weatherTimeCount);
				console.log(arr_obj[weatherTimeCount]);
				arr_obj[weatherTimeCount].phTime = -1;
				
			} else {
				var array = tmp_dates.split(" ");
				var z = array[0].replace(":","-"); 
				actualdates = z + " " + array[1];
				var arr_date = array[0].split(":");
				var arr_time = array[1].split(":");
				phDate = new Date(arr_date[0], arr_date[1] - 1, arr_date[2], arr_time[0], arr_time[1], arr_time[2]);
				var timeInEpoch = Math.round((phDate.getTime())/1000);
				photoTime.push(timeInEpoch);
				createDate.push(actualdates);
				console.log(weatherTimeCount);
				console.log(arr_obj[weatherTimeCount]);
				arr_obj[weatherTimeCount].phTime = timeInEpoch;
				//console.log("index at vals : " + i);
				startTimer();
			}

			if(photoTime[weatherTimeCount] != -1){
				script = document.createElement('script');
				script.type = 'text/javascript';
				script.src = 'https://api.darksky.net/forecast/026e2dd15d28adde50c86b2bc3629678/'+ localStorage.getItem('mtcs_cms_proplat') + ',' + localStorage.getItem('mtcs_cms_proplng') + ',' + photoTime[weatherTimeCount] +'?callback=callback';  //+ ',' + photoTime[weatherTimeCount]  
				//console.log(script.src);
				head.appendChild(script);
			} else{
				w_id.push(-1);
				arr_obj[weatherTimeCount].wid = -1;
				weatherTimeCount++;
				if(weatherTimeCount<arr_obj.length){
					getLocation();
				} else{
					if(res_mediaupload != null){
						var tmpdata = res_mediaupload;
						updateMediaData(tmpdata);
					} else{
						isWeatherDataReceived = true;	
					}
				}
				//getLocation();
			}
		});
	} else{
		if(res_mediaupload != null){
			var tmpdata = res_mediaupload;
			updateMediaData(tmpdata);
		} else{
			isWeatherDataReceived = true;	
		}
	}
		//for(var i = 0; i < photoTime.length; i++){
			// script = document.createElement('script');
			// script.type = 'text/javascript';
			// script.src = 'https://api.darksky.net/forecast/026e2dd15d28adde50c86b2bc3629678/'+ localStorage.getItem('mtcs_cms_proplat') + ',' + localStorage.getItem('mtcs_cms_proplng') + ',' + photoTime[weatherTimeCount] +'?callback=callback';  //+ ',' + photoTime[weatherTimeCount]  
			// //console.log(script.src);
			// head.appendChild(script);
		//}
		
  	}
	function move() {
		var elem = document.getElementById("myBar");   
		var width = 1;
		id_interval = setInterval(frame, 1700); //700
		function frame() {
			if (width >= 100) {
			clearInterval(id_interval);
			} else {
			width++; 
			elem.style.width = width + '%'; 
			}
		}
	}
  	function updateWeatherData(response){
		var wind_bearing = response.currently.windBearing;
		var val = Math.round((wind_bearing/22.5)+.5);
		var wind_direction = directionarr[(val % 16)];

		var w_speed, w_pressure, w_temprature, w_humidity, w_sunrise, w_sunset, w_summery, w_moonp, w_icon;
		if(response.currently.windSpeed != null && response.currently.windSpeed != undefined){
			w_speed = response.currently.windSpeed;
		} else{
			w_speed = 0.0;
			wind_direction = '';
		}
		if(response.currently.pressure != null && response.currently.pressure != undefined){
			w_pressure = response.currently.pressure;
		} else{
			w_pressure = 0;
		} 
		if(response.currently.temperature != null && response.currently.temperature != undefined){
			w_temprature = response.currently.temperature;
		} else{
			w_temprature = 0;
		} 
		if(response.currently.humidity != null && response.currently.humidity != undefined){
			w_humidity = response.currently.humidity;
		} else{
			w_humidity = 0;
		}
		if(response.daily != undefined) {
			if(response.daily.data[0] != undefined){
				if(response.daily.data[0].sunriseTime != null && response.daily.data[0].sunriseTime != undefined){
					w_sunrise = response.daily.data[0].sunriseTime;
				} else {
					w_sunrise = 0;
				}
				if(response.daily.data[0].sunsetTime != null && response.daily.data[0].sunsetTime != undefined){
					w_sunset = response.daily.data[0].sunsetTime;
				} else {
					w_sunset = 0;
				}
				if(response.daily.data[0].moonPhase != null && response.daily.data[0].moonPhase != undefined){
					w_moonp = response.daily.data[0].moonPhase;
				} else {
					w_moonp = 0;
				}
			} else {
				w_sunrise = 0;
				w_sunset = 0;
				w_moonp = 0;
			}
		}
		

		if(response.currently.summary != null && response.currently.summary != undefined){
			w_summery = response.currently.summary;
		} else{
			w_summery = "";
		}

		if(response.currently.icon != null && response.currently.icon != undefined){
			w_icon = response.currently.icon;
		} else{
			w_icon = "";
		}
		
		var date = new Date(0);
		date.setUTCSeconds(photoTime[weatherTimeCount]);
		var month = monthNames[date.getMonth()];
		var year =  date.getFullYear();
		var curDate = date.getDate();
		var mPhase = Moon.phase(year.toString(), date.getMonth().toString(), curDate.toString());
		console.log(mPhase);
														
		//console.log(w_speed, wind_direction, w_pressure, w_temprature, w_humidity, w_sunrise, w_sunset);


  		var jsndata = {
			windspeed:w_speed,     
		    winddirection: wind_direction,  
		    pressure: w_pressure,  
		    temperature: w_temprature,  
			humidity: w_humidity,
			sunrise: w_sunrise,
			sunset: w_sunset,
			summery: w_summery,
			icons:w_icon,
			moonphase:mPhase,
			user_id: localStorage.getItem("mtcs_cms_uid"),
			prop_id: localStorage.getItem('mtcs_cms_propid'), //Added on 130319
  			cam_id: localStorage.getItem('mtcs_cms_camid')   //Added on 130319
		};
        $.ajax({
            url: 'apis/updateweather.php',
            type : "POST", 
            data : JSON.stringify(jsndata), 
            contentType: 'application/json',
			dataType: 'json',
            success : function(result) {
				//w_id[weatherTimeCount] = result.w_id;
				//console.log(arr_obj[weatherTimeCount]);
				console.log(arr_obj);
				arr_obj[weatherTimeCount].wid = result.w_id;
				w_id.push(result.w_id);
				startTimer();
				head.removeChild(script);
				weatherTimeCount++;
				getLocation();
				// console.log(w_id);
				// console.log(weatherTimeCount);
                //console.log(result); 
            },
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
  	}
  	function updateMediaData(response){
		  console.log(w_id);
		  var arr_wid = [];
		  //var clone_wid = w_id.slice(0);

		//   for(var j = 0; j < w_id.length; j++){
		// 	  if(w_id[j] === -1){
		// 		//w_id.pop(w_id[j]);
		// 		w_id.splice(j, 1);
		// 	  }
		//   }

		var uniqueWids = [];
		$.each(w_id, function(i, el){
			if($.inArray(el, uniqueWids) === -1) uniqueWids.push(el);
		});

		console.log(uniqueWids);

		//   console.log(w_id);
		//   console.log(photoTime);
		//   console.log(uniqueWids);

		  var countPos = 0;
		  for(var i = 0; i < photoTime.length; i++){
			  if(photoTime[i] === -1){
				//arr_wid[i] = -1;
				arr_wid.push(-1);
			  } else{
				//arr_wid[i] = w_id[countPos];
				arr_wid.push(uniqueWids[countPos]);
				countPos++;
			  }

		  }
		  console.log(arr_wid);
		  console.log(photoTime);

  		var jsndata = {
  			user_id: localStorage.getItem("mtcs_cms_uid"),
  			prop_id: localStorage.getItem('mtcs_cms_propid'),
  			cam_id: localStorage.getItem('mtcs_cms_camid'),
  			weather_id: arr_wid,
			displayName: response.displayName,     
		    filepath: response.filepath,
			createdon:photoTime,    //createDate
		    values1: response.values1,
			values2: response.values2,
			values3: response.values3,  
		    bytes: response.bytes

		};
		//tags: response.values1+","+response.values2+","+response.values3, 
        $.ajax({
            url: 'apis/updatemedia.php',
            type : "POST", 
            data : JSON.stringify(jsndata), 
            contentType: 'application/json',
			dataType: 'json',
            success : function(result) {
                //w_id = result.w_id;
                //localStorage.setItem('mtcs_cms_mid', result.m_id);
                //localStorage.setItem("mtcs_cms_curphotopath", filepath);
                //filepath
                //console.log(result);
                //window.location= "feature.html#/photos";

				var elem = document.getElementById("myBar");
				elem.style.width = 100 + '%';
				clearInterval(id_interval);
				$('#tphotos').text(parseInt(defaultData.total_photos) + arr_obj.length);
				$('#tphotoscam').text(parseInt(defaultData.total_photos) + arr_obj.length);
				$('#modal_confirmation').modal('show');

            },
            error: function(xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
  	}
  	function positionError(error) {
      	var errorCode = error.code;
      	var message = error.message;
	    console.log(errorCode + "\n" + message);
  	}
 	function savePosition(position) {
	    $.ajax({
           url: 'geocoordinates.php',
           type: 'post',
           data: {lat: position.coords.latitude, lng: position.coords.longitude},
           contentType: false,
           processData: false,
           success: function(response){
	            if(response != 0) {
	               console.log(response);
	            }else{
	               alert('file not uploaded');
	            }
            }
        });
  	}
    function removeUpload() {
	    var fd = new FormData();
        var files = $('#file1').files[0];
        fd.append('file',files);
	    $.ajax({
              url: 'upload.php',
              type: 'post',
              data: fd,
              contentType: false,
              processData: false,
              success: function(response){
               	 if(response != 0) {
		   console.log(response);
                 }else{
                   alert('file not uploaded');
               	 }
               }
            });
   	}
  	function upadateCamDetails(){
		$.ajax({
			url: 'apis/addcam.php?property_id='+ localStorage.getItem('mtcs_cms_propid'),
			type : "get", // type of action POST || GET
			dataType: 'json',
			success : function(result) {
					//$('#prop_name').text("Camera Locations for "+ localStorage.getItem('mtcs_cms_propname'));
					var camd = result.camdetails;
					localStorage.setItem('mtcs_cms_camid', camd[camd.length - 1].id);
					localStorage.setItem('mtcs_cms_camname', camd[camd.length - 1].camera_name);
					// var element = $('<small>'+ camd[camd.length - 1].camera_name +'</small>');
					// $('#propwelcomemsg_upld').append(element);
				
			},
			error: function(xhr, resp, text) {
				console.log(xhr, resp, text);
			}
		})
  	}

	$("#btn_uploadmore").on('click', function(){
		$('#modal_confirmation').modal('hide');
		window.setTimeout(refreshPgae,300);
	});

	$("#btn_viewphotos").on('click', function(){
		$('#modal_confirmation').modal('hide');
		window.setTimeout(routePage,300);

	});

	function refreshPgae(){
		window.location.reload();
	}

	function routePage() {
		window.location= "feature.html#/photos";
	}

	callApi();

  </script>




    <!-- +","+response.values4+","+response.values5,  crossDomain: true, processData: false,
			contentType: false, https://cors-anywhere.herokuapp.com	 cache: false,		jsonp: false, 
		'Access-Control-Allow-Credentials': true
		headers: {
				'Access-Control-Allow-Origin': '*',  Access-Control-Allow-Origin
				'Access-Control-Allow-Methods': 'GET',
				'Access-Control-Allow-Headers': 'x-requested-with, x-requested-by'},
		
		https://cors-anywhere.herokuapp.com/
	
	headers: {'Access-Control-Allow-Origin': 'http://www.mytrailcams.com',
					 'Access-Control-Allow-Methods':'GET',
					 'Access-Control-Allow-Headers':'x-requested-with, x-requested-by',
					 'Access-Control-Max-Age': 1728000,
					 'Access-Control-Allow-Credentials': true
					 }, 





	$.ajax({
            url: 'https://cors-anywhere.herokuapp.com/https://api.darksky.net/forecast/026e2dd15d28adde50c86b2bc3629678/' + localStorage.getItem('mtcs_cms_proplat') + ',' + localStorage.getItem('mtcs_cms_proplng') + ',' + photoTime,
			type: 'GET',
			contentType: 'application/json; charset=utf-8',
			xhrFields: {
				// The 'xhrFields' property sets additional fields on the XMLHttpRequest.
				// This can be used to set the 'withCredentials' property.
				// Set the value to 'true' if you'd like to pass cookies to the server.
				// If this is enabled, your server must respond with the header
				// 'Access-Control-Allow-Credentials: true'.
				allowOrigin: 'http://www.mytrailcams.com',
				withCredentials: false,
				maxAge: 1728000,
			},
			headers: {
				// Set any custom headers here.
				// If you set any non-simple headers, your server must include these
				// headers in the 'Access-Control-Allow-Headers' response header.
				allowHeaders:'x-requested-with, x-requested-by',
				
			},
			mode:'no-cors',
			crossDomain: true,
			dataType: 'jsonp',
            success: function(response){
                if(response != 0) {
				   //var obj = JSON.parse(response);
				//    var text = "Temprature c : " + response.current.temp_c + "\n" + "Condition : " + response.current.condition.text + "\n" 
				// 	+ "Humidity : " + response.current.humidity + "\n"
				// 	+ "Wind mph : " + response.current.wind_mph + "\n" + "Wind degree : " + response.current.wind_degree + "\n"
				// 	+ "Wind direction : " + response.current.wind_dir + "\n" + "Pressure mb : " + response.current.pressure_mb + "\n"
				// 	+ "Feelslike c : " + response.current.feelslike_c + "\n" + "UV : " + response.current.uv + "\n";
				//    var res = text.replace(/\n/g, "<br />");
				//    console.log(res);
				   console.log(response);
				   updateWeatherData(response);
				   //$('#weather').html(res);
                   //console.log(response.current.temp_c);
                }else{
                   alert('file not uploaded');
                }
        	}
		});
		

		// var url = 'https://cors-anywhere.herokuapp.com/https://api.darksky.net/forecast/026e2dd15d28adde50c86b2bc3629678/' + localStorage.getItem('mtcs_cms_proplat') + ',' + localStorage.getItem('mtcs_cms_proplng') + ',' + photoTime;

		// fetch(url, {
		// 	mode: 'no-cors',
		// 	headers: new Headers({
		// 		'Content-Type':'application/json; charset=utf-8',
		// 		'Access-Control-Allow-Origin': 'http://www.mytrailcams.com',
		// 		'Access-Control-Allow-Headers':'x-requested-with, x-requested-by'
		// 	})
		// })
		// .then(response => response.json())
		// .then(data => {
		// 	console.log(data)
		// })
		// .catch(function(error) {
		// 	// If there is any error you will catch them here
		// 	console.log(error);
		  // });
		  
		  	// var proxy = 'https://cors-anywhere.herokuapp.com/';
			// var apiLinkDS = "https://api.darksky.net/forecast/026e2dd15d28adde50c86b2bc3629678/" + localStorage.getItem('mtcs_cms_proplat') + "," + localStorage.getItem('mtcs_cms_proplng') + "," + photoTime;

			// $.ajax({
			// 	url: proxy + apiLinkDS,
			// 	success:function(data) { console.log(data);}
			// });



		// var url = 'https://cors-anywhere.herokuapp.com/https://api.darksky.net/forecast/026e2dd15d28adde50c86b2bc3629678/' + localStorage.getItem('mtcs_cms_proplat') + ',' + localStorage.getItem('mtcs_cms_proplng') + ',' + photoTime;
		// var request = new XMLHttpRequest();
		// request.onreadystatechange = function() {
		// 	if (this.readyState == 4 && this.status == 200) {
		// 		console.log(this.response);
		// 	}
		// };
		// request.open('GET', url, true);
		// request.setRequestHeader("Access-Control-Allow-Origin","http://www.mytrailcams.com");
		// request.setRequestHeader("Access-Control-Allow-Headers","x-requested-with, x-requested-by");
		// request.send();
		//console.log(request.jsndata);  'Access-Control-Allow-Headers':'x-requested-with, x-requested-by'
		// request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;');
		// request.onload = function () {
		// 	if (this.status >= 200 && this.status < 400) {
		// 		// If successful
		// 		console.log(this.response);
		// 	} else {
		// 		// If fail
		// 		console.log(this.response);
		// 	}
		// };
		// request.onerror = function() {
		// 	// Connection error
		// };
	
	-->