<div class="container">
	<div class="row">
		<div class="col-md-12"></div>
	</div>
	<div class="container">
		<h1 class="">Edit your User Profile</h1>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<!-- <form> -->
					<div class="form-group">
						<label for="user_firstname">First Name</label>
						<input class="form-control-p" type="text" value="" name="user[name]" id="user_firstname">
					</div>
					<div class="form-group">
						<label for="user_lastname">Last Name</label>
						<input class="form-control-p" type="text" value="" name="user[name]" id="user_lastname">
					</div>
					<div class="form-group">
						<label for="user_email">Email</label>
						<input class="form-control-p" type="text" value="" name="user[email]" id="user_email" readonly>
					</div>
					<div class="form-group">
						<label for="user_time_zone">Time Zone</label>
						<select class="form-control-p selectize selectized" name="user[time_zone]" id="user_time_zone" tabindex="-1">
							<option value="" selected="">(GMT-11:00) American Samoa</option>
							<option value="" selected="">(GMT-11:00) International Date Line West</option>
							<option value="" selected="">(GMT-11:00) Midway Island</option>
							<option value="" selected="">(GMT-10:00) Hawaii</option>
							<option value="" selected="">(GMT-09:00) Alaska</option>
							<option value="" selected="">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
							<option value="" selected="">(GMT-08:00) Tijuana</option>
							<option value="" selected="">(GMT-07:00) Arizona</option>
							<option value="" selected="">(GMT-07:00) Chihuahua</option>
							<option value="" selected="">(GMT-07:00) Mazatlan</option>
							<option value="" selected="">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
							<option value="" selected="">(GMT-06:00) Central Time (US &amp; Canada)/option>
							<option value="" selected="">(GMT-06:00) Guadalajara</option>
							<option value="" selected="">(GMT-06:00) Mexico City</option>
							<option value="" selected="">(GMT-06:00) Monterrey</option>
							<option value="" selected="">(GMT-06:00) Saskatchewan</option>
							<option value="" selected="">(GMT-05:00) Bogota</option>
							<option value="" selected="">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
							<option value="" selected="">(GMT-05:00) Indiana (East)</option>
							<option value="" selected="">(GMT-05:00) Lima</option>
							<option value="" selected="">(GMT-05:00) Quitoa</option>
							<option value="" selected="">(GMT-04:00) Atlantic Time (Canada)</option>
							<option value="" selected="">(GMT-04:00) Caracas</option>
							<option value="" selected="">(GMT-04:00) Georgetown</option>
							<option value="" selected="">(GMT-04:00) La Paz</option>
							<option value="" selected="">(GMT-04:00) Santiago</option>
							<option value="" selected="">(GMT-03:30) Newfoundland</option>
							<option value="" selected="">(GMT-03:00) Brasilia</option>
							<option value="" selected="">(GMT-03:00) Buenos Aires</option>
							<option value="" selected="">(GMT-03:00) Greenland</option>
							<option value="" selected="">(GMT-03:00) Montevideo</option>
							<option value="" selected="">(GMT-02:00) Mid-Atlantic</option>
							<option value="" selected="">(GMT-01:00) Azores</option>
							<option value="" selected="">(GMT-01:00) Cape Verde Is.</option>
							<option value="" selected="">(GMT-01:00) Dublin</option>
							<option value="" selected="">(GMT+00:00) Edinburgh</option>
							<option value="" selected="">(GMT+00:00) Lisbon</option>
							<option value="" selected="">(GMT+00:00) London</option>
							<option value="" selected="">(GMT+00:00) Monrovia</option>
							<option value="" selected="">(GMT+00:00) UTC</option>
							<option value="" selected="">(GMT+01:00) Amsterdam</option>
							<option value="" selected="">(GMT+01:00) Belgrade</option>
							<option value="" selected="">(GMT+01:00) Berlin</option>
							<option value="" selected="">(GMT+01:00) Bern</option>
							<option value="" selected="">(GMT+01:00) Bratislava</option>
							<option value="" selected="">(GMT+01:00) Brussels</option>
							<option value="" selected="">(GMT+01:00) Budapest</option>
							<option value="" selected="">(GMT+01:00) Casablanca</option>
							<option value="" selected="">(GMT+01:00) Copenhagen</option>
							<option value="" selected="">(GMT+01:00) Ljubljana</option>
							<option value="" selected="">(GMT+01:00) Madrid</option>
							<option value="" selected="">(GMT+01:00) Paris</option>
							<option value="" selected="">(GMT+01:00) Prague</option>
							<option value="" selected="">(GMT+01:00) Rome</option>
							<option value="" selected="">(GMT+01:00) Sarajevo</option>
							<option value="" selected="">(GMT+01:00) Skopje</option>
							<option value="" selected="">(GMT+01:00) Stockholm</option>
							<option value="" selected="">(GMT+01:00) Vienna</option>
							<option value="" selected="">(GMT+01:00) Warsaw</option>
							<option value="" selected="">(GMT+01:00) West Central Africa</option>
							<option value="" selected="">(GMT+01:00) Zagreb</option>
							<option value="" selected="">(GMT+02:00) Athens</option>
							<option value="" selected="">(GMT+02:00) Bucharest</option>
							<option value="" selected="">(GMT+02:00) Cairo</option>
							<option value="" selected="">(GMT+02:00) Harare</option>
							<option value="" selected="">(GMT+02:00) Helsinki</option>
							<option value="" selected="">(GMT+02:00) Jerusalem</option>
							<option value="" selected="">(GMT+02:00) Kaliningrad</option>
							<option value="" selected="">(GMT+02:00) Kyiv</option>
							<option value="" selected="">(GMT+02:00) Pretoria</option>
							<option value="" selected="">(GMT+02:00) Riga</option>
							<option value="" selected="">(GMT+02:00) Sofia</option>
							<option value="" selected="">(GMT+02:00) Tallinn</option>
							<option value="" selected="">(GMT+02:00) Vilnius</option>
							<option value="" selected="">(GMT+03:00) Baghdad</option>
							<option value="" selected="">(GMT+03:00) Istanbul</option>
							<option value="" selected="">(GMT+03:00) Kuwait</option>
							<option value="" selected="">(GMT+03:00) Minsk</option>
							<option value="" selected="">(GMT+03:00) Moscow</option>
							<option value="" selected="">(GMT+03:00) Nairobi</option>
							<option value="" selected="">(GMT+03:00) Riyadh</option>
							<option value="" selected="">(GMT+03:00) St.Petersburg</option>
							<option value="" selected="">(GMT+03:30) Tehran</option>
							<option value="" selected="">(GMT+04:00) Abu Dhabi</option>
							<option value="" selected="">(GMT+04:00) Baku</option>
							<option value="" selected="">(GMT+04:00) Muscat</option>
							<option value="" selected="">(GMT+04:00) Samara</option>
							<option value="" selected="">(GMT+04:00) Tbilisi</option>
							<option value="" selected="">(GMT+04:00) Volgograd</option>
							<option value="" selected="">(GMT+04:00) Yerevan</option>
							<option value="" selected="">(GMT+04:30) Kabul</option>
							<option value="" selected="">(GMT+05:00) Ekaterinburg</option>
							<option value="" selected="">(GMT+05:00) Islamabad</option>
							<option value="" selected="">(GMT+05:00) Karachi</option>
							<option value="" selected="">(GMT+05:00) Tashkent</option>
							<option value="" selected="">(GMT+05:30) Chennai</option>
							<option value="" selected="">(GMT+05:30) Kolkata</option>
							<option value="" selected="">(GMT+05:30) Mumbai</option>
							<option value="" selected="">(GMT+05:30) New Delhi</option>
							<option value="" selected="">(GMT+05:30) Sri Jayawardenepura</option>
							<option value="" selected="">(GMT+05:45) Kathmandu</option>
							<option value="" selected="">(GMT+06:00) Almaty</option>
							<option value="" selected="">(GMT+06:00) Astana</option>
							<option value="" selected="">(GMT+06:00) Dhaka</option>
							<option value="" selected="">(GMT+06:00) Urumqi</option>
							<option value="" selected="">(GMT+06:30) Rangoon</option>
							<option value="" selected="">(GMT+07:00) Bangkok</option>
							<option value="" selected="">(GMT+07:00) Hanoi</option>
							<option value="" selected="">(GMT+07:00) Jakarta</option>
							<option value="" selected="">(GMT+07:00) Krasnoyarsk</option>
							<option value="" selected="">(GMT+07:00) Novosibirsk</option>
							<option value="" selected="">(GMT+08:00) Beijing</option>
							<option value="" selected="">(GMT+08:00) Chongqing</option>
							<option value="" selected="">(GMT+08:00) Hong Kong</option>
							<option value="" selected="">(GMT+08:00) Irkutsk</option>
							<option value="" selected="">(GMT+08:00) Kuala Lumpur</option>
							<option value="" selected="">(GMT+08:00) Perth</option>
							<option value="" selected="">(GMT+08:00) Singapore</option>
							<option value="" selected="">(GMT+08:00) Taipei</option>
							<option value="" selected="">(GMT+08:00) Ulaanbaatar</option>
							<option value="" selected="">(GMT+09:00) Osaka</option>
							<option value="" selected="">(GMT+09:00) Sapporo</option>
							<option value="" selected="">(GMT+09:00) Seoul</option>
							<option value="" selected="">(GMT+09:00) Tokyo</option>
							<option value="" selected="">(GMT+09:00) Yakutsk</option>
							<option value="" selected="">(GMT+09:30) Adelaide</option>
							<option value="" selected="">(GMT+09:30) Darwin</option>
							<option value="" selected="">(GMT+10:00) Brisbane</option>
							<option value="" selected="">(GMT+10:00) Canberra</option>
							<option value="" selected="">(GMT+10:00) Guam</option>
							<option value="" selected="">(GMT+10:00) Hobart</option>
							<option value="" selected="">(GMT+10:00) Melbourne</option>
							<option value="" selected="">(GMT+10:00) Port Moresby</option>
							<option value="" selected="">(GMT+10:00) Sydney</option>
							<option value="" selected="">(GMT+10:00) Vladivostok</option>
							<option value="" selected="">(GMT+11:00) Magadan</option>
							<option value="" selected="">(GMT+11:00) New Caledonia</option>
							<option value="" selected="">(GMT+11:00) Solomon Is./option>
							<option value="" selected="">(GMT+11:00) Srednekolymsk</option>
							<option value="" selected="">(GMT+12:00) Fiji</option>
							<option value="" selected="">(GMT+12:00) Kamchatka</option>
							<option value="" selected="">(GMT+12:00) Marshall Is.</option>
							<option value="" selected="">(GMT+12:00) Wellington</option>
							<option value="" selected="">(GMT+12:45) Chatham Is.</option>
							<option value="" selected="">(GMT+13:00) Nuku'alofa</option>
							<option value="" selected="">(GMT+13:00) Samoa</option>
							<option value="" selected="">(GMT+13:00) Tokelau Is.</option>
						</select>
					</div>
					<div class="form-group">
						<label for="change_password">
							<input type="checkbox" id="change_password" value="" onchange="valueChanged()"> Change your password?
						</label>
					</div>
					<div class="password-fields">
						<div class="form-group">
							<label for="user_password">New Password</label>
							<input autocomplete="off" class="form-control-p" type="password" name="user[password]" id="user_password">
						</div>
						<div class="form-group">
							<label for="user_password_confirmation">Confirm New Password</label>
							<input autocomplete="off" class="form-control-p" type="password" name="user[password_confirmation]" id="user_password_confirmation">
						</div>
						<div class="form-group">
							<label for="user_current_password">Current Password</label>
							<input class="form-control-p" type="password" name="user[current_password]" id="user_current_password">
							<p class="help-block">We need your current password to confirm your changes.</p>
						</div>
					</div>
					<input id="updusr" type="button" name="commit" value="Update" class="btn btn-primary propbtnmm">
				<!-- </form> -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(".password-fields").hide();
	function valueChanged()
	{
	    if($('#change_password').is(":checked"))   
	        $(".password-fields").show();
	    else
	        $(".password-fields").hide();
	}
	function callApi(){
		$.ajax({
	        url: 'apis/userinfo.php?user_id=' + localStorage.getItem('mtcs_cms_uid'),
	        type : "GET", // type of action POST || GET
	        dataType: 'json',
	        success : function(result) {
	        	//console.log(result);
	        	var data= result.userdata;
	        	console.log(data[0].timezone);
	        	$('#user_firstname').val(data[0].first_name);
	            $('#user_lastname').val(data[0].last_name);
				$('#user_email').val(data[0].user_name);
				$('#user_time_zone :selected').text(data[0].timezone);
	            //$('#user_time_zone').val(data[0].timezone);
	        },
	        error: function(xhr, resp, text) {
	            console.log(xhr, resp, text);
	        }
	    })
	}
	$("#updusr").on('click', function(){
		var pass;
		if($('#change_password').prop("checked") == true){
            if ($('#user_password').val() != "" && $('#user_password').val() != null) {
				pass= $('#user_password').val();
				var pass_cnf = $('#user_password_confirmation').val();
				if(pass_cnf == null || pass_cnf == undefined || pass_cnf == "" || pass_cnf.length > 0){
					alert("Please fill conform password field.");
					return;
				} else{
					if(pass_cnf != pass){
						alert("Password and conform password is mismatched.");
						return;
					}
				}

			}else{
				pass = null;
			}
        } else if($('#user_password').prop("checked") == false){
            pass = null;
        }
		
        var jsndata = {
        	user_id:localStorage.getItem('mtcs_cms_uid'), 
          	first_name: $("#user_firstname").val(),     //document.getElementById().value
          	last_name: $("#user_lastname").val(),
			email: $("#user_email").val(),
          	timezone:$('#user_time_zone :selected').text(),
          	new_password:pass
        };

        //console.log(jsndata);
	      // send ajax
	      $.ajax({
	          url: 'apis/userinfo.php', // url whsere to submit the request
	          type : "PUT", // type of action POST || GET
	          data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()
	          contentType: 'application/json',
	          dataType: 'json',
	          success : function(result) {
	              console.log(result);
	              window.location= "#/settings"; 
	          },
	          error: function(xhr, resp, text) {
	              console.log(xhr, resp, text);
	          }
	      })
	});
	callApi();
</script>