<div class="container">
	<h1 class="propwelcomemsg">Account Settings</h1>
	<div class="row">
		<div class="col-md-12">
			<!-- <form> -->
				<h3>Metric Conversions</h3>
				<div class="well">
					<div class="form-group" style="border-bottom: 1px solid yellowgreen;">
						<label class="col-sm-2 control-label" for="Temperature">Temperature</label>
						<div class="col-sm-10">
							<label class="radio-inline" for="user_metric_temperature_false">
								<input type="radio" value="false" checked="checked" name="user[metric_temperature]" id="user_metric_temperature_false"> Fahrenheit
							</label>
							<label class="radio-inline" for="user_metric_temperature_true">
								<input type="radio" value="true" name="user[metric_temperature]" id="user_metric_temperature_true"> Celsius
							</label>
						</div>
					</div>
					<div class="form-group" style="border-bottom: 1px solid yellowgreen;">
						<label class="col-sm-2 control-label" for="Speed__Wind_">Speed (wind)</label>
						<div class="col-sm-10">
							<label class="radio-inline" for="user_metric_speed_false">
								<input type="radio" value="false" checked="checked" name="user[metric_speed]" id="user_metric_speed_false"> Miles per Hour
							</label>
							<label class="radio-inline" for="user_metric_speed_true">
								<input type="radio" value="true" name="user[metric_speed]" id="user_metric_speed_true"> Kilometers per Hour
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="Barometric_Pressure">Barometric pressure</label>
						<div class="col-sm-10">
							<label class="radio-inline" for="user_metric_pressure_false">
								<input type="radio" value="false" checked="checked" name="user[metric_pressure]" id="user_metric_pressure_false"> Inches of Mercury
							</label>
							<label class="radio-inline" for="user_metric_pressure_true">
								<input type="radio" value="true" name="user[metric_pressure]" id="user_metric_pressure_true"> Millibars
							</label>
						</div>
					</div>
				</div>
				<input type="button" name="commit" value="Update" id="upd_usrpref" class="btn btn-primary propbtnmm">
			<!-- </form> -->
		</div>
	</div>
</div>
<script>
function callApi(){
	// $.ajax({
    //     url: 'apis/usersettings.php?user_id='+ localStorage.getItem('mtcs_cms_uid'),
    //     type : "get",
    //     dataType: 'json',
    //     success : function(result) {
	// 		usr_prefs = result.details;

	// 		if(usr_prefs[0].temperature == 0){
	// 			$("#user_metric_temperature_false").prop("checked", true);
	// 			localStorage.setItem('usr_pref_tmp', "F");
	// 		} else{
	// 			$("#user_metric_temperature_true").prop("checked", true);
	// 			localStorage.setItem('usr_pref_tmp', "C");
	// 		}

	// 		if(usr_prefs[0].wind_speed == 0){
	// 			$("#user_metric_speed_false").prop("checked", true);
	// 			localStorage.setItem('usr_pref_speed', "MPH");
	// 		} else{
	// 			$("#user_metric_speed_true").prop("checked", true);
	// 			localStorage.setItem('usr_pref_speed', "KPH");
	// 		}

	// 		if(usr_prefs[0].barometric_pressure == 0){
	// 			$("#user_metric_pressure_false").prop("checked", true);
	// 			localStorage.setItem('usr_pref_pressure', "I");
	// 		} else{
	// 			$("#user_metric_pressure_true").prop("checked", true);
	// 			localStorage.setItem('usr_pref_pressure', "M");
	// 		}
    //     },
    //     error: function(xhr, resp, text) {
    //         console.log(xhr, resp, text);
    //     }
	// })


	if(localStorage.getItem('usr_pref_tmp') == "F"){
		$("#user_metric_temperature_false").prop("checked", true);
		
	} else{
		$("#user_metric_temperature_true").prop("checked", true);
	}

	if(localStorage.getItem('usr_pref_speed') == "MPH"){
		$("#user_metric_speed_false").prop("checked", true);
	} else{
		$("#user_metric_speed_true").prop("checked", true);
	}

	if(localStorage.getItem('usr_pref_pressure') == "I"){
		$("#user_metric_pressure_false").prop("checked", true);
		
	} else{
		$("#user_metric_pressure_true").prop("checked", true);
	}

}
$("#upd_usrpref").on('click', function(){
	var tmp, strTmp;
	var speed, strSpeed;
	var pressure, strPressure;
	if ($("#user_metric_temperature_false").prop("checked")) {
		tmp = 0;
		strTmp = "F";
	} else{
		tmp = 1;
		strTmp = "C";
	}
	if ($("#user_metric_speed_false").prop("checked")) {
		speed = 0;
		strSpeed = "MPH";
	} else{
		speed = 1;
		strSpeed = "KPH";
	}
	if ($("#user_metric_pressure_false").prop("checked")) {
		pressure = 0;
		strPressure = "I"; 
	} else{
		pressure = 1;
		strPressure = "M";
	}
	var jsndata = {
		user_id:localStorage.getItem('mtcs_cms_uid'),
		temperature: tmp,
		wind_speed: speed,
		barometric_pressure: pressure
	};
	// send ajax
	$.ajax({
		url: 'apis/usersettings.php',
		type : "POST", // type of action POST || GET
		data : JSON.stringify(jsndata), // post data || get data   $("#form").serialize()  dataType: 'json',
		contentType: 'application/json',
		success : function(result) {
			console.log(result);
			localStorage.setItem('usr_pref_tmp', strTmp);
			localStorage.setItem('usr_pref_speed', strSpeed);
			localStorage.setItem('usr_pref_pressure', strPressure);
			window.location= "#/settings"; 
		},
		error: function(xhr, resp, text) {
			console.log(xhr, resp, text);
		}
	})
});
callApi();
</script>